<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_normal_011_away_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{236,198}}</string>
                <key>offset</key>
                <string>{6,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{400,308},{236,198}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_011_away_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{214,208}}</string>
                <key>offset</key>
                <string>{-4,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{401,298},{214,208}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>away_0.pvr</string>
            <key>size</key>
            <string>{212,456}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c906f31b6d6a4f9acd6e9c94feaa9f1:1/1$</string>
            <key>textureFileName</key>
            <string>away_0.pvr</string>
        </dict>
    </dict>
</plist>
