<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_normal_011_down_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,730},{252,192}}</string>
                <key>offset</key>
                <string>{-27,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{359,310},{252,192}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_011_down_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,730},{304,184}}</string>
                <key>offset</key>
                <string>{-58,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{302,326},{304,184}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_011_down_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,612},{400,116}}</string>
                <key>offset</key>
                <string>{-70,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,397},{400,116}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_011_down_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{454,132}}</string>
                <key>offset</key>
                <string>{-102,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,397},{454,132}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_011_down_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{450,144}}</string>
                <key>offset</key>
                <string>{-103,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,387},{450,144}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_011_down_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,148},{462,116}}</string>
                <key>offset</key>
                <string>{-101,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,401},{462,116}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_011_down_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,148},{462,122}}</string>
                <key>offset</key>
                <string>{-102,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,407},{462,122}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_011_down_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,148},{462,124}}</string>
                <key>offset</key>
                <string>{-102,-85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,407},{462,124}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>down_0.pvr</string>
            <key>size</key>
            <string>{504,984}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4829000a3559b45475cca0e214bcf7db:1/1$</string>
            <key>textureFileName</key>
            <string>down_0.pvr</string>
        </dict>
    </dict>
</plist>
