<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_normal_011_hurt_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,640},{244,196}}</string>
                <key>offset</key>
                <string>{8,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{398,324},{244,196}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_011_hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{252,194}}</string>
                <key>offset</key>
                <string>{14,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{400,333},{252,194}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_011_hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,596},{222,220}}</string>
                <key>offset</key>
                <string>{4,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{405,319},{222,220}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_011_hurt_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{232,204}}</string>
                <key>offset</key>
                <string>{-2,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{394,316},{232,204}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_011_hurt_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{296,194}}</string>
                <key>offset</key>
                <string>{-34,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{330,326},{296,194}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_011_hurt_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{264,200}}</string>
                <key>offset</key>
                <string>{-17,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{363,320},{264,200}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_011_hurt_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,236},{238,204}}</string>
                <key>offset</key>
                <string>{0,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{393,316},{238,204}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_011_hurt_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,442},{244,196}}</string>
                <key>offset</key>
                <string>{8,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{398,324},{244,196}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hurt_0.pvr</string>
            <key>size</key>
            <string>{509,838}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aeca5459fd6165c2f6b6e9f1a7c4d528:1/1$</string>
            <key>textureFileName</key>
            <string>hurt_0.pvr</string>
        </dict>
    </dict>
</plist>
