<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_normal_009_fx_atk1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{92,102}}</string>
                <key>offset</key>
                <string>{-45,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,166},{92,102}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_009_fx_atk1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{122,124}}</string>
                <key>offset</key>
                <string>{-29,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,147},{122,124}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_009_fx_atk1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{220,144}}</string>
                <key>offset</key>
                <string>{20,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,152},{220,144}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_009_fx_atk1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,660},{222,148}}</string>
                <key>offset</key>
                <string>{19,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,152},{222,148}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_009_fx_atk1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{208,146}}</string>
                <key>offset</key>
                <string>{24,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,152},{208,146}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_009_fx_atk1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{180,144}}</string>
                <key>offset</key>
                <string>{28,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,152},{180,144}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_009_fx_atk1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,92}}</string>
                <key>offset</key>
                <string>{84,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{304,201},{72,92}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atk1_0.pvr</string>
            <key>size</key>
            <string>{226,810}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1aff5ab6a47029a792b9d09cf74c55fe:1/1$</string>
            <key>textureFileName</key>
            <string>atk1_0.pvr</string>
        </dict>
    </dict>
</plist>
