<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_normal_007_down_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{248,120}}</string>
                <key>offset</key>
                <string>{-54,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{334,378},{248,120}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_007_down_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{242,110}}</string>
                <key>offset</key>
                <string>{-40,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{351,382},{242,110}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_007_down_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{252,148}}</string>
                <key>offset</key>
                <string>{-45,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{341,360},{252,148}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_007_down_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{244,162}}</string>
                <key>offset</key>
                <string>{-39,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{351,349},{244,162}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_007_down_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,550},{268,106}}</string>
                <key>offset</key>
                <string>{-48,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{330,400},{268,106}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_007_down_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,550},{274,106}}</string>
                <key>offset</key>
                <string>{-53,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{322,409},{274,106}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>down_0.pvr</string>
            <key>size</key>
            <string>{256,826}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a47561acd32adc17c952b2c0a5781b1a:1/1$</string>
            <key>textureFileName</key>
            <string>down_0.pvr</string>
        </dict>
    </dict>
</plist>
