<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_normal_007_run_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{226,178}}</string>
                <key>offset</key>
                <string>{-56,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{343,314},{226,178}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_007_run_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,694},{232,172}}</string>
                <key>offset</key>
                <string>{-59,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{337,319},{232,172}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_007_run_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,180},{230,170}}</string>
                <key>offset</key>
                <string>{-61,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{336,319},{230,170}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_007_run_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{226,170}}</string>
                <key>offset</key>
                <string>{-61,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{338,321},{226,170}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_007_run_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{228,168}}</string>
                <key>offset</key>
                <string>{-64,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{334,322},{228,168}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_007_run_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,522},{234,170}}</string>
                <key>offset</key>
                <string>{-60,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{335,323},{234,170}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_007_run_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,352},{246,168}}</string>
                <key>offset</key>
                <string>{-49,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{340,322},{246,168}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_007_run_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{248,166}}</string>
                <key>offset</key>
                <string>{-43,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{345,322},{248,166}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_007_run_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,694},{240,170}}</string>
                <key>offset</key>
                <string>{-46,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{346,321},{240,170}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_007_run_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{224,176}}</string>
                <key>offset</key>
                <string>{-53,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{347,314},{224,176}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>run_0.pvr</string>
            <key>size</key>
            <string>{478,870}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f7c16387ef79f1898de04d64bf9d32b:1/1$</string>
            <key>textureFileName</key>
            <string>run_0.pvr</string>
        </dict>
    </dict>
</plist>
