<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>selectrole_background_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>selectrole_background_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{44,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,74}}</string>
                <key>sourceSize</key>
                <string>{44,74}</string>
            </dict>
            <key>selectrole_background_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,29}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,29}}</string>
                <key>sourceSize</key>
                <string>{84,31}</string>
            </dict>
            <key>selectrole_unknow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{192,345}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{192,345}}</string>
                <key>sourceSize</key>
                <string>{206,363}</string>
            </dict>
            <key>selectrole_xuanzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,425},{240,347}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,347}}</string>
                <key>sourceSize</key>
                <string>{240,347}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>selectrole.pvr</string>
            <key>size</key>
            <string>{244,774}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3aad34b8ca9235802b332313d7931cba:1/1$</string>
            <key>textureFileName</key>
            <string>selectrole.pvr</string>
        </dict>
    </dict>
</plist>
