<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_ck_weapon_3_fx_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{200,208}}</string>
                <key>offset</key>
                <string>{-51,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{361,326},{200,208}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_fx_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,590},{200,212}}</string>
                <key>offset</key>
                <string>{-50,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{362,321},{200,212}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_fx_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,792},{200,214}}</string>
                <key>offset</key>
                <string>{-49,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{363,318},{200,214}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_fx_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,786},{200,214}}</string>
                <key>offset</key>
                <string>{-49,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{363,318},{200,214}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_fx_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,198},{198,212}}</string>
                <key>offset</key>
                <string>{-50,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{363,322},{198,212}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_fx_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,590},{194,216}}</string>
                <key>offset</key>
                <string>{-51,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{364,320},{194,216}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_fx_idle_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,398},{190,218}}</string>
                <key>offset</key>
                <string>{-51,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{366,321},{190,218}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_fx_idle_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{188,216}}</string>
                <key>offset</key>
                <string>{-52,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{366,324},{188,216}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_fx_idle_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{190,214}}</string>
                <key>offset</key>
                <string>{-52,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{365,325},{190,214}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_fx_idle_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{194,210}}</string>
                <key>offset</key>
                <string>{-51,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{364,326},{194,210}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>idle_0.pvr</string>
            <key>size</key>
            <string>{434,994}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f40c583bb7ca3b9fc7cf6431e67c37a4:1/1$</string>
            <key>textureFileName</key>
            <string>idle_0.pvr</string>
        </dict>
    </dict>
</plist>
