<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_ck_weapon_3_fx_run_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{304,154}}</string>
                <key>offset</key>
                <string>{-68,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{292,337},{304,154}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_fx_run_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,158},{266,156}}</string>
                <key>offset</key>
                <string>{-51,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{328,333},{266,156}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_fx_run_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,798},{294,166}}</string>
                <key>offset</key>
                <string>{-69,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{296,329},{294,166}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_fx_run_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,792},{268,168}}</string>
                <key>offset</key>
                <string>{-59,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{319,326},{268,168}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_fx_run_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,632},{292,164}}</string>
                <key>offset</key>
                <string>{-70,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{296,324},{292,164}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_fx_run_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,632},{290,158}}</string>
                <key>offset</key>
                <string>{-66,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{301,329},{290,158}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_fx_run_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,316},{270,156}}</string>
                <key>offset</key>
                <string>{-52,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{325,335},{270,156}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_fx_run_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,474},{286,156}}</string>
                <key>offset</key>
                <string>{-55,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{314,333},{286,156}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_fx_run_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{274,156}}</string>
                <key>offset</key>
                <string>{-45,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{330,328},{274,156}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_fx_run_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{308,154}}</string>
                <key>offset</key>
                <string>{-62,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{296,325},{308,154}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_fx_run_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{282,154}}</string>
                <key>offset</key>
                <string>{-51,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{320,325},{282,154}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_fx_run_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{278,154}}</string>
                <key>offset</key>
                <string>{-51,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{322,332},{278,154}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>run_0.pvr</string>
            <key>size</key>
            <string>{588,966}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:484dd5580b5e3ff569dd0441231d8f76:1/1$</string>
            <key>textureFileName</key>
            <string>run_0.pvr</string>
        </dict>
    </dict>
</plist>
