<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_liru_fx_skill1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{54,42}}</string>
                <key>offset</key>
                <string>{-49,158}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,13},{54,42}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_liru_fx_skill1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{158,54}}</string>
                <key>offset</key>
                <string>{-37,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,78},{158,54}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_liru_fx_skill1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,296},{166,180}}</string>
                <key>offset</key>
                <string>{6,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,28},{166,180}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_liru_fx_skill1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,414},{250,228}}</string>
                <key>offset</key>
                <string>{80,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,73},{250,228}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_liru_fx_skill1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,476},{220,312}}</string>
                <key>offset</key>
                <string>{108,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{254,16},{220,312}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_liru_fx_skill1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,698},{322,288}}</string>
                <key>offset</key>
                <string>{68,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,45},{322,288}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_liru_fx_skill1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,698},{294,246}}</string>
                <key>offset</key>
                <string>{92,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,98},{294,246}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_liru_fx_skill1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,610},{274,220}}</string>
                <key>offset</key>
                <string>{111,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,134},{274,220}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_liru_fx_skill1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{260,194}}</string>
                <key>offset</key>
                <string>{106,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,176},{260,194}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_liru_fx_skill1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{242,164}}</string>
                <key>offset</key>
                <string>{121,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,176},{242,164}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_liru_fx_skill1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,296},{246,178}}</string>
                <key>offset</key>
                <string>{122,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,181},{246,178}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_liru_fx_skill1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,254},{250,158}}</string>
                <key>offset</key>
                <string>{123,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,181},{250,158}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_liru_fx_skill1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,100},{262,152}}</string>
                <key>offset</key>
                <string>{122,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,179},{262,152}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_liru_fx_skill1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,138},{264,156}}</string>
                <key>offset</key>
                <string>{124,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,175},{264,156}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_liru_fx_skill1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{244,146}}</string>
                <key>offset</key>
                <string>{134,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{268,175},{244,146}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_liru_fx_skill1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,2},{242,134}}</string>
                <key>offset</key>
                <string>{134,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{269,188},{242,134}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_liru_fx_skill1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{232,96}}</string>
                <key>offset</key>
                <string>{124,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,186},{232,96}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_liru_fx_skill1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{124,72}}</string>
                <key>offset</key>
                <string>{68,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,211},{124,72}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill1_0.pvr</string>
            <key>size</key>
            <string>{928,988}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:870e83bd64652a789d27a45a2ddc6d2c:1/1$</string>
            <key>textureFileName</key>
            <string>skill1_0.pvr</string>
        </dict>
    </dict>
</plist>
