<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_normal_008_atk1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,438},{212,174}}</string>
                <key>offset</key>
                <string>{-97,-133}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{309,430},{212,174}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_008_atk1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,578},{164,172}}</string>
                <key>offset</key>
                <string>{-73,-134}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{357,432},{164,172}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_008_atk1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,428},{138,168}}</string>
                <key>offset</key>
                <string>{-60,-136}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{383,436},{138,168}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_008_atk1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,194},{158,168}}</string>
                <key>offset</key>
                <string>{-70,-136}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{363,436},{158,168}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_008_atk1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,568},{154,172}}</string>
                <key>offset</key>
                <string>{-68,-134}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{367,432},{154,172}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_008_atk1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,194},{232,226}}</string>
                <key>offset</key>
                <string>{-31,-95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{365,366},{232,226}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_008_atk1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{254,286}}</string>
                <key>offset</key>
                <string>{47,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{432,311},{254,286}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_008_atk1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,636},{340,174}}</string>
                <key>offset</key>
                <string>{114,-164}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{456,461},{340,174}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_008_atk1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{336,174}}</string>
                <key>offset</key>
                <string>{115,-163}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{459,460},{336,174}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_008_atk1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,628},{334,176}}</string>
                <key>offset</key>
                <string>{114,-161}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{459,457},{334,176}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_008_atk1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,290},{336,180}}</string>
                <key>offset</key>
                <string>{110,-159}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{454,453},{336,180}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_008_atk1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{344,186}}</string>
                <key>offset</key>
                <string>{101,-156}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{441,447},{344,186}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_008_atk1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,178},{258,204}}</string>
                <key>offset</key>
                <string>{55,-157}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{438,439},{258,204}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_008_atk1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,428},{148,208}}</string>
                <key>offset</key>
                <string>{-11,-156}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{427,436},{148,208}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_008_atk1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,2},{292,190}}</string>
                <key>offset</key>
                <string>{-111,-144}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,433},{292,190}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atk1_0.pvr</string>
            <key>size</key>
            <string>{1002,812}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b4bfd3b6101de761030a544b856f709:1/1$</string>
            <key>textureFileName</key>
            <string>atk1_0.pvr</string>
        </dict>
    </dict>
</plist>
