<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_normal_008_hurt_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{290,176}}</string>
                <key>offset</key>
                <string>{-15,-135}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{352,431},{290,176}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_008_hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,748},{276,168}}</string>
                <key>offset</key>
                <string>{-8,-139}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{366,439},{276,168}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_008_hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{286,200}}</string>
                <key>offset</key>
                <string>{-46,-123}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{323,407},{286,200}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_008_hurt_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,558},{280,188}}</string>
                <key>offset</key>
                <string>{-24,-129}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{348,419},{280,188}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_008_hurt_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,290},{270,200}}</string>
                <key>offset</key>
                <string>{2,-123}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{379,407},{270,200}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_008_hurt_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,562},{272,208}}</string>
                <key>offset</key>
                <string>{-5,-119}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{371,399},{272,208}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_008_hurt_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{282,198}}</string>
                <key>offset</key>
                <string>{-15,-124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{356,409},{282,198}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_008_hurt_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{290,176}}</string>
                <key>offset</key>
                <string>{-15,-135}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{352,431},{290,176}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hurt_0.pvr</string>
            <key>size</key>
            <string>{496,918}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e3c006966ff0d5f55114b6d5dbdd173:1/1$</string>
            <key>textureFileName</key>
            <string>hurt_0.pvr</string>
        </dict>
    </dict>
</plist>
