<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_heishui_fx_skill1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,38}}</string>
                <key>offset</key>
                <string>{16,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,215},{58,38}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_heishui_fx_skill1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{88,62}}</string>
                <key>offset</key>
                <string>{16,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,201},{88,62}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_heishui_fx_skill1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{122,98}}</string>
                <key>offset</key>
                <string>{16,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,188},{122,98}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_heishui_fx_skill1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{148,110}}</string>
                <key>offset</key>
                <string>{16,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,180},{148,110}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_heishui_fx_skill1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,2},{160,130}}</string>
                <key>offset</key>
                <string>{16,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,170},{160,130}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_heishui_fx_skill1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{176,144}}</string>
                <key>offset</key>
                <string>{16,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,163},{176,144}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_heishui_fx_skill1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{192,156}}</string>
                <key>offset</key>
                <string>{16,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,157},{192,156}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_heishui_fx_skill1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{204,164}}</string>
                <key>offset</key>
                <string>{16,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,153},{204,164}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_heishui_fx_skill1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,298},{212,164}}</string>
                <key>offset</key>
                <string>{16,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,153},{212,164}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_heishui_fx_skill1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,134},{212,162}}</string>
                <key>offset</key>
                <string>{16,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,154},{212,162}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_heishui_fx_skill1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,262},{220,162}}</string>
                <key>offset</key>
                <string>{16,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,154},{220,162}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_heishui_fx_skill1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,148},{220,162}}</string>
                <key>offset</key>
                <string>{14,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,154},{220,162}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_heishui_fx_skill1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,312},{222,162}}</string>
                <key>offset</key>
                <string>{16,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,153},{222,162}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_heishui_fx_skill1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,102},{196,158}}</string>
                <key>offset</key>
                <string>{16,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,155},{196,158}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_heishui_fx_skill1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{48,86}}</string>
                <key>offset</key>
                <string>{21,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{253,208},{48,86}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_heishui_fx_skill1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{56,76}}</string>
                <key>offset</key>
                <string>{21,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,210},{56,76}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill1_0.pvr</string>
            <key>size</key>
            <string>{932,478}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:afb2fe60c786e247e8901e3887a5c27d:1/1$</string>
            <key>textureFileName</key>
            <string>skill1_0.pvr</string>
        </dict>
    </dict>
</plist>
