<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_normal_033_away_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{140,188}}</string>
                <key>offset</key>
                <string>{-3,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{439,319},{140,188}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_033_away_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,204}}</string>
                <key>offset</key>
                <string>{-19,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{417,310},{152,204}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>away_0.pvr</string>
            <key>size</key>
            <string>{298,208}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e0359a45a4cd3cc806e41c081756488e:1/1$</string>
            <key>textureFileName</key>
            <string>away_0.pvr</string>
        </dict>
    </dict>
</plist>
