<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_normal_033_run_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{194,170}}</string>
                <key>offset</key>
                <string>{-23,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{392,324},{194,170}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_033_run_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{170,174}}</string>
                <key>offset</key>
                <string>{-18,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{409,320},{170,174}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_033_run_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{166,174}}</string>
                <key>offset</key>
                <string>{-17,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{412,322},{166,174}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_033_run_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,170},{168,170}}</string>
                <key>offset</key>
                <string>{-18,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{410,326},{168,170}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_033_run_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,170},{168,168}}</string>
                <key>offset</key>
                <string>{-18,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{410,329},{168,168}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_033_run_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,2},{166,172}}</string>
                <key>offset</key>
                <string>{-16,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{413,325},{166,172}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_033_run_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,2},{162,170}}</string>
                <key>offset</key>
                <string>{-15,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{416,325},{162,170}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_033_run_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,174},{162,164}}</string>
                <key>offset</key>
                <string>{-16,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{415,329},{162,164}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_033_run_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,170},{182,158}}</string>
                <key>offset</key>
                <string>{-14,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{407,334},{182,158}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_033_run_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{198,164}}</string>
                <key>offset</key>
                <string>{-20,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{393,329},{198,164}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>run_0.pvr</string>
            <key>size</key>
            <string>{900,340}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:401ad1d2a6e30e93d1366cf14c222d38:1/1$</string>
            <key>textureFileName</key>
            <string>run_0.pvr</string>
        </dict>
    </dict>
</plist>
