<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_normal_026_down_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{164,174}}</string>
                <key>offset</key>
                <string>{14,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{444,306},{164,174}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_026_down_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{168,118}}</string>
                <key>offset</key>
                <string>{12,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{440,377},{168,118}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_026_down_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{178,116}}</string>
                <key>offset</key>
                <string>{8,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{431,376},{178,116}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_026_down_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,178},{178,96}}</string>
                <key>offset</key>
                <string>{15,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{438,414},{178,96}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_026_down_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{180,90}}</string>
                <key>offset</key>
                <string>{14,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{436,426},{180,90}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_026_down_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,358},{172,94}}</string>
                <key>offset</key>
                <string>{17,-93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{443,430},{172,94}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_026_down_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{172,86}}</string>
                <key>offset</key>
                <string>{17,-94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{443,435},{172,86}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>down_0.pvr</string>
            <key>size</key>
            <string>{256,627}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:91b64f097bbb43aec2d20efa62b91352:1/1$</string>
            <key>textureFileName</key>
            <string>down_0.pvr</string>
        </dict>
    </dict>
</plist>
