<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_normal_026_run_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,634},{226,140}}</string>
                <key>offset</key>
                <string>{21,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{420,288},{226,140}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_026_run_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,776},{214,140}}</string>
                <key>offset</key>
                <string>{18,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{423,287},{214,140}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_026_run_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,742},{214,146}}</string>
                <key>offset</key>
                <string>{21,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{426,280},{214,146}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_026_run_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{228,150}}</string>
                <key>offset</key>
                <string>{31,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{429,275},{228,150}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_026_run_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{240,164}}</string>
                <key>offset</key>
                <string>{36,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{428,268},{240,164}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_026_run_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{240,168}}</string>
                <key>offset</key>
                <string>{43,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{435,268},{240,168}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_026_run_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{238,142}}</string>
                <key>offset</key>
                <string>{58,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{451,294},{238,142}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_026_run_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,252},{250,134}}</string>
                <key>offset</key>
                <string>{59,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{446,301},{250,134}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_026_run_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{248,136}}</string>
                <key>offset</key>
                <string>{48,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{436,296},{248,136}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_026_run_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,504},{236,140}}</string>
                <key>offset</key>
                <string>{34,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{428,291},{236,140}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>run_0.pvr</string>
            <key>size</key>
            <string>{384,958}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5661062b7ad9f7f5a2f8d156e7ee32f0:1/1$</string>
            <key>textureFileName</key>
            <string>run_0.pvr</string>
        </dict>
    </dict>
</plist>
