<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_dongzhuo_fx_skill1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{292,212}}</string>
                <key>offset</key>
                <string>{50,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,90},{292,212}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_dongzhuo_fx_skill1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,2},{370,240}}</string>
                <key>offset</key>
                <string>{71,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,92},{370,240}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_dongzhuo_fx_skill1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{370,246}}</string>
                <key>offset</key>
                <string>{71,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,86},{370,246}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_dongzhuo_fx_skill1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,238},{372,246}}</string>
                <key>offset</key>
                <string>{70,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,86},{372,246}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_dongzhuo_fx_skill1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,374},{388,254}}</string>
                <key>offset</key>
                <string>{62,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,91},{388,254}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_dongzhuo_fx_skill1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{398,234}}</string>
                <key>offset</key>
                <string>{57,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,101},{398,234}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill1_1.pvr</string>
            <key>size</key>
            <string>{1012,630}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6662908d8b31f75ca11b03357f2e9e47:1/1$</string>
            <key>textureFileName</key>
            <string>skill1_1.pvr</string>
        </dict>
    </dict>
</plist>
