<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_dongzhuo_fx_skill2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{362,212}}</string>
                <key>offset</key>
                <string>{5,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,64},{362,212}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_dongzhuo_fx_skill2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{374,214}}</string>
                <key>offset</key>
                <string>{5,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,60},{374,214}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_dongzhuo_fx_skill2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{380,222}}</string>
                <key>offset</key>
                <string>{2,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,52},{380,222}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_dongzhuo_fx_skill2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,218},{384,220}}</string>
                <key>offset</key>
                <string>{0,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,54},{384,220}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_dongzhuo_fx_skill2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,440},{368,228}}</string>
                <key>offset</key>
                <string>{-3,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,46},{368,228}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_dongzhuo_fx_skill2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{350,216}}</string>
                <key>offset</key>
                <string>{0,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,53},{350,216}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill2_1.pvr</string>
            <key>size</key>
            <string>{754,670}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a6c225e9ac0b3cbd6a33dbcd8a1d570c:1/1$</string>
            <key>textureFileName</key>
            <string>skill2_1.pvr</string>
        </dict>
    </dict>
</plist>
