<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_normal_021_fx_atk1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{88,88}}</string>
                <key>offset</key>
                <string>{3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,140},{88,88}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_021_fx_atk1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{74,102}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,123},{74,102}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_021_fx_atk1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{70,116}}</string>
                <key>offset</key>
                <string>{-11,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,106},{70,116}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_021_fx_atk1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,118}}</string>
                <key>offset</key>
                <string>{-2,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,107},{56,118}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_021_fx_atk1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{142,112}}</string>
                <key>offset</key>
                <string>{48,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,113},{142,112}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_021_fx_atk1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,2},{146,122}}</string>
                <key>offset</key>
                <string>{51,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,105},{146,122}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_021_fx_atk1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{158,140}}</string>
                <key>offset</key>
                <string>{58,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,87},{158,140}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_021_fx_atk1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,78},{158,142}}</string>
                <key>offset</key>
                <string>{59,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,85},{158,142}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_021_fx_atk1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,116},{174,142}}</string>
                <key>offset</key>
                <string>{51,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,86},{174,142}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_021_fx_atk1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,126},{178,146}}</string>
                <key>offset</key>
                <string>{46,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,82},{178,146}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_021_fx_atk1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,126},{174,148}}</string>
                <key>offset</key>
                <string>{45,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,80},{174,148}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atk1_0.pvr</string>
            <key>size</key>
            <string>{854,276}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:247ba4604f8bfc53207ef4d137287ac8:1/1$</string>
            <key>textureFileName</key>
            <string>atk1_0.pvr</string>
        </dict>
    </dict>
</plist>
