<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_xhy_down_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,2},{268,140}}</string>
                <key>offset</key>
                <string>{-72,-120}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{306,434},{268,140}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_xhy_down_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,106},{296,98}}</string>
                <key>offset</key>
                <string>{-71,-136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{293,471},{296,98}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_xhy_down_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{300,102}}</string>
                <key>offset</key>
                <string>{-81,-152}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{281,485},{300,102}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_xhy_down_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,114}}</string>
                <key>offset</key>
                <string>{-83,-159}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{279,486},{300,114}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_xhy_down_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{300,88}}</string>
                <key>offset</key>
                <string>{-83,-172}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{279,512},{300,88}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_xhy_down_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,144},{300,82}}</string>
                <key>offset</key>
                <string>{-83,-175}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{279,518},{300,82}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>down_0.pvr</string>
            <key>size</key>
            <string>{904,228}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:520f1db6efd314f711e9896ef4b8a71f:1/1$</string>
            <key>textureFileName</key>
            <string>down_0.pvr</string>
        </dict>
    </dict>
</plist>
