<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_xhy_skill2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{222,208}}</string>
                <key>offset</key>
                <string>{-111,-109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{290,389},{222,208}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_xhy_skill2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{192,240}}</string>
                <key>offset</key>
                <string>{-96,-109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{320,373},{192,240}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_xhy_skill2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{158,280}}</string>
                <key>offset</key>
                <string>{-77,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{356,334},{158,280}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_xhy_skill2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{150,272}}</string>
                <key>offset</key>
                <string>{-52,-116}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{385,364},{150,272}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_xhy_skill2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,354},{158,134}}</string>
                <key>offset</key>
                <string>{-50,-130}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{383,447},{158,134}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_xhy_skill2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,490},{144,128}}</string>
                <key>offset</key>
                <string>{-39,-131}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{401,451},{144,128}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_xhy_skill2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,620},{138,128}}</string>
                <key>offset</key>
                <string>{-38,-129}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{405,449},{138,128}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_xhy_skill2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,620},{134,126}}</string>
                <key>offset</key>
                <string>{-40,-126}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{405,447},{134,126}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_xhy_skill2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{186,276}}</string>
                <key>offset</key>
                <string>{-15,-114}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{404,360},{186,276}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_xhy_skill2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,212},{230,140}}</string>
                <key>offset</key>
                <string>{-66,-119}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{331,433},{230,140}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill2_0.pvr</string>
            <key>size</key>
            <string>{512,750}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2eba87efe73a51069ceaad071a1d4e13:1/1$</string>
            <key>textureFileName</key>
            <string>skill2_0.pvr</string>
        </dict>
    </dict>
</plist>
