<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_normal_031_atk1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,216},{168,212}}</string>
                <key>offset</key>
                <string>{18,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{446,259},{168,212}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_031_atk1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,430},{190,210}}</string>
                <key>offset</key>
                <string>{-8,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{409,261},{190,210}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_031_atk1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,206},{170,212}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{426,260},{170,212}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_031_atk1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,642},{138,208}}</string>
                <key>offset</key>
                <string>{35,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{478,257},{138,208}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_031_atk1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,782},{204,202}}</string>
                <key>offset</key>
                <string>{60,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{470,256},{204,202}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_031_atk1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{286,212}}</string>
                <key>offset</key>
                <string>{96,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{465,248},{286,212}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_031_atk1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,508},{246,206}}</string>
                <key>offset</key>
                <string>{5,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{394,255},{246,206}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_031_atk1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{290,204}}</string>
                <key>offset</key>
                <string>{-21,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{346,257},{290,204}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_031_atk1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{256,202}}</string>
                <key>offset</key>
                <string>{-9,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{375,258},{256,202}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_031_atk1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,756},{226,202}}</string>
                <key>offset</key>
                <string>{23,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{422,257},{226,202}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_031_atk1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,628},{160,204}}</string>
                <key>offset</key>
                <string>{28,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{460,256},{160,204}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_031_atk1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,420},{204,206}}</string>
                <key>offset</key>
                <string>{17,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{427,255},{204,206}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_031_atk1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,834},{120,208}}</string>
                <key>offset</key>
                <string>{31,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{483,256},{120,208}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atk1_0.pvr</string>
            <key>size</key>
            <string>{622,986}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dda3d82f5fb8cae32f35389f0fb8fec8:1/1$</string>
            <key>textureFileName</key>
            <string>atk1_0.pvr</string>
        </dict>
    </dict>
</plist>
