<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_normal_031_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{168,214}}</string>
                <key>offset</key>
                <string>{32,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{460,258},{168,214}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_031_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{172,214}}</string>
                <key>offset</key>
                <string>{30,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{456,259},{172,214}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_031_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{184,216}}</string>
                <key>offset</key>
                <string>{24,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{444,259},{184,216}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>idle_0.pvr</string>
            <key>size</key>
            <string>{532,220}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c586064dfe7ba8db1b83237596aa43f7:1/1$</string>
            <key>textureFileName</key>
            <string>idle_0.pvr</string>
        </dict>
    </dict>
</plist>
