<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_rl_gb_atk1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,174},{132,190}}</string>
                <key>offset</key>
                <string>{-76,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{370,379},{132,190}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_rl_gb_atk1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,268}}</string>
                <key>offset</key>
                <string>{-66,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{371,301},{150,268}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_rl_gb_atk1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{168,212}}</string>
                <key>offset</key>
                <string>{-58,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{370,357},{168,212}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_rl_gb_atk1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{174,208}}</string>
                <key>offset</key>
                <string>{-55,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{370,361},{174,208}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_rl_gb_atk1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{158,198}}</string>
                <key>offset</key>
                <string>{-62,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{371,371},{158,198}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_rl_gb_atk1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,212},{150,194}}</string>
                <key>offset</key>
                <string>{-66,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{371,375},{150,194}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_rl_gb_atk1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,172},{128,204}}</string>
                <key>offset</key>
                <string>{-75,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{373,365},{128,204}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_rl_gb_atk1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,302},{170,170}}</string>
                <key>offset</key>
                <string>{-62,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{365,399},{170,170}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_rl_gb_atk1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{174,170}}</string>
                <key>offset</key>
                <string>{-68,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{357,399},{174,170}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_rl_gb_atk1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,308},{168,170}}</string>
                <key>offset</key>
                <string>{-68,-100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{360,399},{168,170}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atk1_0.pvr</string>
            <key>size</key>
            <string>{728,479}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b5f11311427db34aa38beecc69e9322:1/1$</string>
            <key>textureFileName</key>
            <string>atk1_0.pvr</string>
        </dict>
    </dict>
</plist>
