<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc_cb3_fx_idle_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{512,140}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,98},{512,140}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>npc_cb3_fx_idle_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{512,140}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,98},{512,140}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>npc_cb3_fx_idle_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{512,140}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,98},{512,140}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>npc_cb3_fx_idle_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{512,140}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,98},{512,140}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>idle_1.pvr</string>
            <key>size</key>
            <string>{516,571}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:073d0320413bc6f1e7260de45473e32e:1/1$</string>
            <key>textureFileName</key>
            <string>idle_1.pvr</string>
        </dict>
    </dict>
</plist>
