<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_normal_013_atk1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,2},{376,242}}</string>
                <key>offset</key>
                <string>{-94,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,249},{376,242}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_013_atk1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{362,272}}</string>
                <key>offset</key>
                <string>{-92,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,221},{362,272}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_013_atk1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{352,284}}</string>
                <key>offset</key>
                <string>{-91,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,205},{352,284}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_013_atk1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{346,296}}</string>
                <key>offset</key>
                <string>{-93,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,200},{346,296}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_013_atk1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,276},{340,298}}</string>
                <key>offset</key>
                <string>{-95,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,206},{340,298}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atk1_1.pvr</string>
            <key>size</key>
            <string>{958,586}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6bf96cddae52602c6d0c0d470b276a7c:1/1$</string>
            <key>textureFileName</key>
            <string>atk1_1.pvr</string>
        </dict>
    </dict>
</plist>
