<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_normal_013_down_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,486},{332,224}}</string>
                <key>offset</key>
                <string>{-154,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,352},{332,224}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_013_down_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{344,120}}</string>
                <key>offset</key>
                <string>{-144,-118}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,442},{344,120}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_013_down_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{366,146}}</string>
                <key>offset</key>
                <string>{-143,-115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,426},{366,146}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_013_down_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{366,146}}</string>
                <key>offset</key>
                <string>{-142,-122}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,433},{366,146}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_013_down_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{358,132}}</string>
                <key>offset</key>
                <string>{-143,-127}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,445},{358,132}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_013_down_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,348},{354,136}}</string>
                <key>offset</key>
                <string>{-144,-125}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,441},{354,136}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>down_0.pvr</string>
            <key>size</key>
            <string>{492,712}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d3e0ef015c0d181e15cd54c989968368:1/1$</string>
            <key>textureFileName</key>
            <string>down_0.pvr</string>
        </dict>
    </dict>
</plist>
