<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_normal_013_hurt_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{378,236}}</string>
                <key>offset</key>
                <string>{-114,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,298},{378,236}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_013_hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,292},{346,258}}</string>
                <key>offset</key>
                <string>{-83,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,279},{346,258}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_013_hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{306,288}}</string>
                <key>offset</key>
                <string>{-101,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,260},{306,288}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_013_hurt_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,664},{290,282}}</string>
                <key>offset</key>
                <string>{-122,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,299},{290,282}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_013_hurt_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,664},{302,244}}</string>
                <key>offset</key>
                <string>{-133,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,333},{302,244}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_013_hurt_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,552},{374,206}}</string>
                <key>offset</key>
                <string>{-151,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,342},{374,206}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_013_hurt_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{416,194}}</string>
                <key>offset</key>
                <string>{-151,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,336},{416,194}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_013_hurt_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{388,226}}</string>
                <key>offset</key>
                <string>{-119,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,308},{388,226}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hurt_0.pvr</string>
            <key>size</key>
            <string>{743,968}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f269a2c2184852338d6037a91f223a40:1/1$</string>
            <key>textureFileName</key>
            <string>hurt_0.pvr</string>
        </dict>
    </dict>
</plist>
