<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_normal_013_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{354,272}}</string>
                <key>offset</key>
                <string>{-102,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,265},{354,272}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_013_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{358,264}}</string>
                <key>offset</key>
                <string>{-104,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,267},{358,264}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_013_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{364,262}}</string>
                <key>offset</key>
                <string>{-107,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,262},{364,262}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>idle_0.pvr</string>
            <key>size</key>
            <string>{368,806}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a03198679b88abac557612f601ec396:1/1$</string>
            <key>textureFileName</key>
            <string>idle_0.pvr</string>
        </dict>
    </dict>
</plist>
