<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jiguan_dici_atk1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{24,56}}</string>
                <key>offset</key>
                <string>{-38,-183}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{462,539},{24,56}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>jiguan_dici_atk1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{24,84}}</string>
                <key>offset</key>
                <string>{-38,-169}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{462,511},{24,84}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>jiguan_dici_atk1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{24,80}}</string>
                <key>offset</key>
                <string>{-38,-171}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{462,515},{24,80}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>jiguan_dici_atk1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{24,66}}</string>
                <key>offset</key>
                <string>{-38,-178}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{462,529},{24,66}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atk1_0.pvr</string>
            <key>size</key>
            <string>{28,296}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:da969ba2d3bd8b0850d51590d1116c82:1/1$</string>
            <key>textureFileName</key>
            <string>atk1_0.pvr</string>
        </dict>
    </dict>
</plist>
