<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_normal_037_fx_atk1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{46,100}}</string>
                <key>offset</key>
                <string>{-39,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,127},{46,100}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_037_fx_atk1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{106,76}}</string>
                <key>offset</key>
                <string>{-5,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,169},{106,76}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_037_fx_atk1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,2},{108,96}}</string>
                <key>offset</key>
                <string>{7,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,156},{108,96}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_037_fx_atk1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{156,66}}</string>
                <key>offset</key>
                <string>{26,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,182},{156,66}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_037_fx_atk1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,88},{146,114}}</string>
                <key>offset</key>
                <string>{15,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,137},{146,114}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_037_fx_atk1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,70},{172,108}}</string>
                <key>offset</key>
                <string>{23,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,143},{172,108}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_037_fx_atk1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{124,84}}</string>
                <key>offset</key>
                <string>{-4,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,169},{124,84}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_037_fx_atk1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,2},{128,96}}</string>
                <key>offset</key>
                <string>{-6,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,158},{128,96}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_037_fx_atk1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,100},{128,116}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,138},{128,116}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_037_fx_atk1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,100},{124,116}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,137},{124,116}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_037_fx_atk1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,80},{120,110}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,141},{120,110}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_037_fx_atk1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{112,104}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,146},{112,104}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_037_fx_atk1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{36,66}}</string>
                <key>offset</key>
                <string>{-21,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,156},{36,66}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atk1_0.pvr</string>
            <key>size</key>
            <string>{808,226}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7dae2f429b96fe6f79caac525309e197:1/1$</string>
            <key>textureFileName</key>
            <string>atk1_0.pvr</string>
        </dict>
    </dict>
</plist>
