<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_caocaofinal_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,2},{352,286}}</string>
                <key>offset</key>
                <string>{-54,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{282,223},{352,286}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_caocaofinal_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{356,292}}</string>
                <key>offset</key>
                <string>{-45,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{289,217},{356,292}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_caocaofinal_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,290},{350,296}}</string>
                <key>offset</key>
                <string>{-39,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{298,213},{350,296}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_caocaofinal_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,580},{328,298}}</string>
                <key>offset</key>
                <string>{-36,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{312,211},{328,298}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_caocaofinal_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,290},{302,300}}</string>
                <key>offset</key>
                <string>{-35,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{326,209},{302,300}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_caocaofinal_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{282,304}}</string>
                <key>offset</key>
                <string>{-32,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{339,205},{282,304}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_caocaofinal_idle_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{282,308}}</string>
                <key>offset</key>
                <string>{-27,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{344,201},{282,308}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_caocaofinal_idle_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,588},{300,310}}</string>
                <key>offset</key>
                <string>{-29,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{333,199},{300,310}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_caocaofinal_idle_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,592},{322,310}}</string>
                <key>offset</key>
                <string>{-34,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{317,199},{322,310}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>idle_0.pvr</string>
            <key>size</key>
            <string>{1016,904}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:242a60b1c8e26fcf417d7d6a48d5f61e:1/1$</string>
            <key>textureFileName</key>
            <string>idle_0.pvr</string>
        </dict>
    </dict>
</plist>
