<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_caocaofinal_skill1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{458,316}}</string>
                <key>offset</key>
                <string>{47,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{330,193},{458,316}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_caocaofinal_skill1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,634},{454,290}}</string>
                <key>offset</key>
                <string>{50,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{335,219},{454,290}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_caocaofinal_skill1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,2},{406,310}}</string>
                <key>offset</key>
                <string>{40,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{349,199},{406,310}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_caocaofinal_skill1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,314},{400,316}}</string>
                <key>offset</key>
                <string>{29,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{341,193},{400,316}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_caocaofinal_skill1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,634},{424,318}}</string>
                <key>offset</key>
                <string>{26,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{326,191},{424,318}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_caocaofinal_skill1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{456,312}}</string>
                <key>offset</key>
                <string>{30,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{314,197},{456,312}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill1_3.pvr</string>
            <key>size</key>
            <string>{884,954}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c67005a9ce2dd4da5178664e15b0032:1/1$</string>
            <key>textureFileName</key>
            <string>skill1_3.pvr</string>
        </dict>
    </dict>
</plist>
