<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_caocaofinal_skill2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,558},{272,258}}</string>
                <key>offset</key>
                <string>{12,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{388,240},{272,258}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_caocaofinal_skill2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,692},{312,248}}</string>
                <key>offset</key>
                <string>{58,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{414,248},{312,248}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_caocaofinal_skill2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,308},{248,266}}</string>
                <key>offset</key>
                <string>{54,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{442,218},{248,266}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_caocaofinal_skill2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,792},{228,300}}</string>
                <key>offset</key>
                <string>{59,45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{457,189},{228,300}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_caocaofinal_skill2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,342},{348,262}}</string>
                <key>offset</key>
                <string>{38,97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{376,156},{348,262}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_caocaofinal_skill2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{448,284}}</string>
                <key>offset</key>
                <string>{1,129}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{289,113},{448,284}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_caocaofinal_skill2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{426,338}}</string>
                <key>offset</key>
                <string>{0,138}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{299,77},{426,338}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_caocaofinal_skill2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{388,304}}</string>
                <key>offset</key>
                <string>{40,161}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{358,71},{388,304}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill2_0.pvr</string>
            <key>size</key>
            <string>{820,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4ac2515a248dddddf67d9718a428b226:1/1$</string>
            <key>textureFileName</key>
            <string>skill2_0.pvr</string>
        </dict>
    </dict>
</plist>
