<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_caocaofinal_skill1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,616},{258,270}}</string>
                <key>offset</key>
                <string>{14,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{397,217},{258,270}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_caocaofinal_skill1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,616},{314,300}}</string>
                <key>offset</key>
                <string>{42,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{397,187},{314,300}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_caocaofinal_skill1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{386,320}}</string>
                <key>offset</key>
                <string>{-5,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{314,167},{386,320}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_caocaofinal_skill1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{342,274}}</string>
                <key>offset</key>
                <string>{4,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{345,214},{342,274}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_caocaofinal_skill1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,616},{238,332}}</string>
                <key>offset</key>
                <string>{-13,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{380,170},{238,332}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_caocaofinal_skill1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,304},{310,348}}</string>
                <key>offset</key>
                <string>{-12,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{345,160},{310,348}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_caocaofinal_skill1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,2},{376,300}}</string>
                <key>offset</key>
                <string>{120,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{444,209},{376,300}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill1_1.pvr</string>
            <key>size</key>
            <string>{834,950}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:92652e798b76e96c0d6afd24688b2dba:1/1$</string>
            <key>textureFileName</key>
            <string>skill1_1.pvr</string>
        </dict>
    </dict>
</plist>
