<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_caocaofinal_skill2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{262,326}}</string>
                <key>offset</key>
                <string>{60,164}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{441,57},{262,326}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_caocaofinal_skill2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,272},{310,296}}</string>
                <key>offset</key>
                <string>{72,183}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{429,53},{310,296}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_caocaofinal_skill2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,566},{306,340}}</string>
                <key>offset</key>
                <string>{52,159}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{411,55},{306,340}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_caocaofinal_skill2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,270},{352,294}}</string>
                <key>offset</key>
                <string>{52,181}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{388,56},{352,294}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_caocaofinal_skill2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,570},{340,310}}</string>
                <key>offset</key>
                <string>{20,171}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{362,58},{340,310}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_caocaofinal_skill2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{390,266}}</string>
                <key>offset</key>
                <string>{25,172}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{342,79},{390,266}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_caocaofinal_skill2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,544},{302,322}}</string>
                <key>offset</key>
                <string>{35,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{396,177},{302,322}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_caocaofinal_skill2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{290,268}}</string>
                <key>offset</key>
                <string>{2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{369,241},{290,268}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_caocaofinal_skill2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{318,276}}</string>
                <key>offset</key>
                <string>{-8,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{345,231},{318,276}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill2_1.pvr</string>
            <key>size</key>
            <string>{1014,882}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c5811e651aba915b43f5633e1e9dcad6:1/1$</string>
            <key>textureFileName</key>
            <string>skill2_1.pvr</string>
        </dict>
    </dict>
</plist>
