<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fnpc006_fx_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,584},{42,64}}</string>
                <key>offset</key>
                <string>{20,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,112},{42,64}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>Fnpc006_fx_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{40,62}}</string>
                <key>offset</key>
                <string>{21,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,113},{40,62}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>Fnpc006_fx_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,60}}</string>
                <key>offset</key>
                <string>{22,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,115},{40,60}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>Fnpc006_fx_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{42,62}}</string>
                <key>offset</key>
                <string>{22,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,114},{42,62}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>Fnpc006_fx_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{40,62}}</string>
                <key>offset</key>
                <string>{24,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,115},{40,62}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>Fnpc006_fx_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{40,62}}</string>
                <key>offset</key>
                <string>{23,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,116},{40,62}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>Fnpc006_fx_idle_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{38,64}}</string>
                <key>offset</key>
                <string>{22,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,115},{38,64}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>Fnpc006_fx_idle_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{36,64}}</string>
                <key>offset</key>
                <string>{21,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,117},{36,64}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>Fnpc006_fx_idle_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{34,64}}</string>
                <key>offset</key>
                <string>{21,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,115},{34,64}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>Fnpc006_fx_idle_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,650},{36,66}}</string>
                <key>offset</key>
                <string>{22,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,113},{36,66}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>Fnpc006_fx_idle_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{42,64}}</string>
                <key>offset</key>
                <string>{23,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,112},{42,64}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>Fnpc006_fx_idle_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,718},{46,66}}</string>
                <key>offset</key>
                <string>{22,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,109},{46,66}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>idle_0.pvr</string>
            <key>size</key>
            <string>{50,786}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b688deadbe7ddb7e0ddc2ff891651762:1/1$</string>
            <key>textureFileName</key>
            <string>idle_0.pvr</string>
        </dict>
    </dict>
</plist>
