<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fnpc003_idle1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,548},{408,274}}</string>
                <key>offset</key>
                <string>{-68,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,278},{408,274}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc003_idle1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,556},{428,274}}</string>
                <key>offset</key>
                <string>{-68,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,278},{428,274}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc003_idle1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{434,272}}</string>
                <key>offset</key>
                <string>{-67,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,280},{434,272}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc003_idle1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{416,270}}</string>
                <key>offset</key>
                <string>{-62,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,282},{416,270}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc003_idle1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,274},{280,296}}</string>
                <key>offset</key>
                <string>{-63,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{309,256},{280,296}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc003_idle1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{324,270}}</string>
                <key>offset</key>
                <string>{-85,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,282},{324,270}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc003_idle1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,2},{360,270}}</string>
                <key>offset</key>
                <string>{-117,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,282},{360,270}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc003_idle1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,364},{360,272}}</string>
                <key>offset</key>
                <string>{-131,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,280},{360,272}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>idle1_1.pvr</string>
            <key>size</key>
            <string>{1018,986}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:82acd5cc2388e2026de0f50686f1e2b4:1/1$</string>
            <key>textureFileName</key>
            <string>idle1_1.pvr</string>
        </dict>
    </dict>
</plist>
