<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fnpc003_idle1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,630},{282,274}}</string>
                <key>offset</key>
                <string>{-98,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{273,278},{282,274}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc003_idle1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,640},{220,294}}</string>
                <key>offset</key>
                <string>{-67,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{335,258},{220,294}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc003_idle1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,640},{368,340}}</string>
                <key>offset</key>
                <string>{-49,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{279,212},{368,340}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc003_idle1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{406,338}}</string>
                <key>offset</key>
                <string>{-52,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,214},{406,338}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc003_idle1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{410,326}}</string>
                <key>offset</key>
                <string>{-58,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,226},{410,326}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc003_idle1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{398,308}}</string>
                <key>offset</key>
                <string>{-65,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,244},{398,308}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc003_idle1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,342},{392,286}}</string>
                <key>offset</key>
                <string>{-69,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,266},{392,286}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>idle1_0.pvr</string>
            <key>size</key>
            <string>{842,1010}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c3277d045ea0822da2573dfcd7d6c16f:1/1$</string>
            <key>textureFileName</key>
            <string>idle1_0.pvr</string>
        </dict>
    </dict>
</plist>
