<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fnpc003_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,356},{346,308}}</string>
                <key>offset</key>
                <string>{-122,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,262},{346,308}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc003_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{352,304}}</string>
                <key>offset</key>
                <string>{-124,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,263},{352,304}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc003_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{360,300}}</string>
                <key>offset</key>
                <string>{-127,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,263},{360,300}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc003_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,592},{366,294}}</string>
                <key>offset</key>
                <string>{-129,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,264},{366,294}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc003_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,704},{372,288}}</string>
                <key>offset</key>
                <string>{-131,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,266},{372,288}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc003_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{378,286}}</string>
                <key>offset</key>
                <string>{-133,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,266},{378,286}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>idle_0.pvr</string>
            <key>size</key>
            <string>{688,994}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:89855487ffd96c0f82f8aff9c2268807:1/1$</string>
            <key>textureFileName</key>
            <string>idle_0.pvr</string>
        </dict>
    </dict>
</plist>
