<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_pet03_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{88,54}}</string>
                <key>offset</key>
                <string>{-4,-104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{352,377},{88,54}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet03_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{88,56}}</string>
                <key>offset</key>
                <string>{-4,-103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{352,375},{88,56}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet03_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{88,56}}</string>
                <key>offset</key>
                <string>{-4,-103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{352,375},{88,56}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet03_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,56}}</string>
                <key>offset</key>
                <string>{-4,-103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{352,375},{88,56}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>idle_0.pvr</string>
            <key>size</key>
            <string>{362,60}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e18a7bae7c405f13102c56597fca84fb:1/1$</string>
            <key>textureFileName</key>
            <string>idle_0.pvr</string>
        </dict>
    </dict>
</plist>
