<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_pet03_run_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{94,52}}</string>
                <key>offset</key>
                <string>{-8,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{345,373},{94,52}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet03_run_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{92,54}}</string>
                <key>offset</key>
                <string>{-8,-105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{346,378},{92,54}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet03_run_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{88,58}}</string>
                <key>offset</key>
                <string>{-8,-103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{348,374},{88,58}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet03_run_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,58}}</string>
                <key>offset</key>
                <string>{-10,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{343,373},{94,58}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet03_run_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{88,52}}</string>
                <key>offset</key>
                <string>{-8,-103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{348,377},{88,52}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet03_run_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,2},{88,46}}</string>
                <key>offset</key>
                <string>{-5,-104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{351,381},{88,46}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet03_run_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,2},{86,50}}</string>
                <key>offset</key>
                <string>{-3,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{354,377},{86,50}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>run_0.pvr</string>
            <key>size</key>
            <string>{646,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6602a11a1de68a165173f0b22f801b71:1/1$</string>
            <key>textureFileName</key>
            <string>run_0.pvr</string>
        </dict>
    </dict>
</plist>
