<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_pet03_skill1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,72},{88,54}}</string>
                <key>offset</key>
                <string>{-4,-104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{352,377},{88,54}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet03_skill1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,72},{86,50}}</string>
                <key>offset</key>
                <string>{-4,-105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{353,380},{86,50}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet03_skill1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,72},{86,50}}</string>
                <key>offset</key>
                <string>{-4,-105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{353,380},{86,50}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet03_skill1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{88,50}}</string>
                <key>offset</key>
                <string>{-5,-103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{351,378},{88,50}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet03_skill1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,72}}</string>
                <key>offset</key>
                <string>{-14,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{346,355},{80,72}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet03_skill1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{68,82}}</string>
                <key>offset</key>
                <string>{-17,-85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{349,344},{68,82}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet03_skill1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{76,60}}</string>
                <key>offset</key>
                <string>{0,-96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{362,366},{76,60}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet03_skill1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,64},{84,52}}</string>
                <key>offset</key>
                <string>{-4,-105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{354,379},{84,52}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet03_skill1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{68,76}}</string>
                <key>offset</key>
                <string>{6,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{372,354},{68,76}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet03_skill1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{74,68}}</string>
                <key>offset</key>
                <string>{3,-97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{366,363},{74,68}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet03_skill1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{82,58}}</string>
                <key>offset</key>
                <string>{-1,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{358,373},{82,58}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill1_0.pvr</string>
            <key>size</key>
            <string>{484,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4ba2e096d623b775056c6ee77478bd31:1/1$</string>
            <key>textureFileName</key>
            <string>skill1_0.pvr</string>
        </dict>
    </dict>
</plist>
