<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_zj_fx_skill2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{148,236}}</string>
                <key>offset</key>
                <string>{17,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,64},{148,236}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_zj_fx_skill2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{144,224}}</string>
                <key>offset</key>
                <string>{11,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,59},{144,224}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_zj_fx_skill2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{158,220}}</string>
                <key>offset</key>
                <string>{11,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,56},{158,220}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_zj_fx_skill2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,2},{162,214}}</string>
                <key>offset</key>
                <string>{10,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,57},{162,214}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_zj_fx_skill2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{350,216}}</string>
                <key>offset</key>
                <string>{-20,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,55},{350,216}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_zj_fx_skill2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,166},{402,348}}</string>
                <key>offset</key>
                <string>{-13,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,36},{402,348}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_zj_fx_skill2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,516},{470,358}}</string>
                <key>offset</key>
                <string>{21,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,26},{470,358}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_zj_fx_skill2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{456,354}}</string>
                <key>offset</key>
                <string>{28,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,22},{456,354}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill2_0.pvr</string>
            <key>size</key>
            <string>{932,876}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f24b190da1072b1cfea0d174444aedca:1/1$</string>
            <key>textureFileName</key>
            <string>skill2_0.pvr</string>
        </dict>
    </dict>
</plist>
