<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_zj_fx_skill1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{150,234}}</string>
                <key>offset</key>
                <string>{-116,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,72},{150,234}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_zj_fx_skill1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{144,222}}</string>
                <key>offset</key>
                <string>{-122,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,75},{144,222}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_zj_fx_skill1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,152},{158,222}}</string>
                <key>offset</key>
                <string>{-122,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,74},{158,222}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_zj_fx_skill1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,152},{162,224}}</string>
                <key>offset</key>
                <string>{-122,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,75},{162,224}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_zj_fx_skill1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,148},{156,218}}</string>
                <key>offset</key>
                <string>{-120,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,75},{156,218}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_zj_fx_skill1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,2},{148,226}}</string>
                <key>offset</key>
                <string>{-118,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,75},{148,226}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_zj_fx_skill1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{140,226}}</string>
                <key>offset</key>
                <string>{-118,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,76},{140,226}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_zj_fx_skill1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{136,218}}</string>
                <key>offset</key>
                <string>{-120,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,73},{136,218}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_zj_fx_skill1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{340,278}}</string>
                <key>offset</key>
                <string>{-21,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,29},{340,278}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_zj_fx_skill1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,618},{440,304}}</string>
                <key>offset</key>
                <string>{22,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,0},{440,304}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_zj_fx_skill1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,316},{440,300}}</string>
                <key>offset</key>
                <string>{19,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,0},{440,300}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_zj_fx_skill1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,618},{446,300}}</string>
                <key>offset</key>
                <string>{24,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,0},{446,300}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill1_0.pvr</string>
            <key>size</key>
            <string>{908,924}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07fa3a8c2115218a7f3397797db6eb28:1/1$</string>
            <key>textureFileName</key>
            <string>skill1_0.pvr</string>
        </dict>
    </dict>
</plist>
