<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_zj_fx_skill2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,658},{438,344}}</string>
                <key>offset</key>
                <string>{14,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,26},{438,344}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_zj_fx_skill2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,312},{418,344}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,26},{418,344}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_zj_fx_skill2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{428,302}}</string>
                <key>offset</key>
                <string>{9,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,68},{428,302}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_zj_fx_skill2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{412,308}}</string>
                <key>offset</key>
                <string>{20,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,64},{412,308}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_zj_fx_skill2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{430,302}}</string>
                <key>offset</key>
                <string>{15,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,61},{430,302}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill2_1.pvr</string>
            <key>size</key>
            <string>{854,1004}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8dccda1710a800e2f1897b27b90273e6:1/1$</string>
            <key>textureFileName</key>
            <string>skill2_1.pvr</string>
        </dict>
    </dict>
</plist>
