<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_normal_038_fx_atk1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,52}}</string>
                <key>offset</key>
                <string>{46,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,156},{76,52}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_038_fx_atk1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{98,72}}</string>
                <key>offset</key>
                <string>{39,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,138},{98,72}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_038_fx_atk1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{120,76}}</string>
                <key>offset</key>
                <string>{28,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,134},{120,76}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_038_fx_atk1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,574},{128,74}}</string>
                <key>offset</key>
                <string>{13,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,135},{128,74}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_038_fx_atk1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{126,66}}</string>
                <key>offset</key>
                <string>{25,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,143},{126,66}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_038_fx_atk1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,854},{148,82}}</string>
                <key>offset</key>
                <string>{75,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{257,134},{148,82}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_038_fx_atk1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,704},{148,82}}</string>
                <key>offset</key>
                <string>{87,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{269,135},{148,82}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_038_fx_atk1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{112,76}}</string>
                <key>offset</key>
                <string>{110,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{310,140},{112,76}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_038_fx_atk1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{92,78}}</string>
                <key>offset</key>
                <string>{123,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{333,136},{92,78}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_038_fx_atk1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{92,78}}</string>
                <key>offset</key>
                <string>{126,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{336,135},{92,78}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atk1_0.pvr</string>
            <key>size</key>
            <string>{124,1004}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:171f3e2caaf0c243848f737a53c43b27:1/1$</string>
            <key>textureFileName</key>
            <string>atk1_0.pvr</string>
        </dict>
    </dict>
</plist>
