<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_normal_028_atk1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,830},{160,202}}</string>
                <key>offset</key>
                <string>{-16,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{416,286},{160,202}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_028_atk1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,810},{146,170}}</string>
                <key>offset</key>
                <string>{-23,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{416,313},{146,170}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_028_atk1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,630},{154,178}}</string>
                <key>offset</key>
                <string>{-20,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{415,304},{154,178}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_028_atk1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,630},{180,198}}</string>
                <key>offset</key>
                <string>{-10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{412,284},{180,198}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_028_atk1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,440},{208,188}}</string>
                <key>offset</key>
                <string>{-17,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{391,294},{208,188}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_028_atk1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,218},{296,220}}</string>
                <key>offset</key>
                <string>{-63,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{301,263},{296,220}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_028_atk1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{354,236}}</string>
                <key>offset</key>
                <string>{-79,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,246},{354,236}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_028_atk1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,614},{200,370}}</string>
                <key>offset</key>
                <string>{-2,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{410,117},{200,370}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_028_atk1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,240},{204,372}}</string>
                <key>offset</key>
                <string>{-3,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{407,115},{204,372}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_028_atk1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{214,372}}</string>
                <key>offset</key>
                <string>{-5,83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{400,115},{214,372}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_028_atk1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{218,372}}</string>
                <key>offset</key>
                <string>{-7,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{396,115},{218,372}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_028_atk1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,614},{210,370}}</string>
                <key>offset</key>
                <string>{-7,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{400,117},{210,370}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atk1_0.pvr</string>
            <key>size</key>
            <string>{768,992}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ac4927b9e5039c3e37a197cf515fbf43:1/1$</string>
            <key>textureFileName</key>
            <string>atk1_0.pvr</string>
        </dict>
    </dict>
</plist>
