<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_normal_028_down_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{212,142}}</string>
                <key>offset</key>
                <string>{-44,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{362,316},{212,142}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_028_down_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,234},{212,120}}</string>
                <key>offset</key>
                <string>{-36,-87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{370,411},{212,120}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_028_down_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{228,114}}</string>
                <key>offset</key>
                <string>{-23,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{375,411},{228,114}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_028_down_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{230,118}}</string>
                <key>offset</key>
                <string>{-25,-87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{372,412},{230,118}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_028_down_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,680},{228,110}}</string>
                <key>offset</key>
                <string>{-22,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{376,418},{228,110}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_028_down_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{230,114}}</string>
                <key>offset</key>
                <string>{-21,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{376,417},{230,114}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_028_down_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,448},{230,106}}</string>
                <key>offset</key>
                <string>{-21,-94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{376,425},{230,106}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>down_0.pvr</string>
            <key>size</key>
            <string>{254,812}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:17e3cd5830a1e9dc471fd3e316f3ccfa:1/1$</string>
            <key>textureFileName</key>
            <string>down_0.pvr</string>
        </dict>
    </dict>
</plist>
