<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_menghuo_hurt_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,552},{276,260}}</string>
                <key>offset</key>
                <string>{35,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{409,278},{276,260}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_menghuo_hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,288},{298,262}}</string>
                <key>offset</key>
                <string>{3,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{366,276},{298,262}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_menghuo_hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{298,268}}</string>
                <key>offset</key>
                <string>{6,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{369,270},{298,268}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_menghuo_hurt_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,552},{292,272}}</string>
                <key>offset</key>
                <string>{40,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{406,266},{292,272}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_menghuo_hurt_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{308,284}}</string>
                <key>offset</key>
                <string>{60,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{418,254},{308,284}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_menghuo_hurt_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{316,278}}</string>
                <key>offset</key>
                <string>{58,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{412,260},{316,278}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_menghuo_hurt_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,552},{276,260}}</string>
                <key>offset</key>
                <string>{35,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{409,278},{276,260}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hurt_0.pvr</string>
            <key>size</key>
            <string>{802,846}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4bf6b04737a47d717e39b3a7ce67f166:1/1$</string>
            <key>textureFileName</key>
            <string>hurt_0.pvr</string>
        </dict>
    </dict>
</plist>
