<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_menghuo_run_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{248,308}}</string>
                <key>offset</key>
                <string>{70,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{458,223},{248,308}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_menghuo_run_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{242,308}}</string>
                <key>offset</key>
                <string>{69,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{460,226},{242,308}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_menghuo_run_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,2},{232,300}}</string>
                <key>offset</key>
                <string>{66,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{462,230},{232,300}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_menghuo_run_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,2},{218,298}}</string>
                <key>offset</key>
                <string>{61,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{464,227},{218,298}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_menghuo_run_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,438},{192,300}}</string>
                <key>offset</key>
                <string>{52,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{468,220},{192,300}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_menghuo_run_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,622},{186,304}}</string>
                <key>offset</key>
                <string>{51,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{470,219},{186,304}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_menghuo_run_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,304},{188,310}}</string>
                <key>offset</key>
                <string>{52,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{470,221},{188,310}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_menghuo_run_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,616},{192,302}}</string>
                <key>offset</key>
                <string>{51,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{467,224},{192,302}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_menghuo_run_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,222},{214,296}}</string>
                <key>offset</key>
                <string>{59,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{464,224},{214,296}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_menghuo_run_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{226,308}}</string>
                <key>offset</key>
                <string>{63,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{462,219},{226,308}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_menghuo_run_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,312},{240,308}}</string>
                <key>offset</key>
                <string>{68,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{460,221},{240,308}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>run_0.pvr</string>
            <key>size</key>
            <string>{1014,810}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c416553ce5c49b28891e8eec95e47b5:1/1$</string>
            <key>textureFileName</key>
            <string>run_0.pvr</string>
        </dict>
    </dict>
</plist>
