<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_menghuo_skill2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{362,418}}</string>
                <key>offset</key>
                <string>{121,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{452,120},{362,418}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_menghuo_skill2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{282,332}}</string>
                <key>offset</key>
                <string>{37,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{408,207},{282,332}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_menghuo_skill2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,2},{310,378}}</string>
                <key>offset</key>
                <string>{75,78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{432,117},{310,378}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_menghuo_skill2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{298,286}}</string>
                <key>offset</key>
                <string>{-17,118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{346,123},{298,286}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_menghuo_skill2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,314},{424,390}}</string>
                <key>offset</key>
                <string>{86,109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{386,80},{424,390}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill2_1.pvr</string>
            <key>size</key>
            <string>{1016,706}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d7be9e53092f078704a65d228e665fa9:1/1$</string>
            <key>textureFileName</key>
            <string>skill2_1.pvr</string>
        </dict>
    </dict>
</plist>
