<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_menghuo_skill2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,290},{276,260}}</string>
                <key>offset</key>
                <string>{35,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{409,278},{276,260}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_menghuo_skill2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,560},{310,318}}</string>
                <key>offset</key>
                <string>{99,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{456,220},{310,318}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_menghuo_skill2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{348,286}}</string>
                <key>offset</key>
                <string>{99,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{437,252},{348,286}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_menghuo_skill2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{264,324}}</string>
                <key>offset</key>
                <string>{100,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{480,214},{264,324}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_menghuo_skill2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{330,270}}</string>
                <key>offset</key>
                <string>{100,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{447,268},{330,270}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_menghuo_skill2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{368,284}}</string>
                <key>offset</key>
                <string>{147,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{475,254},{368,284}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_menghuo_skill2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,610},{284,282}}</string>
                <key>offset</key>
                <string>{76,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{446,256},{284,282}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_menghuo_skill2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,290},{276,318}}</string>
                <key>offset</key>
                <string>{47,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{421,220},{276,318}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill2_0.pvr</string>
            <key>size</key>
            <string>{890,894}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9bc76f215eec96f3c47d49cd76639568:1/1$</string>
            <key>textureFileName</key>
            <string>skill2_0.pvr</string>
        </dict>
    </dict>
</plist>
