<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_menghuo_skill2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{360,316}}</string>
                <key>offset</key>
                <string>{105,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{437,218},{360,316}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_menghuo_skill2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{348,320}}</string>
                <key>offset</key>
                <string>{108,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{446,218},{348,320}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_menghuo_skill2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{348,312}}</string>
                <key>offset</key>
                <string>{105,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{443,226},{348,312}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_menghuo_skill2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,500},{326,260}}</string>
                <key>offset</key>
                <string>{86,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{435,278},{326,260}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_menghuo_skill2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,500},{280,246}}</string>
                <key>offset</key>
                <string>{51,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{423,292},{280,246}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_menghuo_skill2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,2},{302,244}}</string>
                <key>offset</key>
                <string>{17,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{378,294},{302,244}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_menghuo_skill2_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,248},{296,250}}</string>
                <key>offset</key>
                <string>{16,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{380,288},{296,250}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill2_2.pvr</string>
            <key>size</key>
            <string>{938,762}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:46f4d789b2716fa7698f5a2e6c1ec438:1/1$</string>
            <key>textureFileName</key>
            <string>skill2_2.pvr</string>
        </dict>
    </dict>
</plist>
