<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_ck_weapon_1_down_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{124,74}}</string>
                <key>offset</key>
                <string>{-100,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{350,343},{124,74}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_down_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,136}}</string>
                <key>offset</key>
                <string>{-104,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{361,399},{94,136}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_down_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{116,78}}</string>
                <key>offset</key>
                <string>{-154,-149}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{300,494},{116,78}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_down_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{124,80}}</string>
                <key>offset</key>
                <string>{-159,-152}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{291,496},{124,80}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_down_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{132,76}}</string>
                <key>offset</key>
                <string>{-165,-153}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{281,499},{132,76}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_down_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{136,68}}</string>
                <key>offset</key>
                <string>{-168,-151}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{276,501},{136,68}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_down_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,782},{140,62}}</string>
                <key>offset</key>
                <string>{-171,-148}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{271,501},{140,62}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>down_0.pvr</string>
            <key>size</key>
            <string>{98,924}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:25bc17b7b13c9ef9b0721bef36152a61:1/1$</string>
            <key>textureFileName</key>
            <string>down_0.pvr</string>
        </dict>
    </dict>
</plist>
