<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_ck_weapon_1_hurt_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,96}}</string>
                <key>offset</key>
                <string>{-43,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{395,383},{148,96}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hurt_0.pvr</string>
            <key>size</key>
            <string>{152,100}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c9d3e65091727adeca43045a34b1ce4:1/1$</string>
            <key>textureFileName</key>
            <string>hurt_0.pvr</string>
        </dict>
    </dict>
</plist>
