<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_ck_weapon_1_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{124,132}}</string>
                <key>offset</key>
                <string>{-52,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{398,365},{124,132}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{124,130}}</string>
                <key>offset</key>
                <string>{-51,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{399,366},{124,130}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,122},{124,130}}</string>
                <key>offset</key>
                <string>{-50,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{400,365},{124,130}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,120},{124,130}}</string>
                <key>offset</key>
                <string>{-50,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{400,365},{124,130}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,128},{122,132}}</string>
                <key>offset</key>
                <string>{-50,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{401,365},{122,132}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{118,134}}</string>
                <key>offset</key>
                <string>{-51,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{402,366},{118,134}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_idle_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{116,134}}</string>
                <key>offset</key>
                <string>{-52,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{402,368},{116,134}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_idle_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,138},{114,134}}</string>
                <key>offset</key>
                <string>{-53,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{402,369},{114,134}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_idle_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{116,134}}</string>
                <key>offset</key>
                <string>{-53,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{401,368},{116,134}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_idle_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,134}}</string>
                <key>offset</key>
                <string>{-52,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{400,365},{120,134}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>idle_0.pvr</string>
            <key>size</key>
            <string>{670,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:788f25cc217626a937770730e7fa219d:1/1$</string>
            <key>textureFileName</key>
            <string>idle_0.pvr</string>
        </dict>
    </dict>
</plist>
