<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_ck_weapon_1_jumpatk_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,56}}</string>
                <key>offset</key>
                <string>{-76,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{400,371},{72,56}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_jumpatk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{84,36}}</string>
                <key>offset</key>
                <string>{-92,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{378,382},{84,36}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_jumpatk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{68,36}}</string>
                <key>offset</key>
                <string>{-103,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{375,393},{68,36}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_jumpatk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{68,36}}</string>
                <key>offset</key>
                <string>{-102,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{376,395},{68,36}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_jumpatk_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{68,36}}</string>
                <key>offset</key>
                <string>{-102,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{376,395},{68,36}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jumpatk_0.pvr</string>
            <key>size</key>
            <string>{372,60}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bfc89c081b027890050fe85cda00cefe:1/1$</string>
            <key>textureFileName</key>
            <string>jumpatk_0.pvr</string>
        </dict>
    </dict>
</plist>
