<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_ck_weapon_1_jump_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{114,80}}</string>
                <key>offset</key>
                <string>{-43,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{412,415},{114,80}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_jump_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{116,90}}</string>
                <key>offset</key>
                <string>{-45,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{409,348},{116,90}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_jump_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,90}}</string>
                <key>offset</key>
                <string>{-44,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{406,337},{124,90}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_jump_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{148,86}}</string>
                <key>offset</key>
                <string>{-49,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{389,327},{148,86}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_jump_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,2},{164,74}}</string>
                <key>offset</key>
                <string>{-54,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{376,324},{164,74}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_jump_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,2},{176,52}}</string>
                <key>offset</key>
                <string>{-62,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{362,318},{176,52}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jump_0.pvr</string>
            <key>size</key>
            <string>{856,94}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f4a0cb1d8953e7b2e38007e79f754e79:1/1$</string>
            <key>textureFileName</key>
            <string>jump_0.pvr</string>
        </dict>
    </dict>
</plist>
