<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_ck_weapon_1_runatk_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{92,86}}</string>
                <key>offset</key>
                <string>{-118,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{348,385},{92,86}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_runatk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{104,86}}</string>
                <key>offset</key>
                <string>{-43,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{417,407},{104,86}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_runatk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{54,80}}</string>
                <key>offset</key>
                <string>{-31,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{454,432},{54,80}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_runatk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,86}}</string>
                <key>offset</key>
                <string>{-84,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{353,429},{150,86}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>runatk_0.pvr</string>
            <key>size</key>
            <string>{410,90}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:63e1240836b597504d8a919859382ec7:1/1$</string>
            <key>textureFileName</key>
            <string>runatk_0.pvr</string>
        </dict>
    </dict>
</plist>
