<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_ck_weapon_1_skill6_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,136}}</string>
                <key>offset</key>
                <string>{-52,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{398,368},{124,136}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_skill6_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,436},{80,90}}</string>
                <key>offset</key>
                <string>{-79,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{393,375},{80,90}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_skill6_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,292},{114,76}}</string>
                <key>offset</key>
                <string>{-85,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{370,366},{114,76}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_skill6_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,436},{80,64}}</string>
                <key>offset</key>
                <string>{-6,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{466,392},{80,64}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_skill6_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,230},{104,60}}</string>
                <key>offset</key>
                <string>{120,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{580,398},{104,60}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_skill6_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,370},{126,64}}</string>
                <key>offset</key>
                <string>{304,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{753,381},{126,64}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_skill6_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,140},{136,72}}</string>
                <key>offset</key>
                <string>{368,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{812,367},{136,72}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_skill6_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,298},{134,78}}</string>
                <key>offset</key>
                <string>{382,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{827,366},{134,78}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_skill6_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{90,126}}</string>
                <key>offset</key>
                <string>{403,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{870,368},{90,126}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_skill6_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{178,40}}</string>
                <key>offset</key>
                <string>{389,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{812,403},{178,40}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_skill6_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,130},{108,98}}</string>
                <key>offset</key>
                <string>{370,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{828,383},{108,98}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_skill6_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{156,66}}</string>
                <key>offset</key>
                <string>{384,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{818,441},{156,66}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_skill6_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{1,1}}</string>
                <key>offset</key>
                <string>{-511.5,383.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill6_0.pvr</string>
            <key>size</key>
            <string>{254,528}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:13366e0e63b48de6a4d7d583242f27e4:1/1$</string>
            <key>textureFileName</key>
            <string>skill6_0.pvr</string>
        </dict>
    </dict>
</plist>
