<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_ck_weapon_1_skill5_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,388},{74,104}}</string>
                <key>offset</key>
                <string>{-121,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{354,411},{74,104}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_skill5_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{238,120}}</string>
                <key>offset</key>
                <string>{-58,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{335,394},{238,120}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_skill5_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,912},{98,68}}</string>
                <key>offset</key>
                <string>{-133,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{330,435},{98,68}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_skill5_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,982},{124,30}}</string>
                <key>offset</key>
                <string>{-110,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{340,445},{124,30}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_skill5_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,696},{212,70}}</string>
                <key>offset</key>
                <string>{-85,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{321,424},{212,70}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_skill5_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,696},{216,50}}</string>
                <key>offset</key>
                <string>{-90,-85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{314,444},{216,50}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_skill5_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{232,128}}</string>
                <key>offset</key>
                <string>{-63,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{333,387},{232,128}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_skill5_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,282},{168,104}}</string>
                <key>offset</key>
                <string>{-95,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{333,349},{168,104}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_skill5_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,388},{156,84}}</string>
                <key>offset</key>
                <string>{14,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{448,346},{156,84}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_skill5_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{156,182}}</string>
                <key>offset</key>
                <string>{-65,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{369,354},{156,182}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_skill5_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,514},{142,180}}</string>
                <key>offset</key>
                <string>{-75,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{366,348},{142,180}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_skill5_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{236,140}}</string>
                <key>offset</key>
                <string>{-38,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{356,325},{236,140}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_skill5_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,616},{124,80}}</string>
                <key>offset</key>
                <string>{-76,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{374,357},{124,80}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_skill5_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,698},{146,114}}</string>
                <key>offset</key>
                <string>{-89,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{350,336},{146,114}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_skill5_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,474},{140,122}}</string>
                <key>offset</key>
                <string>{-84,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{358,329},{140,122}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_skill5_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,274},{72,214}}</string>
                <key>offset</key>
                <string>{-47,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{429,316},{72,214}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_skill5_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,490},{70,204}}</string>
                <key>offset</key>
                <string>{-24,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{453,305},{70,204}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_skill5_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,160},{120,194}}</string>
                <key>offset</key>
                <string>{-47,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{405,283},{120,194}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_skill5_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,696},{84,204}}</string>
                <key>offset</key>
                <string>{-51,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{419,330},{84,204}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_skill5_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,846},{64,154}}</string>
                <key>offset</key>
                <string>{-57,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{423,372},{64,154}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_skill5_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,702},{94,126}}</string>
                <key>offset</key>
                <string>{-44,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{421,381},{94,126}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_skill5_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,494},{90,88}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{465,345},{90,88}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_skill5_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,914},{82,94}}</string>
                <key>offset</key>
                <string>{-57,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{414,317},{82,94}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_skill5_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,912},{86,64}}</string>
                <key>offset</key>
                <string>{-121,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{348,392},{86,64}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_skill5_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,586},{86,114}}</string>
                <key>offset</key>
                <string>{-150,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{319,388},{86,114}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_skill5_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,910},{112,130}}</string>
                <key>offset</key>
                <string>{-63,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{393,373},{112,130}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill5_0.pvr</string>
            <key>size</key>
            <string>{432,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:708f5c8b24d2db7efc473f35d84dbcdb:1/1$</string>
            <key>textureFileName</key>
            <string>skill5_0.pvr</string>
        </dict>
    </dict>
</plist>
