<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_ck_weapon_1_skill4_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,72},{124,136}}</string>
                <key>offset</key>
                <string>{-52,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{398,368},{124,136}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_skill4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,320},{152,84}}</string>
                <key>offset</key>
                <string>{-80,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{356,373},{152,84}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_skill4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{194,68}}</string>
                <key>offset</key>
                <string>{-62,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{353,381},{194,68}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_skill4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,756},{98,32}}</string>
                <key>offset</key>
                <string>{-44,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{419,399},{98,32}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_skill4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,506},{170,32}}</string>
                <key>offset</key>
                <string>{-38,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{389,420},{170,32}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_skill4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,538},{102,96}}</string>
                <key>offset</key>
                <string>{-104,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{357,391},{102,96}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_skill4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,210},{142,100}}</string>
                <key>offset</key>
                <string>{-101,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{340,396},{142,100}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_skill4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,530},{164,92}}</string>
                <key>offset</key>
                <string>{-68,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{362,399},{164,92}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_skill4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,530},{100,170}}</string>
                <key>offset</key>
                <string>{-47,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{415,335},{100,170}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_skill4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{98,188}}</string>
                <key>offset</key>
                <string>{-59,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{404,322},{98,188}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_skill4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{160,152}}</string>
                <key>offset</key>
                <string>{-14,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{418,349},{160,152}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_skill4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,406},{98,140}}</string>
                <key>offset</key>
                <string>{-79,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{384,306},{98,140}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_skill4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,722},{146,64}}</string>
                <key>offset</key>
                <string>{-45,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{394,390},{146,64}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_skill4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,648},{82,104}}</string>
                <key>offset</key>
                <string>{-78,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{393,374},{82,104}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_skill4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{198,116}}</string>
                <key>offset</key>
                <string>{-57,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{356,386},{198,116}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_skill4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,278},{84,130}}</string>
                <key>offset</key>
                <string>{-33,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{437,353},{84,130}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_skill4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,68},{140,94}}</string>
                <key>offset</key>
                <string>{-19,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{423,342},{140,94}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_skill4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,506},{92,140}}</string>
                <key>offset</key>
                <string>{-5,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{461,233},{92,140}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_skill4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{296,64}}</string>
                <key>offset</key>
                <string>{-65,183}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{299,169},{296,64}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_skill4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,354},{72,98}}</string>
                <key>offset</key>
                <string>{-46,209}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{430,126},{72,98}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_skill4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,192},{86,84}}</string>
                <key>offset</key>
                <string>{30,139}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{499,203},{86,84}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_skill4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,658},{96,74}}</string>
                <key>offset</key>
                <string>{-28,78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{436,269},{96,74}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_skill4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,506},{80,150}}</string>
                <key>offset</key>
                <string>{-112,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{360,206},{80,150}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_skill4_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,72},{118,86}}</string>
                <key>offset</key>
                <string>{94,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{547,377},{118,86}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_skill4_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,428},{76,98}}</string>
                <key>offset</key>
                <string>{112,-187}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{586,522},{76,98}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_skill4_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,702},{98,88}}</string>
                <key>offset</key>
                <string>{101,-183}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{564,523},{98,88}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_skill4_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,636},{102,84}}</string>
                <key>offset</key>
                <string>{99,-180}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{560,522},{102,84}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_skill4_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,722},{68,96}}</string>
                <key>offset</key>
                <string>{63,-96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{541,432},{68,96}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_skill4_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,410},{126,92}}</string>
                <key>offset</key>
                <string>{12,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{461,359},{126,92}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_skill4_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,210},{152,108}}</string>
                <key>offset</key>
                <string>{2,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{438,362},{152,108}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_skill4_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,340},{188,44}}</string>
                <key>offset</key>
                <string>{-46,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{372,441},{188,44}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill4_0.pvr</string>
            <key>size</key>
            <string>{512,792}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:954d0e6dc837287463fc13f2c98c683d:1/1$</string>
            <key>textureFileName</key>
            <string>skill4_0.pvr</string>
        </dict>
    </dict>
</plist>
