<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_ck_weapon_1_skill3_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,250},{64,86}}</string>
                <key>offset</key>
                <string>{-162,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{318,312},{64,86}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_skill3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,254},{98,80}}</string>
                <key>offset</key>
                <string>{-127,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{336,325},{98,80}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_skill3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,140},{78,112}}</string>
                <key>offset</key>
                <string>{-46,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{427,379},{78,112}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_skill3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,134},{100,80}}</string>
                <key>offset</key>
                <string>{-111,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{351,362},{100,80}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_skill3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,366},{22,88}}</string>
                <key>offset</key>
                <string>{-136,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{365,293},{22,88}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_skill3_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,366},{22,88}}</string>
                <key>offset</key>
                <string>{-135,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{366,294},{22,88}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_skill3_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,250},{80,150}}</string>
                <key>offset</key>
                <string>{-109,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{363,295},{80,150}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_skill3_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,2},{136,220}}</string>
                <key>offset</key>
                <string>{-78,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{366,294},{136,220}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_skill3_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,226},{202,172}}</string>
                <key>offset</key>
                <string>{-44,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{367,294},{202,172}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_skill3_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,238},{80,82}}</string>
                <key>offset</key>
                <string>{27,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{499,291},{80,82}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_skill3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,238},{80,82}}</string>
                <key>offset</key>
                <string>{27,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{499,291},{80,82}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_skill3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{218,254}}</string>
                <key>offset</key>
                <string>{-42,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{361,292},{218,254}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_skill3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,322},{74,78}}</string>
                <key>offset</key>
                <string>{-153,-102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{322,447},{74,78}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_skill3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,332},{92,32}}</string>
                <key>offset</key>
                <string>{-205,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,395},{92,32}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_skill3_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,322},{92,32}}</string>
                <key>offset</key>
                <string>{-205,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,395},{92,32}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_skill3_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{324,98}}</string>
                <key>offset</key>
                <string>{-89,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,329},{324,98}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_skill3_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,304},{72,86}}</string>
                <key>offset</key>
                <string>{14,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{490,247},{72,86}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_skill3_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,216},{72,86}}</string>
                <key>offset</key>
                <string>{14,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{490,247},{72,86}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_skill3_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,102},{272,122}}</string>
                <key>offset</key>
                <string>{-86,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{290,247},{272,122}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_skill3_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,140},{192,108}}</string>
                <key>offset</key>
                <string>{-46,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{370,247},{192,108}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_skill3_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,130},{146,106}}</string>
                <key>offset</key>
                <string>{-20,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{419,299},{146,106}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_skill3_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,2},{70,130}}</string>
                <key>offset</key>
                <string>{-34,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{443,309},{70,130}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_skill3_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,226},{44,134}}</string>
                <key>offset</key>
                <string>{-66,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{424,302},{44,134}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_skill3_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,2},{176,126}}</string>
                <key>offset</key>
                <string>{-105,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{319,287},{176,126}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_skill3_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{196,118}}</string>
                <key>offset</key>
                <string>{-114,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{300,284},{196,118}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill3_0.pvr</string>
            <key>size</key>
            <string>{1020,400}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:680c128dd312381bbe642607bae2c7be:1/1$</string>
            <key>textureFileName</key>
            <string>skill3_0.pvr</string>
        </dict>
    </dict>
</plist>
