<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_ck_weapon_1_up_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,534},{98,74}}</string>
                <key>offset</key>
                <string>{-174,-142}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{289,489},{98,74}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_up_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,610},{92,50}}</string>
                <key>offset</key>
                <string>{-171,-154}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{295,513},{92,50}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_up_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{104,62}}</string>
                <key>offset</key>
                <string>{-157,-143}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{303,496},{104,62}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_up_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{106,96}}</string>
                <key>offset</key>
                <string>{-140,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{319,435},{106,96}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_up_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,114}}</string>
                <key>offset</key>
                <string>{-91,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{365,396},{112,114}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_up_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,662},{62,128}}</string>
                <key>offset</key>
                <string>{-70,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{411,381},{62,128}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_up_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{110,126}}</string>
                <key>offset</key>
                <string>{-60,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{397,380},{110,126}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_up_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{106,124}}</string>
                <key>offset</key>
                <string>{-67,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{392,375},{106,124}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>up_0.pvr</string>
            <key>size</key>
            <string>{116,792}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f13a5b2faeb738fe3f3d5f7b22d03cfe:1/1$</string>
            <key>textureFileName</key>
            <string>up_0.pvr</string>
        </dict>
    </dict>
</plist>
