<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_normal_025_fx_atk1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{108,100}}</string>
                <key>offset</key>
                <string>{31,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,150},{108,100}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_025_fx_atk1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{142,134}}</string>
                <key>offset</key>
                <string>{25,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,137},{142,134}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_025_fx_atk1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{148,130}}</string>
                <key>offset</key>
                <string>{24,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,128},{148,130}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_025_fx_atk1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,134},{150,134}}</string>
                <key>offset</key>
                <string>{30,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,129},{150,134}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_025_fx_atk1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,138},{162,134}}</string>
                <key>offset</key>
                <string>{33,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,128},{162,134}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_025_fx_atk1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,274},{182,134}}</string>
                <key>offset</key>
                <string>{35,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,129},{182,134}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_025_fx_atk1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{156,140}}</string>
                <key>offset</key>
                <string>{20,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,124},{156,140}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_025_fx_atk1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,274},{156,150}}</string>
                <key>offset</key>
                <string>{27,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,121},{156,150}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_025_fx_atk1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{178,132}}</string>
                <key>offset</key>
                <string>{25,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,128},{178,132}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_025_fx_atk1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,84}}</string>
                <key>offset</key>
                <string>{39,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{263,180},{64,84}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atk1_0.pvr</string>
            <key>size</key>
            <string>{502,426}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1cc61d296d53c025cc266dc2c57ed4c3:1/1$</string>
            <key>textureFileName</key>
            <string>atk1_0.pvr</string>
        </dict>
    </dict>
</plist>
