<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jiguan_muxiang_down_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,130}}</string>
                <key>offset</key>
                <string>{-51,-139}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{385,458},{152,130}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>jiguan_muxiang_down_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{230,142}}</string>
                <key>offset</key>
                <string>{-65,-133}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{332,446},{230,142}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>jiguan_muxiang_down_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,234},{330,158}}</string>
                <key>offset</key>
                <string>{-61,-125}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{286,430},{330,158}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>jiguan_muxiang_down_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{386,124}}</string>
                <key>offset</key>
                <string>{-62,-142}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{257,464},{386,124}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>jiguan_muxiang_down_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,566},{394,106}}</string>
                <key>offset</key>
                <string>{-77,-161}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,492},{394,106}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>jiguan_muxiang_down_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,566},{394,106}}</string>
                <key>offset</key>
                <string>{-77,-161}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,492},{394,106}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>jiguan_muxiang_down_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{394,106}}</string>
                <key>offset</key>
                <string>{-77,-161}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,492},{394,106}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>down_0.pvr</string>
            <key>size</key>
            <string>{326,962}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8feee9a2f47f01d17c7f2979c6b0afc7:1/1$</string>
            <key>textureFileName</key>
            <string>down_0.pvr</string>
        </dict>
    </dict>
</plist>
