<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_pet10_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{58,90}}</string>
                <key>offset</key>
                <string>{-12,-105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{359,360},{58,90}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet10_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{58,90}}</string>
                <key>offset</key>
                <string>{-12,-105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{359,360},{58,90}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet10_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{58,88}}</string>
                <key>offset</key>
                <string>{-12,-106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{359,362},{58,88}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet10_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{60,88}}</string>
                <key>offset</key>
                <string>{-12,-105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{358,361},{60,88}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet10_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,62},{62,90}}</string>
                <key>offset</key>
                <string>{-12,-105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{357,360},{62,90}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet10_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,62},{60,92}}</string>
                <key>offset</key>
                <string>{-11,-104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{359,358},{60,92}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet10_idle_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,62},{60,92}}</string>
                <key>offset</key>
                <string>{-12,-104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{358,358},{60,92}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet10_idle_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,90}}</string>
                <key>offset</key>
                <string>{-12,-105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{359,360},{58,90}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>idle_0.pvr</string>
            <key>size</key>
            <string>{372,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e8b557b8ebfe7c57a8507d433e7f265:1/1$</string>
            <key>textureFileName</key>
            <string>idle_0.pvr</string>
        </dict>
    </dict>
</plist>
