<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_pet10_skill1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{48,90}}</string>
                <key>offset</key>
                <string>{-7,-106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{369,361},{48,90}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet10_skill1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,312},{110,88}}</string>
                <key>offset</key>
                <string>{0,-106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{345,362},{110,88}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet10_skill1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,424},{108,114}}</string>
                <key>offset</key>
                <string>{13,-93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{359,336},{108,114}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet10_skill1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,94},{124,72}}</string>
                <key>offset</key>
                <string>{-11,-114}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{327,378},{124,72}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet10_skill1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,534},{108,72}}</string>
                <key>offset</key>
                <string>{-1,-96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{345,360},{108,72}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet10_skill1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{136,80}}</string>
                <key>offset</key>
                <string>{-3,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{329,329},{136,80}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet10_skill1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{150,112}}</string>
                <key>offset</key>
                <string>{2,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{327,292},{150,112}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet10_skill1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,84}}</string>
                <key>offset</key>
                <string>{0,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{310,321},{180,84}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet10_skill1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,220},{92,90}}</string>
                <key>offset</key>
                <string>{-1,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{353,322},{92,90}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet10_skill1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{144,78}}</string>
                <key>offset</key>
                <string>{5,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{333,330},{144,78}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet10_skill1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{124,132}}</string>
                <key>offset</key>
                <string>{-1,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{337,309},{124,132}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet10_skill1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{178,84}}</string>
                <key>offset</key>
                <string>{2,-103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{313,361},{178,84}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet10_skill1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,576},{40,84}}</string>
                <key>offset</key>
                <string>{-2,-104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{378,362},{40,84}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill1_0.pvr</string>
            <key>size</key>
            <string>{256,618}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a7e6f7b6d7e0ada258327d579ea1aa2:1/1$</string>
            <key>textureFileName</key>
            <string>skill1_0.pvr</string>
        </dict>
    </dict>
</plist>
