<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_normal_003_atk1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,862},{124,142}}</string>
                <key>offset</key>
                <string>{-12,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{438,392},{124,142}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_003_atk1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{72,186}}</string>
                <key>offset</key>
                <string>{-56,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{420,348},{72,186}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_003_atk1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{152,156}}</string>
                <key>offset</key>
                <string>{-90,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{346,378},{152,156}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_003_atk1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{168,128}}</string>
                <key>offset</key>
                <string>{-96,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{332,400},{168,128}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_003_atk1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,192}}</string>
                <key>offset</key>
                <string>{-60,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{389,325},{126,192}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_003_atk1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{150,110}}</string>
                <key>offset</key>
                <string>{16,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{453,400},{150,110}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_003_atk1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{144,98}}</string>
                <key>offset</key>
                <string>{-7,-104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{433,439},{144,98}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_003_atk1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,526},{148,116}}</string>
                <key>offset</key>
                <string>{4,-149}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{442,475},{148,116}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_003_atk1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,318},{144,108}}</string>
                <key>offset</key>
                <string>{5,-154}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{445,484},{144,108}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_003_atk1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,728},{132,118}}</string>
                <key>offset</key>
                <string>{8,-152}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{454,477},{132,118}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_003_atk1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,464},{128,114}}</string>
                <key>offset</key>
                <string>{9,-155}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{457,482},{128,114}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_003_atk1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,594},{132,110}}</string>
                <key>offset</key>
                <string>{9,-154}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{455,483},{132,110}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_003_atk1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,744},{138,108}}</string>
                <key>offset</key>
                <string>{8,-149}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{451,479},{138,108}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_003_atk1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,862},{130,108}}</string>
                <key>offset</key>
                <string>{-1,-143}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{446,473},{130,108}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_003_atk1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,190},{96,126}}</string>
                <key>offset</key>
                <string>{-23,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{441,433},{96,126}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atk1_0.pvr</string>
            <key>size</key>
            <string>{270,994}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dc377c41c574a1354a506d750a4db9e7:1/1$</string>
            <key>textureFileName</key>
            <string>atk1_0.pvr</string>
        </dict>
    </dict>
</plist>
