<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_normal_003_down_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,116}}</string>
                <key>offset</key>
                <string>{-46,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{406,405},{120,116}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_003_down_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,2},{136,94}}</string>
                <key>offset</key>
                <string>{-40,-105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{404,442},{136,94}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_003_down_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,2},{162,96}}</string>
                <key>offset</key>
                <string>{-35,-144}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{396,480},{162,96}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_003_down_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{162,106}}</string>
                <key>offset</key>
                <string>{-34,-144}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{397,475},{162,106}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_003_down_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{162,110}}</string>
                <key>offset</key>
                <string>{-37,-146}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{394,475},{162,110}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_003_down_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{162,96}}</string>
                <key>offset</key>
                <string>{-38,-155}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{393,491},{162,96}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>down_0.pvr</string>
            <key>size</key>
            <string>{918,120}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d211bf8961604a488008e820263d848c:1/1$</string>
            <key>textureFileName</key>
            <string>down_0.pvr</string>
        </dict>
    </dict>
</plist>
