<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_huaxiong_fx_skill2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,114}}</string>
                <key>offset</key>
                <string>{-26,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,165},{62,114}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_huaxiong_fx_skill2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{186,84}}</string>
                <key>offset</key>
                <string>{-50,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,144},{186,84}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_huaxiong_fx_skill2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{256,192}}</string>
                <key>offset</key>
                <string>{-36,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,100},{256,192}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_huaxiong_fx_skill2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,258},{304,158}}</string>
                <key>offset</key>
                <string>{-10,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,132},{304,158}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_huaxiong_fx_skill2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,418},{290,214}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,78},{290,214}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_huaxiong_fx_skill2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,590},{240,226}}</string>
                <key>offset</key>
                <string>{23,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,62},{240,226}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_huaxiong_fx_skill2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,634},{270,260}}</string>
                <key>offset</key>
                <string>{2,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,30},{270,260}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_huaxiong_fx_skill2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,634},{336,214}}</string>
                <key>offset</key>
                <string>{-24,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,74},{336,214}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_huaxiong_fx_skill2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,418},{314,204}}</string>
                <key>offset</key>
                <string>{10,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,75},{314,204}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_huaxiong_fx_skill2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{390,118}}</string>
                <key>offset</key>
                <string>{-24,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,148},{390,118}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_huaxiong_fx_skill2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{392,118}}</string>
                <key>offset</key>
                <string>{-39,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,149},{392,118}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_huaxiong_fx_skill2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,122},{378,134}}</string>
                <key>offset</key>
                <string>{-35,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,135},{378,134}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_huaxiong_fx_skill2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{392,152}}</string>
                <key>offset</key>
                <string>{-34,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,126},{392,152}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill2_0.pvr</string>
            <key>size</key>
            <string>{868,896}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:68c39aebdca062ec4052fd93fafb6860:1/1$</string>
            <key>textureFileName</key>
            <string>skill2_0.pvr</string>
        </dict>
    </dict>
</plist>
