<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_normal_034_atk1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,450},{240,108}}</string>
                <key>offset</key>
                <string>{16,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{408,362},{240,108}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_034_atk1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{256,104}}</string>
                <key>offset</key>
                <string>{2,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{386,366},{256,104}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_034_atk1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{258,106}}</string>
                <key>offset</key>
                <string>{-9,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{374,364},{258,106}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_034_atk1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{266,102}}</string>
                <key>offset</key>
                <string>{1,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{380,368},{266,102}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_034_atk1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{270,132}}</string>
                <key>offset</key>
                <string>{49,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{426,334},{270,132}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_034_atk1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{256,124}}</string>
                <key>offset</key>
                <string>{79,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{463,342},{256,124}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_034_atk1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,580},{246,106}}</string>
                <key>offset</key>
                <string>{84,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{473,371},{246,106}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_034_atk1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,778},{244,106}}</string>
                <key>offset</key>
                <string>{78,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{468,371},{244,106}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_034_atk1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,670},{244,106}}</string>
                <key>offset</key>
                <string>{72,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{462,371},{244,106}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_034_atk1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,338},{236,110}}</string>
                <key>offset</key>
                <string>{65,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{459,367},{236,110}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_034_atk1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{226,112}}</string>
                <key>offset</key>
                <string>{60,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{459,365},{226,112}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_034_atk1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,222},{220,114}}</string>
                <key>offset</key>
                <string>{54,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{456,363},{220,114}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_034_atk1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,670},{212,110}}</string>
                <key>offset</key>
                <string>{46,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{452,360},{212,110}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_034_atk1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,116},{222,104}}</string>
                <key>offset</key>
                <string>{32,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{433,361},{222,104}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_034_atk1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,560},{236,108}}</string>
                <key>offset</key>
                <string>{18,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{412,362},{236,108}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atk1_0.pvr</string>
            <key>size</key>
            <string>{502,886}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:50c3d1059ca01d920026cc753a000639:1/1$</string>
            <key>textureFileName</key>
            <string>atk1_0.pvr</string>
        </dict>
    </dict>
</plist>
