<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_zl_fx_skill2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{236,140}}</string>
                <key>offset</key>
                <string>{26,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,157},{236,140}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_zl_fx_skill2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{222,134}}</string>
                <key>offset</key>
                <string>{25,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,162},{222,134}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_zl_fx_skill2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,64}}</string>
                <key>offset</key>
                <string>{-25,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,230},{116,64}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill2_1.pvr</string>
            <key>size</key>
            <string>{240,346}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:55d9e463a0bb47a2ae3d2cc190fe3045:1/1$</string>
            <key>textureFileName</key>
            <string>skill2_1.pvr</string>
        </dict>
    </dict>
</plist>
