<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_normal_030_atk1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{258,290}}</string>
                <key>offset</key>
                <string>{0,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{383,180},{258,290}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_030_atk1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,278},{240,288}}</string>
                <key>offset</key>
                <string>{20,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{412,174},{240,288}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_030_atk1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,278},{220,286}}</string>
                <key>offset</key>
                <string>{37,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{439,172},{220,286}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_030_atk1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,274},{210,280}}</string>
                <key>offset</key>
                <string>{45,74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{452,170},{210,280}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_030_atk1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,2},{208,278}}</string>
                <key>offset</key>
                <string>{49,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{457,173},{208,278}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_030_atk1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{254,274}}</string>
                <key>offset</key>
                <string>{14,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{399,174},{254,274}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_030_atk1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{266,274}}</string>
                <key>offset</key>
                <string>{-14,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{365,175},{266,274}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_030_atk1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{224,270}}</string>
                <key>offset</key>
                <string>{-15,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{385,181},{224,270}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_030_atk1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,486},{188,266}}</string>
                <key>offset</key>
                <string>{-21,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{397,187},{188,266}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_030_atk1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,570},{182,264}}</string>
                <key>offset</key>
                <string>{-18,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{403,193},{182,264}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_030_atk1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,566},{186,284}}</string>
                <key>offset</key>
                <string>{-22,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{397,193},{186,284}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atk1_0.pvr</string>
            <key>size</key>
            <string>{1024,754}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d910a819f0edef74ed3b8ed0c1ab183c:1/1$</string>
            <key>textureFileName</key>
            <string>atk1_0.pvr</string>
        </dict>
    </dict>
</plist>
