<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_normal_030_hurt_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,580},{284,284}}</string>
                <key>offset</key>
                <string>{-7,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{363,184},{284,284}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_030_hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,296},{294,282}}</string>
                <key>offset</key>
                <string>{6,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{371,180},{294,282}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_030_hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{250,320}}</string>
                <key>offset</key>
                <string>{48,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{435,152},{250,320}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_030_hurt_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{208,302}}</string>
                <key>offset</key>
                <string>{9,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{417,173},{208,302}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_030_hurt_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,748},{244,276}}</string>
                <key>offset</key>
                <string>{4,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{394,193},{244,276}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_030_hurt_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{280,292}}</string>
                <key>offset</key>
                <string>{2,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{374,185},{280,292}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_030_hurt_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{286,282}}</string>
                <key>offset</key>
                <string>{-6,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{363,185},{286,282}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hurt_0.pvr</string>
            <key>size</key>
            <string>{606,994}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:152fdf327f2896c457be427a656724a7:1/1$</string>
            <key>textureFileName</key>
            <string>hurt_0.pvr</string>
        </dict>
    </dict>
</plist>
