<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_normal_030_run_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,268},{128,248}}</string>
                <key>offset</key>
                <string>{8,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{456,199},{128,248}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_030_run_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{206,236}}</string>
                <key>offset</key>
                <string>{-32,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{377,203},{206,236}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_030_run_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{284,200}}</string>
                <key>offset</key>
                <string>{4,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{374,224},{284,200}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_030_run_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,288},{244,226}}</string>
                <key>offset</key>
                <string>{-18,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{372,205},{244,226}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_030_run_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,2},{184,258}}</string>
                <key>offset</key>
                <string>{-16,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{404,188},{184,258}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_030_run_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,262},{146,256}}</string>
                <key>offset</key>
                <string>{6,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{445,183},{146,256}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_030_run_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,2},{182,258}}</string>
                <key>offset</key>
                <string>{-11,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{410,184},{182,258}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_030_run_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,268},{238,238}}</string>
                <key>offset</key>
                <string>{-15,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{378,204},{238,238}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_030_run_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{292,216}}</string>
                <key>offset</key>
                <string>{0,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{366,224},{292,216}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_030_run_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{200,264}}</string>
                <key>offset</key>
                <string>{-25,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{387,195},{200,264}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>run_0.pvr</string>
            <key>size</key>
            <string>{1010,520}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d5997226c0cd8673891da80f7192fb5f:1/1$</string>
            <key>textureFileName</key>
            <string>run_0.pvr</string>
        </dict>
    </dict>
</plist>
