<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_zs_weapon_1_fx_jump_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,348}}</string>
                <key>offset</key>
                <string>{-98,-135}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{343,345},{142,348}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_1_fx_jump_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{144,334}}</string>
                <key>offset</key>
                <string>{-105,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{335,268},{144,334}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_1_fx_jump_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,148},{270,268}}</string>
                <key>offset</key>
                <string>{-120,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,255},{270,268}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_1_fx_jump_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{286,256}}</string>
                <key>offset</key>
                <string>{-121,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,264},{286,256}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jump_0.pvr</string>
            <key>size</key>
            <string>{688,418}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:50f6cbebee71756c6b0783ed05ac6b28:1/1$</string>
            <key>textureFileName</key>
            <string>jump_0.pvr</string>
        </dict>
    </dict>
</plist>
