<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_zs_weapon_1_fx_sprint_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{282,254}}</string>
                <key>offset</key>
                <string>{-79,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{292,319},{282,254}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_1_fx_sprint_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{278,252}}</string>
                <key>offset</key>
                <string>{-75,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{298,314},{278,252}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_1_fx_sprint_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{274,252}}</string>
                <key>offset</key>
                <string>{-74,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{301,308},{274,252}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_1_fx_sprint_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,2},{270,256}}</string>
                <key>offset</key>
                <string>{-78,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{299,307},{270,256}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_1_fx_sprint_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,256},{270,260}}</string>
                <key>offset</key>
                <string>{-81,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{296,316},{270,260}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_1_fx_sprint_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,260},{272,262}}</string>
                <key>offset</key>
                <string>{-75,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{301,305},{272,262}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_1_fx_sprint_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{276,264}}</string>
                <key>offset</key>
                <string>{-70,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{304,294},{276,264}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_1_fx_sprint_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,524},{284,262}}</string>
                <key>offset</key>
                <string>{-71,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{299,298},{284,262}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprint_0.pvr</string>
            <key>size</key>
            <string>{832,788}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a527b86fa2d963e9557745e0a914c2bf:1/1$</string>
            <key>textureFileName</key>
            <string>sprint_0.pvr</string>
        </dict>
    </dict>
</plist>
