<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_jiuying_fx_skill2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,456},{252,152}}</string>
                <key>offset</key>
                <string>{-5,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,179},{252,152}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_jiuying_fx_skill2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{240,146}}</string>
                <key>offset</key>
                <string>{1,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,186},{240,146}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_jiuying_fx_skill2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{242,150}}</string>
                <key>offset</key>
                <string>{4,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,191},{242,150}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_jiuying_fx_skill2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,610},{246,156}}</string>
                <key>offset</key>
                <string>{2,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,185},{246,156}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_jiuying_fx_skill2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,590},{242,158}}</string>
                <key>offset</key>
                <string>{4,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,184},{242,158}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_jiuying_fx_skill2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,768},{240,158}}</string>
                <key>offset</key>
                <string>{6,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,184},{240,158}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_jiuying_fx_skill2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,750},{240,158}}</string>
                <key>offset</key>
                <string>{6,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,184},{240,158}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_jiuying_fx_skill2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{234,156}}</string>
                <key>offset</key>
                <string>{8,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,185},{234,156}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_jiuying_fx_skill2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,220},{234,158}}</string>
                <key>offset</key>
                <string>{7,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,183},{234,158}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_jiuying_fx_skill2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,132},{218,146}}</string>
                <key>offset</key>
                <string>{12,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,190},{218,146}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_jiuying_fx_skill2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{216,142}}</string>
                <key>offset</key>
                <string>{13,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,191},{216,142}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_jiuying_fx_skill2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{214,128}}</string>
                <key>offset</key>
                <string>{14,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,203},{214,128}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_jiuying_fx_skill2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,102}}</string>
                <key>offset</key>
                <string>{16,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,228},{208,102}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill2_0.pvr</string>
            <key>size</key>
            <string>{572,928}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d03e0e0a59a5cfc1f77ee8108dc40b33:1/1$</string>
            <key>textureFileName</key>
            <string>skill2_0.pvr</string>
        </dict>
    </dict>
</plist>
