<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_cyz_idle_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{284,258}}</string>
                <key>offset</key>
                <string>{-18,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{352,290},{284,258}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_cyz_idle_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{276,262}}</string>
                <key>offset</key>
                <string>{-19,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{355,286},{276,262}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>idle_1.pvr</string>
            <key>size</key>
            <string>{266,566}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:908c1adde121b72a68bb53f08389c412:1/1$</string>
            <key>textureFileName</key>
            <string>idle_1.pvr</string>
        </dict>
    </dict>
</plist>
