<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_cyz_skill1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,684},{560,214}}</string>
                <key>offset</key>
                <string>{91,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{323,329},{560,214}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_cyz_skill1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{570,212}}</string>
                <key>offset</key>
                <string>{98,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{325,331},{570,212}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_cyz_skill1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{570,216}}</string>
                <key>offset</key>
                <string>{99,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{326,327},{570,216}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_cyz_skill1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{570,248}}</string>
                <key>offset</key>
                <string>{99,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{326,295},{570,248}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill1_1.pvr</string>
            <key>size</key>
            <string>{574,900}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e82a3925205b93944f0a20f1d0aa052f:1/1$</string>
            <key>textureFileName</key>
            <string>skill1_1.pvr</string>
        </dict>
    </dict>
</plist>
