<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_cyz_skill2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{236,220}}</string>
                <key>offset</key>
                <string>{-79,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{315,323},{236,220}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_cyz_skill2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{248,218}}</string>
                <key>offset</key>
                <string>{-69,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{319,325},{248,218}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill2_2.pvr</string>
            <key>size</key>
            <string>{224,490}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d5aeff316297331031c155e7b2a84488:1/1$</string>
            <key>textureFileName</key>
            <string>skill2_2.pvr</string>
        </dict>
    </dict>
</plist>
