<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_cyz_skill1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,2},{314,250}}</string>
                <key>offset</key>
                <string>{-20,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{335,293},{314,250}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_cyz_skill1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{328,236}}</string>
                <key>offset</key>
                <string>{-16,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{332,307},{328,236}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_cyz_skill1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{334,244}}</string>
                <key>offset</key>
                <string>{-69,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,296},{334,244}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_cyz_skill1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{244,318}}</string>
                <key>offset</key>
                <string>{-132,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{258,221},{244,318}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_cyz_skill1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,248},{224,316}}</string>
                <key>offset</key>
                <string>{-149,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{251,224},{224,316}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_cyz_skill1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,254},{224,304}}</string>
                <key>offset</key>
                <string>{-143,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{257,235},{224,304}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill1_0.pvr</string>
            <key>size</key>
            <string>{974,486}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:626054eb9d598f968ca2266928fabb8e:1/1$</string>
            <key>textureFileName</key>
            <string>skill1_0.pvr</string>
        </dict>
    </dict>
</plist>
