<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_cyz_skill1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{460,306}}</string>
                <key>offset</key>
                <string>{45,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{327,236},{460,306}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_cyz_skill1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{394,256}}</string>
                <key>offset</key>
                <string>{12,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{327,287},{394,256}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill1_2.pvr</string>
            <key>size</key>
            <string>{464,568}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:45fe2d4c0d38559598b2148cd039a6a6:1/1$</string>
            <key>textureFileName</key>
            <string>skill1_2.pvr</string>
        </dict>
    </dict>
</plist>
