<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_fs_weapon_2_fx_sprint_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,2},{146,142}}</string>
                <key>offset</key>
                <string>{2,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{441,348},{146,142}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_2_fx_sprint_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,2},{146,144}}</string>
                <key>offset</key>
                <string>{5,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{444,347},{146,144}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_2_fx_sprint_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,2},{142,152}}</string>
                <key>offset</key>
                <string>{8,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{449,341},{142,152}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_2_fx_sprint_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,160}}</string>
                <key>offset</key>
                <string>{8,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{450,333},{140,160}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_2_fx_sprint_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{140,158}}</string>
                <key>offset</key>
                <string>{8,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{450,333},{140,158}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_2_fx_sprint_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{144,148}}</string>
                <key>offset</key>
                <string>{5,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{445,343},{144,148}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_2_fx_sprint_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,146},{148,146}}</string>
                <key>offset</key>
                <string>{2,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{440,343},{148,146}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_2_fx_sprint_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,144},{152,144}}</string>
                <key>offset</key>
                <string>{3,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{439,340},{152,144}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_2_fx_sprint_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,148},{164,146}}</string>
                <key>offset</key>
                <string>{9,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{439,333},{164,146}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_2_fx_sprint_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,148},{166,146}}</string>
                <key>offset</key>
                <string>{10,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{439,330},{166,146}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_2_fx_sprint_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,144},{158,144}}</string>
                <key>offset</key>
                <string>{6,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{439,332},{158,144}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_2_fx_sprint_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{150,140}}</string>
                <key>offset</key>
                <string>{2,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{439,341},{150,140}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprint_0.pvr</string>
            <key>size</key>
            <string>{950,296}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a1d36f50c9c9a92b6f8ecd056aefc508:1/1$</string>
            <key>textureFileName</key>
            <string>sprint_0.pvr</string>
        </dict>
    </dict>
</plist>
