<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bossguanghuan_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,56},{116,52}}</string>
                <key>offset</key>
                <string>{13,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,219},{116,52}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>bossguanghuan_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{126,48}}</string>
                <key>offset</key>
                <string>{13,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,221},{126,48}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>bossguanghuan_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,52},{120,50}}</string>
                <key>offset</key>
                <string>{11,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,220},{120,50}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>bossguanghuan_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,52},{120,50}}</string>
                <key>offset</key>
                <string>{14,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,220},{120,50}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>bossguanghuan_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{126,48}}</string>
                <key>offset</key>
                <string>{11,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,221},{126,48}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>bossguanghuan_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,2},{116,52}}</string>
                <key>offset</key>
                <string>{12,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,219},{116,52}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>bossguanghuan_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{126,48}}</string>
                <key>offset</key>
                <string>{12,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,221},{126,48}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>bossguanghuan_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,52},{120,50}}</string>
                <key>offset</key>
                <string>{11,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,220},{120,50}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>bossguanghuan_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{120,50}}</string>
                <key>offset</key>
                <string>{14,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,220},{120,50}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>bossguanghuan_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,48}}</string>
                <key>offset</key>
                <string>{12,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,220},{126,48}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bossguanghuan_0.pvr</string>
            <key>size</key>
            <string>{632,110}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d19ad8b75f06b91d5439b6a40aa534d3:1/1$</string>
            <key>textureFileName</key>
            <string>bossguanghuan_0.pvr</string>
        </dict>
    </dict>
</plist>
