<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chongwujiaoditexiaolan_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,2},{100,82}}</string>
                <key>offset</key>
                <string>{0,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,181},{100,82}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>chongwujiaoditexiaolan_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,2},{100,82}}</string>
                <key>offset</key>
                <string>{0,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,181},{100,82}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>chongwujiaoditexiaolan_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,2},{100,86}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,177},{100,86}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>chongwujiaoditexiaolan_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,2},{100,82}}</string>
                <key>offset</key>
                <string>{-1,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,181},{100,82}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>chongwujiaoditexiaolan_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{100,82}}</string>
                <key>offset</key>
                <string>{-1,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,181},{100,82}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>chongwujiaoditexiaolan_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{100,82}}</string>
                <key>offset</key>
                <string>{-1,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,181},{100,82}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>chongwujiaoditexiaolan_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,2},{100,84}}</string>
                <key>offset</key>
                <string>{-1,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,179},{100,84}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>chongwujiaoditexiaolan_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{100,82}}</string>
                <key>offset</key>
                <string>{-1,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,181},{100,82}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>chongwujiaoditexiaolan_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{100,82}}</string>
                <key>offset</key>
                <string>{-1,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,181},{100,82}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>chongwujiaoditexiaolan_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,82}}</string>
                <key>offset</key>
                <string>{-1,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,181},{100,82}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chongwujiaoditexiaolan_0.pvr</string>
            <key>size</key>
            <string>{1022,90}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:10d430782f48fc709b2ef80afe906df7:1/1$</string>
            <key>textureFileName</key>
            <string>chongwujiaoditexiaolan_0.pvr</string>
        </dict>
    </dict>
</plist>
