<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chongwukaidantexiao_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,160},{62,64}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>chongwukaidantexiao_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{124,126}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,130},{124,126}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>chongwukaidantexiao_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,360},{186,192}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,97},{186,192}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>chongwukaidantexiao_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,548},{188,192}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,97},{188,192}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>chongwukaidantexiao_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,548},{188,194}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,96},{188,194}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>chongwukaidantexiao_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,744},{190,194}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,96},{190,194}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>chongwukaidantexiao_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,738},{190,194}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,97},{190,194}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>chongwukaidantexiao_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{110,126}}</string>
                <key>offset</key>
                <string>{8,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,100},{110,126}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>chongwukaidantexiao_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{110,120}}</string>
                <key>offset</key>
                <string>{8,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,112},{110,120}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>chongwukaidantexiao_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,236},{126,122}}</string>
                <key>offset</key>
                <string>{1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,117},{126,122}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>chongwukaidantexiao_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,114},{126,120}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,126},{126,120}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>chongwukaidantexiao_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,236},{122,122}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,130},{122,122}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>chongwukaidantexiao_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,114},{120,118}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,144},{120,118}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>chongwukaidantexiao_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{120,120}}</string>
                <key>offset</key>
                <string>{3,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,152},{120,120}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>chongwukaidantexiao_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{114,118}}</string>
                <key>offset</key>
                <string>{6,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,161},{114,118}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chongwukaidantexiao_0.pvr</string>
            <key>size</key>
            <string>{386,940}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3f2c8dc729526a688b42bdce59ffcaf0:1/1$</string>
            <key>textureFileName</key>
            <string>chongwukaidantexiao_0.pvr</string>
        </dict>
    </dict>
</plist>
