<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cikedaoguang_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,40}}</string>
                <key>offset</key>
                <string>{-55,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,196},{58,40}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>cikedaoguang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{118,70}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,155},{118,70}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>cikedaoguang_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,2},{160,94}}</string>
                <key>offset</key>
                <string>{15,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,132},{160,94}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>cikedaoguang_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,2},{136,84}}</string>
                <key>offset</key>
                <string>{9,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,143},{136,84}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>cikedaoguang_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,2},{132,82}}</string>
                <key>offset</key>
                <string>{14,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,144},{132,82}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>cikedaoguang_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{130,68}}</string>
                <key>offset</key>
                <string>{9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,149},{130,68}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>cikedaoguang_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{124,66}}</string>
                <key>offset</key>
                <string>{7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,152},{124,66}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>cikedaoguang_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{108,64}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,156},{108,64}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cikedaoguang_0.pvr</string>
            <key>size</key>
            <string>{984,98}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aaa446f0b0be7faf01896bd1d5497152:1/1$</string>
            <key>textureFileName</key>
            <string>cikedaoguang_0.pvr</string>
        </dict>
    </dict>
</plist>
