<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ck_skill1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{126,108}}</string>
                <key>offset</key>
                <string>{-42,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,182},{126,108}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>ck_skill1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,576},{136,114}}</string>
                <key>offset</key>
                <string>{-47,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,175},{136,114}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>ck_skill1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,692},{134,128}}</string>
                <key>offset</key>
                <string>{-48,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,160},{134,128}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>ck_skill1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,830},{132,140}}</string>
                <key>offset</key>
                <string>{-49,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,146},{132,140}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>ck_skill1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,700},{128,148}}</string>
                <key>offset</key>
                <string>{-50,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,135},{128,148}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>ck_skill1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,578},{120,144}}</string>
                <key>offset</key>
                <string>{-54,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,134},{120,144}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>ck_skill1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,464},{112,128}}</string>
                <key>offset</key>
                <string>{-55,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{145,136},{112,128}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>ck_skill1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,354},{108,126}}</string>
                <key>offset</key>
                <string>{-56,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,138},{108,126}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>ck_skill1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{96,122}}</string>
                <key>offset</key>
                <string>{-54,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,141},{96,122}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>ck_skill1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{82,120}}</string>
                <key>offset</key>
                <string>{-57,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,145},{82,120}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>ck_skill1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,170},{84,120}}</string>
                <key>offset</key>
                <string>{-56,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,146},{84,120}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>ck_skill1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{82,118}}</string>
                <key>offset</key>
                <string>{-56,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,150},{82,118}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>ck_skill1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,86},{82,116}}</string>
                <key>offset</key>
                <string>{-56,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,153},{82,116}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>ck_skill1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{84,114}}</string>
                <key>offset</key>
                <string>{-58,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,154},{84,114}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>ck_skill1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,830},{132,182}}</string>
                <key>offset</key>
                <string>{-34,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,116},{132,182}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>ck_skill1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{110,178}}</string>
                <key>offset</key>
                <string>{-44,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,119},{110,178}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>ck_skill1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,256},{96,174}}</string>
                <key>offset</key>
                <string>{-48,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,120},{96,174}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>ck_skill1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,160}}</string>
                <key>offset</key>
                <string>{-32,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,128},{50,160}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>ck_skill1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,160}}</string>
                <key>offset</key>
                <string>{-32,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,128},{50,160}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ck_skill1_0.pvr</string>
            <key>size</key>
            <string>{312,1014}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8124ce0f0822b08883c4cb747e89d615:1/1$</string>
            <key>textureFileName</key>
            <string>ck_skill1_0.pvr</string>
        </dict>
    </dict>
</plist>
