<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dianjibowen_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,173},{38,38}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>dianjibowen_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,2},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,170},{44,44}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>dianjibowen_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,167},{50,50}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>dianjibowen_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,166},{52,52}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>dianjibowen_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,166},{52,52}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>dianjibowen_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,165},{54,54}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>dianjibowen_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,164},{56,56}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>dianjibowen_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,164},{56,56}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>dianjibowen_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,2},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,163},{58,58}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>dianjibowen_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,163},{58,58}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dianjibowen_0.pvr</string>
            <key>size</key>
            <string>{540,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:caba83a1d116cd09f7da7d595d309b1a:1/1$</string>
            <key>textureFileName</key>
            <string>dianjibowen_0.pvr</string>
        </dict>
    </dict>
</plist>
