<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>diaoqian_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{334,160}}</string>
                <key>offset</key>
                <string>{11,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,80},{334,160}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>diaoqian_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{334,190}}</string>
                <key>offset</key>
                <string>{10,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,65},{334,190}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>diaoqian_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{334,210}}</string>
                <key>offset</key>
                <string>{8,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,63},{334,210}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>diaoqian_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,568},{334,234}}</string>
                <key>offset</key>
                <string>{7,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,60},{334,234}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>diaoqian_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,494},{332,228}}</string>
                <key>offset</key>
                <string>{7,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,64},{332,228}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>diaoqian_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,494},{330,240}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,73},{330,240}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>diaoqian_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,164},{314,238}}</string>
                <key>offset</key>
                <string>{-4,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,86},{314,238}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>diaoqian_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,302},{316,190}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,102},{316,190}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>diaoqian_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,2},{298,172}}</string>
                <key>offset</key>
                <string>{3,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,141},{298,172}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>diaoqian_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{280,142}}</string>
                <key>offset</key>
                <string>{12,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,195},{280,142}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>diaoqian_0.pvr</string>
            <key>size</key>
            <string>{914,828}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e6041e25957599e176d7ec7975cfd793:1/1$</string>
            <key>textureFileName</key>
            <string>diaoqian_0.pvr</string>
        </dict>
    </dict>
</plist>
