<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>duanzaoguangxiao_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,672},{136,160}}</string>
                <key>offset</key>
                <string>{33,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,48},{136,160}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>duanzaoguangxiao_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,834},{126,160}}</string>
                <key>offset</key>
                <string>{27,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,48},{126,160}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>duanzaoguangxiao_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{116,152}}</string>
                <key>offset</key>
                <string>{23,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,56},{116,152}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>duanzaoguangxiao_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,108}}</string>
                <key>offset</key>
                <string>{9,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,100},{126,108}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>duanzaoguangxiao_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{134,110}}</string>
                <key>offset</key>
                <string>{5,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,98},{134,110}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>duanzaoguangxiao_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{142,108}}</string>
                <key>offset</key>
                <string>{1,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,100},{142,108}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>duanzaoguangxiao_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{150,108}}</string>
                <key>offset</key>
                <string>{-3,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,100},{150,108}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>duanzaoguangxiao_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{108,108}}</string>
                <key>offset</key>
                <string>{18,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,100},{108,108}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>duanzaoguangxiao_0.pvr</string>
            <key>size</key>
            <string>{156,996}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:28369237db51416162961c86c5bdf36b:1/1$</string>
            <key>textureFileName</key>
            <string>duanzaoguangxiao_0.pvr</string>
        </dict>
    </dict>
</plist>
