<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_ck_skill1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,2},{40,98}}</string>
                <key>offset</key>
                <string>{-22,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,171},{40,98}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>effect_ck_skill1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{98,96}}</string>
                <key>offset</key>
                <string>{-41,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,172},{98,96}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>effect_ck_skill1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{84,94}}</string>
                <key>offset</key>
                <string>{-45,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,175},{84,94}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>effect_ck_skill1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,576},{38,120}}</string>
                <key>offset</key>
                <string>{-33,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,151},{38,120}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>effect_ck_skill1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,816},{50,134}}</string>
                <key>offset</key>
                <string>{-37,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,138},{50,134}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>effect_ck_skill1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,816},{56,130}}</string>
                <key>offset</key>
                <string>{-36,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,141},{56,130}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>effect_ck_skill1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,698},{58,116}}</string>
                <key>offset</key>
                <string>{-34,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,154},{58,116}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>effect_ck_skill1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,576},{56,110}}</string>
                <key>offset</key>
                <string>{-37,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,159},{56,110}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>effect_ck_skill1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{54,108}}</string>
                <key>offset</key>
                <string>{-39,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,161},{54,108}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>effect_ck_skill1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{56,108}}</string>
                <key>offset</key>
                <string>{-38,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,161},{56,108}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>effect_ck_skill1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{58,108}}</string>
                <key>offset</key>
                <string>{-37,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,161},{58,108}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>effect_ck_skill1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{56,108}}</string>
                <key>offset</key>
                <string>{-39,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,161},{56,108}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>effect_ck_skill1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{56,108}}</string>
                <key>offset</key>
                <string>{-37,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,161},{56,108}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>effect_ck_skill1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{56,108}}</string>
                <key>offset</key>
                <string>{-38,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,161},{56,108}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>effect_ck_skill1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1,1}}</string>
                <key>offset</key>
                <string>{-255.5,191.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_ck_skill1_0.pvr</string>
            <key>size</key>
            <string>{112,952}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c48f21f29cde1a2498328333283a241:1/1$</string>
            <key>textureFileName</key>
            <string>effect_ck_skill1_0.pvr</string>
        </dict>
    </dict>
</plist>
