<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fsskill4_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{350,138}}</string>
                <key>offset</key>
                <string>{-10,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,156},{350,138}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>fsskill4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{402,178}}</string>
                <key>offset</key>
                <string>{-18,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,119},{402,178}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>fsskill4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{474,218}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,82},{474,218}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>fsskill4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{466,254}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,48},{466,254}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>fsskill4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,182},{458,286}}</string>
                <key>offset</key>
                <string>{27,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,18},{458,286}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>fsskill4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,658},{474,280}}</string>
                <key>offset</key>
                <string>{19,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,25},{474,280}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>fsskill4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,470},{492,290}}</string>
                <key>offset</key>
                <string>{10,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,18},{492,290}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fsskill4_0.pvr</string>
            <key>size</key>
            <string>{938,964}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c87079686fb9c648dfb32cae15884f5d:1/1$</string>
            <key>textureFileName</key>
            <string>fsskill4_0.pvr</string>
        </dict>
    </dict>
</plist>
