<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hungujinse_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,106},{112,102}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,140},{112,102}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>hungujinse_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{112,102}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,141},{112,102}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>hungujinse_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,2},{112,102}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,141},{112,102}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>hungujinse_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,2},{112,102}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,142},{112,102}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>hungujinse_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,106},{110,102}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,142},{110,102}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>hungujinse_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,106},{108,102}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,142},{108,102}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>hungujinse_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,106},{108,102}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,142},{108,102}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>hungujinse_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,104},{108,102}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,142},{108,102}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>hungujinse_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,104},{108,102}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,142},{108,102}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>hungujinse_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{106,100}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,144},{106,100}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>hungujinse_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,98}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,144},{112,98}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>hungujinse_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{114,100}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,141},{114,100}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>hungujinse_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{112,100}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,142},{112,100}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>hungujinse_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{112,102}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,140},{112,102}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>hungujinse_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,104},{110,102}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,140},{110,102}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hungujinse_0.pvr</string>
            <key>size</key>
            <string>{894,210}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b54e3772a34598119eaab3dd7be98fa:1/1$</string>
            <key>textureFileName</key>
            <string>hungujinse_0.pvr</string>
        </dict>
    </dict>
</plist>
