<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hunguchengse_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,102},{108,98}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,144},{108,98}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>hunguchengse_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,102},{108,98}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,144},{108,98}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>hunguchengse_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,102},{110,98}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,144},{110,98}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>hunguchengse_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,2},{108,98}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,145},{108,98}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>hunguchengse_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,2},{108,98}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,145},{108,98}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>hunguchengse_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,2},{104,98}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,145},{104,98}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>hunguchengse_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,102},{106,98}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,145},{106,98}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>hunguchengse_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,102},{106,98}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,145},{106,98}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>hunguchengse_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{106,98}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,146},{106,98}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>hunguchengse_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{102,96}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,147},{102,96}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>hunguchengse_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,94}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,147},{108,94}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>hunguchengse_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,102},{112,98}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,143},{112,98}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>hunguchengse_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{110,98}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,144},{110,98}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>hunguchengse_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{108,98}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,144},{108,98}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>hunguchengse_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{108,98}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,144},{108,98}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hunguchengse_0.pvr</string>
            <key>size</key>
            <string>{874,202}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f82a489277d1f177abd132f691b68ca1:1/1$</string>
            <key>textureFileName</key>
            <string>hunguchengse_0.pvr</string>
        </dict>
    </dict>
</plist>
