<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kaojituijindutiaoguangxiao_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{108,186}}</string>
                <key>offset</key>
                <string>{-17,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,42},{108,186}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>kaojituijindutiaoguangxiao_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{110,192}}</string>
                <key>offset</key>
                <string>{-18,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,39},{110,192}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>kaojituijindutiaoguangxiao_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,194}}</string>
                <key>offset</key>
                <string>{-16,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,38},{106,194}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>kaojituijindutiaoguangxiao_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,112},{110,200}}</string>
                <key>offset</key>
                <string>{-18,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,34},{110,200}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>kaojituijindutiaoguangxiao_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{112,204}}</string>
                <key>offset</key>
                <string>{-19,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,31},{112,204}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>kaojituijindutiaoguangxiao_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,672},{112,208}}</string>
                <key>offset</key>
                <string>{-19,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,29},{112,208}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>kaojituijindutiaoguangxiao_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{110,206}}</string>
                <key>offset</key>
                <string>{-18,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,25},{110,206}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>kaojituijindutiaoguangxiao_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,570},{112,208}}</string>
                <key>offset</key>
                <string>{-19,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,24},{112,208}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>kaojituijindutiaoguangxiao_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,464},{116,206}}</string>
                <key>offset</key>
                <string>{-19,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,33},{116,206}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>kaojituijindutiaoguangxiao_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,786},{116,208}}</string>
                <key>offset</key>
                <string>{-19,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,29},{116,208}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>kaojituijindutiaoguangxiao_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,904},{118,208}}</string>
                <key>offset</key>
                <string>{-20,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,24},{118,208}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>kaojituijindutiaoguangxiao_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{118,204}}</string>
                <key>offset</key>
                <string>{-20,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,37},{118,204}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>kaojituijindutiaoguangxiao_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,786},{118,208}}</string>
                <key>offset</key>
                <string>{-20,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,34},{118,208}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>kaojituijindutiaoguangxiao_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,224},{120,188}}</string>
                <key>offset</key>
                <string>{-21,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,49},{120,188}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>kaojituijindutiaoguangxiao_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,346},{116,190}}</string>
                <key>offset</key>
                <string>{-21,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,46},{116,190}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>kaojituijindutiaoguangxiao_0.pvr</string>
            <key>size</key>
            <string>{400,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:440f5024c7362537972077d21d9a5bd3:1/1$</string>
            <key>textureFileName</key>
            <string>kaojituijindutiaoguangxiao_0.pvr</string>
        </dict>
    </dict>
</plist>
