<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lansepinjie_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,2},{107,107}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{107,107}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>lansepinjie_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{107,107}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{107,107}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>lansepinjie_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,2},{107,107}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{107,107}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>lansepinjie_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{107,107}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{107,107}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>lansepinjie_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,2},{105,107}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{105,107}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>lansepinjie_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{105,107}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{105,107}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lansepinjie_0.pvr</string>
            <key>size</key>
            <string>{656,111}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aab782ce664f1bcf6bca8d5c1a31ab3b:1/1$</string>
            <key>textureFileName</key>
            <string>lansepinjie_0.pvr</string>
        </dict>
    </dict>
</plist>
