<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lightning_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,2},{39,168}}</string>
                <key>offset</key>
                <string>{22,106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,2},{39,168}}</string>
                <key>sourceSize</key>
                <string>{361,384}</string>
            </dict>
            <key>lightning_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,2},{219,342}}</string>
                <key>offset</key>
                <string>{1,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,2},{219,342}}</string>
                <key>sourceSize</key>
                <string>{361,384}</string>
            </dict>
            <key>lightning_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{305,370}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{305,370}}</string>
                <key>sourceSize</key>
                <string>{361,384}</string>
            </dict>
            <key>lightning_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,365},{347,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{347,384}}</string>
                <key>sourceSize</key>
                <string>{361,384}</string>
            </dict>
            <key>lightning_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,532},{361,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{361,384}}</string>
                <key>sourceSize</key>
                <string>{361,384}</string>
            </dict>
            <key>lightning_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,223},{307,370}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,2},{307,370}}</string>
                <key>sourceSize</key>
                <string>{361,384}</string>
            </dict>
            <key>lightning_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{123,54}}</string>
                <key>offset</key>
                <string>{-5,-92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,257},{123,54}}</string>
                <key>sourceSize</key>
                <string>{361,384}</string>
            </dict>
            <key>lightning_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,2},{83,48}}</string>
                <key>offset</key>
                <string>{-3,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,258},{83,48}}</string>
                <key>sourceSize</key>
                <string>{361,384}</string>
            </dict>
            <key>lightning_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{47,10}}</string>
                <key>offset</key>
                <string>{2,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,273},{47,10}}</string>
                <key>sourceSize</key>
                <string>{361,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lightning_0.pvr</string>
            <key>size</key>
            <string>{775,895}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f0c6390bde189c6b666782608672033:1/1$</string>
            <key>textureFileName</key>
            <string>lightning_0.pvr</string>
        </dict>
    </dict>
</plist>
