<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lingqujiangliguangxiao_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,14}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,185},{104,14}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>lingqujiangliguangxiao_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{282,40}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,172},{282,40}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>lingqujiangliguangxiao_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,684},{392,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,112},{392,160}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>lingqujiangliguangxiao_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,526},{400,156}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,114},{400,156}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>lingqujiangliguangxiao_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{410,142}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,120},{410,142}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>lingqujiangliguangxiao_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{404,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,129},{404,126}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>lingqujiangliguangxiao_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{400,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,136},{400,112}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>lingqujiangliguangxiao_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,44},{96,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,145},{96,94}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>lingqujiangliguangxiao_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,44},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,151},{82,82}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>lingqujiangliguangxiao_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,18},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,160},{64,64}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lingqujiangliguangxiao_0.pvr</string>
            <key>size</key>
            <string>{414,846}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7772a9a8f6e5546cb4810bf78764279b:1/1$</string>
            <key>textureFileName</key>
            <string>lingqujiangliguangxiao_0.pvr</string>
        </dict>
    </dict>
</plist>
