<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qitiaohuichen_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{96,42}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,177},{96,42}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>qitiaohuichen_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,2},{116,52}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,172},{116,52}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>qitiaohuichen_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,2},{124,52}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,170},{124,52}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>qitiaohuichen_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{124,46}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,171},{124,46}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>qitiaohuichen_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{120,42}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,170},{120,42}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>qitiaohuichen_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{114,36}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,171},{114,36}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>qitiaohuichen_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,32}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,171},{90,32}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qitiaohuichen_0.pvr</string>
            <key>size</key>
            <string>{800,56}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c13eb38c1c13bb93056c1cf259a9ae19:1/1$</string>
            <key>textureFileName</key>
            <string>qitiaohuichen_0.pvr</string>
        </dict>
    </dict>
</plist>
