<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shoujidaoguang_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,82}}</string>
                <key>offset</key>
                <string>{22,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,166},{106,82}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>shoujidaoguang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{136,86}}</string>
                <key>offset</key>
                <string>{10,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,168},{136,86}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>shoujidaoguang_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{152,94}}</string>
                <key>offset</key>
                <string>{1,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,169},{152,94}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>shoujidaoguang_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{162,100}}</string>
                <key>offset</key>
                <string>{-5,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,170},{162,100}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>shoujidaoguang_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,2},{160,104}}</string>
                <key>offset</key>
                <string>{-6,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,170},{160,104}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>shoujidaoguang_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{158,110}}</string>
                <key>offset</key>
                <string>{-6,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,170},{158,110}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>shoujidaoguang_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,98},{144,114}}</string>
                <key>offset</key>
                <string>{-6,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,168},{144,114}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>shoujidaoguang_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,104},{130,118}}</string>
                <key>offset</key>
                <string>{-5,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,166},{130,118}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>shoujidaoguang_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,104},{120,118}}</string>
                <key>offset</key>
                <string>{0,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,167},{120,118}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>shoujidaoguang_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,108},{122,118}}</string>
                <key>offset</key>
                <string>{0,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,168},{122,118}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>shoujidaoguang_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,122},{124,118}}</string>
                <key>offset</key>
                <string>{-1,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,168},{124,118}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>shoujidaoguang_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,2},{118,118}}</string>
                <key>offset</key>
                <string>{1,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,168},{118,118}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shoujidaoguang_0.pvr</string>
            <key>size</key>
            <string>{848,242}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d99187c15c188d2c74ab7952d39d2157:1/1$</string>
            <key>textureFileName</key>
            <string>shoujidaoguang_0.pvr</string>
        </dict>
    </dict>
</plist>
