<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shubiaodianji_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,178},{56,28}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>shubiaodianji_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{58,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,177},{58,30}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>shubiaodianji_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{64,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,176},{64,32}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>shubiaodianji_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{70,34}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,176},{70,34}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>shubiaodianji_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{76,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,173},{76,38}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>shubiaodianji_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{80,40}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,173},{80,40}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shubiaodianji_0.pvr</string>
            <key>size</key>
            <string>{418,44}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:605b3810aab96642b841d3a3fb8ab30f:1/1$</string>
            <key>textureFileName</key>
            <string>shubiaodianji_0.pvr</string>
        </dict>
    </dict>
</plist>
