<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wanchengrenwu_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{156,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,174},{156,36}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>wanchengrenwu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{162,40}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,170},{162,40}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>wanchengrenwu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{162,44}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,170},{162,44}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>wanchengrenwu_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,120},{250,60}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,165},{250,60}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>wanchengrenwu_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,410},{310,80}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,155},{310,80}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>wanchengrenwu_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,410},{310,80}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,155},{310,80}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>wanchengrenwu_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{310,80}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,155},{310,80}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>wanchengrenwu_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,328},{310,80}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,155},{310,80}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>wanchengrenwu_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,328},{310,80}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,155},{310,80}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>wanchengrenwu_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{310,80}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,155},{310,80}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>wanchengrenwu_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,246},{310,80}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,155},{310,80}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>wanchengrenwu_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,242},{310,78}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,156},{310,78}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>wanchengrenwu_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{194,54}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,166},{194,54}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>wanchengrenwu_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{196,56}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,165},{196,56}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>wanchengrenwu_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,2},{196,56}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,165},{196,56}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>wanchengrenwu_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,58},{198,58}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,164},{198,58}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>wanchengrenwu_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,118},{200,60}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,163},{200,60}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>wanchengrenwu_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,180},{202,60}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,164},{202,60}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>wanchengrenwu_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,48},{188,56}}</string>
                <key>offset</key>
                <string>{-14,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,163},{188,56}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>wanchengrenwu_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{188,58}}</string>
                <key>offset</key>
                <string>{-14,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,162},{188,58}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>wanchengrenwu_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,60},{188,58}}</string>
                <key>offset</key>
                <string>{-14,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,162},{188,58}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>wanchengrenwu_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,106},{188,60}}</string>
                <key>offset</key>
                <string>{-14,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,161},{188,60}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>wanchengrenwu_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{186,60}}</string>
                <key>offset</key>
                <string>{-13,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,161},{186,60}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>wanchengrenwu_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,168},{188,62}}</string>
                <key>offset</key>
                <string>{-12,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,160},{188,62}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>wanchengrenwu_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{186,62}}</string>
                <key>offset</key>
                <string>{-13,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,160},{186,62}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>wanchengrenwu_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,60},{186,62}}</string>
                <key>offset</key>
                <string>{-12,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,160},{186,62}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>wanchengrenwu_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,182},{186,62}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,161},{186,62}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wanchengrenwu_0.pvr</string>
            <key>size</key>
            <string>{938,492}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:25208ff0b017024a65236344f67127b2:1/1$</string>
            <key>textureFileName</key>
            <string>wanchengrenwu_0.pvr</string>
        </dict>
    </dict>
</plist>
