<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wanjiajiaodiguanghuan_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,28}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,195},{68,28}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>wanjiajiaodiguanghuan_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{68,30}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,194},{68,30}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>wanjiajiaodiguanghuan_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{66,30}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,194},{66,30}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>wanjiajiaodiguanghuan_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{64,30}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,194},{64,30}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>wanjiajiaodiguanghuan_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{64,30}}</string>
                <key>offset</key>
                <string>{1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,194},{64,30}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>wanjiajiaodiguanghuan_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{66,30}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,194},{66,30}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>wanjiajiaodiguanghuan_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{66,30}}</string>
                <key>offset</key>
                <string>{1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,194},{66,30}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wanjiajiaodiguanghuan_0.pvr</string>
            <key>size</key>
            <string>{478,34}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:025f5ac1c39c4b8344125769dcf2fca3:1/1$</string>
            <key>textureFileName</key>
            <string>wanjiajiaodiguanghuan_0.pvr</string>
        </dict>
    </dict>
</plist>
