<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xinfatexiao_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{38,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,173},{38,38}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>xinfatexiao_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,2},{44,44}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,171},{44,44}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>xinfatexiao_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,2},{48,48}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,169},{48,48}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>xinfatexiao_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{42,42}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,172},{42,42}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>xinfatexiao_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{38,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,172},{38,40}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>xinfatexiao_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,2},{44,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,169},{44,46}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>xinfatexiao_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,2},{44,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,169},{44,46}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>xinfatexiao_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{40,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,171},{40,42}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>xinfatexiao_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{40,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,171},{40,42}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>xinfatexiao_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{44,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,169},{44,46}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>xinfatexiao_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{44,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,169},{44,46}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>xinfatexiao_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,2},{38,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,172},{38,40}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>xinfatexiao_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{42,42}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,172},{42,42}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>xinfatexiao_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,2},{48,48}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,169},{48,48}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>xinfatexiao_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{44,44}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,171},{44,44}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xinfatexiao_0.pvr</string>
            <key>size</key>
            <string>{686,52}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bab50ad42c1344e926b59c3df0d072a4:1/1$</string>
            <key>textureFileName</key>
            <string>xinfatexiao_0.pvr</string>
        </dict>
    </dict>
</plist>
