<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xinfajihuo_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,167},{50,50}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>xinfajihuo_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,2},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,148},{88,88}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>xinfajihuo_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{96,98}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,142},{96,98}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>xinfajihuo_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{106,106}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,138},{106,106}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>xinfajihuo_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,138},{108,108}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>xinfajihuo_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,2},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,137},{110,110}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>xinfajihuo_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,2},{112,112}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,135},{112,112}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>xinfajihuo_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,2},{118,116}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,135},{118,116}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xinfajihuo_0.pvr</string>
            <key>size</key>
            <string>{808,120}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4bad3a4733299d6f9a94c877b8c1693c:1/1$</string>
            <key>textureFileName</key>
            <string>xinfajihuo_0.pvr</string>
        </dict>
    </dict>
</plist>
