<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xuanyun_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{76,52}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,166},{76,52}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>xuanyun_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{86,44}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,168},{86,44}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>xuanyun_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{78,52}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,166},{78,52}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>xuanyun_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{88,50}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,168},{88,50}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>xuanyun_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{84,50}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,168},{84,50}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xuanyun_0.pvr</string>
            <key>size</key>
            <string>{424,56}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e8cee61a43f5ee807d42017f3a57aeb:1/1$</string>
            <key>textureFileName</key>
            <string>xuanyun_0.pvr</string>
        </dict>
    </dict>
</plist>
