<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yaoqianshuzhuangtai_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,346},{330,176}}</string>
                <key>offset</key>
                <string>{-3,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,55},{330,176}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>yaoqianshuzhuangtai_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,2},{330,168}}</string>
                <key>offset</key>
                <string>{-3,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,62},{330,168}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>yaoqianshuzhuangtai_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,172},{332,172}}</string>
                <key>offset</key>
                <string>{-4,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,58},{332,172}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>yaoqianshuzhuangtai_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{332,174}}</string>
                <key>offset</key>
                <string>{-4,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,57},{332,174}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>yaoqianshuzhuangtai_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,344},{328,176}}</string>
                <key>offset</key>
                <string>{-2,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,55},{328,176}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>yaoqianshuzhuangtai_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,346},{330,176}}</string>
                <key>offset</key>
                <string>{-3,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,55},{330,176}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>yaoqianshuzhuangtai_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{328,162}}</string>
                <key>offset</key>
                <string>{-4,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,63},{328,162}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>yaoqianshuzhuangtai_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{332,164}}</string>
                <key>offset</key>
                <string>{-5,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,61},{332,164}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>yaoqianshuzhuangtai_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{332,172}}</string>
                <key>offset</key>
                <string>{-5,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,59},{332,172}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>yaoqianshuzhuangtai_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,168},{328,174}}</string>
                <key>offset</key>
                <string>{-2,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,57},{328,174}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yaoqianshuzhuangtai_0.pvr</string>
            <key>size</key>
            <string>{1000,524}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c38c97d9ff0262e6a1e720de7a469aa6:1/1$</string>
            <key>textureFileName</key>
            <string>yaoqianshuzhuangtai_0.pvr</string>
        </dict>
    </dict>
</plist>
