<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhanshidaoguang_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{54,36}}</string>
                <key>offset</key>
                <string>{-55,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,198},{54,36}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>zhanshidaoguang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{118,68}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,156},{118,68}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>zhanshidaoguang_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,2},{160,92}}</string>
                <key>offset</key>
                <string>{14,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,132},{160,92}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>zhanshidaoguang_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,2},{136,82}}</string>
                <key>offset</key>
                <string>{10,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,139},{136,82}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>zhanshidaoguang_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{134,70}}</string>
                <key>offset</key>
                <string>{13,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,144},{134,70}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>zhanshidaoguang_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{132,74}}</string>
                <key>offset</key>
                <string>{8,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,143},{132,74}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>zhanshidaoguang_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{126,72}}</string>
                <key>offset</key>
                <string>{6,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,145},{126,72}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>zhanshidaoguang_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,2},{108,76}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,144},{108,76}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhanshidaoguang_0.pvr</string>
            <key>size</key>
            <string>{986,96}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a88f38a02cea82c63292025768d5ce53:1/1$</string>
            <key>textureFileName</key>
            <string>zhanshidaoguang_0.pvr</string>
        </dict>
    </dict>
</plist>
