<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhandoukaishi_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{390,176}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,117},{390,176}}</string>
                <key>sourceSize</key>
                <string>{640,384}</string>
            </dict>
            <key>zhandoukaishi_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{392,176}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,117},{392,176}}</string>
                <key>sourceSize</key>
                <string>{640,384}</string>
            </dict>
            <key>zhandoukaishi_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,180},{404,178}}</string>
                <key>offset</key>
                <string>{-4,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,116},{404,178}}</string>
                <key>sourceSize</key>
                <string>{640,384}</string>
            </dict>
            <key>zhandoukaishi_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{328,128}}</string>
                <key>offset</key>
                <string>{-44,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,142},{328,128}}</string>
                <key>sourceSize</key>
                <string>{640,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhandoukaishi_1.pvr</string>
            <key>size</key>
            <string>{802,360}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b971ec841bea9c485d398b29ff04ddd4:1/1$</string>
            <key>textureFileName</key>
            <string>zhandoukaishi_1.pvr</string>
        </dict>
    </dict>
</plist>
