<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zhaodihuichen_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,40}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{468,371},{94,40}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>zhaodihuichen_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{302,130}}</string>
                <key>offset</key>
                <string>{10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{371,325},{302,130}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>zhaodihuichen_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,292},{344,154}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{338,313},{344,154}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>zhaodihuichen_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{338,150}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{349,314},{338,150}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>zhaodihuichen_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,154},{352,136}}</string>
                <key>offset</key>
                <string>{12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{348,320},{352,136}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>zhaodihuichen_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{362,134}}</string>
                <key>offset</key>
                <string>{14,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{345,322},{362,134}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>zhaodihuichen_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{362,144}}</string>
                <key>offset</key>
                <string>{10,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{341,319},{362,144}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhaodihuichen_0.pvr</string>
            <key>size</key>
            <string>{742,448}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f174c50340fb3bf5b06f9321e89c3682:1/1$</string>
            <key>textureFileName</key>
            <string>zhaodihuichen_0.pvr</string>
        </dict>
    </dict>
</plist>
