<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zisejiaodiguanghuan_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{62,28}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,194},{62,28}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>zisejiaodiguanghuan_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{62,28}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,194},{62,28}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>zisejiaodiguanghuan_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{62,28}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,195},{62,28}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>zisejiaodiguanghuan_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{60,28}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,195},{60,28}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>zisejiaodiguanghuan_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{60,28}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,195},{60,28}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>zisejiaodiguanghuan_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{60,28}}</string>
                <key>offset</key>
                <string>{1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,195},{60,28}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>zisejiaodiguanghuan_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,28}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,194},{62,28}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zisejiaodiguanghuan_0.pvr</string>
            <key>size</key>
            <string>{447,32}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:77fb38448a5798e24abc3ac2a4831fd0:1/1$</string>
            <key>textureFileName</key>
            <string>zisejiaodiguanghuan_0.pvr</string>
        </dict>
    </dict>
</plist>
