<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc_new2_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,782},{304,218}}</string>
                <key>offset</key>
                <string>{-50,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{310,311},{304,218}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>npc_new2_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,328},{302,222}}</string>
                <key>offset</key>
                <string>{-46,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{315,309},{302,222}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>npc_new2_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,696},{306,224}}</string>
                <key>offset</key>
                <string>{-46,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{313,306},{306,224}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>npc_new2_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,552},{300,228}}</string>
                <key>offset</key>
                <string>{-42,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{320,304},{300,228}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>npc_new2_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{318,228}}</string>
                <key>offset</key>
                <string>{-54,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{299,304},{318,228}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>npc_new2_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{318,230}}</string>
                <key>offset</key>
                <string>{-55,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{298,301},{318,230}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>npc_new2_idle_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{324,230}}</string>
                <key>offset</key>
                <string>{-59,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{291,301},{324,230}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>npc_new2_idle_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{326,230}}</string>
                <key>offset</key>
                <string>{-59,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{290,301},{326,230}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>idle_0.pvr</string>
            <key>size</key>
            <string>{626,1005}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9c940f298f8bd37cae8d47741948542d:1/1$</string>
            <key>textureFileName</key>
            <string>idle_0.pvr</string>
        </dict>
    </dict>
</plist>
