<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bagua_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{76,70}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,157},{76,70}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>bagua_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{120,122}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,131},{120,122}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>bagua_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{138,140}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,123},{138,140}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>bagua_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,144},{152,152}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,117},{152,152}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>bagua_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,124},{152,154}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,113},{152,154}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>bagua_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,298},{182,174}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,102},{182,174}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>bagua_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,298},{176,170}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,104},{176,170}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>bagua_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{168,162}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,110},{168,162}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>bagua_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{152,152}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,114},{152,152}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>bagua_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{76,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,156},{76,72}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>bagua_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{52,54}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,166},{52,54}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>bagua_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,54}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,165},{52,54}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bagua_0.pvr</string>
            <key>size</key>
            <string>{534,474}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca24c975f9b6e2403f6ca4f234ec8a2e:1/1$</string>
            <key>textureFileName</key>
            <string>bagua_0.pvr</string>
        </dict>
    </dict>
</plist>
