<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baihuxinfa_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{114,113}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,99},{114,113}}</string>
                <key>sourceSize</key>
                <string>{250,305}</string>
            </dict>
            <key>baihuxinfa_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,131},{136,137}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,85},{136,137}}</string>
                <key>sourceSize</key>
                <string>{250,305}</string>
            </dict>
            <key>baihuxinfa_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,281},{204,181}}</string>
                <key>offset</key>
                <string>{-13,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,41},{204,181}}</string>
                <key>sourceSize</key>
                <string>{250,305}</string>
            </dict>
            <key>baihuxinfa_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,281},{182,179}}</string>
                <key>offset</key>
                <string>{5,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,40},{182,179}}</string>
                <key>sourceSize</key>
                <string>{250,305}</string>
            </dict>
            <key>baihuxinfa_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,281},{152,155}}</string>
                <key>offset</key>
                <string>{8,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,64},{152,155}}</string>
                <key>sourceSize</key>
                <string>{250,305}</string>
            </dict>
            <key>baihuxinfa_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,136},{138,141}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,77},{138,141}}</string>
                <key>sourceSize</key>
                <string>{250,305}</string>
            </dict>
            <key>baihuxinfa_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,137},{142,145}}</string>
                <key>offset</key>
                <string>{6,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,71},{142,145}}</string>
                <key>sourceSize</key>
                <string>{250,305}</string>
            </dict>
            <key>baihuxinfa_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,2},{146,133}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,83},{146,133}}</string>
                <key>sourceSize</key>
                <string>{250,305}</string>
            </dict>
            <key>baihuxinfa_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{138,127}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,89},{138,127}}</string>
                <key>sourceSize</key>
                <string>{250,305}</string>
            </dict>
            <key>baihuxinfa_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,2},{140,133}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,83},{140,133}}</string>
                <key>sourceSize</key>
                <string>{250,305}</string>
            </dict>
            <key>baihuxinfa_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{146,145}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,72},{146,145}}</string>
                <key>sourceSize</key>
                <string>{250,305}</string>
            </dict>
            <key>baihuxinfa_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,277},{148,145}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,72},{148,145}}</string>
                <key>sourceSize</key>
                <string>{250,305}</string>
            </dict>
            <key>baihuxinfa_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,137},{142,143}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,74},{142,143}}</string>
                <key>sourceSize</key>
                <string>{250,305}</string>
            </dict>
            <key>baihuxinfa_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{132,147}}</string>
                <key>offset</key>
                <string>{4,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,71},{132,147}}</string>
                <key>sourceSize</key>
                <string>{250,305}</string>
            </dict>
            <key>baihuxinfa_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,137},{138,149}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,70},{138,149}}</string>
                <key>sourceSize</key>
                <string>{250,305}</string>
            </dict>
            <key>baihuxinfa_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,2},{134,133}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,85},{134,133}}</string>
                <key>sourceSize</key>
                <string>{250,305}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>baihuxinfa_0.pvr</string>
            <key>size</key>
            <string>{847,464}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:994ef213b25bc8318e25e989c4efe05f:1/1$</string>
            <key>textureFileName</key>
            <string>baihuxinfa_0.pvr</string>
        </dict>
    </dict>
</plist>
