<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fantianxinfa_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,630},{226,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,40},{226,225}}</string>
                <key>sourceSize</key>
                <string>{250,305}</string>
            </dict>
            <key>fantianxinfa_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,624},{194,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,56},{194,193}}</string>
                <key>sourceSize</key>
                <string>{250,305}</string>
            </dict>
            <key>fantianxinfa_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,622},{164,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,71},{164,163}}</string>
                <key>sourceSize</key>
                <string>{250,305}</string>
            </dict>
            <key>fantianxinfa_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,305},{156,153}}</string>
                <key>offset</key>
                <string>{7,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,66},{156,153}}</string>
                <key>sourceSize</key>
                <string>{250,305}</string>
            </dict>
            <key>fantianxinfa_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,310},{154,155}}</string>
                <key>offset</key>
                <string>{9,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,63},{154,155}}</string>
                <key>sourceSize</key>
                <string>{250,305}</string>
            </dict>
            <key>fantianxinfa_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{152,173}}</string>
                <key>offset</key>
                <string>{5,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,57},{152,173}}</string>
                <key>sourceSize</key>
                <string>{250,305}</string>
            </dict>
            <key>fantianxinfa_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,310},{154,187}}</string>
                <key>offset</key>
                <string>{5,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,43},{154,187}}</string>
                <key>sourceSize</key>
                <string>{250,305}</string>
            </dict>
            <key>fantianxinfa_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{154,205}}</string>
                <key>offset</key>
                <string>{4,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,25},{154,205}}</string>
                <key>sourceSize</key>
                <string>{250,305}</string>
            </dict>
            <key>fantianxinfa_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,466},{156,205}}</string>
                <key>offset</key>
                <string>{2,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,26},{156,205}}</string>
                <key>sourceSize</key>
                <string>{250,305}</string>
            </dict>
            <key>fantianxinfa_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,151},{152,201}}</string>
                <key>offset</key>
                <string>{-2,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,29},{152,201}}</string>
                <key>sourceSize</key>
                <string>{250,305}</string>
            </dict>
            <key>fantianxinfa_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,466},{162,193}}</string>
                <key>offset</key>
                <string>{-6,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,37},{162,193}}</string>
                <key>sourceSize</key>
                <string>{250,305}</string>
            </dict>
            <key>fantianxinfa_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,156},{152,159}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,71},{152,159}}</string>
                <key>sourceSize</key>
                <string>{250,305}</string>
            </dict>
            <key>fantianxinfa_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,156},{152,155}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,71},{152,155}}</string>
                <key>sourceSize</key>
                <string>{250,305}</string>
            </dict>
            <key>fantianxinfa_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{150,147}}</string>
                <key>offset</key>
                <string>{-8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,75},{150,147}}</string>
                <key>sourceSize</key>
                <string>{250,305}</string>
            </dict>
            <key>fantianxinfa_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,135}}</string>
                <key>offset</key>
                <string>{-11,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,80},{148,135}}</string>
                <key>sourceSize</key>
                <string>{250,305}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fantianxinfa_0.pvr</string>
            <key>size</key>
            <string>{611,857}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c2b9f95fa88772477fa6ede2cea5ac08:1/1$</string>
            <key>textureFileName</key>
            <string>fantianxinfa_0.pvr</string>
        </dict>
    </dict>
</plist>
