<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huiguangjue_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{184,240}}</string>
                <key>offset</key>
                <string>{1,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,12},{184,240}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>huiguangjue_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{196,228}}</string>
                <key>offset</key>
                <string>{5,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,12},{196,228}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>huiguangjue_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,778},{200,250}}</string>
                <key>offset</key>
                <string>{6,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,12},{200,250}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>huiguangjue_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,770},{202,238}}</string>
                <key>offset</key>
                <string>{5,60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,13},{202,238}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>huiguangjue_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,576},{200,240}}</string>
                <key>offset</key>
                <string>{5,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,11},{200,240}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>huiguangjue_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,188},{190,242}}</string>
                <key>offset</key>
                <string>{10,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,12},{190,242}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>huiguangjue_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,774},{202,244}}</string>
                <key>offset</key>
                <string>{4,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,11},{202,244}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>huiguangjue_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,576},{196,244}}</string>
                <key>offset</key>
                <string>{-1,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{157,13},{196,244}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>huiguangjue_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,574},{194,242}}</string>
                <key>offset</key>
                <string>{-4,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,13},{194,242}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>huiguangjue_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,380},{192,242}}</string>
                <key>offset</key>
                <string>{-6,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,12},{192,242}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>huiguangjue_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,188},{192,242}}</string>
                <key>offset</key>
                <string>{-5,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,12},{192,242}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>huiguangjue_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,382},{192,240}}</string>
                <key>offset</key>
                <string>{-4,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,13},{192,240}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>huiguangjue_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{184,236}}</string>
                <key>offset</key>
                <string>{-3,61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,13},{184,236}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>huiguangjue_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{170,232}}</string>
                <key>offset</key>
                <string>{2,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,12},{170,232}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>huiguangjue_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{168,228}}</string>
                <key>offset</key>
                <string>{2,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,12},{168,228}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>huiguangjue_0.pvr</string>
            <key>size</key>
            <string>{740,980}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a14cf8965fe63f70daefe68272db9561:1/1$</string>
            <key>textureFileName</key>
            <string>huiguangjue_0.pvr</string>
        </dict>
    </dict>
</plist>
