<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qilin_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,88}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,154},{116,88}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>qilin_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{122,90}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,155},{122,90}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>qilin_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{130,96}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,153},{130,96}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>qilin_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,98},{136,104}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,149},{136,104}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>qilin_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{138,112}}</string>
                <key>offset</key>
                <string>{5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,145},{138,112}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>qilin_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,198},{136,118}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,141},{136,118}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>qilin_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,208},{146,126}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,136},{146,126}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>qilin_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,356},{162,132}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,132},{162,132}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>qilin_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{170,130}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,132},{170,130}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>qilin_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,328},{180,130}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,131},{180,130}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>qilin_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,208},{172,118}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,138},{172,118}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>qilin_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,98},{162,108}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,141},{162,108}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>qilin_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,94},{148,102}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,145},{148,102}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>qilin_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{136,94}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,151},{136,94}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>qilin_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{124,90}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,154},{124,90}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qilin_0.pvr</string>
            <key>size</key>
            <string>{586,490}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9ae980aaaf9a582e0195b8ae9485125b:1/1$</string>
            <key>textureFileName</key>
            <string>qilin_0.pvr</string>
        </dict>
    </dict>
</plist>
