<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>qinglongxinfa_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,33}}</string>
                <key>offset</key>
                <string>{-59,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,62},{46,33}}</string>
                <key>sourceSize</key>
                <string>{250,305}</string>
            </dict>
            <key>qinglongxinfa_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{80,81}}</string>
                <key>offset</key>
                <string>{-40,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,60},{80,81}}</string>
                <key>sourceSize</key>
                <string>{250,305}</string>
            </dict>
            <key>qinglongxinfa_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,2},{110,151}}</string>
                <key>offset</key>
                <string>{-24,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,58},{110,151}}</string>
                <key>sourceSize</key>
                <string>{250,305}</string>
            </dict>
            <key>qinglongxinfa_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{120,165}}</string>
                <key>offset</key>
                <string>{-16,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,58},{120,165}}</string>
                <key>sourceSize</key>
                <string>{250,305}</string>
            </dict>
            <key>qinglongxinfa_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,767},{174,201}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,58},{174,201}}</string>
                <key>sourceSize</key>
                <string>{250,305}</string>
            </dict>
            <key>qinglongxinfa_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,767},{164,191}}</string>
                <key>offset</key>
                <string>{6,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,72},{164,191}}</string>
                <key>sourceSize</key>
                <string>{250,305}</string>
            </dict>
            <key>qinglongxinfa_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,593},{160,171}}</string>
                <key>offset</key>
                <string>{5,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,92},{160,171}}</string>
                <key>sourceSize</key>
                <string>{250,305}</string>
            </dict>
            <key>qinglongxinfa_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,424},{160,167}}</string>
                <key>offset</key>
                <string>{1,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,93},{160,167}}</string>
                <key>sourceSize</key>
                <string>{250,305}</string>
            </dict>
            <key>qinglongxinfa_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{154,155}}</string>
                <key>offset</key>
                <string>{-1,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,102},{154,155}}</string>
                <key>sourceSize</key>
                <string>{250,305}</string>
            </dict>
            <key>qinglongxinfa_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,268},{156,163}}</string>
                <key>offset</key>
                <string>{2,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,103},{156,163}}</string>
                <key>sourceSize</key>
                <string>{250,305}</string>
            </dict>
            <key>qinglongxinfa_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,114},{152,171}}</string>
                <key>offset</key>
                <string>{4,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,101},{152,171}}</string>
                <key>sourceSize</key>
                <string>{250,305}</string>
            </dict>
            <key>qinglongxinfa_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,268},{154,175}}</string>
                <key>offset</key>
                <string>{0,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,99},{154,175}}</string>
                <key>sourceSize</key>
                <string>{250,305}</string>
            </dict>
            <key>qinglongxinfa_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,603},{162,171}}</string>
                <key>offset</key>
                <string>{-2,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,101},{162,171}}</string>
                <key>sourceSize</key>
                <string>{250,305}</string>
            </dict>
            <key>qinglongxinfa_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,433},{168,161}}</string>
                <key>offset</key>
                <string>{-2,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,105},{168,161}}</string>
                <key>sourceSize</key>
                <string>{250,305}</string>
            </dict>
            <key>qinglongxinfa_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{168,159}}</string>
                <key>offset</key>
                <string>{-2,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,105},{168,159}}</string>
                <key>sourceSize</key>
                <string>{250,305}</string>
            </dict>
            <key>qinglongxinfa_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,2},{64,99}}</string>
                <key>offset</key>
                <string>{13,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,124},{64,99}}</string>
                <key>sourceSize</key>
                <string>{250,305}</string>
            </dict>
            <key>qinglongxinfa_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,2},{56,83}}</string>
                <key>offset</key>
                <string>{13,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,122},{56,83}}</string>
                <key>sourceSize</key>
                <string>{250,305}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>qinglongxinfa_0.pvr</string>
            <key>size</key>
            <string>{497,943}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5283010e4affa86ae17386ee4ab6bd37:1/1$</string>
            <key>textureFileName</key>
            <string>qinglongxinfa_0.pvr</string>
        </dict>
    </dict>
</plist>
