<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xuanwuxinfa_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,71}}</string>
                <key>offset</key>
                <string>{30,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,144},{76,71}}</string>
                <key>sourceSize</key>
                <string>{250,305}</string>
            </dict>
            <key>xuanwuxinfa_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{136,79}}</string>
                <key>offset</key>
                <string>{-1,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,140},{136,79}}</string>
                <key>sourceSize</key>
                <string>{250,305}</string>
            </dict>
            <key>xuanwuxinfa_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{156,99}}</string>
                <key>offset</key>
                <string>{-6,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,136},{156,99}}</string>
                <key>sourceSize</key>
                <string>{250,305}</string>
            </dict>
            <key>xuanwuxinfa_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,163},{218,165}}</string>
                <key>offset</key>
                <string>{13,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,91},{218,165}}</string>
                <key>sourceSize</key>
                <string>{250,305}</string>
            </dict>
            <key>xuanwuxinfa_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{204,177}}</string>
                <key>offset</key>
                <string>{20,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,91},{204,177}}</string>
                <key>sourceSize</key>
                <string>{250,305}</string>
            </dict>
            <key>xuanwuxinfa_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,163},{204,177}}</string>
                <key>offset</key>
                <string>{20,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,91},{204,177}}</string>
                <key>sourceSize</key>
                <string>{250,305}</string>
            </dict>
            <key>xuanwuxinfa_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,369},{214,185}}</string>
                <key>offset</key>
                <string>{15,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,91},{214,185}}</string>
                <key>sourceSize</key>
                <string>{250,305}</string>
            </dict>
            <key>xuanwuxinfa_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,330},{214,185}}</string>
                <key>offset</key>
                <string>{15,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,90},{214,185}}</string>
                <key>sourceSize</key>
                <string>{250,305}</string>
            </dict>
            <key>xuanwuxinfa_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,423},{218,193}}</string>
                <key>offset</key>
                <string>{13,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,91},{218,193}}</string>
                <key>sourceSize</key>
                <string>{250,305}</string>
            </dict>
            <key>xuanwuxinfa_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,585},{224,199}}</string>
                <key>offset</key>
                <string>{10,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,90},{224,199}}</string>
                <key>sourceSize</key>
                <string>{250,305}</string>
            </dict>
            <key>xuanwuxinfa_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,517},{222,197}}</string>
                <key>offset</key>
                <string>{11,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,90},{222,197}}</string>
                <key>sourceSize</key>
                <string>{250,305}</string>
            </dict>
            <key>xuanwuxinfa_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,716},{248,189}}</string>
                <key>offset</key>
                <string>{-1,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,90},{248,189}}</string>
                <key>sourceSize</key>
                <string>{250,305}</string>
            </dict>
            <key>xuanwuxinfa_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,811},{248,171}}</string>
                <key>offset</key>
                <string>{-1,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,88},{248,171}}</string>
                <key>sourceSize</key>
                <string>{250,305}</string>
            </dict>
            <key>xuanwuxinfa_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,643},{228,169}}</string>
                <key>offset</key>
                <string>{8,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,90},{228,169}}</string>
                <key>sourceSize</key>
                <string>{250,305}</string>
            </dict>
            <key>xuanwuxinfa_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,83},{208,159}}</string>
                <key>offset</key>
                <string>{18,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,91},{208,159}}</string>
                <key>sourceSize</key>
                <string>{250,305}</string>
            </dict>
            <key>xuanwuxinfa_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{208,159}}</string>
                <key>offset</key>
                <string>{17,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,91},{208,159}}</string>
                <key>sourceSize</key>
                <string>{250,305}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>xuanwuxinfa_0.pvr</string>
            <key>size</key>
            <string>{622,984}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1ac63f0f78ffb02f79a7e3206e33e02a:1/1$</string>
            <key>textureFileName</key>
            <string>xuanwuxinfa_0.pvr</string>
        </dict>
    </dict>
</plist>
