<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_shuijing_fx_away_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,46}}</string>
                <key>offset</key>
                <string>{5,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,215},{90,46}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_shuijing_fx_away_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{92,48}}</string>
                <key>offset</key>
                <string>{3,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,214},{92,48}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>away_0.pvr</string>
            <key>size</key>
            <string>{188,52}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:23f7474c381bbf1b39af2b900a9ffd1d:1/1$</string>
            <key>textureFileName</key>
            <string>away_0.pvr</string>
        </dict>
    </dict>
</plist>
