<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_shuijing_fx_skill2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,44}}</string>
                <key>offset</key>
                <string>{6,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,217},{84,44}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_shuijing_fx_skill2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{90,46}}</string>
                <key>offset</key>
                <string>{5,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,215},{90,46}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_shuijing_fx_skill2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{92,220}}</string>
                <key>offset</key>
                <string>{3,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,42},{92,220}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_shuijing_fx_skill2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{96,228}}</string>
                <key>offset</key>
                <string>{-1,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,36},{96,228}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_shuijing_fx_skill2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,2},{96,226}}</string>
                <key>offset</key>
                <string>{-1,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,36},{96,226}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_shuijing_fx_skill2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,100},{100,230}}</string>
                <key>offset</key>
                <string>{-4,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,31},{100,230}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_shuijing_fx_skill2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,100},{110,236}}</string>
                <key>offset</key>
                <string>{-6,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,28},{110,236}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_shuijing_fx_skill2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,100},{108,240}}</string>
                <key>offset</key>
                <string>{-5,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,22},{108,240}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_shuijing_fx_skill2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{96,234}}</string>
                <key>offset</key>
                <string>{0,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,29},{96,234}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_shuijing_fx_skill2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{172,246}}</string>
                <key>offset</key>
                <string>{35,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,16},{172,246}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_shuijing_fx_skill2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,210},{188,246}}</string>
                <key>offset</key>
                <string>{38,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,17},{188,246}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_shuijing_fx_skill2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,212},{206,246}}</string>
                <key>offset</key>
                <string>{40,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,19},{206,246}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_shuijing_fx_skill2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,212},{244,254}}</string>
                <key>offset</key>
                <string>{68,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,33},{244,254}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_shuijing_fx_skill2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{260,250}}</string>
                <key>offset</key>
                <string>{69,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,42},{260,250}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_shuijing_fx_skill2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,420},{260,254}}</string>
                <key>offset</key>
                <string>{71,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,38},{260,254}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_shuijing_fx_skill2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,676},{278,258}}</string>
                <key>offset</key>
                <string>{83,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,34},{278,258}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_shuijing_fx_skill2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,714},{292,258}}</string>
                <key>offset</key>
                <string>{84,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,30},{292,258}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_shuijing_fx_skill2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,652},{272,258}}</string>
                <key>offset</key>
                <string>{82,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,29},{272,258}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_shuijing_fx_skill2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,458},{258,254}}</string>
                <key>offset</key>
                <string>{68,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,33},{258,254}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill2_0.pvr</string>
            <key>size</key>
            <string>{1002,974}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:22627d3e369423928881e8d4c6d8f38f:1/1$</string>
            <key>textureFileName</key>
            <string>skill2_0.pvr</string>
        </dict>
    </dict>
</plist>
