<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_ck_fx_runatk_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{182,56}}</string>
                <key>offset</key>
                <string>{-47,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,190},{182,56}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_ck_fx_runatk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{226,62}}</string>
                <key>offset</key>
                <string>{13,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,185},{226,62}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_ck_fx_runatk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,60},{194,86}}</string>
                <key>offset</key>
                <string>{35,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,186},{194,86}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_ck_fx_runatk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,148},{234,92}}</string>
                <key>offset</key>
                <string>{13,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,188},{234,92}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_ck_fx_runatk_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{246,86}}</string>
                <key>offset</key>
                <string>{4,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,194},{246,86}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_ck_fx_runatk_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{210,44}}</string>
                <key>offset</key>
                <string>{-21,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,236},{210,44}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>runatk_0.pvr</string>
            <key>size</key>
            <string>{486,242}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df298088babec67df6c7f115c29fc87d:1/1$</string>
            <key>textureFileName</key>
            <string>runatk_0.pvr</string>
        </dict>
    </dict>
</plist>
