<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_ck_fx_skill3_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{420,378}}</string>
                <key>offset</key>
                <string>{-46,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,378}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_ck_fx_skill3_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{420,378}}</string>
                <key>offset</key>
                <string>{-46,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,378}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_ck_fx_skill3_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{420,378}}</string>
                <key>offset</key>
                <string>{-46,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{420,378}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_ck_fx_skill3_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,382},{450,378}}</string>
                <key>offset</key>
                <string>{-31,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,378}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill3_5.pvr</string>
            <key>size</key>
            <string>{876,762}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:406c1063bd41da05861907a8bc31247f:1/1$</string>
            <key>textureFileName</key>
            <string>skill3_5.pvr</string>
        </dict>
    </dict>
</plist>
