<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_ck_fx_skill5_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,52}}</string>
                <key>offset</key>
                <string>{-16,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,225},{116,52}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_ck_fx_skill5_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,2},{202,100}}</string>
                <key>offset</key>
                <string>{-26,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,187},{202,100}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_ck_fx_skill5_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,112},{236,128}}</string>
                <key>offset</key>
                <string>{-32,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,171},{236,128}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_ck_fx_skill5_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,528},{290,146}}</string>
                <key>offset</key>
                <string>{-57,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,165},{290,146}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_ck_fx_skill5_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,826},{300,154}}</string>
                <key>offset</key>
                <string>{-55,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,159},{300,154}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_ck_fx_skill5_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,848},{308,160}}</string>
                <key>offset</key>
                <string>{-52,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,154},{308,160}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_ck_fx_skill5_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,676},{314,148}}</string>
                <key>offset</key>
                <string>{-48,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,152},{314,148}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_ck_fx_skill5_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{238,142}}</string>
                <key>offset</key>
                <string>{12,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,112},{238,142}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_ck_fx_skill5_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,676},{252,170}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,122},{252,170}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_ck_fx_skill5_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,826},{256,168}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,124},{256,168}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_ck_fx_skill5_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,480},{264,160}}</string>
                <key>offset</key>
                <string>{4,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,131},{264,160}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_ck_fx_skill5_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{244,132}}</string>
                <key>offset</key>
                <string>{-4,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,156},{244,132}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_ck_fx_skill5_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{138,84}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,150},{138,84}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_ck_fx_skill5_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,88},{198,116}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,141},{198,116}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_ck_fx_skill5_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,104},{212,132}}</string>
                <key>offset</key>
                <string>{10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,132},{212,132}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_ck_fx_skill5_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,242},{236,148}}</string>
                <key>offset</key>
                <string>{22,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,128},{236,148}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_ck_fx_skill5_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,378},{256,142}}</string>
                <key>offset</key>
                <string>{27,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,135},{256,142}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_ck_fx_skill5_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,666},{278,150}}</string>
                <key>offset</key>
                <string>{42,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,132},{278,150}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_ck_fx_skill5_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{278,142}}</string>
                <key>offset</key>
                <string>{40,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,138},{278,142}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_ck_fx_skill5_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,242},{284,140}}</string>
                <key>offset</key>
                <string>{42,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,138},{284,140}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_ck_fx_skill5_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,238},{278,138}}</string>
                <key>offset</key>
                <string>{45,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,139},{278,138}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_ck_fx_skill5_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,384},{278,142}}</string>
                <key>offset</key>
                <string>{46,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,138},{278,142}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_ck_fx_skill5_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,528},{278,146}}</string>
                <key>offset</key>
                <string>{46,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,138},{278,146}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_ck_fx_skill5_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{280,110}}</string>
                <key>offset</key>
                <string>{45,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,172},{280,110}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_ck_fx_skill5_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,2},{280,108}}</string>
                <key>offset</key>
                <string>{45,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,172},{280,108}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_ck_fx_skill5_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{252,58}}</string>
                <key>offset</key>
                <string>{59,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,171},{252,58}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill5_0.pvr</string>
            <key>size</key>
            <string>{1016,1010}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:92ed3d3f26db336535de87d9146f6cb6:1/1$</string>
            <key>textureFileName</key>
            <string>skill5_0.pvr</string>
        </dict>
    </dict>
</plist>
