<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_ck_fx_skill3_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{436,366}}</string>
                <key>offset</key>
                <string>{5,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,0},{436,366}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_ck_fx_skill3_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{436,366}}</string>
                <key>offset</key>
                <string>{5,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,0},{436,366}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_ck_fx_skill3_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,370},{426,366}}</string>
                <key>offset</key>
                <string>{10,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,0},{426,366}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_ck_fx_skill3_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{422,358}}</string>
                <key>offset</key>
                <string>{8,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,4},{422,358}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill3_8.pvr</string>
            <key>size</key>
            <string>{868,738}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cf76ac161b884997d6ea32c6561ed3f6:1/1$</string>
            <key>textureFileName</key>
            <string>skill3_8.pvr</string>
        </dict>
    </dict>
</plist>
