<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_ck_fx_skill3_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{442,380}}</string>
                <key>offset</key>
                <string>{-21,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{442,380}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_ck_fx_skill3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{426,380}}</string>
                <key>offset</key>
                <string>{-13,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{426,380}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_ck_fx_skill3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{426,380}}</string>
                <key>offset</key>
                <string>{-13,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{426,380}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_ck_fx_skill3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,384},{440,380}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,0},{440,380}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill3_2.pvr</string>
            <key>size</key>
            <string>{874,766}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:57bae6d5c0252319b6cebbcb947c894d:1/1$</string>
            <key>textureFileName</key>
            <string>skill3_2.pvr</string>
        </dict>
    </dict>
</plist>
