<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_ck_fx_skill1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{242,146}}</string>
                <key>offset</key>
                <string>{-18,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,147},{242,146}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_ck_fx_skill1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{258,184}}</string>
                <key>offset</key>
                <string>{-26,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,109},{258,184}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_ck_fx_skill1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,762},{276,186}}</string>
                <key>offset</key>
                <string>{-35,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,108},{276,186}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_ck_fx_skill1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,586},{286,174}}</string>
                <key>offset</key>
                <string>{-40,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,121},{286,174}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_ck_fx_skill1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,584},{288,168}}</string>
                <key>offset</key>
                <string>{-41,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,126},{288,168}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_ck_fx_skill1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,150},{298,142}}</string>
                <key>offset</key>
                <string>{-46,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,151},{298,142}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_ck_fx_skill1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{296,142}}</string>
                <key>offset</key>
                <string>{-45,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,151},{296,142}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_ck_fx_skill1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{296,144}}</string>
                <key>offset</key>
                <string>{-45,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,150},{296,144}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_ck_fx_skill1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,438},{280,146}}</string>
                <key>offset</key>
                <string>{-37,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,149},{280,146}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_ck_fx_skill1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,294},{294,142}}</string>
                <key>offset</key>
                <string>{-48,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,153},{294,142}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_ck_fx_skill1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{274,140}}</string>
                <key>offset</key>
                <string>{-34,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,154},{274,140}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_ck_fx_skill1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{232,136}}</string>
                <key>offset</key>
                <string>{-13,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,155},{232,136}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_ck_fx_skill1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,108}}</string>
                <key>offset</key>
                <string>{20,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,160},{154,108}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill1_0.pvr</string>
            <key>size</key>
            <string>{636,950}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be77bf3f1f3b66c455265ca4fc100e28:1/1$</string>
            <key>textureFileName</key>
            <string>skill1_0.pvr</string>
        </dict>
    </dict>
</plist>
