<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_ck_fx_skill3_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,2},{472,354}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,10},{472,354}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_ck_fx_skill3_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{472,354}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,10},{472,354}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_ck_fx_skill3_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,358},{472,360}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{472,360}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_ck_fx_skill3_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{472,360}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{472,360}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill3_13.pvr</string>
            <key>size</key>
            <string>{950,720}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:839bdf51cae76a23430b991b89b65d69:1/1$</string>
            <key>textureFileName</key>
            <string>skill3_13.pvr</string>
        </dict>
    </dict>
</plist>
