<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_ck_fx_skill3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,380},{444,376}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,0},{444,376}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_ck_fx_skill3_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{444,376}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,0},{444,376}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_ck_fx_skill3_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{444,376}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,0},{444,376}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_ck_fx_skill3_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{444,376}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,0},{444,376}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill3_3.pvr</string>
            <key>size</key>
            <string>{894,758}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bcd08922274073571adf1a60b5bbd0f8:1/1$</string>
            <key>textureFileName</key>
            <string>skill3_3.pvr</string>
        </dict>
    </dict>
</plist>
