<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_ck_fx_skill3_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{436,384}}</string>
                <key>offset</key>
                <string>{-23,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{436,384}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_ck_fx_skill3_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{442,384}}</string>
                <key>offset</key>
                <string>{-21,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{442,384}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_ck_fx_skill3_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,2},{442,384}}</string>
                <key>offset</key>
                <string>{-21,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{442,384}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill3_1.pvr</string>
            <key>size</key>
            <string>{884,774}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b1df3f5b16820f486b5186a3fc912537:1/1$</string>
            <key>textureFileName</key>
            <string>skill3_1.pvr</string>
        </dict>
    </dict>
</plist>
