<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_ck_fx_skill3_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{472,362}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{472,362}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_ck_fx_skill3_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{402,338}}</string>
                <key>offset</key>
                <string>{-38,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{402,338}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill3_15.pvr</string>
            <key>size</key>
            <string>{880,366}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e8e51b258a018680bd851e28f47be8c7:1/1$</string>
            <key>textureFileName</key>
            <string>skill3_15.pvr</string>
        </dict>
    </dict>
</plist>
