<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_ck_fx_skill3_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{430,362}}</string>
                <key>offset</key>
                <string>{-23,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{430,362}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_ck_fx_skill3_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{426,364}}</string>
                <key>offset</key>
                <string>{-25,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{426,364}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_ck_fx_skill3_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{430,364}}</string>
                <key>offset</key>
                <string>{-23,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{430,364}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_ck_fx_skill3_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,368},{454,364}}</string>
                <key>offset</key>
                <string>{-11,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{454,364}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill3_11.pvr</string>
            <key>size</key>
            <string>{890,734}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:69cd1006159c720654cc6c14e6e960f4:1/1$</string>
            <key>textureFileName</key>
            <string>skill3_11.pvr</string>
        </dict>
    </dict>
</plist>
