<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_xuanqing_fx_skill2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{10,12}}</string>
                <key>offset</key>
                <string>{-23,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,196},{10,12}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_xuanqing_fx_skill2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{16,2},{54,24}}</string>
                <key>offset</key>
                <string>{38,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{267,222},{54,24}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_xuanqing_fx_skill2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{102,46}}</string>
                <key>offset</key>
                <string>{70,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{275,227},{102,46}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_xuanqing_fx_skill2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{120,50}}</string>
                <key>offset</key>
                <string>{79,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{275,228},{120,50}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_xuanqing_fx_skill2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,2},{130,58}}</string>
                <key>offset</key>
                <string>{82,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{273,224},{130,58}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_xuanqing_fx_skill2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{132,52}}</string>
                <key>offset</key>
                <string>{82,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{272,227},{132,52}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_xuanqing_fx_skill2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{104,56}}</string>
                <key>offset</key>
                <string>{96,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{300,222},{104,56}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_xuanqing_fx_skill2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,2},{84,58}}</string>
                <key>offset</key>
                <string>{107,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{321,219},{84,58}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill2_0.pvr</string>
            <key>size</key>
            <string>{756,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:82d4fbb234157d05af096ccbffb18eb2:1/1$</string>
            <key>textureFileName</key>
            <string>skill2_0.pvr</string>
        </dict>
    </dict>
</plist>
