<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_pet15_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,86}}</string>
                <key>offset</key>
                <string>{-11,-108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{352,365},{74,86}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet15_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{70,84}}</string>
                <key>offset</key>
                <string>{-7,-109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{358,367},{70,84}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet15_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{78,82}}</string>
                <key>offset</key>
                <string>{-11,-110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{350,369},{78,82}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet15_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{74,82}}</string>
                <key>offset</key>
                <string>{-12,-110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{351,369},{74,82}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>idle_0.pvr</string>
            <key>size</key>
            <string>{306,90}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:56bb83ba74f6ec7ed70de87b03d9b61d:1/1$</string>
            <key>textureFileName</key>
            <string>idle_0.pvr</string>
        </dict>
    </dict>
</plist>
