<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_pet15_run_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{70,78}}</string>
                <key>offset</key>
                <string>{4,-102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{369,363},{70,78}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet15_run_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,60},{64,76}}</string>
                <key>offset</key>
                <string>{3,-107}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{371,369},{64,76}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet15_run_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,62},{56,76}}</string>
                <key>offset</key>
                <string>{-1,-110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{371,372},{56,76}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet15_run_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,2},{56,90}}</string>
                <key>offset</key>
                <string>{0,-109}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{372,364},{56,90}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet15_run_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{74,76}}</string>
                <key>offset</key>
                <string>{2,-104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{365,366},{74,76}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet15_run_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,80}}</string>
                <key>offset</key>
                <string>{-1,-109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{362,369},{74,80}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet15_run_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,62},{62,76}}</string>
                <key>offset</key>
                <string>{-2,-111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{367,373},{62,76}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet15_run_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{58,88}}</string>
                <key>offset</key>
                <string>{1,-106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{372,362},{58,88}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>run_0.pvr</string>
            <key>size</key>
            <string>{468,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f39e4e1cf2d5e27e04aa7fb2182895f4:1/1$</string>
            <key>textureFileName</key>
            <string>run_0.pvr</string>
        </dict>
    </dict>
</plist>
