<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_zhuyan_run_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,228},{334,216}}</string>
                <key>offset</key>
                <string>{35,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{380,311},{334,216}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zhuyan_run_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,750},{296,206}}</string>
                <key>offset</key>
                <string>{35,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{399,319},{296,206}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zhuyan_run_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,446},{302,196}}</string>
                <key>offset</key>
                <string>{28,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{389,323},{302,196}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zhuyan_run_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,660},{302,214}}</string>
                <key>offset</key>
                <string>{25,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{386,314},{302,214}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zhuyan_run_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,446},{296,206}}</string>
                <key>offset</key>
                <string>{20,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{384,310},{296,206}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zhuyan_run_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,660},{308,214}}</string>
                <key>offset</key>
                <string>{19,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{377,319},{308,214}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zhuyan_run_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{348,216}}</string>
                <key>offset</key>
                <string>{-3,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{335,319},{348,216}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zhuyan_run_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{336,216}}</string>
                <key>offset</key>
                <string>{-10,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{334,319},{336,216}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zhuyan_run_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{322,220}}</string>
                <key>offset</key>
                <string>{7,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{358,312},{322,220}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zhuyan_run_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{340,224}}</string>
                <key>offset</key>
                <string>{23,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{365,306},{340,224}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>run_0.pvr</string>
            <key>size</key>
            <string>{822,970}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:78c12d5b17fb6848b32c5bcbe59ac59a:1/1$</string>
            <key>textureFileName</key>
            <string>run_0.pvr</string>
        </dict>
    </dict>
</plist>
