<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_zhuyan_skill2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,362},{228,322}}</string>
                <key>offset</key>
                <string>{-11,223}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{387,0},{228,322}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zhuyan_skill2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{460,358}}</string>
                <key>offset</key>
                <string>{127,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{409,137},{460,358}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zhuyan_skill2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,592},{342,254}}</string>
                <key>offset</key>
                <string>{60,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{401,255},{342,254}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zhuyan_skill2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{368,258}}</string>
                <key>offset</key>
                <string>{47,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{375,251},{368,258}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zhuyan_skill2_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,622},{372,218}}</string>
                <key>offset</key>
                <string>{43,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{369,291},{372,218}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zhuyan_skill2_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,2},{332,246}}</string>
                <key>offset</key>
                <string>{60,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{406,263},{332,246}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zhuyan_skill2_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,622},{382,220}}</string>
                <key>offset</key>
                <string>{31,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{352,294},{382,220}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill2_2.pvr</string>
            <key>size</key>
            <string>{712,1006}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b9c8fad26ef73c76f79dc0d47893161:1/1$</string>
            <key>textureFileName</key>
            <string>skill2_2.pvr</string>
        </dict>
    </dict>
</plist>
