<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_caocaofinal_fx_skill2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{460,280}}</string>
                <key>offset</key>
                <string>{26,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,28},{460,280}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_caocaofinal_fx_skill2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,502},{450,292}}</string>
                <key>offset</key>
                <string>{15,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,14},{450,292}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_caocaofinal_fx_skill2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,238},{448,262}}</string>
                <key>offset</key>
                <string>{19,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,40},{448,262}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_caocaofinal_fx_skill2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{460,234}}</string>
                <key>offset</key>
                <string>{22,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,67},{460,234}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_caocaofinal_fx_skill2_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{442,232}}</string>
                <key>offset</key>
                <string>{13,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,69},{442,232}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_caocaofinal_fx_skill2_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{448,234}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,67},{448,234}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill2_2.pvr</string>
            <key>size</key>
            <string>{916,796}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bea7de06b40294cf37d0784c48e3363d:1/1$</string>
            <key>textureFileName</key>
            <string>skill2_2.pvr</string>
        </dict>
    </dict>
</plist>
