<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_caocaofinal_fx_skill2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,592},{440,314}}</string>
                <key>offset</key>
                <string>{36,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,4},{440,314}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_caocaofinal_fx_skill2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{440,310}}</string>
                <key>offset</key>
                <string>{36,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,5},{440,310}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_caocaofinal_fx_skill2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{444,312}}</string>
                <key>offset</key>
                <string>{33,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,3},{444,312}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_caocaofinal_fx_skill2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,314},{456,312}}</string>
                <key>offset</key>
                <string>{28,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,2},{456,312}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_caocaofinal_fx_skill2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,628},{466,312}}</string>
                <key>offset</key>
                <string>{23,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,0},{466,312}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_caocaofinal_fx_skill2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{450,274}}</string>
                <key>offset</key>
                <string>{31,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,36},{450,274}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill2_1.pvr</string>
            <key>size</key>
            <string>{912,942}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c16fa3128030b4a592e1e9e535fe9161:1/1$</string>
            <key>textureFileName</key>
            <string>skill2_1.pvr</string>
        </dict>
    </dict>
</plist>
