<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_caocaofinal_fx_skill1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,30}}</string>
                <key>offset</key>
                <string>{-7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,168},{106,30}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_caocaofinal_fx_skill1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{240,170}}</string>
                <key>offset</key>
                <string>{-60,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,103},{240,170}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_caocaofinal_fx_skill1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{226,160}}</string>
                <key>offset</key>
                <string>{-39,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,110},{226,160}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_caocaofinal_fx_skill1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,2},{322,196}}</string>
                <key>offset</key>
                <string>{-8,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,77},{322,196}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_caocaofinal_fx_skill1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,200},{302,210}}</string>
                <key>offset</key>
                <string>{2,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,60},{302,210}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_caocaofinal_fx_skill1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,412},{302,214}}</string>
                <key>offset</key>
                <string>{2,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,53},{302,214}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_caocaofinal_fx_skill1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,200},{308,212}}</string>
                <key>offset</key>
                <string>{6,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,55},{308,212}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_caocaofinal_fx_skill1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,414},{310,214}}</string>
                <key>offset</key>
                <string>{8,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,49},{310,214}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_caocaofinal_fx_skill1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,628},{306,222}}</string>
                <key>offset</key>
                <string>{21,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,43},{306,222}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_caocaofinal_fx_skill1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,588},{288,220}}</string>
                <key>offset</key>
                <string>{30,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,42},{288,220}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_caocaofinal_fx_skill1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{304,212}}</string>
                <key>offset</key>
                <string>{20,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,47},{304,212}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_caocaofinal_fx_skill1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{312,208}}</string>
                <key>offset</key>
                <string>{17,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,48},{312,208}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_caocaofinal_fx_skill1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,630},{352,236}}</string>
                <key>offset</key>
                <string>{-3,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,51},{352,236}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill1_0.pvr</string>
            <key>size</key>
            <string>{954,868}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:476b5daf73b8496b9ec3f1458813a928:1/1$</string>
            <key>textureFileName</key>
            <string>skill1_0.pvr</string>
        </dict>
    </dict>
</plist>
