<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_normal_010_fx_atk1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{36,90}}</string>
                <key>offset</key>
                <string>{-33,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,150},{36,90}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_010_fx_atk1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{48,72}}</string>
                <key>offset</key>
                <string>{-46,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,172},{48,72}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_010_fx_atk1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{22,38}}</string>
                <key>offset</key>
                <string>{-8,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,160},{22,38}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_010_fx_atk1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{22,38}}</string>
                <key>offset</key>
                <string>{-20,58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,115},{22,38}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_010_fx_atk1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{22,40}}</string>
                <key>offset</key>
                <string>{-34,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,101},{22,40}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_010_fx_atk1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{22,42}}</string>
                <key>offset</key>
                <string>{-47,86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,85},{22,42}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_010_fx_atk1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,2},{22,38}}</string>
                <key>offset</key>
                <string>{-56,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,79},{22,38}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_010_fx_atk1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{22,38}}</string>
                <key>offset</key>
                <string>{-53,101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,72},{22,38}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_010_fx_atk1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,34},{76,82}}</string>
                <key>offset</key>
                <string>{-15,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,123},{76,82}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_010_fx_atk1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,26},{74,80}}</string>
                <key>offset</key>
                <string>{-15,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,123},{74,80}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_010_fx_atk1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,2},{72,68}}</string>
                <key>offset</key>
                <string>{-15,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,129},{72,68}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_010_fx_atk1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,26},{70,70}}</string>
                <key>offset</key>
                <string>{-14,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,134},{70,70}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_010_fx_atk1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,26},{70,70}}</string>
                <key>offset</key>
                <string>{-12,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,133},{70,70}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_010_fx_atk1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{66,64}}</string>
                <key>offset</key>
                <string>{-11,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,129},{66,64}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_010_fx_atk1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,52},{72,112}}</string>
                <key>offset</key>
                <string>{-14,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,129},{72,112}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_010_fx_atk1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{30,66}}</string>
                <key>offset</key>
                <string>{-30,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,171},{30,66}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atk1_0.pvr</string>
            <key>size</key>
            <string>{620,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a826fb94dbeaa97888c4c7e7bff2f12b:1/1$</string>
            <key>textureFileName</key>
            <string>atk1_0.pvr</string>
        </dict>
    </dict>
</plist>
