<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_normal_010_fx_down_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,40},{84,64}}</string>
                <key>offset</key>
                <string>{-31,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,202},{84,64}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_010_fx_down_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{100,36}}</string>
                <key>offset</key>
                <string>{-60,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,238},{100,36}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_010_fx_down_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,32},{126,40}}</string>
                <key>offset</key>
                <string>{-64,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,236},{126,40}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_010_fx_down_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,40},{130,48}}</string>
                <key>offset</key>
                <string>{-66,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,235},{130,48}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_010_fx_down_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,28}}</string>
                <key>offset</key>
                <string>{-71,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,240},{128,28}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_010_fx_down_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{68,30}}</string>
                <key>offset</key>
                <string>{-42,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,242},{68,30}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>down_0.pvr</string>
            <key>size</key>
            <string>{328,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b0210a6e3f4b7cfc844a3dd3a9364d02:1/1$</string>
            <key>textureFileName</key>
            <string>down_0.pvr</string>
        </dict>
    </dict>
</plist>
