<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_normal_010_fx_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{60,100}}</string>
                <key>offset</key>
                <string>{-36,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,147},{60,100}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_010_fx_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{60,100}}</string>
                <key>offset</key>
                <string>{-35,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,150},{60,100}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_010_fx_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,98}}</string>
                <key>offset</key>
                <string>{-33,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,152},{56,98}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>idle_0.pvr</string>
            <key>size</key>
            <string>{64,306}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f101626c7000d7d1a011b7c3a402073f:1/1$</string>
            <key>textureFileName</key>
            <string>idle_0.pvr</string>
        </dict>
    </dict>
</plist>
