<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_normal_010_fx_run_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,614},{60,92}}</string>
                <key>offset</key>
                <string>{-34,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,147},{60,92}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_010_fx_run_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,708},{58,92}}</string>
                <key>offset</key>
                <string>{-30,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,148},{58,92}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_010_fx_run_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{58,86}}</string>
                <key>offset</key>
                <string>{-26,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,150},{58,86}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_010_fx_run_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{56,84}}</string>
                <key>offset</key>
                <string>{-22,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,151},{56,84}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_010_fx_run_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{56,84}}</string>
                <key>offset</key>
                <string>{-20,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,151},{56,84}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_010_fx_run_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,82}}</string>
                <key>offset</key>
                <string>{-19,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,155},{58,82}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_010_fx_run_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{60,84}}</string>
                <key>offset</key>
                <string>{-20,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,155},{60,84}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_010_fx_run_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{58,88}}</string>
                <key>offset</key>
                <string>{-22,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,152},{58,88}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_010_fx_run_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{58,90}}</string>
                <key>offset</key>
                <string>{-26,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,151},{58,90}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_010_fx_run_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,802},{58,94}}</string>
                <key>offset</key>
                <string>{-30,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,147},{58,94}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>run_0.pvr</string>
            <key>size</key>
            <string>{64,898}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:81462ff09980672a1df6b04695e48f87:1/1$</string>
            <key>textureFileName</key>
            <string>run_0.pvr</string>
        </dict>
    </dict>
</plist>
