<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_lvbu_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,278},{154,272}}</string>
                <key>offset</key>
                <string>{25,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{460,236},{154,272}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_lvbu_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,588},{150,272}}</string>
                <key>offset</key>
                <string>{23,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{460,236},{150,272}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_lvbu_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,714},{148,274}}</string>
                <key>offset</key>
                <string>{21,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{459,234},{148,274}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_lvbu_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,740},{146,274}}</string>
                <key>offset</key>
                <string>{19,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{458,234},{146,274}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_lvbu_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,740},{146,274}}</string>
                <key>offset</key>
                <string>{19,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{458,234},{146,274}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_lvbu_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{150,274}}</string>
                <key>offset</key>
                <string>{19,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{456,234},{150,274}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_lvbu_idle_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,434},{152,274}}</string>
                <key>offset</key>
                <string>{22,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{458,234},{152,274}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_lvbu_idle_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{154,274}}</string>
                <key>offset</key>
                <string>{24,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{459,234},{154,274}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_lvbu_idle_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{156,274}}</string>
                <key>offset</key>
                <string>{27,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{461,234},{156,274}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_lvbu_idle_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{158,272}}</string>
                <key>offset</key>
                <string>{27,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{460,236},{158,272}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>idle_0.pvr</string>
            <key>size</key>
            <string>{448,1016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:66ad137e1dff20a4fb34856f8290857c:1/1$</string>
            <key>textureFileName</key>
            <string>idle_0.pvr</string>
        </dict>
    </dict>
</plist>
