<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_lvbu_skill1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{282,256}}</string>
                <key>offset</key>
                <string>{35,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{406,235},{282,256}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_lvbu_skill1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{500,246}}</string>
                <key>offset</key>
                <string>{167,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{429,258},{500,246}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill1_3.pvr</string>
            <key>size</key>
            <string>{504,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4195395aec77239e46c0eaa0a7741656:1/1$</string>
            <key>textureFileName</key>
            <string>skill1_3.pvr</string>
        </dict>
    </dict>
</plist>
