<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_lvbu_skill1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,864},{158,272}}</string>
                <key>offset</key>
                <string>{23,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{456,236},{158,272}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_lvbu_skill1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,266},{242,248}}</string>
                <key>offset</key>
                <string>{-26,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{365,260},{242,248}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_lvbu_skill1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,530},{190,332}}</string>
                <key>offset</key>
                <string>{13,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{430,176},{190,332}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_lvbu_skill1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,806},{216,258}}</string>
                <key>offset</key>
                <string>{23,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{427,250},{216,258}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_lvbu_skill1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,782},{196,256}}</string>
                <key>offset</key>
                <string>{32,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{446,251},{196,256}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_lvbu_skill1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,2},{268,262}}</string>
                <key>offset</key>
                <string>{57,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{435,241},{268,262}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_lvbu_skill1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{298,258}}</string>
                <key>offset</key>
                <string>{111,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{474,240},{298,258}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_lvbu_skill1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,510},{174,270}}</string>
                <key>offset</key>
                <string>{8,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{433,223},{174,270}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_lvbu_skill1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,510},{214,246}}</string>
                <key>offset</key>
                <string>{-19,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{386,235},{214,246}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_lvbu_skill1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{302,266}}</string>
                <key>offset</key>
                <string>{100,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{461,223},{302,266}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_lvbu_skill1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,530},{278,274}}</string>
                <key>offset</key>
                <string>{38,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{411,220},{278,274}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_lvbu_skill1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,264},{212,276}}</string>
                <key>offset</key>
                <string>{20,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{426,218},{212,276}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_lvbu_skill1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{260,278}}</string>
                <key>offset</key>
                <string>{18,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{400,215},{260,278}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill1_0.pvr</string>
            <key>size</key>
            <string>{866,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3da00eb291e9c66719ac4f4624a1826a:1/1$</string>
            <key>textureFileName</key>
            <string>skill1_0.pvr</string>
        </dict>
    </dict>
</plist>
