<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_tigerking_fx_skill2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,2},{138,80}}</string>
                <key>offset</key>
                <string>{-12,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,161},{138,80}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_tigerking_fx_skill2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{76,120}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,132},{76,120}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_tigerking_fx_skill2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,92},{156,108}}</string>
                <key>offset</key>
                <string>{-33,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,89},{156,108}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_tigerking_fx_skill2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,362},{174,232}}</string>
                <key>offset</key>
                <string>{43,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,51},{174,232}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_tigerking_fx_skill2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,680},{260,254}}</string>
                <key>offset</key>
                <string>{3,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,126},{260,254}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_tigerking_fx_skill2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,538},{204,210}}</string>
                <key>offset</key>
                <string>{-33,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,170},{204,210}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_tigerking_fx_skill2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,468},{176,192}}</string>
                <key>offset</key>
                <string>{-49,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,188},{176,192}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_tigerking_fx_skill2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,74}}</string>
                <key>offset</key>
                <string>{-74,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,197},{74,74}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_tigerking_fx_skill2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{148,88}}</string>
                <key>offset</key>
                <string>{10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,144},{148,88}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_tigerking_fx_skill2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,2},{150,102}}</string>
                <key>offset</key>
                <string>{63,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,144},{150,102}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_tigerking_fx_skill2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{318,116}}</string>
                <key>offset</key>
                <string>{-19,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,159},{318,116}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_tigerking_fx_skill2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,98},{338,104}}</string>
                <key>offset</key>
                <string>{-28,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,175},{338,104}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_tigerking_fx_skill2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,2},{340,94}}</string>
                <key>offset</key>
                <string>{-29,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,192},{340,94}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_tigerking_fx_skill2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{318,100}}</string>
                <key>offset</key>
                <string>{-40,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,203},{318,100}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_tigerking_fx_skill2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,342},{298,172}}</string>
                <key>offset</key>
                <string>{-51,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,146},{298,172}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_tigerking_fx_skill2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,680},{262,252}}</string>
                <key>offset</key>
                <string>{-71,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,62},{262,252}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_tigerking_fx_skill2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,516},{368,162}}</string>
                <key>offset</key>
                <string>{19,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,167},{368,162}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_tigerking_fx_skill2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,204},{270,156}}</string>
                <key>offset</key>
                <string>{80,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,171},{270,156}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_tigerking_fx_skill2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{270,162}}</string>
                <key>offset</key>
                <string>{80,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,170},{270,162}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_tigerking_fx_skill2_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,204},{270,136}}</string>
                <key>offset</key>
                <string>{80,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,200},{270,136}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill2_0.pvr</string>
            <key>size</key>
            <string>{936,936}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a3798d1bf1bb076e216648c7b95f0365:1/1$</string>
            <key>textureFileName</key>
            <string>skill2_0.pvr</string>
        </dict>
    </dict>
</plist>
