<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_tigerking_fx_skill1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,336},{374,306}}</string>
                <key>offset</key>
                <string>{38,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,30},{374,306}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_tigerking_fx_skill1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{428,282}}</string>
                <key>offset</key>
                <string>{32,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,54},{428,282}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_tigerking_fx_skill1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,644},{418,312}}</string>
                <key>offset</key>
                <string>{47,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,30},{418,312}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_tigerking_fx_skill1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,592},{378,320}}</string>
                <key>offset</key>
                <string>{67,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,8},{378,320}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_tigerking_fx_skill1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{358,332}}</string>
                <key>offset</key>
                <string>{77,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,4},{358,332}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_tigerking_fx_skill1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{388,304}}</string>
                <key>offset</key>
                <string>{17,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,32},{388,304}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill1_1.pvr</string>
            <key>size</key>
            <string>{802,958}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:315708e4b7fa926f9678e3e89c6a6a5a:1/1$</string>
            <key>textureFileName</key>
            <string>skill1_1.pvr</string>
        </dict>
    </dict>
</plist>
