<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_tigerking_fx_skill1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{290,100}}</string>
                <key>offset</key>
                <string>{0,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,204},{290,100}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_tigerking_fx_skill1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,2},{320,102}}</string>
                <key>offset</key>
                <string>{-5,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,207},{320,102}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_tigerking_fx_skill1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{320,100}}</string>
                <key>offset</key>
                <string>{-5,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,209},{320,100}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill1_3.pvr</string>
            <key>size</key>
            <string>{938,106}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bb8fca07c3a4f7aeb4582dc9a9c851d9:1/1$</string>
            <key>textureFileName</key>
            <string>skill1_3.pvr</string>
        </dict>
    </dict>
</plist>
