<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_tigerking_fx_skill1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{794,636}}</string>
                <key>offset</key>
                <string>{56,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,48},{794,636}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_tigerking_fx_skill1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,86}}</string>
                <key>offset</key>
                <string>{-13,-153}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{444,494},{110,86}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_tigerking_fx_skill1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{208,126}}</string>
                <key>offset</key>
                <string>{-12,-141}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{396,462},{208,126}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_tigerking_fx_skill1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{358,164}}</string>
                <key>offset</key>
                <string>{-13,-128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{320,430},{358,164}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_tigerking_fx_skill1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,168},{504,200}}</string>
                <key>offset</key>
                <string>{-10,-121}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,405},{504,200}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_tigerking_fx_skill1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{504,200}}</string>
                <key>offset</key>
                <string>{-10,-121}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,405},{504,200}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill1_2.pvr</string>
            <key>size</key>
            <string>{1014,1008}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b7b03dfa8fae1ec1df712c1233b09575:1/1$</string>
            <key>textureFileName</key>
            <string>skill1_2.pvr</string>
        </dict>
    </dict>
</plist>
