<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_caocao_down_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,342},{302,318}}</string>
                <key>offset</key>
                <string>{-74,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{287,149},{302,318}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_caocao_down_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,342},{360,332}}</string>
                <key>offset</key>
                <string>{9,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{341,143},{360,332}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_caocao_down_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{314,380}}</string>
                <key>offset</key>
                <string>{-188,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,141},{314,380}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_caocao_down_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{450,266}}</string>
                <key>offset</key>
                <string>{-187,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,303},{450,266}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_caocao_down_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,150},{522,190}}</string>
                <key>offset</key>
                <string>{-215,-95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,384},{522,190}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_caocao_down_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{532,146}}</string>
                <key>offset</key>
                <string>{-223,-103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,414},{532,146}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>down_0.pvr</string>
            <key>size</key>
            <string>{988,676}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4389b8c3d21478ed6f20b91de4cea7a:1/1$</string>
            <key>textureFileName</key>
            <string>down_0.pvr</string>
        </dict>
    </dict>
</plist>
