<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_caocao_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,208},{204,346}}</string>
                <key>offset</key>
                <string>{15,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{425,182},{204,346}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_caocao_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,350},{206,346}}</string>
                <key>offset</key>
                <string>{14,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{423,182},{206,346}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_caocao_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{212,346}}</string>
                <key>offset</key>
                <string>{11,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{417,182},{212,346}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_caocao_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,352},{216,346}}</string>
                <key>offset</key>
                <string>{9,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{413,182},{216,346}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_caocao_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{214,348}}</string>
                <key>offset</key>
                <string>{10,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{415,181},{214,348}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_caocao_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{208,348}}</string>
                <key>offset</key>
                <string>{13,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{421,180},{208,348}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_caocao_idle_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,2},{204,346}}</string>
                <key>offset</key>
                <string>{15,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{425,181},{204,346}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_caocao_idle_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,618},{202,344}}</string>
                <key>offset</key>
                <string>{16,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{427,181},{202,344}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_caocao_idle_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,414},{202,344}}</string>
                <key>offset</key>
                <string>{16,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{427,181},{202,344}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_caocao_idle_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{204,346}}</string>
                <key>offset</key>
                <string>{15,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{425,181},{204,346}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>idle_0.pvr</string>
            <key>size</key>
            <string>{986,822}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d62955dc3e9be772b09081ba0cc9cd90:1/1$</string>
            <key>textureFileName</key>
            <string>idle_0.pvr</string>
        </dict>
    </dict>
</plist>
