<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_caocao_skill2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,528},{244,270}}</string>
                <key>offset</key>
                <string>{-59,142}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{331,107},{244,270}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_caocao_skill2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{344,356}}</string>
                <key>offset</key>
                <string>{-89,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,118},{344,356}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_caocao_skill2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,2},{334,270}}</string>
                <key>offset</key>
                <string>{122,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{467,278},{334,270}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_caocao_skill2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,528},{344,254}}</string>
                <key>offset</key>
                <string>{120,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{460,280},{344,254}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_caocao_skill2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,274},{332,252}}</string>
                <key>offset</key>
                <string>{117,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{463,282},{332,252}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_caocao_skill2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{386,272}}</string>
                <key>offset</key>
                <string>{124,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{443,238},{386,272}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_caocao_skill2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{474,318}}</string>
                <key>offset</key>
                <string>{180,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{455,188},{474,318}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill2_1.pvr</string>
            <key>size</key>
            <string>{1008,784}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:14573ee5f26b0963f39fa10836110cb5:1/1$</string>
            <key>textureFileName</key>
            <string>skill2_1.pvr</string>
        </dict>
    </dict>
</plist>
