<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_caocao_skill1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{442,316}}</string>
                <key>offset</key>
                <string>{289,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{580,176},{442,316}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_caocao_skill1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{440,314}}</string>
                <key>offset</key>
                <string>{285,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{577,178},{440,314}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_caocao_skill1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,654},{404,316}}</string>
                <key>offset</key>
                <string>{255,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,176},{404,316}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_caocao_skill1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,654},{324,318}}</string>
                <key>offset</key>
                <string>{193,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{543,173},{324,318}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_caocao_skill1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,334},{308,318}}</string>
                <key>offset</key>
                <string>{159,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{517,172},{308,318}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_caocao_skill1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{242,330}}</string>
                <key>offset</key>
                <string>{75,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{466,176},{242,330}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill1_1.pvr</string>
            <key>size</key>
            <string>{754,974}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6dbf26dc5216f9cf9c8918325ac6bac0:1/1$</string>
            <key>textureFileName</key>
            <string>skill1_1.pvr</string>
        </dict>
    </dict>
</plist>
