<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_caocao_skill2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{386,358}}</string>
                <key>offset</key>
                <string>{139,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{458,145},{386,358}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_caocao_skill2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,690},{418,322}}</string>
                <key>offset</key>
                <string>{156,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{459,181},{418,322}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_caocao_skill2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,682},{326,348}}</string>
                <key>offset</key>
                <string>{111,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{460,156},{326,348}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_caocao_skill2_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{454,326}}</string>
                <key>offset</key>
                <string>{175,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{460,179},{454,326}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_caocao_skill2_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,330},{380,350}}</string>
                <key>offset</key>
                <string>{137,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{459,156},{380,350}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill2_2.pvr</string>
            <key>size</key>
            <string>{772,1014}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bbf33a7eeb4c87cae23ac25b144a0077:1/1$</string>
            <key>textureFileName</key>
            <string>skill2_2.pvr</string>
        </dict>
    </dict>
</plist>
