<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_caocao_skill1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,620},{296,322}}</string>
                <key>offset</key>
                <string>{-25,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{339,189},{296,322}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_caocao_skill1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,614},{334,318}}</string>
                <key>offset</key>
                <string>{-36,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{309,193},{334,318}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_caocao_skill1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,620},{222,324}}</string>
                <key>offset</key>
                <string>{62,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{463,175},{222,324}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_caocao_skill1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,320},{436,298}}</string>
                <key>offset</key>
                <string>{248,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{542,192},{436,298}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_caocao_skill1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{450,298}}</string>
                <key>offset</key>
                <string>{249,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{536,191},{450,298}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_caocao_skill1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{454,310}}</string>
                <key>offset</key>
                <string>{260,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{545,180},{454,310}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_caocao_skill1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{448,316}}</string>
                <key>offset</key>
                <string>{275,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{563,175},{448,316}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill1_0.pvr</string>
            <key>size</key>
            <string>{908,950}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5d297829e9f6cd7c52efd8fe6c6ee542:1/1$</string>
            <key>textureFileName</key>
            <string>skill1_0.pvr</string>
        </dict>
    </dict>
</plist>
