<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_ck_body_1_atk1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,154}}</string>
                <key>offset</key>
                <string>{-25,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{412,387},{150,154}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_body_1_atk1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{160,136}}</string>
                <key>offset</key>
                <string>{-2,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{430,405},{160,136}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_body_1_atk1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,2},{130,134}}</string>
                <key>offset</key>
                <string>{-18,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{429,406},{130,134}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_body_1_atk1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{122,142}}</string>
                <key>offset</key>
                <string>{-21,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{430,398},{122,142}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_body_1_atk1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,2},{124,154}}</string>
                <key>offset</key>
                <string>{-21,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{429,386},{124,154}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_body_1_atk1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,2},{102,172}}</string>
                <key>offset</key>
                <string>{-34,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{427,368},{102,172}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atk1_0.pvr</string>
            <key>size</key>
            <string>{906,154}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c8b666c28b174a40aa5de648d4729cc9:1/1$</string>
            <key>textureFileName</key>
            <string>atk1_0.pvr</string>
        </dict>
    </dict>
</plist>
