<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_ck_body_1_atk2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,848},{110,116}}</string>
                <key>offset</key>
                <string>{-29,-99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{428,425},{110,116}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_body_1_atk2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,340},{158,140}}</string>
                <key>offset</key>
                <string>{-3,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{430,396},{158,140}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_body_1_atk2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,588},{90,182}}</string>
                <key>offset</key>
                <string>{-4,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{463,354},{90,182}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_body_1_atk2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,182}}</string>
                <key>offset</key>
                <string>{12,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{460,356},{128,182}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_body_1_atk2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{86,202}}</string>
                <key>offset</key>
                <string>{-3,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{466,327},{86,202}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_body_1_atk2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{74,196}}</string>
                <key>offset</key>
                <string>{11,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{486,333},{74,196}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_body_1_atk2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,500},{112,166}}</string>
                <key>offset</key>
                <string>{4,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{460,363},{112,166}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_body_1_atk2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,180},{102,158}}</string>
                <key>offset</key>
                <string>{-17,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{444,380},{102,158}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_body_1_atk2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{102,176}}</string>
                <key>offset</key>
                <string>{-32,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{429,364},{102,176}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_body_1_atk2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,668},{98,178}}</string>
                <key>offset</key>
                <string>{-35,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{428,362},{98,178}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_body_1_atk2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{92,182}}</string>
                <key>offset</key>
                <string>{-65,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{401,358},{92,182}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atk2_0.pvr</string>
            <key>size</key>
            <string>{236,960}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:68fd55ea107f6bedf22c091f0b10c69e:1/1$</string>
            <key>textureFileName</key>
            <string>atk2_0.pvr</string>
        </dict>
    </dict>
</plist>
