<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_ck_body_1_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{68,192}}</string>
                <key>offset</key>
                <string>{-79,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{399,345},{68,192}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_body_1_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,68},{64,190}}</string>
                <key>offset</key>
                <string>{-77,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{403,347},{64,190}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_body_1_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,68},{62,188}}</string>
                <key>offset</key>
                <string>{-77,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{404,349},{62,188}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_body_1_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,66},{62,186}}</string>
                <key>offset</key>
                <string>{-77,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{404,351},{62,186}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_body_1_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,2},{62,186}}</string>
                <key>offset</key>
                <string>{-77,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{404,351},{62,186}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_body_1_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,2},{60,190}}</string>
                <key>offset</key>
                <string>{-76,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{406,347},{60,190}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_body_1_idle_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,72},{60,192}}</string>
                <key>offset</key>
                <string>{-76,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{406,345},{60,192}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_body_1_idle_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{60,194}}</string>
                <key>offset</key>
                <string>{-76,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{406,343},{60,194}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_body_1_idle_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{64,194}}</string>
                <key>offset</key>
                <string>{-78,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{402,343},{64,194}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_body_1_idle_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,194}}</string>
                <key>offset</key>
                <string>{-80,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{398,343},{68,194}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>idle_0.pvr</string>
            <key>size</key>
            <string>{968,134}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:25737007c56fd4b6495d95c5068ec254:1/1$</string>
            <key>textureFileName</key>
            <string>idle_0.pvr</string>
        </dict>
    </dict>
</plist>
