<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_ck_body_1_skill5_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,2},{112,180}}</string>
                <key>offset</key>
                <string>{-69,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{387,357},{112,180}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_body_1_skill5_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,548},{170,172}}</string>
                <key>offset</key>
                <string>{-60,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{367,367},{170,172}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_body_1_skill5_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{172,166}}</string>
                <key>offset</key>
                <string>{-61,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{365,373},{172,166}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_body_1_skill5_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,382},{170,152}}</string>
                <key>offset</key>
                <string>{-61,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{366,388},{170,152}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_body_1_skill5_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,250},{168,142}}</string>
                <key>offset</key>
                <string>{-61,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{367,399},{168,142}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_body_1_skill5_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{158,144}}</string>
                <key>offset</key>
                <string>{-65,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{368,397},{158,144}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_body_1_skill5_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,96},{116,180}}</string>
                <key>offset</key>
                <string>{-53,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{401,363},{116,180}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_body_1_skill5_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{86,200}}</string>
                <key>offset</key>
                <string>{-63,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{406,344},{86,200}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_body_1_skill5_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,214},{140,180}}</string>
                <key>offset</key>
                <string>{-45,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{397,367},{140,180}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_body_1_skill5_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,240},{140,174}}</string>
                <key>offset</key>
                <string>{-52,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{390,373},{140,174}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_body_1_skill5_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,356},{146,172}}</string>
                <key>offset</key>
                <string>{-55,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{384,376},{146,172}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_body_1_skill5_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{112,174}}</string>
                <key>offset</key>
                <string>{-37,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{419,355},{112,174}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_body_1_skill5_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,518},{216,166}}</string>
                <key>offset</key>
                <string>{15,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{419,362},{216,166}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_body_1_skill5_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,552},{218,166}}</string>
                <key>offset</key>
                <string>{16,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{419,362},{218,166}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_body_1_skill5_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,536},{218,166}}</string>
                <key>offset</key>
                <string>{18,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{421,362},{218,166}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_body_1_skill5_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{162,134}}</string>
                <key>offset</key>
                <string>{-2,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{429,345},{162,134}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_body_1_skill5_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,116},{132,180}}</string>
                <key>offset</key>
                <string>{-20,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{426,322},{132,180}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_body_1_skill5_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,116},{194,122}}</string>
                <key>offset</key>
                <string>{12,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{427,353},{194,122}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_body_1_skill5_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,2},{184,110}}</string>
                <key>offset</key>
                <string>{17,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{437,370},{184,110}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_body_1_skill5_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,394},{158,152}}</string>
                <key>offset</key>
                <string>{6,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{439,329},{158,152}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_body_1_skill5_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,234},{206,132}}</string>
                <key>offset</key>
                <string>{-44,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{365,334},{206,132}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_body_1_skill5_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,114},{118,222}}</string>
                <key>offset</key>
                <string>{-51,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{402,284},{118,222}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_body_1_skill5_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,394},{192,156}}</string>
                <key>offset</key>
                <string>{-79,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{337,381},{192,156}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_body_1_skill5_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,368},{148,148}}</string>
                <key>offset</key>
                <string>{-76,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{362,389},{148,148}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_body_1_skill5_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,2},{110,164}}</string>
                <key>offset</key>
                <string>{-95,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{362,374},{110,164}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_body_1_skill5_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{92,178}}</string>
                <key>offset</key>
                <string>{-95,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{371,359},{92,178}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill5_0.pvr</string>
            <key>size</key>
            <string>{1012,720}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a8fca4f8c262cec724cabf5d9f17dcb9:1/1$</string>
            <key>textureFileName</key>
            <string>skill5_0.pvr</string>
        </dict>
    </dict>
</plist>
