<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_ck_body_1_sprint_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{124,162}}</string>
                <key>offset</key>
                <string>{-69,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{381,376},{124,162}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_body_1_sprint_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{122,152}}</string>
                <key>offset</key>
                <string>{-66,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{385,384},{122,152}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_body_1_sprint_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{148,128}}</string>
                <key>offset</key>
                <string>{-77,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{361,385},{148,128}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_body_1_sprint_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{160,134}}</string>
                <key>offset</key>
                <string>{-84,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{348,379},{160,134}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_body_1_sprint_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{164,138}}</string>
                <key>offset</key>
                <string>{-81,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{349,379},{164,138}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_body_1_sprint_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,258},{150,148}}</string>
                <key>offset</key>
                <string>{-77,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{360,381},{150,148}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_body_1_sprint_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,126},{128,158}}</string>
                <key>offset</key>
                <string>{-71,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{377,377},{128,158}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_body_1_sprint_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{122,156}}</string>
                <key>offset</key>
                <string>{-67,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{384,378},{122,156}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_body_1_sprint_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,128},{146,128}}</string>
                <key>offset</key>
                <string>{-77,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{362,385},{146,128}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_body_1_sprint_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,258},{162,136}}</string>
                <key>offset</key>
                <string>{-84,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{347,380},{162,136}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_body_1_sprint_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,408},{166,138}}</string>
                <key>offset</key>
                <string>{-80,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{349,379},{166,138}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_body_1_sprint_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,396},{148,150}}</string>
                <key>offset</key>
                <string>{-76,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{362,382},{148,150}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprint_0.pvr</string>
            <key>size</key>
            <string>{488,548}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1306219aeb1297026762b037fb656bdc:1/1$</string>
            <key>textureFileName</key>
            <string>sprint_0.pvr</string>
        </dict>
    </dict>
</plist>
