<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_normal_034_fx_atk1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{138,50}}</string>
                <key>offset</key>
                <string>{10,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,178},{138,50}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_034_fx_atk1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{168,62}}</string>
                <key>offset</key>
                <string>{16,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,174},{168,62}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_034_fx_atk1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{204,76}}</string>
                <key>offset</key>
                <string>{17,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,162},{204,76}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_034_fx_atk1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{248,98}}</string>
                <key>offset</key>
                <string>{20,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,143},{248,98}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_034_fx_atk1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,80},{250,108}}</string>
                <key>offset</key>
                <string>{21,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,133},{250,108}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_034_fx_atk1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,190},{256,128}}</string>
                <key>offset</key>
                <string>{24,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,122},{256,128}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_034_fx_atk1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{264,144}}</string>
                <key>offset</key>
                <string>{28,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,113},{264,144}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_034_fx_atk1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,332},{270,154}}</string>
                <key>offset</key>
                <string>{32,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,109},{270,154}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_034_fx_atk1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,190},{140,162}}</string>
                <key>offset</key>
                <string>{97,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{283,106},{140,162}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_034_fx_atk1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{128,172}}</string>
                <key>offset</key>
                <string>{91,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{283,102},{128,172}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_034_fx_atk1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{124,164}}</string>
                <key>offset</key>
                <string>{96,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{290,109},{124,164}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atk1_0.pvr</string>
            <key>size</key>
            <string>{644,488}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5192190cfc5c3f4e69b851bef3fee489:1/1$</string>
            <key>textureFileName</key>
            <string>atk1_0.pvr</string>
        </dict>
    </dict>
</plist>
