<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_furen_fx_skill1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,104}}</string>
                <key>offset</key>
                <string>{-73,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,150},{108,104}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_furen_fx_skill1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{110,116}}</string>
                <key>offset</key>
                <string>{-73,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,137},{110,116}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_furen_fx_skill1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{108,126}}</string>
                <key>offset</key>
                <string>{-74,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,125},{108,126}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_furen_fx_skill1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{134,132}}</string>
                <key>offset</key>
                <string>{-62,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,115},{134,132}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_furen_fx_skill1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,152},{180,162}}</string>
                <key>offset</key>
                <string>{-81,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,75},{180,162}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_furen_fx_skill1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{190,218}}</string>
                <key>offset</key>
                <string>{-85,78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,5},{190,218}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_furen_fx_skill1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,312},{202,202}}</string>
                <key>offset</key>
                <string>{-82,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,1},{202,202}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_furen_fx_skill1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,150},{196,160}}</string>
                <key>offset</key>
                <string>{-75,108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,4},{196,160}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_furen_fx_skill1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{184,146}}</string>
                <key>offset</key>
                <string>{-68,115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,4},{184,146}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_furen_fx_skill1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,2},{190,148}}</string>
                <key>offset</key>
                <string>{-67,117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,1},{190,148}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_furen_fx_skill1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{188,154}}</string>
                <key>offset</key>
                <string>{-66,115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,0},{188,154}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_furen_fx_skill1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,136},{202,154}}</string>
                <key>offset</key>
                <string>{-74,115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,0},{202,154}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_furen_fx_skill1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,152},{228,172}}</string>
                <key>offset</key>
                <string>{-65,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,0},{228,172}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_furen_fx_skill1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,316},{258,206}}</string>
                <key>offset</key>
                <string>{-55,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,0},{258,206}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_furen_fx_skill1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,326},{278,246}}</string>
                <key>offset</key>
                <string>{-43,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,0},{278,246}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_furen_fx_skill1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{342,316}}</string>
                <key>offset</key>
                <string>{14,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,0},{342,316}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_furen_fx_skill1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,524},{364,320}}</string>
                <key>offset</key>
                <string>{20,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,0},{364,320}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_furen_fx_skill1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,574},{368,324}}</string>
                <key>offset</key>
                <string>{26,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,0},{368,324}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill1_0.pvr</string>
            <key>size</key>
            <string>{1006,944}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:30b8a3a1bfca826518252f3da6df2634:1/1$</string>
            <key>textureFileName</key>
            <string>skill1_0.pvr</string>
        </dict>
    </dict>
</plist>
