<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_furen_fx_skill2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{120,76}}</string>
                <key>offset</key>
                <string>{-51,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,118},{120,76}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_furen_fx_skill2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,68}}</string>
                <key>offset</key>
                <string>{-51,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,107},{132,68}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_furen_fx_skill2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{138,74}}</string>
                <key>offset</key>
                <string>{-61,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,101},{138,74}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_furen_fx_skill2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{126,74}}</string>
                <key>offset</key>
                <string>{-63,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,102},{126,74}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_furen_fx_skill2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,2},{210,126}}</string>
                <key>offset</key>
                <string>{-12,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,75},{210,126}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_furen_fx_skill2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{282,134}}</string>
                <key>offset</key>
                <string>{45,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,69},{282,134}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_furen_fx_skill2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,210},{320,160}}</string>
                <key>offset</key>
                <string>{68,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,64},{320,160}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_furen_fx_skill2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{326,114}}</string>
                <key>offset</key>
                <string>{63,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,113},{326,114}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_furen_fx_skill2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,86},{354,122}}</string>
                <key>offset</key>
                <string>{55,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,102},{354,122}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_furen_fx_skill2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,2},{196,82}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,146},{196,82}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_furen_fx_skill2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{376,134}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,125},{376,134}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_furen_fx_skill2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,372},{442,138}}</string>
                <key>offset</key>
                <string>{11,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,121},{442,138}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_furen_fx_skill2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{448,144}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,119},{448,144}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_furen_fx_skill2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,512},{456,148}}</string>
                <key>offset</key>
                <string>{7,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,134},{456,148}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_furen_fx_skill2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,210},{342,132}}</string>
                <key>offset</key>
                <string>{-56,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,128},{342,132}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_furen_fx_skill2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,658},{440,158}}</string>
                <key>offset</key>
                <string>{-12,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,102},{440,158}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_furen_fx_skill2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,662},{486,224}}</string>
                <key>offset</key>
                <string>{6,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,68},{486,224}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill2_0.pvr</string>
            <key>size</key>
            <string>{952,888}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:482c36eb44998eb47a0e4c0044b7e454:1/1$</string>
            <key>textureFileName</key>
            <string>skill2_0.pvr</string>
        </dict>
    </dict>
</plist>
