<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_pet11_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{62,110}}</string>
                <key>offset</key>
                <string>{1,-136}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{482,465},{62,110}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_pet11_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,2},{62,106}}</string>
                <key>offset</key>
                <string>{1,-138}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{482,469},{62,106}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_pet11_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,2},{62,104}}</string>
                <key>offset</key>
                <string>{1,-139}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{482,471},{62,104}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_pet11_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,2},{62,108}}</string>
                <key>offset</key>
                <string>{2,-137}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{483,467},{62,108}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_pet11_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{62,108}}</string>
                <key>offset</key>
                <string>{3,-137}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{484,467},{62,108}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_pet11_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{62,110}}</string>
                <key>offset</key>
                <string>{3,-136}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{484,465},{62,110}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_pet11_idle_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,112}}</string>
                <key>offset</key>
                <string>{3,-135}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{483,463},{64,112}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_pet11_idle_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{62,112}}</string>
                <key>offset</key>
                <string>{2,-135}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{483,463},{62,112}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>idle_0.pvr</string>
            <key>size</key>
            <string>{888,68}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7854b36c38ac39debaf6188df649355f:1/1$</string>
            <key>textureFileName</key>
            <string>idle_0.pvr</string>
        </dict>
    </dict>
</plist>
