<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_pet11_run_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,630},{108,106}}</string>
                <key>offset</key>
                <string>{12,-135}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{470,466},{108,106}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_pet11_run_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{122,100}}</string>
                <key>offset</key>
                <string>{1,-139}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{452,473},{122,100}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_pet11_run_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{122,88}}</string>
                <key>offset</key>
                <string>{0,-144}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{451,484},{122,88}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_pet11_run_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{114,80}}</string>
                <key>offset</key>
                <string>{9,-147}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{464,491},{114,80}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_pet11_run_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{114,74}}</string>
                <key>offset</key>
                <string>{12,-145}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{467,492},{114,74}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_pet11_run_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{116,74}}</string>
                <key>offset</key>
                <string>{14,-143}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{468,490},{116,74}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_pet11_run_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{114,94}}</string>
                <key>offset</key>
                <string>{15,-139}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{470,476},{114,94}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_pet11_run_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,524},{112,104}}</string>
                <key>offset</key>
                <string>{14,-135}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{470,467},{112,104}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>run_0.pvr</string>
            <key>size</key>
            <string>{126,738}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:28be50732c1fd458b8cb46b450e6aa4c:1/1$</string>
            <key>textureFileName</key>
            <string>run_0.pvr</string>
        </dict>
    </dict>
</plist>
