<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fnpc022_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,238},{256,234}}</string>
                <key>offset</key>
                <string>{56,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{440,277},{256,234}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc022_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,2},{256,234}}</string>
                <key>offset</key>
                <string>{53,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{437,277},{256,234}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc022_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,2},{254,236}}</string>
                <key>offset</key>
                <string>{51,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{436,275},{254,236}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc022_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,258},{254,232}}</string>
                <key>offset</key>
                <string>{52,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{437,279},{254,232}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc022_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,474},{256,228}}</string>
                <key>offset</key>
                <string>{54,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{438,283},{256,228}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc022_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,474},{256,228}}</string>
                <key>offset</key>
                <string>{57,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{441,283},{256,228}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc022_idle_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,238},{258,234}}</string>
                <key>offset</key>
                <string>{60,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{443,277},{258,234}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc022_idle_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{260,234}}</string>
                <key>offset</key>
                <string>{61,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{443,277},{260,234}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc022_idle_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{260,236}}</string>
                <key>offset</key>
                <string>{62,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{444,275},{260,236}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc022_idle_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{258,234}}</string>
                <key>offset</key>
                <string>{59,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{442,277},{258,234}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>idle_0.pvr</string>
            <key>size</key>
            <string>{1020,704}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:82676a107266990b3ec41959aa832919:1/1$</string>
            <key>textureFileName</key>
            <string>idle_0.pvr</string>
        </dict>
    </dict>
</plist>
