<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_normal_001b_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,2},{232,248}}</string>
                <key>offset</key>
                <string>{-83,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{313,341},{232,248}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_001b_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{236,252}}</string>
                <key>offset</key>
                <string>{-86,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{308,339},{236,252}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_001b_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{240,252}}</string>
                <key>offset</key>
                <string>{-88,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{304,334},{240,252}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_001b_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{240,250}}</string>
                <key>offset</key>
                <string>{-88,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{304,334},{240,250}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>idle_0.pvr</string>
            <key>size</key>
            <string>{958,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9d8e3c1856e2e7a3fe655adf1aff4037:1/1$</string>
            <key>textureFileName</key>
            <string>idle_0.pvr</string>
        </dict>
    </dict>
</plist>
