<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_normal_001b_run_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{288,162}}</string>
                <key>offset</key>
                <string>{-92,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,370},{288,162}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_001b_run_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{286,158}}</string>
                <key>offset</key>
                <string>{-92,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{277,376},{286,158}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_001b_run_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{290,154}}</string>
                <key>offset</key>
                <string>{-89,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{278,382},{290,154}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_001b_run_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,330},{292,146}}</string>
                <key>offset</key>
                <string>{-85,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{281,390},{292,146}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_001b_run_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,766},{292,138}}</string>
                <key>offset</key>
                <string>{-81,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{285,397},{292,138}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_001b_run_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,320},{298,134}}</string>
                <key>offset</key>
                <string>{-81,-82}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{282,399},{298,134}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_001b_run_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,320},{300,136}}</string>
                <key>offset</key>
                <string>{-83,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{279,396},{300,136}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_001b_run_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,624},{292,140}}</string>
                <key>offset</key>
                <string>{-81,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{285,391},{292,140}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_001b_run_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,622},{286,148}}</string>
                <key>offset</key>
                <string>{-81,-74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{288,384},{286,148}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_001b_run_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,162},{286,156}}</string>
                <key>offset</key>
                <string>{-86,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{283,376},{286,156}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_001b_run_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{288,162}}</string>
                <key>offset</key>
                <string>{-92,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,369},{288,162}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>run_0.pvr</string>
            <key>size</key>
            <string>{581,911}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:37859dc7dd04b24793c2599961cd26a2:1/1$</string>
            <key>textureFileName</key>
            <string>run_0.pvr</string>
        </dict>
    </dict>
</plist>
