<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_fs_weapon_2_up_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{76,82}}</string>
                <key>offset</key>
                <string>{-91,-130}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{383,473},{76,82}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_2_up_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{70,108}}</string>
                <key>offset</key>
                <string>{-96,-129}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{381,459},{70,108}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_2_up_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{90,110}}</string>
                <key>offset</key>
                <string>{-77,-113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{390,442},{90,110}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_2_up_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,122}}</string>
                <key>offset</key>
                <string>{-36,-105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{434,428},{84,122}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_2_up_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{80,118}}</string>
                <key>offset</key>
                <string>{-27,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{445,410},{80,118}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_2_up_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{84,114}}</string>
                <key>offset</key>
                <string>{-16,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{454,398},{84,114}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>up_0.pvr</string>
            <key>size</key>
            <string>{498,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f4153a937bf43bbb25924ed0d4fcda2a:1/1$</string>
            <key>textureFileName</key>
            <string>up_0.pvr</string>
        </dict>
    </dict>
</plist>
