<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_normal_001a_fx_atk1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{118,74}}</string>
                <key>offset</key>
                <string>{46,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,220},{118,74}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_001a_fx_atk1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{180,130}}</string>
                <key>offset</key>
                <string>{55,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,174},{180,130}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_001a_fx_atk1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,2},{216,128}}</string>
                <key>offset</key>
                <string>{55,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,183},{216,128}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_001a_fx_atk1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,92},{244,150}}</string>
                <key>offset</key>
                <string>{61,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,164},{244,150}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_001a_fx_atk1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,132},{266,162}}</string>
                <key>offset</key>
                <string>{63,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,153},{266,162}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_001a_fx_atk1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{280,170}}</string>
                <key>offset</key>
                <string>{64,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,145},{280,170}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_001a_fx_atk1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,296},{272,170}}</string>
                <key>offset</key>
                <string>{64,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,143},{272,170}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_001a_fx_atk1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{200,88}}</string>
                <key>offset</key>
                <string>{45,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,224},{200,88}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_001a_fx_atk1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{188,70}}</string>
                <key>offset</key>
                <string>{47,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,241},{188,70}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atk1_0.pvr</string>
            <key>size</key>
            <string>{732,468}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:866968819aacaabdd6152bd0b4619aad:1/1$</string>
            <key>textureFileName</key>
            <string>atk1_0.pvr</string>
        </dict>
    </dict>
</plist>
