<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_tigerking_down_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,612},{228,320}}</string>
                <key>offset</key>
                <string>{-87,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{311,253},{228,320}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_tigerking_down_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,708},{244,298}}</string>
                <key>offset</key>
                <string>{-113,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{277,277},{244,298}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_tigerking_down_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{282,220}}</string>
                <key>offset</key>
                <string>{-184,-149}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,423},{282,220}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_tigerking_down_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{310,174}}</string>
                <key>offset</key>
                <string>{-198,-134}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,431},{310,174}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_tigerking_down_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,306},{304,176}}</string>
                <key>offset</key>
                <string>{-201,-146}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,442},{304,176}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_tigerking_down_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{302,202}}</string>
                <key>offset</key>
                <string>{-202,-161}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,444},{302,202}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_tigerking_down_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{306,160}}</string>
                <key>offset</key>
                <string>{-200,-154}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,458},{306,160}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_tigerking_down_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{310,144}}</string>
                <key>offset</key>
                <string>{-198,-149}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,461},{310,144}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>down_0.pvr</string>
            <key>size</key>
            <string>{518,1008}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:57b59cc993472ed47a8b9218231e1d95:1/1$</string>
            <key>textureFileName</key>
            <string>down_0.pvr</string>
        </dict>
    </dict>
</plist>
