<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_tigerking_run_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,248},{230,230}}</string>
                <key>offset</key>
                <string>{-76,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{321,321},{230,230}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_tigerking_run_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,2},{252,224}}</string>
                <key>offset</key>
                <string>{-80,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{306,325},{252,224}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_tigerking_run_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{260,218}}</string>
                <key>offset</key>
                <string>{-86,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{296,329},{260,218}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_tigerking_run_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{262,218}}</string>
                <key>offset</key>
                <string>{-98,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{283,331},{262,218}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_tigerking_run_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{270,198}}</string>
                <key>offset</key>
                <string>{-100,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{277,335},{270,198}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_tigerking_run_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{270,228}}</string>
                <key>offset</key>
                <string>{-99,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{278,324},{270,228}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_tigerking_run_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,222},{246,226}}</string>
                <key>offset</key>
                <string>{-79,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{310,316},{246,226}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_tigerking_run_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,450},{244,224}}</string>
                <key>offset</key>
                <string>{-76,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{314,319},{244,224}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_tigerking_run_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,2},{244,230}}</string>
                <key>offset</key>
                <string>{-76,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{314,323},{244,230}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_tigerking_run_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,450},{244,224}}</string>
                <key>offset</key>
                <string>{-78,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{312,328},{244,224}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>run_0.pvr</string>
            <key>size</key>
            <string>{1022,676}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:18fa33004e253849d8dae9e6466cac07:1/1$</string>
            <key>textureFileName</key>
            <string>run_0.pvr</string>
        </dict>
    </dict>
</plist>
