<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_tigerking_skill2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{280,232}}</string>
                <key>offset</key>
                <string>{-26,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{346,333},{280,232}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_tigerking_skill2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,626},{208,236}}</string>
                <key>offset</key>
                <string>{-68,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{340,329},{208,236}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_tigerking_skill2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,210},{210,264}}</string>
                <key>offset</key>
                <string>{-94,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{313,300},{210,264}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_tigerking_skill2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{366,228}}</string>
                <key>offset</key>
                <string>{-31,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{298,338},{366,228}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_tigerking_skill2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,658},{236,228}}</string>
                <key>offset</key>
                <string>{-64,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{330,339},{236,228}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_tigerking_skill2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,660},{226,286}}</string>
                <key>offset</key>
                <string>{-58,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{341,280},{226,286}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_tigerking_skill2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,426},{230,212}}</string>
                <key>offset</key>
                <string>{-19,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{378,310},{230,212}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_tigerking_skill2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,196},{280,206}}</string>
                <key>offset</key>
                <string>{-55,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{317,347},{280,206}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_tigerking_skill2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,422},{252,202}}</string>
                <key>offset</key>
                <string>{-9,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{377,350},{252,202}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_tigerking_skill2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{332,192}}</string>
                <key>offset</key>
                <string>{25,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{371,361},{332,192}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_tigerking_skill2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{324,192}}</string>
                <key>offset</key>
                <string>{-125,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,362},{324,192}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_tigerking_skill2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,2},{250,206}}</string>
                <key>offset</key>
                <string>{-92,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{295,347},{250,206}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_tigerking_skill2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,422},{194,216}}</string>
                <key>offset</key>
                <string>{-64,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{351,335},{194,216}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_tigerking_skill2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,640},{240,190}}</string>
                <key>offset</key>
                <string>{-41,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{351,358},{240,190}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill2_0.pvr</string>
            <key>size</key>
            <string>{948,893}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9bd96284510310c6e8e133823fe8a82f:1/1$</string>
            <key>textureFileName</key>
            <string>skill2_0.pvr</string>
        </dict>
    </dict>
</plist>
