<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_tigerking_skill1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,718},{282,234}}</string>
                <key>offset</key>
                <string>{-27,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{344,333},{282,234}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_tigerking_skill1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,718},{296,218}}</string>
                <key>offset</key>
                <string>{-35,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{329,348},{296,218}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_tigerking_skill1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,748},{304,236}}</string>
                <key>offset</key>
                <string>{-30,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{330,330},{304,236}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_tigerking_skill1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,550},{330,196}}</string>
                <key>offset</key>
                <string>{37,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{384,370},{330,196}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_tigerking_skill1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{378,232}}</string>
                <key>offset</key>
                <string>{45,-114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{368,382},{378,232}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_tigerking_skill1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,274},{392,274}}</string>
                <key>offset</key>
                <string>{32,-104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{348,351},{392,274}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_tigerking_skill1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{400,270}}</string>
                <key>offset</key>
                <string>{32,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{344,350},{400,270}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_tigerking_skill1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{424,266}}</string>
                <key>offset</key>
                <string>{32,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{332,344},{424,266}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_tigerking_skill1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{396,212}}</string>
                <key>offset</key>
                <string>{1,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{315,354},{396,212}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill1_0.pvr</string>
            <key>size</key>
            <string>{830,1016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:35575b4b6fd56340406544d50fedd833:1/1$</string>
            <key>textureFileName</key>
            <string>skill1_0.pvr</string>
        </dict>
    </dict>
</plist>
