<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_ck_weapon_1_fx_run_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{282,130}}</string>
                <key>offset</key>
                <string>{-78,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{293,348},{282,130}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_fx_run_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,2},{244,124}}</string>
                <key>offset</key>
                <string>{-61,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{329,354},{244,124}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_fx_run_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,382},{272,130}}</string>
                <key>offset</key>
                <string>{-80,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{296,351},{272,130}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_fx_run_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,382},{254,130}}</string>
                <key>offset</key>
                <string>{-67,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{318,349},{254,130}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_fx_run_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,252},{270,128}}</string>
                <key>offset</key>
                <string>{-81,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{296,347},{270,128}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_fx_run_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,248},{268,126}}</string>
                <key>offset</key>
                <string>{-76,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{302,350},{268,126}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_fx_run_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{250,124}}</string>
                <key>offset</key>
                <string>{-62,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{325,355},{250,124}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_fx_run_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{266,122}}</string>
                <key>offset</key>
                <string>{-65,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{314,353},{266,122}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_fx_run_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,124},{254,122}}</string>
                <key>offset</key>
                <string>{-54,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{331,347},{254,122}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_fx_run_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{288,120}}</string>
                <key>offset</key>
                <string>{-71,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{297,344},{288,120}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_fx_run_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{272,120}}</string>
                <key>offset</key>
                <string>{-57,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{319,344},{272,120}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_1_fx_run_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,128},{268,122}}</string>
                <key>offset</key>
                <string>{-56,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{322,349},{268,122}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>run_0.pvr</string>
            <key>size</key>
            <string>{816,514}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:73b17ffb6e71ddd5008a7ae349a0e1e8:1/1$</string>
            <key>textureFileName</key>
            <string>run_0.pvr</string>
        </dict>
    </dict>
</plist>
