<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_fs_fx_atk2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{54,110}}</string>
                <key>offset</key>
                <string>{89,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{318,168},{54,110}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_fs_fx_atk2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{82,166}}</string>
                <key>offset</key>
                <string>{99,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{314,131},{82,166}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_fs_fx_atk2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{82,164}}</string>
                <key>offset</key>
                <string>{99,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{314,137},{82,164}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_fs_fx_atk2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{82,172}}</string>
                <key>offset</key>
                <string>{99,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{314,129},{82,172}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atk2_0.pvr</string>
            <key>size</key>
            <string>{254,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c20f353362aef0ee8ae0836f5c62d701:1/1$</string>
            <key>textureFileName</key>
            <string>atk2_0.pvr</string>
        </dict>
    </dict>
</plist>
