<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_fs_fx_jumpatk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{140,108}}</string>
                <key>offset</key>
                <string>{140,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{326,219},{140,108}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_fs_fx_jumpatk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{136,108}}</string>
                <key>offset</key>
                <string>{142,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{330,219},{136,108}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_fs_fx_jumpatk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{148,116}}</string>
                <key>offset</key>
                <string>{151,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{333,220},{148,116}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_fs_fx_jumpatk_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,80}}</string>
                <key>offset</key>
                <string>{186,-116}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{386,268},{112,80}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jumpatk_0.pvr</string>
            <key>size</key>
            <string>{546,120}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3252388e5a38ffb59ff5e6624cfaeda:1/1$</string>
            <key>textureFileName</key>
            <string>jumpatk_0.pvr</string>
        </dict>
    </dict>
</plist>
