<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_fs_fx_skill6_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,674},{360,348}}</string>
                <key>offset</key>
                <string>{1,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,112},{360,348}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role_fs_fx_skill6_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{360,342}}</string>
                <key>offset</key>
                <string>{2,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,117},{360,342}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role_fs_fx_skill6_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{360,326}}</string>
                <key>offset</key>
                <string>{2,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,137},{360,326}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill6_3.pvr</string>
            <key>size</key>
            <string>{364,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:20ea266b3be0f121c5ab43b52772e4eb:1/1$</string>
            <key>textureFileName</key>
            <string>skill6_3.pvr</string>
        </dict>
    </dict>
</plist>
