<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_fs_fx_skill6_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,366},{392,368}}</string>
                <key>offset</key>
                <string>{-1,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,95},{392,368}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role_fs_fx_skill6_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{392,364}}</string>
                <key>offset</key>
                <string>{-1,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,96},{392,364}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role_fs_fx_skill6_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{378,362}}</string>
                <key>offset</key>
                <string>{3,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,98},{378,362}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>role_fs_fx_skill6_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{362,356}}</string>
                <key>offset</key>
                <string>{1,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,106},{362,356}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill6_2.pvr</string>
            <key>size</key>
            <string>{790,736}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc475f892001e32711e6545af6f0fbe6:1/1$</string>
            <key>textureFileName</key>
            <string>skill6_2.pvr</string>
        </dict>
    </dict>
</plist>
