<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_fs_fx_skill2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{106,94}}</string>
                <key>offset</key>
                <string>{38,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,183},{106,94}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_fs_fx_skill2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,2},{108,104}}</string>
                <key>offset</key>
                <string>{39,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,172},{108,104}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_fs_fx_skill2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,98},{108,134}}</string>
                <key>offset</key>
                <string>{38,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,143},{108,134}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_fs_fx_skill2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,2},{104,136}}</string>
                <key>offset</key>
                <string>{39,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,140},{104,136}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_fs_fx_skill2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{102,144}}</string>
                <key>offset</key>
                <string>{36,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,131},{102,144}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_fs_fx_skill2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,226},{142,158}}</string>
                <key>offset</key>
                <string>{9,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,125},{142,158}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_fs_fx_skill2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,362},{154,158}}</string>
                <key>offset</key>
                <string>{15,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,125},{154,158}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_fs_fx_skill2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,102},{106,160}}</string>
                <key>offset</key>
                <string>{-9,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,123},{106,160}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_fs_fx_skill2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{104,154}}</string>
                <key>offset</key>
                <string>{-9,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,129},{104,154}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_fs_fx_skill2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{98,158}}</string>
                <key>offset</key>
                <string>{-10,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,124},{98,158}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_fs_fx_skill2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,108},{116,162}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,120},{116,162}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_fs_fx_skill2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,210},{118,156}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,115},{118,156}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_fs_fx_skill2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{134,168}}</string>
                <key>offset</key>
                <string>{16,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,105},{134,168}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_fs_fx_skill2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,226},{134,168}}</string>
                <key>offset</key>
                <string>{18,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{207,104},{134,168}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_fs_fx_skill2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,220},{132,172}}</string>
                <key>offset</key>
                <string>{18,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,102},{132,172}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_fs_fx_skill2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,330},{134,184}}</string>
                <key>offset</key>
                <string>{16,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,94},{134,184}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_fs_fx_skill2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,362},{138,184}}</string>
                <key>offset</key>
                <string>{18,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,101},{138,184}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_fs_fx_skill2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{112,196}}</string>
                <key>offset</key>
                <string>{33,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,88},{112,196}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_fs_fx_skill2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,108},{110,206}}</string>
                <key>offset</key>
                <string>{33,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,79},{110,206}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_fs_fx_skill2_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,522},{164,222}}</string>
                <key>offset</key>
                <string>{5,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,69},{164,222}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_fs_fx_skill2_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,502},{160,216}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,75},{160,216}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_fs_fx_skill2_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,664},{212,212}}</string>
                <key>offset</key>
                <string>{-30,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,80},{212,212}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_fs_fx_skill2_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,752},{224,196}}</string>
                <key>offset</key>
                <string>{-24,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,95},{224,196}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_fs_fx_skill2_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,386},{250,156}}</string>
                <key>offset</key>
                <string>{-12,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,136},{250,156}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_fs_fx_skill2_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,746},{266,192}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,99},{266,192}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_fs_fx_skill2_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{286,144}}</string>
                <key>offset</key>
                <string>{10,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,146},{286,144}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_fs_fx_skill2_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{290,138}}</string>
                <key>offset</key>
                <string>{9,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,151},{290,138}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_fs_fx_skill2_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{186,76}}</string>
                <key>offset</key>
                <string>{-42,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,195},{186,76}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill2_0.pvr</string>
            <key>size</key>
            <string>{858,950}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:99257bd56204d8a6419d51f9dd8028a1:1/1$</string>
            <key>textureFileName</key>
            <string>skill2_0.pvr</string>
        </dict>
    </dict>
</plist>
