<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_fs_fx_skill3_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{340,234}}</string>
                <key>offset</key>
                <string>{48,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,69},{340,234}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_fs_fx_skill3_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{344,248}}</string>
                <key>offset</key>
                <string>{45,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,54},{344,248}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_fs_fx_skill3_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,228},{338,242}}</string>
                <key>offset</key>
                <string>{42,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,58},{338,242}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_fs_fx_skill3_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{336,216}}</string>
                <key>offset</key>
                <string>{35,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,60},{336,216}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_fs_fx_skill3_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{316,210}}</string>
                <key>offset</key>
                <string>{30,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,61},{316,210}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_fs_fx_skill3_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,2},{350,224}}</string>
                <key>offset</key>
                <string>{53,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,52},{350,224}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_fs_fx_skill3_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,500},{336,264}}</string>
                <key>offset</key>
                <string>{54,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,35},{336,264}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_fs_fx_skill3_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,472},{330,274}}</string>
                <key>offset</key>
                <string>{57,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,37},{330,274}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_fs_fx_skill3_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,228},{298,270}}</string>
                <key>offset</key>
                <string>{72,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,39},{298,270}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill3_1.pvr</string>
            <key>size</key>
            <string>{1018,770}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:53807913ed1a5df6f0201b0f81c2ed75:1/1$</string>
            <key>textureFileName</key>
            <string>skill3_1.pvr</string>
        </dict>
    </dict>
</plist>
