<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_dongzhuo_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,2},{210,266}}</string>
                <key>offset</key>
                <string>{-4,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{403,283},{210,266}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_dongzhuo_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,270},{208,266}}</string>
                <key>offset</key>
                <string>{-4,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{404,283},{208,266}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_dongzhuo_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,270},{208,266}}</string>
                <key>offset</key>
                <string>{-4,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{404,283},{208,266}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_dongzhuo_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{210,266}}</string>
                <key>offset</key>
                <string>{-3,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{404,283},{210,266}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_dongzhuo_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,216},{212,266}}</string>
                <key>offset</key>
                <string>{-2,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{404,283},{212,266}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_dongzhuo_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,2},{212,266}}</string>
                <key>offset</key>
                <string>{-1,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{405,283},{212,266}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_dongzhuo_idle_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{214,266}}</string>
                <key>offset</key>
                <string>{-2,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{403,283},{214,266}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_dongzhuo_idle_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{212,266}}</string>
                <key>offset</key>
                <string>{-2,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{404,283},{212,266}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>idle_0.pvr</string>
            <key>size</key>
            <string>{1020,484}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d9f4610969adb295d0bf4a200cc85b45:1/1$</string>
            <key>textureFileName</key>
            <string>idle_0.pvr</string>
        </dict>
    </dict>
</plist>
