<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_dongzhuo_skill2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,600},{206,266}}</string>
                <key>offset</key>
                <string>{-6,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{403,283},{206,266}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_dongzhuo_skill2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{312,216}}</string>
                <key>offset</key>
                <string>{-60,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{296,307},{312,216}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_dongzhuo_skill2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,432},{280,190}}</string>
                <key>offset</key>
                <string>{-34,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{338,328},{280,190}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_dongzhuo_skill2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,780},{234,212}}</string>
                <key>offset</key>
                <string>{-22,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{373,313},{234,212}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_dongzhuo_skill2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,220},{300,210}}</string>
                <key>offset</key>
                <string>{94,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{456,303},{300,210}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_dongzhuo_skill2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,220},{134,216}}</string>
                <key>offset</key>
                <string>{10,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{455,293},{134,216}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_dongzhuo_skill2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{292,206}}</string>
                <key>offset</key>
                <string>{-67,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{299,302},{292,206}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_dongzhuo_skill2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,808},{182,214}}</string>
                <key>offset</key>
                <string>{-4,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{417,292},{182,214}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_dongzhuo_skill2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,646},{246,214}}</string>
                <key>offset</key>
                <string>{66,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{455,293},{246,214}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_dongzhuo_skill2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{342,228}}</string>
                <key>offset</key>
                <string>{-45,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{296,290},{342,228}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_dongzhuo_skill2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,438},{202,206}}</string>
                <key>offset</key>
                <string>{45,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{456,308},{202,206}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_dongzhuo_skill2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{158,272}}</string>
                <key>offset</key>
                <string>{33,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{466,256},{158,272}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_dongzhuo_skill2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,624},{154,252}}</string>
                <key>offset</key>
                <string>{33,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{468,272},{154,252}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_dongzhuo_skill2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,862},{152,246}}</string>
                <key>offset</key>
                <string>{20,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{456,294},{152,246}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill2_0.pvr</string>
            <key>size</key>
            <string>{784,1018}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce762f413588205d234db55f3e6b1200:1/1$</string>
            <key>textureFileName</key>
            <string>skill2_0.pvr</string>
        </dict>
    </dict>
</plist>
