<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_zl_down_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,216}}</string>
                <key>offset</key>
                <string>{-94,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{314,333},{208,216}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zl_down_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,2},{252,106}}</string>
                <key>offset</key>
                <string>{-95,-109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{291,440},{252,106}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zl_down_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{270,106}}</string>
                <key>offset</key>
                <string>{-101,-147}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,478},{270,106}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zl_down_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,110},{268,94}}</string>
                <key>offset</key>
                <string>{-92,-146}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{286,483},{268,94}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zl_down_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,110},{266,88}}</string>
                <key>offset</key>
                <string>{-89,-141}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{290,481},{266,88}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zl_down_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,2},{266,84}}</string>
                <key>offset</key>
                <string>{-93,-161}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{286,503},{266,84}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>down_0.pvr</string>
            <key>size</key>
            <string>{1014,212}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:17c99fea864284aa426e1a4c790f3804:1/1$</string>
            <key>textureFileName</key>
            <string>down_0.pvr</string>
        </dict>
    </dict>
</plist>
