<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_zl_run_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,138},{144,248}}</string>
                <key>offset</key>
                <string>{-33,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{407,320},{144,248}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zl_run_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,272},{128,262}}</string>
                <key>offset</key>
                <string>{-38,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{410,305},{128,262}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zl_run_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{122,270}}</string>
                <key>offset</key>
                <string>{-45,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{406,294},{122,270}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zl_run_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,274}}</string>
                <key>offset</key>
                <string>{-48,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{398,290},{132,274}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zl_run_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{138,268}}</string>
                <key>offset</key>
                <string>{-45,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{398,304},{138,268}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zl_run_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{136,266}}</string>
                <key>offset</key>
                <string>{-41,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{403,308},{136,266}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zl_run_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,2},{134,264}}</string>
                <key>offset</key>
                <string>{-39,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{406,310},{134,264}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zl_run_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,138},{136,262}}</string>
                <key>offset</key>
                <string>{-38,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{406,312},{136,262}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zl_run_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{146,258}}</string>
                <key>offset</key>
                <string>{-40,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{399,315},{146,258}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zl_run_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,140},{146,254}}</string>
                <key>offset</key>
                <string>{-38,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{401,317},{146,254}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>run_0.pvr</string>
            <key>size</key>
            <string>{976,402}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ade6e83a4d41562ec18d9e1663b2b04a:1/1$</string>
            <key>textureFileName</key>
            <string>run_0.pvr</string>
        </dict>
    </dict>
</plist>
