<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_zl_skill2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{218,234}}</string>
                <key>offset</key>
                <string>{-33,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{370,321},{218,234}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zl_skill2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{120,234}}</string>
                <key>offset</key>
                <string>{-58,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{394,318},{120,234}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zl_skill2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{136,236}}</string>
                <key>offset</key>
                <string>{-65,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{379,315},{136,236}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zl_skill2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,238},{164,226}}</string>
                <key>offset</key>
                <string>{-74,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{356,324},{164,226}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zl_skill2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{182,228}}</string>
                <key>offset</key>
                <string>{-80,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{341,324},{182,228}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zl_skill2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,232},{186,224}}</string>
                <key>offset</key>
                <string>{-81,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{338,328},{186,224}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zl_skill2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{188,224}}</string>
                <key>offset</key>
                <string>{-81,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{337,329},{188,224}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zl_skill2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,238},{194,226}}</string>
                <key>offset</key>
                <string>{-81,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{334,329},{194,226}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill2_1.pvr</string>
            <key>size</key>
            <string>{762,466}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:78e4f1906d475435b35891b1cb79ede3:1/1$</string>
            <key>textureFileName</key>
            <string>skill2_1.pvr</string>
        </dict>
    </dict>
</plist>
