<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_zl_skill1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{152,222}}</string>
                <key>offset</key>
                <string>{-23,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{413,335},{152,222}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zl_skill1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{190,232}}</string>
                <key>offset</key>
                <string>{-4,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{413,326},{190,232}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zl_skill1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,260},{156,236}}</string>
                <key>offset</key>
                <string>{-26,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{408,323},{156,236}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zl_skill1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{212,236}}</string>
                <key>offset</key>
                <string>{-82,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{324,332},{212,236}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zl_skill1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,306},{174,210}}</string>
                <key>offset</key>
                <string>{-64,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{361,340},{174,210}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zl_skill1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,162},{142,214}}</string>
                <key>offset</key>
                <string>{-48,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{393,336},{142,214}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zl_skill1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,2},{158,218}}</string>
                <key>offset</key>
                <string>{-55,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{378,335},{158,218}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zl_skill1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,236},{212,222}}</string>
                <key>offset</key>
                <string>{-80,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{326,331},{212,222}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zl_skill1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,222}}</string>
                <key>offset</key>
                <string>{-98,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{286,331},{256,222}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill1_0.pvr</string>
            <key>size</key>
            <string>{808,498}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9ffe0d54109d550d512791b43446681c:1/1$</string>
            <key>textureFileName</key>
            <string>skill1_0.pvr</string>
        </dict>
    </dict>
</plist>
