<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_zs_weapon_1_atk2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{264,52}}</string>
                <key>offset</key>
                <string>{-21,-99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{359,457},{264,52}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_1_atk2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{192,106}}</string>
                <key>offset</key>
                <string>{-36,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{380,330},{192,106}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_1_atk2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{200,142}}</string>
                <key>offset</key>
                <string>{-67,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{345,305},{200,142}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_1_atk2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,134},{36,124}}</string>
                <key>offset</key>
                <string>{-43,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{451,305},{36,124}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_1_atk2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,554},{140,106}}</string>
                <key>offset</key>
                <string>{-29,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{413,363},{140,106}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_1_atk2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,554},{136,54}}</string>
                <key>offset</key>
                <string>{-90,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{354,388},{136,54}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_1_atk2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,278},{40,46}}</string>
                <key>offset</key>
                <string>{-47,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{445,433},{40,46}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_1_atk2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,386},{174,166}}</string>
                <key>offset</key>
                <string>{-105,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{320,366},{174,166}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_1_atk2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,230}}</string>
                <key>offset</key>
                <string>{-106,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{341,340},{130,230}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atk2_0.pvr</string>
            <key>size</key>
            <string>{242,706}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e98f968e34fbabc8c8ee549a0edd02f:1/1$</string>
            <key>textureFileName</key>
            <string>atk2_0.pvr</string>
        </dict>
    </dict>
</plist>
