<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_zs_weapon_1_atk3_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{188,102}}</string>
                <key>offset</key>
                <string>{-69,-95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{349,428},{188,102}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_1_atk3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,80},{260,20}}</string>
                <key>offset</key>
                <string>{140,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{522,450},{260,20}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_1_atk3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{270,76}}</string>
                <key>offset</key>
                <string>{57,-114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{434,460},{270,76}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_1_atk3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{122,218}}</string>
                <key>offset</key>
                <string>{-78,-118}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{373,393},{122,218}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atk3_0.pvr</string>
            <key>size</key>
            <string>{684,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9ad55e554a8ec07b745ea9eac13e0b15:1/1$</string>
            <key>textureFileName</key>
            <string>atk3_0.pvr</string>
        </dict>
    </dict>
</plist>
