<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_zs_weapon_1_down_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{282,24}}</string>
                <key>offset</key>
                <string>{-72,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{299,460},{282,24}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_1_down_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{280,24}}</string>
                <key>offset</key>
                <string>{-80,-184}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{292,556},{280,24}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_1_down_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,28},{280,20}}</string>
                <key>offset</key>
                <string>{-80,-199}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{292,573},{280,20}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_1_down_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,28},{278,20}}</string>
                <key>offset</key>
                <string>{-79,-198}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{294,572},{278,20}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_1_down_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,28},{278,20}}</string>
                <key>offset</key>
                <string>{-76,-197}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{297,571},{278,20}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>down_0.pvr</string>
            <key>size</key>
            <string>{844,50}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:92c29b5f8b47eb8753d15827c69ef814:1/1$</string>
            <key>textureFileName</key>
            <string>down_0.pvr</string>
        </dict>
    </dict>
</plist>
