<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_zs_weapon_1_skill5_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{90,258}}</string>
                <key>offset</key>
                <string>{-104,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{363,330},{90,258}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_1_skill5_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,232},{246,120}}</string>
                <key>offset</key>
                <string>{-146,-117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,441},{246,120}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_1_skill5_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,482},{210,194}}</string>
                <key>offset</key>
                <string>{-90,-140}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{317,427},{210,194}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_1_skill5_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,482},{64,218}}</string>
                <key>offset</key>
                <string>{4,-98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{484,373},{64,218}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_1_skill5_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{252,34}}</string>
                <key>offset</key>
                <string>{31,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{417,366},{252,34}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_1_skill5_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{110,218}}</string>
                <key>offset</key>
                <string>{-96,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{361,256},{110,218}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_1_skill5_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,142},{242,88}}</string>
                <key>offset</key>
                <string>{-124,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{267,420},{242,88}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_1_skill5_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,590},{128,216}}</string>
                <key>offset</key>
                <string>{-50,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{398,328},{128,216}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_1_skill5_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{248,78}}</string>
                <key>offset</key>
                <string>{-2,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{386,435},{248,78}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_1_skill5_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,354},{238,126}}</string>
                <key>offset</key>
                <string>{27,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{420,353},{238,126}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_1_skill5_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{246,114}}</string>
                <key>offset</key>
                <string>{30,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{419,361},{246,114}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_1_skill5_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{228,138}}</string>
                <key>offset</key>
                <string>{-23,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{375,404},{228,138}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_1_skill5_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{270,24}}</string>
                <key>offset</key>
                <string>{34,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{411,435},{270,24}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_1_skill5_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{236,84}}</string>
                <key>offset</key>
                <string>{-32,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{362,443},{236,84}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_1_skill5_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,28},{266,38}}</string>
                <key>offset</key>
                <string>{30,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{409,447},{266,38}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_1_skill5_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,678},{84,60}}</string>
                <key>offset</key>
                <string>{-18,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{452,448},{84,60}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_1_skill5_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,702},{162,34}}</string>
                <key>offset</key>
                <string>{-61,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{370,451},{162,34}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill5_0.pvr</string>
            <key>size</key>
            <string>{506,740}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f253a5f15d5482489cf387270207d3c9:1/1$</string>
            <key>textureFileName</key>
            <string>skill5_0.pvr</string>
        </dict>
    </dict>
</plist>
