<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_zs_weapon_1_skill3_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,86},{272,34}}</string>
                <key>offset</key>
                <string>{-141,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,388},{272,34}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_1_skill3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{192,60}}</string>
                <key>offset</key>
                <string>{-126,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{290,383},{192,60}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_1_skill3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,64},{20,44}}</string>
                <key>offset</key>
                <string>{-81,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{421,408},{20,44}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_1_skill3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{172,60}}</string>
                <key>offset</key>
                <string>{-19,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{407,384},{172,60}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_1_skill3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{268,36}}</string>
                <key>offset</key>
                <string>{6,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{384,388},{268,36}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_1_skill3_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,62},{250,22}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{385,388},{250,22}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_1_skill3_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{144,38}}</string>
                <key>offset</key>
                <string>{-28,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{412,376},{144,38}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_1_skill3_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,110},{12,34}}</string>
                <key>offset</key>
                <string>{-56,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{450,381},{12,34}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_1_skill3_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,40},{156,34}}</string>
                <key>offset</key>
                <string>{-97,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{337,378},{156,34}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_1_skill3_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,42},{256,18}}</string>
                <key>offset</key>
                <string>{-129,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,390},{256,18}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill3_0.pvr</string>
            <key>size</key>
            <string>{612,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e2e1bb0d8b5f3d6eae34113276cc8456:1/1$</string>
            <key>textureFileName</key>
            <string>skill3_0.pvr</string>
        </dict>
    </dict>
</plist>
