<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_zs_weapon_1_skill2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{96,232}}</string>
                <key>offset</key>
                <string>{-122,-96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{342,364},{96,232}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_1_skill2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,576},{144,152}}</string>
                <key>offset</key>
                <string>{-142,-105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{298,413},{144,152}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_1_skill2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,428},{254,68}}</string>
                <key>offset</key>
                <string>{-56,-94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{329,444},{254,68}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_1_skill2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,176},{258,88}}</string>
                <key>offset</key>
                <string>{17,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{400,374},{258,88}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_1_skill2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,448},{126,160}}</string>
                <key>offset</key>
                <string>{23,87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{472,217},{126,160}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_1_skill2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,166},{230,116}}</string>
                <key>offset</key>
                <string>{-29,120}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{368,206},{230,116}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_1_skill2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,666},{260,30}}</string>
                <key>offset</key>
                <string>{-63,106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{319,263},{260,30}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_1_skill2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,722},{178,126}}</string>
                <key>offset</key>
                <string>{-71,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{352,252},{178,126}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_1_skill2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,684},{46,242}}</string>
                <key>offset</key>
                <string>{-56,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{433,220},{46,242}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_1_skill2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,922},{220,40}}</string>
                <key>offset</key>
                <string>{20,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{422,300},{220,40}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_1_skill2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{244,138}}</string>
                <key>offset</key>
                <string>{-39,173}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{351,142},{244,138}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_1_skill2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,898},{234,22}}</string>
                <key>offset</key>
                <string>{-58,169}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{337,204},{234,22}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_1_skill2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,684},{174,92}}</string>
                <key>offset</key>
                <string>{-73,153}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{352,185},{174,92}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_1_skill2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,964},{44,204}}</string>
                <key>offset</key>
                <string>{-70,119}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{420,163},{44,204}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_1_skill2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,236},{210,96}}</string>
                <key>offset</key>
                <string>{12,134}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{419,202},{210,96}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_1_skill2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{218,172}}</string>
                <key>offset</key>
                <string>{-57,266}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{346,32},{218,172}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_1_skill2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{242,122}}</string>
                <key>offset</key>
                <string>{-102,274}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{289,49},{242,122}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_1_skill2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,928},{202,80}}</string>
                <key>offset</key>
                <string>{-106,271}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{305,73},{202,80}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_1_skill2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,638},{204,56}}</string>
                <key>offset</key>
                <string>{-101,250}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{309,106},{204,56}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_1_skill2_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,398},{266,48}}</string>
                <key>offset</key>
                <string>{-56,144}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{323,216},{266,48}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_1_skill2_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,638},{26,46}}</string>
                <key>offset</key>
                <string>{14,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{513,354},{26,46}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_1_skill2_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,850},{180,46}}</string>
                <key>offset</key>
                <string>{-52,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{370,433},{180,46}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_1_skill2_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{162,218}}</string>
                <key>offset</key>
                <string>{-122,-99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{309,374},{162,218}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_1_skill2_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,436},{130,200}}</string>
                <key>offset</key>
                <string>{-109,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{338,370},{130,200}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_1_skill2_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,666},{116,236}}</string>
                <key>offset</key>
                <string>{-109,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{345,349},{116,236}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_1_skill2_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,166},{90,260}}</string>
                <key>offset</key>
                <string>{-104,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{363,323},{90,260}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill2_0.pvr</string>
            <key>size</key>
            <string>{540,1010}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ebb4ab92e14c76a3410e066bafb7815:1/1$</string>
            <key>textureFileName</key>
            <string>skill2_0.pvr</string>
        </dict>
    </dict>
</plist>
