<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_zs_weapon_1_skill4_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{90,260}}</string>
                <key>offset</key>
                <string>{-104,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{363,331},{90,260}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_1_skill4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,94},{90,256}}</string>
                <key>offset</key>
                <string>{-99,-74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{368,330},{90,256}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_1_skill4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{92,252}}</string>
                <key>offset</key>
                <string>{-86,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{380,329},{92,252}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_1_skill4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{96,248}}</string>
                <key>offset</key>
                <string>{-80,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{384,330},{96,248}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_1_skill4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{108,240}}</string>
                <key>offset</key>
                <string>{-79,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{379,334},{108,240}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_1_skill4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{116,236}}</string>
                <key>offset</key>
                <string>{-82,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{372,335},{116,236}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill4_0.pvr</string>
            <key>size</key>
            <string>{684,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e6ac5286b96aae9bf7fab1ae4047d4a:1/1$</string>
            <key>textureFileName</key>
            <string>skill4_0.pvr</string>
        </dict>
    </dict>
</plist>
