<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_zs_weapon_1_sprint_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,178}}</string>
                <key>offset</key>
                <string>{-80,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{328,358},{208,178}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_1_sprint_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{206,178}}</string>
                <key>offset</key>
                <string>{-76,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{333,352},{206,178}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_1_sprint_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{204,180}}</string>
                <key>offset</key>
                <string>{-76,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{334,345},{204,180}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_1_sprint_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,182},{198,182}}</string>
                <key>offset</key>
                <string>{-79,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{334,345},{198,182}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_1_sprint_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,550},{196,186}}</string>
                <key>offset</key>
                <string>{-82,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{332,354},{196,186}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_1_sprint_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,554},{196,188}}</string>
                <key>offset</key>
                <string>{-78,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{336,343},{196,188}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_1_sprint_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,366},{196,186}}</string>
                <key>offset</key>
                <string>{-75,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{339,337},{196,186}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_1_sprint_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{202,184}}</string>
                <key>offset</key>
                <string>{-77,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{334,340},{202,184}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprint_0.pvr</string>
            <key>size</key>
            <string>{420,744}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1fa0e51db6bd9985ccfd67bd0657ece9:1/1$</string>
            <key>textureFileName</key>
            <string>sprint_0.pvr</string>
        </dict>
    </dict>
</plist>
