<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_zs_weapon_1_up_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{278,24}}</string>
                <key>offset</key>
                <string>{-111,-195}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,567},{278,24}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_1_up_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,28},{276,36}}</string>
                <key>offset</key>
                <string>{-108,-184}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,550},{276,36}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_1_up_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{204,176}}</string>
                <key>offset</key>
                <string>{-88,-138}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{322,434},{204,176}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_1_up_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,66},{50,254}}</string>
                <key>offset</key>
                <string>{-101,-109}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{386,366},{50,254}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>up_0.pvr</string>
            <key>size</key>
            <string>{488,180}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e7357c8afb3e2ea34353899c9fde7a90:1/1$</string>
            <key>textureFileName</key>
            <string>up_0.pvr</string>
        </dict>
    </dict>
</plist>
