<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_xuanqing_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,580},{60,144}}</string>
                <key>offset</key>
                <string>{-48,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{434,400},{60,144}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_xuanqing_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,870},{60,142}}</string>
                <key>offset</key>
                <string>{-48,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{434,402},{60,142}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_xuanqing_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{62,142}}</string>
                <key>offset</key>
                <string>{-49,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{432,402},{62,142}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_xuanqing_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{62,142}}</string>
                <key>offset</key>
                <string>{-49,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{432,402},{62,142}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_xuanqing_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,142}}</string>
                <key>offset</key>
                <string>{-49,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{432,402},{62,142}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_xuanqing_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{60,142}}</string>
                <key>offset</key>
                <string>{-48,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{434,402},{60,142}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_xuanqing_idle_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{60,144}}</string>
                <key>offset</key>
                <string>{-48,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{434,400},{60,144}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>idle_0.pvr</string>
            <key>size</key>
            <string>{66,1014}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f8ac92b0d29ea40e81fb72ad6b14b99:1/1$</string>
            <key>textureFileName</key>
            <string>idle_0.pvr</string>
        </dict>
    </dict>
</plist>
