<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc_clc_fx_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{134,130}}</string>
                <key>offset</key>
                <string>{5,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,112},{134,130}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>npc_clc_fx_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,128},{136,128}}</string>
                <key>offset</key>
                <string>{7,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,111},{136,128}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>npc_clc_fx_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,126},{136,128}}</string>
                <key>offset</key>
                <string>{8,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,111},{136,128}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>npc_clc_fx_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,258},{140,130}}</string>
                <key>offset</key>
                <string>{9,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,109},{140,130}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>npc_clc_fx_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{142,132}}</string>
                <key>offset</key>
                <string>{10,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,107},{142,132}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>npc_clc_fx_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,258},{144,130}}</string>
                <key>offset</key>
                <string>{11,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,109},{144,130}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>npc_clc_fx_idle_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,390},{146,134}}</string>
                <key>offset</key>
                <string>{12,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,105},{146,134}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>npc_clc_fx_idle_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,390},{148,134}}</string>
                <key>offset</key>
                <string>{13,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,105},{148,134}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>npc_clc_fx_idle_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,526},{150,134}}</string>
                <key>offset</key>
                <string>{14,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,105},{150,134}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>npc_clc_fx_idle_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,526},{150,134}}</string>
                <key>offset</key>
                <string>{15,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,105},{150,134}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>npc_clc_fx_idle_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,526},{152,136}}</string>
                <key>offset</key>
                <string>{15,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,103},{152,136}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>npc_clc_fx_idle_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,122}}</string>
                <key>offset</key>
                <string>{16,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,117},{154,122}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>npc_clc_fx_idle_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{126,122}}</string>
                <key>offset</key>
                <string>{3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,117},{126,122}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>npc_clc_fx_idle_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{130,124}}</string>
                <key>offset</key>
                <string>{4,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,115},{130,124}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>npc_clc_fx_idle_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{130,126}}</string>
                <key>offset</key>
                <string>{5,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,113},{130,126}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>idle_0.pvr</string>
            <key>size</key>
            <string>{460,664}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e92d7db3d4ebfa406337f7a387c43797:1/1$</string>
            <key>textureFileName</key>
            <string>idle_0.pvr</string>
        </dict>
    </dict>
</plist>
