<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_fs_weapon_1_atk1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{102,108}}</string>
                <key>offset</key>
                <string>{27,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{488,389},{102,108}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_1_atk1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{146,92}}</string>
                <key>offset</key>
                <string>{58,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{497,388},{146,92}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_1_atk1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{162,106}}</string>
                <key>offset</key>
                <string>{77,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{508,398},{162,106}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_1_atk1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,2},{164,78}}</string>
                <key>offset</key>
                <string>{94,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{524,396},{164,78}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_1_atk1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{166,86}}</string>
                <key>offset</key>
                <string>{76,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{505,374},{166,86}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atk1_0.pvr</string>
            <key>size</key>
            <string>{758,110}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e3c210e5e62611752bc9a341a4cde517:1/1$</string>
            <key>textureFileName</key>
            <string>atk1_0.pvr</string>
        </dict>
    </dict>
</plist>
