<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_fs_weapon_1_atk2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,2},{162,84}}</string>
                <key>offset</key>
                <string>{73,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{504,390},{162,84}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_1_atk2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,110}}</string>
                <key>offset</key>
                <string>{71,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{503,400},{160,110}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_1_atk2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,2},{164,76}}</string>
                <key>offset</key>
                <string>{92,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{522,401},{164,76}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_1_atk2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,2},{164,96}}</string>
                <key>offset</key>
                <string>{75,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{505,364},{164,96}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_1_atk2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{164,96}}</string>
                <key>offset</key>
                <string>{64,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{494,367},{164,96}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_1_atk2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{160,108}}</string>
                <key>offset</key>
                <string>{58,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{490,358},{160,108}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atk2_0.pvr</string>
            <key>size</key>
            <string>{988,114}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:680bc1227db3587efae265b3ed179172:1/1$</string>
            <key>textureFileName</key>
            <string>atk2_0.pvr</string>
        </dict>
    </dict>
</plist>
