<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_fs_weapon_1_down_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,166},{100,84}}</string>
                <key>offset</key>
                <string>{-117,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{345,328},{100,84}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_1_down_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,72}}</string>
                <key>offset</key>
                <string>{-90,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{386,435},{72,72}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_1_down_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{88,78}}</string>
                <key>offset</key>
                <string>{-94,-130}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{374,475},{88,78}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_1_down_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,88},{76,100}}</string>
                <key>offset</key>
                <string>{-92,-130}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{382,464},{76,100}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_1_down_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{76,72}}</string>
                <key>offset</key>
                <string>{-93,-115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{381,463},{76,72}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_1_down_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{74,84}}</string>
                <key>offset</key>
                <string>{-92,-130}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{383,472},{74,84}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_1_down_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{74,84}}</string>
                <key>offset</key>
                <string>{-92,-129}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{383,471},{74,84}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>down_0.pvr</string>
            <key>size</key>
            <string>{230,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a7da161efae71d52ba58a3102e458d0c:1/1$</string>
            <key>textureFileName</key>
            <string>down_0.pvr</string>
        </dict>
    </dict>
</plist>
