<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_fs_weapon_1_jump_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{134,132}}</string>
                <key>offset</key>
                <string>{34,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{479,405},{134,132}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_1_jump_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,130},{96,118}}</string>
                <key>offset</key>
                <string>{-37,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{427,381},{96,118}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_1_jump_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{126,108}}</string>
                <key>offset</key>
                <string>{-58,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{391,382},{126,108}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_1_jump_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,136},{150,74}}</string>
                <key>offset</key>
                <string>{-74,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{363,363},{150,74}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_1_jump_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{150,76}}</string>
                <key>offset</key>
                <string>{-76,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{361,310},{150,76}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jump_0.pvr</string>
            <key>size</key>
            <string>{254,288}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2be2f5d8e5a524bc5ce2706ec9e1c79:1/1$</string>
            <key>textureFileName</key>
            <string>jump_0.pvr</string>
        </dict>
    </dict>
</plist>
