<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_fs_weapon_1_runatk_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{90,70}}</string>
                <key>offset</key>
                <string>{-69,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{398,389},{90,70}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_1_runatk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{92,74}}</string>
                <key>offset</key>
                <string>{-61,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{405,391},{92,74}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_1_runatk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,114}}</string>
                <key>offset</key>
                <string>{-5,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{465,350},{84,114}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_1_runatk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{84,112}}</string>
                <key>offset</key>
                <string>{28,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{498,353},{84,112}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_1_runatk_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{86,82}}</string>
                <key>offset</key>
                <string>{43,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{512,374},{86,82}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>runatk_0.pvr</string>
            <key>size</key>
            <string>{88,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:23e226c6d8d3b4efe9cb2fd6b2e64d67:1/1$</string>
            <key>textureFileName</key>
            <string>runatk_0.pvr</string>
        </dict>
    </dict>
</plist>
