<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_fs_weapon_1_skill1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,306},{96,128}}</string>
                <key>offset</key>
                <string>{10,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{474,391},{96,128}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_1_skill1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,720},{152,74}}</string>
                <key>offset</key>
                <string>{53,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{489,406},{152,74}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_1_skill1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,870},{152,70}}</string>
                <key>offset</key>
                <string>{53,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{489,413},{152,70}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_1_skill1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,796},{152,72}}</string>
                <key>offset</key>
                <string>{52,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{488,415},{152,72}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_1_skill1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,640},{152,78}}</string>
                <key>offset</key>
                <string>{51,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{487,417},{152,78}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_1_skill1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,152},{152,98}}</string>
                <key>offset</key>
                <string>{51,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{487,410},{152,98}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_1_skill1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{152,122}}</string>
                <key>offset</key>
                <string>{51,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{487,398},{152,122}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_1_skill1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{152,138}}</string>
                <key>offset</key>
                <string>{51,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{487,390},{152,138}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_1_skill1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{152,142}}</string>
                <key>offset</key>
                <string>{52,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{488,388},{152,142}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_1_skill1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,114}}</string>
                <key>offset</key>
                <string>{53,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{488,401},{154,114}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_1_skill1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,870},{152,68}}</string>
                <key>offset</key>
                <string>{58,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{494,418},{152,68}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_1_skill1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,572},{80,152}}</string>
                <key>offset</key>
                <string>{23,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{495,260},{80,152}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_1_skill1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,436},{134,92}}</string>
                <key>offset</key>
                <string>{-130,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{315,359},{134,92}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_1_skill1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,726},{134,78}}</string>
                <key>offset</key>
                <string>{-140,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{305,389},{134,78}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_1_skill1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,870},{118,128}}</string>
                <key>offset</key>
                <string>{-94,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{359,281},{118,128}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_1_skill1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,526},{112,152}}</string>
                <key>offset</key>
                <string>{43,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{499,272},{112,152}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_1_skill1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{148,100}}</string>
                <key>offset</key>
                <string>{67,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{505,352},{148,100}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill1_0.pvr</string>
            <key>size</key>
            <string>{264,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c91596066f1bb5c43557e45f1c630365:1/1$</string>
            <key>textureFileName</key>
            <string>skill1_0.pvr</string>
        </dict>
    </dict>
</plist>
