<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_fs_weapon_1_skill5_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{146,110}}</string>
                <key>offset</key>
                <string>{41,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{480,386},{146,110}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_1_skill5_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,680},{148,72}}</string>
                <key>offset</key>
                <string>{56,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{494,385},{148,72}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_1_skill5_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{150,76}}</string>
                <key>offset</key>
                <string>{32,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{469,414},{150,76}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_1_skill5_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,530},{152,74}}</string>
                <key>offset</key>
                <string>{37,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{473,416},{152,74}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_1_skill5_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,606},{152,72}}</string>
                <key>offset</key>
                <string>{38,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{474,418},{152,72}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_1_skill5_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,454},{152,74}}</string>
                <key>offset</key>
                <string>{38,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{474,416},{152,74}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_1_skill5_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,536},{154,72}}</string>
                <key>offset</key>
                <string>{37,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{472,417},{154,72}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_1_skill5_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,378},{156,74}}</string>
                <key>offset</key>
                <string>{36,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{470,414},{156,74}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_1_skill5_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,302},{160,74}}</string>
                <key>offset</key>
                <string>{35,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{467,413},{160,74}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_1_skill5_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{158,82}}</string>
                <key>offset</key>
                <string>{38,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{471,394},{158,82}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_1_skill5_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,162},{138,94}}</string>
                <key>offset</key>
                <string>{33,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{476,364},{138,94}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_1_skill5_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{130,114}}</string>
                <key>offset</key>
                <string>{28,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{475,347},{130,114}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_1_skill5_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{152,78}}</string>
                <key>offset</key>
                <string>{46,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{482,395},{152,78}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill5_0.pvr</string>
            <key>size</key>
            <string>{244,754}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fe8a79aaf62f83e9be40384a8906f9f7:1/1$</string>
            <key>textureFileName</key>
            <string>skill5_0.pvr</string>
        </dict>
    </dict>
</plist>
