<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_fs_weapon_1_up_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{74,84}}</string>
                <key>offset</key>
                <string>{-92,-129}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{383,471},{74,84}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_1_up_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{70,108}}</string>
                <key>offset</key>
                <string>{-96,-129}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{381,459},{70,108}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_1_up_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{92,112}}</string>
                <key>offset</key>
                <string>{-77,-113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{389,441},{92,112}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_1_up_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,124}}</string>
                <key>offset</key>
                <string>{-36,-104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{434,426},{84,124}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_1_up_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{82,120}}</string>
                <key>offset</key>
                <string>{-27,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{444,408},{82,120}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_1_up_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{84,116}}</string>
                <key>offset</key>
                <string>{-15,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{455,396},{84,116}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>up_0.pvr</string>
            <key>size</key>
            <string>{500,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f3fb43933668d8423dd223505663c92f:1/1$</string>
            <key>textureFileName</key>
            <string>up_0.pvr</string>
        </dict>
    </dict>
</plist>
