<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fnpc007_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,114},{110,200}}</string>
                <key>offset</key>
                <string>{9,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{466,311},{110,200}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc007_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{110,200}}</string>
                <key>offset</key>
                <string>{9,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{466,311},{110,200}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc007_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,228},{112,202}}</string>
                <key>offset</key>
                <string>{9,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{465,309},{112,202}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc007_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,228},{112,202}}</string>
                <key>offset</key>
                <string>{10,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{466,309},{112,202}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc007_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,228},{112,202}}</string>
                <key>offset</key>
                <string>{10,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{466,309},{112,202}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc007_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,226},{112,202}}</string>
                <key>offset</key>
                <string>{10,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{466,309},{112,202}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc007_idle_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{112,202}}</string>
                <key>offset</key>
                <string>{10,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{466,309},{112,202}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc007_idle_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,114},{112,202}}</string>
                <key>offset</key>
                <string>{9,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{465,309},{112,202}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc007_idle_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,114},{112,202}}</string>
                <key>offset</key>
                <string>{9,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{465,309},{112,202}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc007_idle_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,114},{110,202}}</string>
                <key>offset</key>
                <string>{9,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{466,309},{110,202}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc007_idle_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{110,202}}</string>
                <key>offset</key>
                <string>{9,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{466,309},{110,202}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc007_idle_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,2},{110,202}}</string>
                <key>offset</key>
                <string>{8,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{465,309},{110,202}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc007_idle_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,2},{110,202}}</string>
                <key>offset</key>
                <string>{8,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{465,309},{110,202}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc007_idle_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{110,202}}</string>
                <key>offset</key>
                <string>{8,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{465,309},{110,202}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc007_idle_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,200}}</string>
                <key>offset</key>
                <string>{8,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{465,311},{110,200}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>idle_0.pvr</string>
            <key>size</key>
            <string>{1022,342}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:012af8b4c49731bf96a18888427d2413:1/1$</string>
            <key>textureFileName</key>
            <string>idle_0.pvr</string>
        </dict>
    </dict>
</plist>
