<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_zs_weapon_3_fx_sprint_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,2},{288,262}}</string>
                <key>offset</key>
                <string>{-82,-66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{286,319},{288,262}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_3_fx_sprint_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{286,260}}</string>
                <key>offset</key>
                <string>{-79,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{290,314},{286,260}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_3_fx_sprint_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{282,260}}</string>
                <key>offset</key>
                <string>{-78,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{293,307},{282,260}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_3_fx_sprint_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{278,264}}</string>
                <key>offset</key>
                <string>{-82,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{291,306},{278,264}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_3_fx_sprint_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,530},{276,268}}</string>
                <key>offset</key>
                <string>{-84,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{290,315},{276,268}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_3_fx_sprint_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,532},{278,268}}</string>
                <key>offset</key>
                <string>{-79,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{294,305},{278,268}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_3_fx_sprint_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,532},{282,270}}</string>
                <key>offset</key>
                <string>{-74,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{297,294},{282,270}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_3_fx_sprint_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,264},{290,266}}</string>
                <key>offset</key>
                <string>{-75,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{292,299},{290,266}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprint_0.pvr</string>
            <key>size</key>
            <string>{838,816}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:deb105cc5ce063abed1e47e5f66afe34:1/1$</string>
            <key>textureFileName</key>
            <string>sprint_0.pvr</string>
        </dict>
    </dict>
</plist>
