<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_normal_038_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{258,136}}</string>
                <key>offset</key>
                <string>{40,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{423,353},{258,136}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_038_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,2},{256,134}}</string>
                <key>offset</key>
                <string>{40,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{424,355},{256,134}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_038_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{256,134}}</string>
                <key>offset</key>
                <string>{40,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{424,355},{256,134}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>idle_0.pvr</string>
            <key>size</key>
            <string>{778,140}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e65c506ac99ac141fa68ec1f8b0d1092:1/1$</string>
            <key>textureFileName</key>
            <string>idle_0.pvr</string>
        </dict>
    </dict>
</plist>
