<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_duosi_hurt_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,696},{326,292}}</string>
                <key>offset</key>
                <string>{-40,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{309,236},{326,292}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_duosi_hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{374,238}}</string>
                <key>offset</key>
                <string>{-70,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,286},{374,238}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_duosi_hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{404,216}}</string>
                <key>offset</key>
                <string>{-88,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,300},{404,216}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_duosi_hurt_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{408,226}}</string>
                <key>offset</key>
                <string>{-90,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,282},{408,226}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_duosi_hurt_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,696},{390,266}}</string>
                <key>offset</key>
                <string>{-81,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,238},{390,266}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_duosi_hurt_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{364,278}}</string>
                <key>offset</key>
                <string>{-68,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{262,232},{364,278}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_duosi_hurt_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,368},{326,292}}</string>
                <key>offset</key>
                <string>{-40,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{309,236},{326,292}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hurt_0.pvr</string>
            <key>size</key>
            <string>{702,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a12ef0ae601cbed043bdb6e3494c994b:1/1$</string>
            <key>textureFileName</key>
            <string>hurt_0.pvr</string>
        </dict>
    </dict>
</plist>
