<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_duosi_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{326,292}}</string>
                <key>offset</key>
                <string>{-40,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{309,236},{326,292}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_duosi_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{324,294}}</string>
                <key>offset</key>
                <string>{-40,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{310,237},{324,294}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_duosi_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,594},{320,296}}</string>
                <key>offset</key>
                <string>{-40,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{312,237},{320,296}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_duosi_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{320,296}}</string>
                <key>offset</key>
                <string>{-41,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{311,237},{320,296}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_duosi_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,2},{326,294}}</string>
                <key>offset</key>
                <string>{-42,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{307,236},{326,294}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_duosi_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,298},{330,294}}</string>
                <key>offset</key>
                <string>{-42,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{305,233},{330,294}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_duosi_idle_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,594},{336,294}}</string>
                <key>offset</key>
                <string>{-42,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{302,231},{336,294}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_duosi_idle_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,594},{338,294}}</string>
                <key>offset</key>
                <string>{-41,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{302,231},{338,294}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_duosi_idle_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,298},{336,294}}</string>
                <key>offset</key>
                <string>{-41,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{303,232},{336,294}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>idle_0.pvr</string>
            <key>size</key>
            <string>{1002,892}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3473c96a7cf185d8fae134a55f356b27:1/1$</string>
            <key>textureFileName</key>
            <string>idle_0.pvr</string>
        </dict>
    </dict>
</plist>
