<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_duosi_run_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{300,272}}</string>
                <key>offset</key>
                <string>{66,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{428,231},{300,272}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_duosi_run_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,546},{300,280}}</string>
                <key>offset</key>
                <string>{66,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{428,230},{300,280}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_duosi_run_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,274},{300,278}}</string>
                <key>offset</key>
                <string>{66,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{428,232},{300,278}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_duosi_run_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,274},{300,274}}</string>
                <key>offset</key>
                <string>{66,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{428,232},{300,274}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_duosi_run_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,2},{300,270}}</string>
                <key>offset</key>
                <string>{66,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{428,234},{300,270}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_duosi_run_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,268}}</string>
                <key>offset</key>
                <string>{64,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{426,234},{300,268}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_duosi_run_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{300,270}}</string>
                <key>offset</key>
                <string>{64,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{426,231},{300,270}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_duosi_run_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,554},{302,288}}</string>
                <key>offset</key>
                <string>{66,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{427,226},{302,288}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_duosi_run_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,554},{302,290}}</string>
                <key>offset</key>
                <string>{67,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{428,223},{302,290}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>run_0.pvr</string>
            <key>size</key>
            <string>{912,846}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:093c46db88ceb27edde347047b11aa7d:1/1$</string>
            <key>textureFileName</key>
            <string>run_0.pvr</string>
        </dict>
    </dict>
</plist>
