<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jingjichangshibai.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,2},{391,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{391,259}}</string>
                <key>sourceSize</key>
                <string>{391,259}</string>
            </dict>
            <key>jingjichangshili.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,2},{391,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{391,259}}</string>
                <key>sourceSize</key>
                <string>{391,259}</string>
            </dict>
            <key>jingjixhangshengzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{157,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{157,173}}</string>
                <key>sourceSize</key>
                <string>{157,177}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>arenaSettlement.pvr</string>
            <key>size</key>
            <string>{947,263}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7527319be0e6ed66f713df907ef33e83:1/1$</string>
            <key>textureFileName</key>
            <string>arenaSettlement.pvr</string>
        </dict>
    </dict>
</plist>
