<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jijczi.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,2},{102,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{102,24}}</string>
                <key>sourceSize</key>
                <string>{102,26}</string>
            </dict>
            <key>jingjic-dim.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{133,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,25}}</string>
                <key>sourceSize</key>
                <string>{133,25}</string>
            </dict>
            <key>jingjic-over.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,81},{185,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,283}}</string>
                <key>sourceSize</key>
                <string>{185,283}</string>
            </dict>
            <key>jingjihong.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,81},{185,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,283}}</string>
                <key>sourceSize</key>
                <string>{185,283}</string>
            </dict>
            <key>jingjilan.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,31},{185,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,282}}</string>
                <key>sourceSize</key>
                <string>{185,282}</string>
            </dict>
            <key>xiaoxid.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>zhanchang_bang_over.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,2},{99,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,27}}</string>
                <key>sourceSize</key>
                <string>{99,27}</string>
            </dict>
            <key>zhanchang_bang_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{99,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,27}}</string>
                <key>sourceSize</key>
                <string>{99,27}</string>
            </dict>
            <key>zhandoulidiz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,29},{179,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,77}}</string>
                <key>sourceSize</key>
                <string>{179,77}</string>
            </dict>
            <key>zhandoulidiz2.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,2},{179,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,77}}</string>
                <key>sourceSize</key>
                <string>{179,77}</string>
            </dict>
            <key>zhanzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,2},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{25,25}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>arena.pvr</string>
            <key>size</key>
            <string>{744,366}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:96412efa19820d30701856fc5dc808a8:1/1$</string>
            <key>textureFileName</key>
            <string>arena.pvr</string>
        </dict>
    </dict>
</plist>
