<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fengexianz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1013,2},{1,489}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,489}}</string>
                <key>sourceSize</key>
                <string>{1,489}</string>
            </dict>
            <key>gh_background1.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,420},{170,170}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{170,170}}</string>
                <key>sourceSize</key>
                <string>{182,180}</string>
            </dict>
            <key>gh_bai.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,83},{107,106}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{107,106}}</string>
                <key>sourceSize</key>
                <string>{123,124}</string>
            </dict>
            <key>gh_baxia_dis.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,362},{158,158}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{158,158}}</string>
                <key>sourceSize</key>
                <string>{182,180}</string>
            </dict>
            <key>gh_baxia_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,351},{158,158}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{158,158}}</string>
                <key>sourceSize</key>
                <string>{182,180}</string>
            </dict>
            <key>gh_beibao_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,110},{156,148}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,15},{156,148}}</string>
                <key>sourceSize</key>
                <string>{182,180}</string>
            </dict>
            <key>gh_beibao_over.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,106},{156,148}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,15},{156,148}}</string>
                <key>sourceSize</key>
                <string>{182,180}</string>
            </dict>
            <key>gh_cheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,83},{107,106}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{107,106}}</string>
                <key>sourceSize</key>
                <string>{123,124}</string>
            </dict>
            <key>gh_jin.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,64},{107,106}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{107,106}}</string>
                <key>sourceSize</key>
                <string>{123,124}</string>
            </dict>
            <key>gh_lan.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,30},{107,106}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{107,106}}</string>
                <key>sourceSize</key>
                <string>{123,124}</string>
            </dict>
            <key>gh_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{35,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,43}}</string>
                <key>sourceSize</key>
                <string>{35,43}</string>
            </dict>
            <key>gh_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,29},{107,106}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{107,106}}</string>
                <key>sourceSize</key>
                <string>{123,124}</string>
            </dict>
            <key>gh_pixiu_dis.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,332},{158,158}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{158,158}}</string>
                <key>sourceSize</key>
                <string>{182,180}</string>
            </dict>
            <key>gh_pixiu_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{158,158}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{158,158}}</string>
                <key>sourceSize</key>
                <string>{182,180}</string>
            </dict>
            <key>gh_shuolian.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,2},{71,60}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,34},{71,60}}</string>
                <key>sourceSize</key>
                <string>{123,124}</string>
            </dict>
            <key>gh_suanni_dis.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,260},{158,158}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{158,158}}</string>
                <key>sourceSize</key>
                <string>{182,180}</string>
            </dict>
            <key>gh_suanni_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,256},{158,158}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{158,158}}</string>
                <key>sourceSize</key>
                <string>{182,180}</string>
            </dict>
            <key>gh_suipian.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>gh_taotie_dis.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,202},{158,158}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{158,158}}</string>
                <key>sourceSize</key>
                <string>{182,180}</string>
            </dict>
            <key>gh_taotie_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,191},{158,158}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{158,158}}</string>
                <key>sourceSize</key>
                <string>{182,180}</string>
            </dict>
            <key>gh_unlock.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,86},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{114,114}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>gh_xuanzhongquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,2},{100,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,14},{100,102}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>gh_zhulong_dis.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,172},{158,158}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{158,158}}</string>
                <key>sourceSize</key>
                <string>{182,180}</string>
            </dict>
            <key>gh_zhulong_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{158,158}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,9},{158,158}}</string>
                <key>sourceSize</key>
                <string>{182,180}</string>
            </dict>
            <key>gh_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,2},{107,106}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,10},{107,106}}</string>
                <key>sourceSize</key>
                <string>{123,124}</string>
            </dict>
            <key>hg-k.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,2},{96,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,94}}</string>
                <key>sourceSize</key>
                <string>{96,94}</string>
            </dict>
            <key>hgzt.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,2},{85,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,26}}</string>
                <key>sourceSize</key>
                <string>{85,26}</string>
            </dict>
            <key>hungudizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,2},{82,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,82}}</string>
                <key>sourceSize</key>
                <string>{82,82}</string>
            </dict>
            <key>yijianrhez.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{135,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{135,25}}</string>
                <key>sourceSize</key>
                <string>{137,29}</string>
            </dict>
            <key>zhaohauan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,2},{122,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,79}}</string>
                <key>sourceSize</key>
                <string>{122,79}</string>
            </dict>
            <key>zhaohuanz.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{122,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,79}}</string>
                <key>sourceSize</key>
                <string>{122,79}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>boneSpirit.pvr</string>
            <key>size</key>
            <string>{1016,592}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c275c8ff89a9f8884cbbdf1fbe25be84:1/1$</string>
            <key>textureFileName</key>
            <string>boneSpirit.pvr</string>
        </dict>
    </dict>
</plist>
