<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bzj.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,120},{134,96}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,14},{134,96}}</string>
                <key>sourceSize</key>
                <string>{144,124}</string>
            </dict>
            <key>bzjxz.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,114},{134,96}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,14},{134,96}}</string>
                <key>sourceSize</key>
                <string>{144,124}</string>
            </dict>
            <key>cjjt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{144,90}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{144,90}}</string>
                <key>sourceSize</key>
                <string>{144,124}</string>
            </dict>
            <key>cjjtxz.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,75},{144,90}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{144,90}}</string>
                <key>sourceSize</key>
                <string>{144,124}</string>
            </dict>
            <key>czs.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,2},{132,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,27}}</string>
                <key>sourceSize</key>
                <string>{132,27}</string>
            </dict>
            <key>dituxq.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,2},{40,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,24}}</string>
                <key>sourceSize</key>
                <string>{40,24}</string>
            </dict>
            <key>djt.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,114},{118,90}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,18},{118,90}}</string>
                <key>sourceSize</key>
                <string>{144,124}</string>
            </dict>
            <key>djtxz.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,75},{118,90}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,18},{118,90}}</string>
                <key>sourceSize</key>
                <string>{144,124}</string>
            </dict>
            <key>fhan.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,2},{72,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,71}}</string>
                <key>sourceSize</key>
                <string>{72,71}</string>
            </dict>
            <key>fhan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,2},{72,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,71}}</string>
                <key>sourceSize</key>
                <string>{72,71}</string>
            </dict>
            <key>huodui.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,167},{159,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,131}}</string>
                <key>sourceSize</key>
                <string>{159,131}</string>
            </dict>
            <key>jtks.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,621},{247,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,178}}</string>
                <key>sourceSize</key>
                <string>{247,178}</string>
            </dict>
            <key>kaodw.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,32},{90,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,86}}</string>
                <key>sourceSize</key>
                <string>{90,86}</string>
            </dict>
            <key>kaojitui1-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,218},{204,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,148}}</string>
                <key>sourceSize</key>
                <string>{204,148}</string>
            </dict>
            <key>kaojitui1-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{204,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,148}}</string>
                <key>sourceSize</key>
                <string>{204,148}</string>
            </dict>
            <key>kaojitui2-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{235,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,159}}</string>
                <key>sourceSize</key>
                <string>{235,159}</string>
            </dict>
            <key>kaojitui2-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,285},{235,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,159}}</string>
                <key>sourceSize</key>
                <string>{235,159}</string>
            </dict>
            <key>kaojitui3-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,474},{246,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,173}}</string>
                <key>sourceSize</key>
                <string>{246,173}</string>
            </dict>
            <key>kaojitui3-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,446},{246,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{246,173}}</string>
                <key>sourceSize</key>
                <string>{246,173}</string>
            </dict>
            <key>kjtdd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>ksz.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,300},{157,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,172}}</string>
                <key>sourceSize</key>
                <string>{157,172}</string>
            </dict>
            <key>ldw1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{404,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,50}}</string>
                <key>sourceSize</key>
                <string>{404,50}</string>
            </dict>
            <key>sk-ds.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,167},{139,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,116}}</string>
                <key>sourceSize</key>
                <string>{139,116}</string>
            </dict>
            <key>ved.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,31},{90,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,86}}</string>
                <key>sourceSize</key>
                <string>{90,86}</string>
            </dict>
            <key>xk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,649},{359,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,294}}</string>
                <key>sourceSize</key>
                <string>{359,294}</string>
            </dict>
            <key>yqan.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,2},{67,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{67,28}}</string>
                <key>sourceSize</key>
                <string>{69,30}</string>
            </dict>
            <key>yqan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,2},{67,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{67,28}}</string>
                <key>sourceSize</key>
                <string>{69,30}</string>
            </dict>
            <key>zkt1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,28},{370,32}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{370,32}}</string>
                <key>sourceSize</key>
                <string>{390,40}</string>
            </dict>
            <key>zkt2.png</key>
            <dict>
                <key>frame</key>
                <string>{{12,2},{359,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,16}}</string>
                <key>sourceSize</key>
                <string>{359,16}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chickenRoasted.pvr</string>
            <key>size</key>
            <string>{858,945}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5816dc928a5bc6facc7f833a515127c5:1/1$</string>
            <key>textureFileName</key>
            <string>chickenRoasted.pvr</string>
        </dict>
    </dict>
</plist>
