<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>corps_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,295},{186,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{186,214}}</string>
                <key>sourceSize</key>
                <string>{192,220}</string>
            </dict>
            <key>corps_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,276},{188,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{188,214}}</string>
                <key>sourceSize</key>
                <string>{192,220}</string>
            </dict>
            <key>corps_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,226},{186,214}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{186,214}}</string>
                <key>sourceSize</key>
                <string>{192,220}</string>
            </dict>
            <key>fanhuianiu-over.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,47},{55,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,58}}</string>
                <key>sourceSize</key>
                <string>{55,58}</string>
            </dict>
            <key>fanhuianiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,29},{55,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,58}}</string>
                <key>sourceSize</key>
                <string>{55,58}</string>
            </dict>
            <key>jiange1.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,26},{2,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,46}}</string>
                <key>sourceSize</key>
                <string>{2,46}</string>
            </dict>
            <key>jiaoshui-over.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,127},{97,93}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{97,93}}</string>
                <key>sourceSize</key>
                <string>{97,99}</string>
            </dict>
            <key>jiaoshui-up.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,96},{97,93}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{97,93}}</string>
                <key>sourceSize</key>
                <string>{97,99}</string>
            </dict>
            <key>jinbjx.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,222},{103,119}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,119}}</string>
                <key>sourceSize</key>
                <string>{105,119}</string>
            </dict>
            <key>jtz-zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,17},{107,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,28}}</string>
                <key>sourceSize</key>
                <string>{107,28}</string>
            </dict>
            <key>juanxian-zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,42},{118,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,52}}</string>
                <key>sourceSize</key>
                <string>{118,52}</string>
            </dict>
            <key>juanxian-ziover.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,26},{118,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,52}}</string>
                <key>sourceSize</key>
                <string>{118,52}</string>
            </dict>
            <key>junjtk.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,26},{384,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{384,33}}</string>
                <key>sourceSize</key>
                <string>{384,35}</string>
            </dict>
            <key>juntuan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,2},{67,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{67,25}}</string>
                <key>sourceSize</key>
                <string>{69,27}</string>
            </dict>
            <key>juntuancaiffh.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,2},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>juntuanhui.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,164},{105,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,110}}</string>
                <key>sourceSize</key>
                <string>{105,110}</string>
            </dict>
            <key>juntuanjtt.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,2},{342,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{342,22}}</string>
                <key>sourceSize</key>
                <string>{342,22}</string>
            </dict>
            <key>junzhang1.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,17},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>ksyq-over.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,191},{111,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,102}}</string>
                <key>sourceSize</key>
                <string>{111,102}</string>
            </dict>
            <key>ksyq-up.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,164},{111,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,102}}</string>
                <key>sourceSize</key>
                <string>{111,102}</string>
            </dict>
            <key>luseteshuanniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,127},{161,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,73}}</string>
                <key>sourceSize</key>
                <string>{161,73}</string>
            </dict>
            <key>luseteshuanniu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,89},{161,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,73}}</string>
                <key>sourceSize</key>
                <string>{161,73}</string>
            </dict>
            <key>nenglizhijindut.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,61},{460,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,64}}</string>
                <key>sourceSize</key>
                <string>{460,64}</string>
            </dict>
            <key>renyuanshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,2},{26,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{26,38}}</string>
                <key>sourceSize</key>
                <string>{36,38}</string>
            </dict>
            <key>shengzhangji-over.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,127},{97,97}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{97,97}}</string>
                <key>sourceSize</key>
                <string>{97,99}</string>
            </dict>
            <key>shengzhangji.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,127},{97,97}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{97,97}}</string>
                <key>sourceSize</key>
                <string>{97,99}</string>
            </dict>
            <key>tixingtan.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,2},{32,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,37}}</string>
                <key>sourceSize</key>
                <string>{32,37}</string>
            </dict>
            <key>yuanbjx.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{103,119}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,119}}</string>
                <key>sourceSize</key>
                <string>{105,119}</string>
            </dict>
            <key>zisejindut.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{319,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{319,13}}</string>
                <key>sourceSize</key>
                <string>{319,13}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>corps.pvr</string>
            <key>size</key>
            <string>{838,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fe111893ea371a8c7533691236779166:1/1$</string>
            <key>textureFileName</key>
            <string>corps.pvr</string>
        </dict>
    </dict>
</plist>
