<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>haiyouqiecuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,336},{268,196}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{268,196}}</string>
                <key>sourceSize</key>
                <string>{270,198}</string>
            </dict>
            <key>jingjirukou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{270,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,198}}</string>
                <key>sourceSize</key>
                <string>{270,198}</string>
            </dict>
            <key>jingjizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,336},{68,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{68,24}}</string>
                <key>sourceSize</key>
                <string>{70,26}</string>
            </dict>
            <key>juedoudi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{958,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{958,332}}</string>
                <key>sourceSize</key>
                <string>{958,332}</string>
            </dict>
            <key>juedoudian.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,362},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>juedoujinrukoou.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,336},{268,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{268,196}}</string>
                <key>sourceSize</key>
                <string>{270,198}</string>
            </dict>
            <key>juedouzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,406},{68,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{68,26}}</string>
                <key>sourceSize</key>
                <string>{70,26}</string>
            </dict>
            <key>wenhaobu.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,336},{45,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,68}}</string>
                <key>sourceSize</key>
                <string>{45,68}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>duel.pvr</string>
            <key>size</key>
            <string>{962,536}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1af3d00447a81e2dc175f5bca8b7a7c4$</string>
            <key>textureFileName</key>
            <string>duel.pvr</string>
        </dict>
    </dict>
</plist>
