<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Clearance_star_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,377},{40,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,37}}</string>
                <key>sourceSize</key>
                <string>{40,37}</string>
            </dict>
            <key>Clearance_star_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,338},{40,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,37}}</string>
                <key>sourceSize</key>
                <string>{40,37}</string>
            </dict>
            <key>baoshi_shop_over.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,416},{33,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{33,31}}</string>
                <key>sourceSize</key>
                <string>{35,31}</string>
            </dict>
            <key>biaoqian.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,416},{23,35}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{23,35}}</string>
                <key>sourceSize</key>
                <string>{29,41}</string>
            </dict>
            <key>chuansong_gaoguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,338},{120,82}}</string>
                <key>offset</key>
                <string>{0,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,26},{120,82}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>chuansong_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,449},{138,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,32}}</string>
                <key>sourceSize</key>
                <string>{138,32}</string>
            </dict>
            <key>chuansong_over.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,178},{158,158}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,20},{158,158}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>chuansong_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{174,174}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{174,174}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>jiesuanyint.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,884},{587,2}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{587,2}}</string>
                <key>sourceSize</key>
                <string>{595,2}</string>
            </dict>
            <key>jinbifubentubiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,486},{259,203}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,74},{259,203}}</string>
                <key>sourceSize</key>
                <string>{327,327}</string>
            </dict>
            <key>jingyanfubentubiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,409},{309,197}}</string>
                <key>offset</key>
                <string>{-2,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,49},{309,197}}</string>
                <key>sourceSize</key>
                <string>{327,327}</string>
            </dict>
            <key>js-huoqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,761},{97,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,41}}</string>
                <key>sourceSize</key>
                <string>{97,41}</string>
            </dict>
            <key>js-jinbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,804},{95,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,22}}</string>
                <key>sourceSize</key>
                <string>{95,22}</string>
            </dict>
            <key>js-jy.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,785},{95,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,22}}</string>
                <key>sourceSize</key>
                <string>{95,22}</string>
            </dict>
            <key>js-pjia.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,761},{95,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,22}}</string>
                <key>sourceSize</key>
                <string>{95,22}</string>
            </dict>
            <key>js-shuzidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,766},{78,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,30}}</string>
                <key>sourceSize</key>
                <string>{78,30}</string>
            </dict>
            <key>js-sj.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,766},{95,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,22}}</string>
                <key>sourceSize</key>
                <string>{95,22}</string>
            </dict>
            <key>js-zdlj.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,422},{95,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,22}}</string>
                <key>sourceSize</key>
                <string>{95,22}</string>
            </dict>
            <key>js-zuigaojil.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,761},{117,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,40}}</string>
                <key>sourceSize</key>
                <string>{119,40}</string>
            </dict>
            <key>neixz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{404,405}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,405}}</string>
                <key>sourceSize</key>
                <string>{404,405}</string>
            </dict>
            <key>npc_shop_over.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,449},{31,29}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{31,29}}</string>
                <key>sourceSize</key>
                <string>{35,31}</string>
            </dict>
            <key>shibai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{270,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,156}}</string>
                <key>sourceSize</key>
                <string>{270,156}</string>
            </dict>
            <key>suo.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,409},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>zhandoushengli-zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,803},{321,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{321,79}}</string>
                <key>sourceSize</key>
                <string>{321,79}</string>
            </dict>
            <key>zhandoushibai-zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,691},{274,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{274,68}}</string>
                <key>sourceSize</key>
                <string>{276,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fuben.pvr</string>
            <key>size</key>
            <string>{591,888}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d085508b5b1b1337124d88bcee76edc8:1/1$</string>
            <key>textureFileName</key>
            <string>fuben.pvr</string>
        </dict>
    </dict>
</plist>
