<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>diwenhas.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,2},{319,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{319,31}}</string>
                <key>sourceSize</key>
                <string>{319,31}</string>
            </dict>
            <key>fanhuianiu-over.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,2},{55,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,58}}</string>
                <key>sourceSize</key>
                <string>{55,58}</string>
            </dict>
            <key>fanhuianiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{55,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,58}}</string>
                <key>sourceSize</key>
                <string>{55,58}</string>
            </dict>
            <key>xzsbtz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{101,25}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{101,25}}</string>
                <key>sourceSize</key>
                <string>{105,29}</string>
            </dict>
            <key>xzsp-over.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,2},{132,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{132,105}}</string>
                <key>sourceSize</key>
                <string>{132,107}</string>
            </dict>
            <key>xzsp.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,2},{132,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{132,105}}</string>
                <key>sourceSize</key>
                <string>{132,107}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Helper.pvr</string>
            <key>size</key>
            <string>{808,109}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4391f98a3db1ca9aa3569dd9f751e2b:1/1$</string>
            <key>textureFileName</key>
            <string>Helper.pvr</string>
        </dict>
    </dict>
</plist>
