<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anxiahec.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,27},{147,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,147}}</string>
                <key>sourceSize</key>
                <string>{147,147}</string>
            </dict>
            <key>diliang.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{264,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,19}}</string>
                <key>sourceSize</key>
                <string>{264,19}</string>
            </dict>
            <key>fugaid.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,23},{85,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,84}}</string>
                <key>sourceSize</key>
                <string>{85,84}</string>
            </dict>
            <key>fugaixq-over.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,27},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>hecanc.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,29},{149,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,149}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>kxqbsz.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,2},{113,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,23}}</string>
                <key>sourceSize</key>
                <string>{113,23}</string>
            </dict>
            <key>qxzxyxqdzb.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,2},{229,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,23}}</string>
                <key>sourceSize</key>
                <string>{229,23}</string>
            </dict>
            <key>xiangqiandiz.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,27},{224,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,92}}</string>
                <key>sourceSize</key>
                <string>{224,92}</string>
            </dict>
            <key>xians.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,2}}</string>
                <key>sourceSize</key>
                <string>{300,2}</string>
            </dict>
            <key>xinkkf.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,6},{65,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,66}}</string>
                <key>sourceSize</key>
                <string>{65,66}</string>
            </dict>
            <key>xqhczs.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,2},{69,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{69,25}}</string>
                <key>sourceSize</key>
                <string>{71,27}</string>
            </dict>
            <key>zfrrl.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,6},{228,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,23}}</string>
                <key>sourceSize</key>
                <string>{228,23}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Jewel.pvr</string>
            <key>size</key>
            <string>{1014,180}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d468689220b6dd93b5f3ef3108140abb:1/1$</string>
            <key>textureFileName</key>
            <string>Jewel.pvr</string>
        </dict>
    </dict>
</plist>
