<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>huaxian.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,67},{107,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,6}}</string>
                <key>sourceSize</key>
                <string>{107,6}</string>
            </dict>
            <key>rongyudianIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,2},{34,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,33}}</string>
                <key>sourceSize</key>
                <string>{34,33}</string>
            </dict>
            <key>sc-aniu_goumai_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,53},{104,49}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{104,49}}</string>
                <key>sourceSize</key>
                <string>{120,49}</string>
            </dict>
            <key>sc-goumai-anniu2_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{104,49}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{104,49}}</string>
                <key>sourceSize</key>
                <string>{120,49}</string>
            </dict>
            <key>sc_chongzhi_over.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,121},{220,94}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{220,94}}</string>
                <key>sourceSize</key>
                <string>{250,94}</string>
            </dict>
            <key>sc_chongzhi_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,121},{220,94}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{220,94}}</string>
                <key>sourceSize</key>
                <string>{250,94}</string>
            </dict>
            <key>scz.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,75},{85,25}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{85,25}}</string>
                <key>sourceSize</key>
                <string>{95,29}</string>
            </dict>
            <key>shangsi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{378,117}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{378,117}}</string>
                <key>sourceSize</key>
                <string>{380,117}</string>
            </dict>
            <key>v1.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,67},{61,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,63}}</string>
                <key>sourceSize</key>
                <string>{61,63}</string>
            </dict>
            <key>v10.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,67},{61,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,63}}</string>
                <key>sourceSize</key>
                <string>{61,63}</string>
            </dict>
            <key>v11.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,102},{61,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,63}}</string>
                <key>sourceSize</key>
                <string>{61,63}</string>
            </dict>
            <key>v2.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,104},{61,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,63}}</string>
                <key>sourceSize</key>
                <string>{61,63}</string>
            </dict>
            <key>v3.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,2},{61,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,63}}</string>
                <key>sourceSize</key>
                <string>{61,63}</string>
            </dict>
            <key>v4.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,2},{61,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,63}}</string>
                <key>sourceSize</key>
                <string>{61,63}</string>
            </dict>
            <key>v5.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,2},{61,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,63}}</string>
                <key>sourceSize</key>
                <string>{61,63}</string>
            </dict>
            <key>v6.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,2},{61,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,63}}</string>
                <key>sourceSize</key>
                <string>{61,63}</string>
            </dict>
            <key>v7.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,2},{61,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,63}}</string>
                <key>sourceSize</key>
                <string>{61,63}</string>
            </dict>
            <key>v8.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,2},{61,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,63}}</string>
                <key>sourceSize</key>
                <string>{61,63}</string>
            </dict>
            <key>v9.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{61,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,63}}</string>
                <key>sourceSize</key>
                <string>{61,63}</string>
            </dict>
            <key>xiangs.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,67},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>zhe1.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,130},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>zhe2.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,130},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>zhe3.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,130},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>zhe4.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,132},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>zhe5.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,132},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>zhe6.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,132},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>zhe7.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,67},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>zhe8.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,67},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
            <key>zhe9.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,67},{61,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,61}}</string>
                <key>sourceSize</key>
                <string>{61,61}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mall.pvr</string>
            <key>size</key>
            <string>{973,217}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ebdf764f2fa19cf2bf566fb702a00bdc$</string>
            <key>textureFileName</key>
            <string>mall.pvr</string>
        </dict>
    </dict>
</plist>
