<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>graybtnbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,146},{182,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,70}}</string>
                <key>sourceSize</key>
                <string>{182,70}</string>
            </dict>
            <key>orangebtn-over.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{182,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,70}}</string>
                <key>sourceSize</key>
                <string>{182,70}</string>
            </dict>
            <key>orangebtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,74},{182,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,70}}</string>
                <key>sourceSize</key>
                <string>{182,70}</string>
            </dict>
            <key>purplebtn-over.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{182,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,70}}</string>
                <key>sourceSize</key>
                <string>{182,70}</string>
            </dict>
            <key>purplebtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{182,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,70}}</string>
                <key>sourceSize</key>
                <string>{182,70}</string>
            </dict>
            <key>yk-goumia.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,2},{71,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,35}}</string>
                <key>sourceSize</key>
                <string>{71,35}</string>
            </dict>
            <key>yuekazi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{69,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{69,25}}</string>
                <key>sourceSize</key>
                <string>{73,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monthcard.pvr</string>
            <key>size</key>
            <string>{370,218}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8712b14fac68b97f89670b0f8c8080c6:1/1$</string>
            <key>textureFileName</key>
            <string>monthcard.pvr</string>
        </dict>
    </dict>
</plist>
