<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ditu0.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{261,90}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{261,90}}</string>
                <key>sourceSize</key>
                <string>{281,90}</string>
            </dict>
            <key>notice_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,2},{76,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,67}}</string>
                <key>sourceSize</key>
                <string>{76,67}</string>
            </dict>
            <key>notice_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,2},{59,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,67}}</string>
                <key>sourceSize</key>
                <string>{59,67}</string>
            </dict>
            <key>notice_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{53,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,69}}</string>
                <key>sourceSize</key>
                <string>{53,69}</string>
            </dict>
            <key>notice_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{79,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,49}}</string>
                <key>sourceSize</key>
                <string>{79,49}</string>
            </dict>
            <key>notice_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{58,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,67}}</string>
                <key>sourceSize</key>
                <string>{58,67}</string>
            </dict>
            <key>notice_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,2},{73,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,69}}</string>
                <key>sourceSize</key>
                <string>{73,69}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>notice.pvr</string>
            <key>size</key>
            <string>{675,94}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d34eb2e8ae062d1187fa317b794cfed0:1/1$</string>
            <key>textureFileName</key>
            <string>notice.pvr</string>
        </dict>
    </dict>
</plist>
