<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>kaifujijin_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,31}}</string>
                <key>sourceSize</key>
                <string>{118,31}</string>
            </dict>
            <key>kaifujijinditu.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,2},{429,463}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{429,463}}</string>
                <key>sourceSize</key>
                <string>{429,463}</string>
            </dict>
            <key>yigoumai.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{93,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,76}}</string>
                <key>sourceSize</key>
                <string>{93,76}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>onsale.pvr</string>
            <key>size</key>
            <string>{648,467}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ffb45920380bbe346e5e579d18ed1df$</string>
            <key>textureFileName</key>
            <string>onsale.pvr</string>
        </dict>
    </dict>
</plist>
