<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chongwu_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{81,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,29}}</string>
                <key>sourceSize</key>
                <string>{81,29}</string>
            </dict>
            <key>chongwushengji_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,33},{165,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,29}}</string>
                <key>sourceSize</key>
                <string>{165,29}</string>
            </dict>
            <key>chongwushengjie_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,32},{165,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,29}}</string>
                <key>sourceSize</key>
                <string>{165,29}</string>
            </dict>
            <key>cw-bai.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,301},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>cw-cheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,301},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>cw-lan.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,266},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>cw-lan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,240},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>cw-lan2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>cw-lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,201},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>cw-lv1.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,201},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>cw-zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,166},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>cw-zi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,140},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>cw-zi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>cw-zi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,101},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>dagou.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,2},{49,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,51}}</string>
                <key>sourceSize</key>
                <string>{49,51}</string>
            </dict>
            <key>ditiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,2},{220,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,28}}</string>
                <key>sourceSize</key>
                <string>{220,28}</string>
            </dict>
            <key>fuchong.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,101},{61,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,63}}</string>
                <key>sourceSize</key>
                <string>{61,63}</string>
            </dict>
            <key>gouxuankuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,2},{50,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,49}}</string>
                <key>sourceSize</key>
                <string>{50,49}</string>
            </dict>
            <key>jingyantiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,2},{14,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,22}}</string>
                <key>sourceSize</key>
                <string>{14,22}</string>
            </dict>
            <key>jingyantiao_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{16,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{16,20}</string>
            </dict>
            <key>jingyantiao_dikuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{445,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{445,35}}</string>
                <key>sourceSize</key>
                <string>{445,35}</string>
            </dict>
            <key>jinjiechenggong_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{284,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,76}}</string>
                <key>sourceSize</key>
                <string>{284,76}</string>
            </dict>
            <key>jinjietanchuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,508},{497,410}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{497,410}}</string>
                <key>sourceSize</key>
                <string>{497,410}</string>
            </dict>
            <key>zhanlidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{432,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{432,62}}</string>
                <key>sourceSize</key>
                <string>{432,62}</string>
            </dict>
            <key>zhuchong.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,101},{61,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,63}}</string>
                <key>sourceSize</key>
                <string>{61,63}</string>
            </dict>
            <key>zongzhanli.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,101},{219,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,37}}</string>
                <key>sourceSize</key>
                <string>{219,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pets_new_2.pvr</string>
            <key>size</key>
            <string>{502,928}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:108df5202dc1395f125f3ea9b145b153:1/1$</string>
            <key>textureFileName</key>
            <string>pets_new_2.pvr</string>
        </dict>
    </dict>
</plist>
