<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>blty_beijing.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,578},{271,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,262}}</string>
                <key>sourceSize</key>
                <string>{271,262}</string>
            </dict>
            <key>blty_dan.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,308},{234,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,268}}</string>
                <key>sourceSize</key>
                <string>{234,268}</string>
            </dict>
            <key>blty_shanliang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,183},{173,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,216}}</string>
                <key>sourceSize</key>
                <string>{173,216}</string>
            </dict>
            <key>changanniu-over.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,34},{236,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,71}}</string>
                <key>sourceSize</key>
                <string>{236,71}</string>
            </dict>
            <key>changanniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,2},{236,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,71}}</string>
                <key>sourceSize</key>
                <string>{236,71}</string>
            </dict>
            <key>chongwudizuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,107},{216,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,74}}</string>
                <key>sourceSize</key>
                <string>{216,74}</string>
            </dict>
            <key>kaidan_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,29}}</string>
                <key>sourceSize</key>
                <string>{84,29}</string>
            </dict>
            <key>kaidanyulan-icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,139},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>kaidanyulan.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{166,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,30}}</string>
                <key>sourceSize</key>
                <string>{166,30}</string>
            </dict>
            <key>kaidanyulanup-icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,130},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>slty_beijing.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,494},{271,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,262}}</string>
                <key>sourceSize</key>
                <string>{271,262}</string>
            </dict>
            <key>slty_dan.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,308},{206,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,241}}</string>
                <key>sourceSize</key>
                <string>{206,241}</string>
            </dict>
            <key>slty_shanliang.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,139},{173,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,167}}</string>
                <key>sourceSize</key>
                <string>{173,167}</string>
            </dict>
            <key>wenzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,75},{383,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{383,62}}</string>
                <key>sourceSize</key>
                <string>{383,62}</string>
            </dict>
            <key>wenzi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,66},{383,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{383,62}}</string>
                <key>sourceSize</key>
                <string>{383,62}</string>
            </dict>
            <key>wenzi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,2},{383,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{383,62}}</string>
                <key>sourceSize</key>
                <string>{383,62}</string>
            </dict>
            <key>wlty_beijing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,477},{271,262}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,262}}</string>
                <key>sourceSize</key>
                <string>{271,262}</string>
            </dict>
            <key>wlty_dan.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,262},{194,230}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,230}}</string>
                <key>sourceSize</key>
                <string>{194,230}</string>
            </dict>
            <key>wlty_shanliang.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,259},{181,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,216}}</string>
                <key>sourceSize</key>
                <string>{181,216}</string>
            </dict>
            <key>xintexing_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{125,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,43}}</string>
                <key>sourceSize</key>
                <string>{125,43}</string>
            </dict>
            <key>zhaohuan-man.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,130},{128,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,127}}</string>
                <key>sourceSize</key>
                <string>{128,127}</string>
            </dict>
            <key>zhaohuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,130},{128,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,127}}</string>
                <key>sourceSize</key>
                <string>{128,127}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>pets_new.pvr</string>
            <key>size</key>
            <string>{1010,842}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7eb80b90586e9fd95fab9c3db3958752$</string>
            <key>textureFileName</key>
            <string>pets_new.pvr</string>
        </dict>
    </dict>
</plist>
