<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>daquheidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{630,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{630,89}}</string>
                <key>sourceSize</key>
                <string>{630,89}</string>
            </dict>
            <key>denglumima-00.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{84,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,46}}</string>
                <key>sourceSize</key>
                <string>{84,46}</string>
            </dict>
            <key>dengluzhanghao-00.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,2},{83,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{83,45}}</string>
                <key>sourceSize</key>
                <string>{85,45}</string>
            </dict>
            <key>huanyige-00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{117,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,37}}</string>
                <key>sourceSize</key>
                <string>{117,37}</string>
            </dict>
            <key>login_background_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,100},{131,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,52}}</string>
                <key>sourceSize</key>
                <string>{131,52}</string>
            </dict>
            <key>qiehuanzhanghao-ver.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,50},{199,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,48}}</string>
                <key>sourceSize</key>
                <string>{199,48}</string>
            </dict>
            <key>qiehuanzhanghao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{199,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,48}}</string>
                <key>sourceSize</key>
                <string>{199,48}</string>
            </dict>
            <key>shengchengzhanghao-00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,245},{542,247}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{542,247}}</string>
                <key>sourceSize</key>
                <string>{542,247}</string>
            </dict>
            <key>suijizhanghao-00.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,2},{154,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,44}}</string>
                <key>sourceSize</key>
                <string>{154,44}</string>
            </dict>
            <key>zhuce-over.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{176,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,51}}</string>
                <key>sourceSize</key>
                <string>{176,51}</string>
            </dict>
            <key>zhuce.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,50},{176,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,51}}</string>
                <key>sourceSize</key>
                <string>{176,51}</string>
            </dict>
            <key>zhucemima-00.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{154,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,46}}</string>
                <key>sourceSize</key>
                <string>{154,46}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>register.pvr</string>
            <key>size</key>
            <string>{634,494}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c6159f81de6836570c722b3f3b102b61:1/1$</string>
            <key>textureFileName</key>
            <string>register.pvr</string>
        </dict>
    </dict>
</plist>
