<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>setting_gaoguang.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,2},{123,57}}</string>
                <key>offset</key>
                <string>{-2,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,34},{123,57}}</string>
                <key>sourceSize</key>
                <string>{207,195}</string>
            </dict>
            <key>sysSetting_button_over.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,2},{27,53}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{27,53}}</string>
                <key>sourceSize</key>
                <string>{45,65}</string>
            </dict>
            <key>sysSetting_button_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,2},{27,53}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{27,53}}</string>
                <key>sourceSize</key>
                <string>{45,65}</string>
            </dict>
            <key>sysSetting_gou.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,2},{42,38}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{42,38}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>sysSetting_loading_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{323,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,26}}</string>
                <key>sourceSize</key>
                <string>{323,26}</string>
            </dict>
            <key>sysSetting_loading_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{317,19}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{317,19}}</string>
                <key>sourceSize</key>
                <string>{319,21}</string>
            </dict>
            <key>weidianzxt.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,2},{38,38}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{38,38}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>xtzis.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,2},{85,25}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{85,25}}</string>
                <key>sourceSize</key>
                <string>{95,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>setting.pvr</string>
            <key>size</key>
            <string>{1000,61}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:64d52618403389e59b7f59d4c7f8b720:1/1$</string>
            <key>textureFileName</key>
            <string>setting.pvr</string>
        </dict>
    </dict>
</plist>
