<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc_shop_over.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,29},{59,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,54}}</string>
                <key>sourceSize</key>
                <string>{59,54}</string>
            </dict>
            <key>npc_shop_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{59,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,54}}</string>
                <key>sourceSize</key>
                <string>{59,54}</string>
            </dict>
            <key>shangdian-zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{68,25}}</string>
                <key>sourceSize</key>
                <string>{70,27}</string>
            </dict>
            <key>shangdian_back_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,85},{129,132}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,132}}</string>
                <key>sourceSize</key>
                <string>{135,132}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shop.pvr</string>
            <key>size</key>
            <string>{133,219}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:086fe3948272f6ea83200551730ab2d6:1/1$</string>
            <key>textureFileName</key>
            <string>shop.pvr</string>
        </dict>
    </dict>
</plist>
