<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>heisi-xinfa.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,30},{150,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,34}}</string>
                <key>sourceSize</key>
                <string>{150,34}</string>
            </dict>
            <key>ji_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,283},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>ji_up-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,66},{64,62}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,18},{64,62}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>ji_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,283},{78,80}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{78,80}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>ji_xuanzhongkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{146,74}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{146,74}}</string>
                <key>sourceSize</key>
                <string>{172,74}</string>
            </dict>
            <key>line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,29},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>line_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{9,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,7}}</string>
                <key>sourceSize</key>
                <string>{9,7}</string>
            </dict>
            <key>unlock-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{45,47}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,15},{45,47}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>unlock.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,206},{73,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{73,75}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>unlock_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{73,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{73,75}}</string>
                <key>sourceSize</key>
                <string>{79,79}</string>
            </dict>
            <key>xfz.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,2},{70,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,26}}</string>
                <key>sourceSize</key>
                <string>{70,26}</string>
            </dict>
            <key>xinfayoubianditu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,379},{185,565}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,565}}</string>
                <key>sourceSize</key>
                <string>{185,601}</string>
            </dict>
            <key>zongjiacheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{13,2},{84,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,25}}</string>
                <key>sourceSize</key>
                <string>{84,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>talentUI.pvr</string>
            <key>size</key>
            <string>{189,946}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4fedf0cc1681a17277a1652379a110f7:1/1$</string>
            <key>textureFileName</key>
            <string>talentUI.pvr</string>
        </dict>
    </dict>
</plist>
