<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shouc-diyic.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{427,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{427,68}}</string>
                <key>sourceSize</key>
                <string>{427,68}</string>
            </dict>
            <key>shouchong-chongzhi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,15},{128,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{128,34}}</string>
                <key>sourceSize</key>
                <string>{134,34}</string>
            </dict>
            <key>shouchong-libao888.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{450,44}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{450,44}}</string>
                <key>sourceSize</key>
                <string>{458,44}</string>
            </dict>
            <key>shouchong-shuangbei.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{455,36}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{455,36}}</string>
                <key>sourceSize</key>
                <string>{457,42}</string>
            </dict>
            <key>shouchonganniu-over.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{195,73}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{195,73}}</string>
                <key>sourceSize</key>
                <string>{217,73}</string>
            </dict>
            <key>shouchonganniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,29},{195,73}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{195,73}}</string>
                <key>sourceSize</key>
                <string>{217,73}</string>
            </dict>
            <key>shouchonglibao.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{101,25}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{101,25}}</string>
                <key>sourceSize</key>
                <string>{103,29}</string>
            </dict>
            <key>shouchongnvzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,333},{444,536}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{444,536}}</string>
                <key>sourceSize</key>
                <string>{444,540}</string>
            </dict>
            <key>shpuchong-modi.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,2},{64,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,68}}</string>
                <key>sourceSize</key>
                <string>{64,68}</string>
            </dict>
            <key>zhuangship.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{278,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,11}}</string>
                <key>sourceSize</key>
                <string>{278,11}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>thefirstcharge.pvr</string>
            <key>size</key>
            <string>{459,871}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6c8504d06b6bde2a87c0123da9a121a4:1/1$</string>
            <key>textureFileName</key>
            <string>thefirstcharge.pvr</string>
        </dict>
    </dict>
</plist>
