<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ch-huode.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>ch-jg.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,49},{50,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{50,50}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>ch-jg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,49},{50,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{50,50}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>ch-jia.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,22},{50,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{50,50}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>ch-jz.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{50,50}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{50,50}}</string>
                <key>sourceSize</key>
                <string>{68,66}</string>
            </dict>
            <key>ch-weihuode.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,2},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>ch-xz.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{238,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{238,45}}</string>
                <key>sourceSize</key>
                <string>{240,47}</string>
            </dict>
            <key>dsf.png</key>
            <dict>
                <key>frame</key>
                <string>{{22,2},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>jianc.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{18,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{18,5}}</string>
                <key>sourceSize</key>
                <string>{20,7}</string>
            </dict>
            <key>qk.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,54},{261,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{261,65}}</string>
                <key>sourceSize</key>
                <string>{261,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>titlesUI.pvr</string>
            <key>size</key>
            <string>{421,121}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e6af83ca596741b2cfa78220f05b46ea:1/1$</string>
            <key>textureFileName</key>
            <string>titlesUI.pvr</string>
        </dict>
    </dict>
</plist>
