<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chaozhi-di.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,312},{69,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,68}}</string>
                <key>sourceSize</key>
                <string>{69,68}</string>
            </dict>
            <key>chongzhi-dtua0ver.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,131},{325,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,127}}</string>
                <key>sourceSize</key>
                <string>{325,127}</string>
            </dict>
            <key>cz-czan-over.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,225},{195,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,85}}</string>
                <key>sourceSize</key>
                <string>{195,85}</string>
            </dict>
            <key>cz-czan.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,138},{195,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,85}}</string>
                <key>sourceSize</key>
                <string>{195,85}</string>
            </dict>
            <key>cz-czan1.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,51},{195,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,85}}</string>
                <key>sourceSize</key>
                <string>{195,85}</string>
            </dict>
            <key>cz-czan1hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,126},{195,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,85}}</string>
                <key>sourceSize</key>
                <string>{195,85}</string>
            </dict>
            <key>cz-djtq.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{174,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{174,25}}</string>
                <key>sourceSize</key>
                <string>{174,25}</string>
            </dict>
            <key>cz-tequan.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,261},{130,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,37}}</string>
                <key>sourceSize</key>
                <string>{130,37}</string>
            </dict>
            <key>cz-tqlb.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,234},{100,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{100,25}}</string>
                <key>sourceSize</key>
                <string>{102,27}</string>
            </dict>
            <key>cz-ybdk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{325,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,127}}</string>
                <key>sourceSize</key>
                <string>{325,127}</string>
            </dict>
            <key>cz-zicz.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,261},{71,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,35}}</string>
                <key>sourceSize</key>
                <string>{71,35}</string>
            </dict>
            <key>czjl-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,298},{75,29}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{75,29}}</string>
                <key>sourceSize</key>
                <string>{89,29}</string>
            </dict>
            <key>czjl-100.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,369},{89,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,29}}</string>
                <key>sourceSize</key>
                <string>{89,29}</string>
            </dict>
            <key>czjl-100yuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,213},{160,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,107}}</string>
                <key>sourceSize</key>
                <string>{160,107}</string>
            </dict>
            <key>czjl-10yuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,312},{160,95}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{160,95}}</string>
                <key>sourceSize</key>
                <string>{160,107}</string>
            </dict>
            <key>czjl-20.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,382},{75,29}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{75,29}}</string>
                <key>sourceSize</key>
                <string>{89,29}</string>
            </dict>
            <key>czjl-200.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,363},{89,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,29}}</string>
                <key>sourceSize</key>
                <string>{89,29}</string>
            </dict>
            <key>czjl-200yuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,156},{160,103}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{160,103}}</string>
                <key>sourceSize</key>
                <string>{160,107}</string>
            </dict>
            <key>czjl-20yuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,322},{160,91}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{160,91}}</string>
                <key>sourceSize</key>
                <string>{160,107}</string>
            </dict>
            <key>czjl-50.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,332},{89,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,29}}</string>
                <key>sourceSize</key>
                <string>{89,29}</string>
            </dict>
            <key>czjl-500.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,301},{89,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,29}}</string>
                <key>sourceSize</key>
                <string>{89,29}</string>
            </dict>
            <key>czjl-500yuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,260},{160,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,107}}</string>
                <key>sourceSize</key>
                <string>{160,107}</string>
            </dict>
            <key>czjl-50yuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,51},{160,103}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{160,103}}</string>
                <key>sourceSize</key>
                <string>{160,107}</string>
            </dict>
            <key>czl-di1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{179,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,110}}</string>
                <key>sourceSize</key>
                <string>{179,110}</string>
            </dict>
            <key>czl-jiandanjieshao.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,26},{21,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,20}}</string>
                <key>sourceSize</key>
                <string>{21,20}</string>
            </dict>
            <key>czl-jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,356},{40,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,46}}</string>
                <key>sourceSize</key>
                <string>{40,46}</string>
            </dict>
            <key>czl-jyt.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,2},{253,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,22}}</string>
                <key>sourceSize</key>
                <string>{253,22}</string>
            </dict>
            <key>czl-teshujieshao.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,369},{26,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,24}}</string>
                <key>sourceSize</key>
                <string>{26,24}</string>
            </dict>
            <key>czshouzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,329},{85,25}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{85,25}}</string>
                <key>sourceSize</key>
                <string>{95,29}</string>
            </dict>
            <key>czv-jingyant.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,2},{262,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,35}}</string>
                <key>sourceSize</key>
                <string>{262,35}</string>
            </dict>
            <key>czv-v.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,356},{39,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,34}}</string>
                <key>sourceSize</key>
                <string>{39,34}</string>
            </dict>
            <key>hongdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,26},{221,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,23}}</string>
                <key>sourceSize</key>
                <string>{221,23}</string>
            </dict>
            <key>lingqu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,300},{80,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,65}}</string>
                <key>sourceSize</key>
                <string>{80,65}</string>
            </dict>
            <key>scsb-cz.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,2},{139,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,27}}</string>
                <key>sourceSize</key>
                <string>{139,27}</string>
            </dict>
            <key>vdsbb.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,39},{195,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,85}}</string>
                <key>sourceSize</key>
                <string>{195,85}</string>
            </dict>
            <key>vip-hongdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,132},{59,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,100}}</string>
                <key>sourceSize</key>
                <string>{59,100}</string>
            </dict>
            <key>vip-jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,31},{98,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,99}}</string>
                <key>sourceSize</key>
                <string>{98,99}</string>
            </dict>
            <key>vip-landi.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,132},{59,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,100}}</string>
                <key>sourceSize</key>
                <string>{59,100}</string>
            </dict>
            <key>vip-tqk.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,261},{89,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,38}}</string>
                <key>sourceSize</key>
                <string>{89,38}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>vip.pvr</string>
            <key>size</key>
            <string>{1007,416}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1fe4a14680dfb49b72fec7feb8064569$</string>
            <key>textureFileName</key>
            <string>vip.pvr</string>
        </dict>
    </dict>
</plist>
