<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>xinditu_chibi_kaiqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{268,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,185}}</string>
                <key>sourceSize</key>
                <string>{268,185}</string>
            </dict>
            <key>xinditu_chibi_weikaiqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,187},{268,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,185}}</string>
                <key>sourceSize</key>
                <string>{268,185}</string>
            </dict>
            <key>xinditu_chibi_xuanzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,187},{268,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,185}}</string>
                <key>sourceSize</key>
                <string>{268,185}</string>
            </dict>
            <key>xinditu_luoyang_kaiqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,555},{228,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,187}}</string>
                <key>sourceSize</key>
                <string>{228,187}</string>
            </dict>
            <key>xinditu_luoyang_weikaiqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,744},{228,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,187}}</string>
                <key>sourceSize</key>
                <string>{228,187}</string>
            </dict>
            <key>xinditu_luoyang_xuanzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,555},{228,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,187}}</string>
                <key>sourceSize</key>
                <string>{228,187}</string>
            </dict>
            <key>xinditu_nanman_kaiqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,555},{204,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{204,187}}</string>
                <key>sourceSize</key>
                <string>{228,187}</string>
            </dict>
            <key>xinditu_nanman_weikaiqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,744},{204,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{204,187}}</string>
                <key>sourceSize</key>
                <string>{228,187}</string>
            </dict>
            <key>xinditu_nanman_xuanzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,744},{218,187}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{218,187}}</string>
                <key>sourceSize</key>
                <string>{228,187}</string>
            </dict>
            <key>xinditu_qingmangshan_kaiqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,2},{395,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{395,183}}</string>
                <key>sourceSize</key>
                <string>{395,183}</string>
            </dict>
            <key>xinditu_qingmangshan_weikaiqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,187},{395,179}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{395,179}}</string>
                <key>sourceSize</key>
                <string>{395,183}</string>
            </dict>
            <key>xinditu_qingmangshan_xuanzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{395,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{395,183}}</string>
                <key>sourceSize</key>
                <string>{395,183}</string>
            </dict>
            <key>xinditu_youzhou_kaiqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,374},{209,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,179}}</string>
                <key>sourceSize</key>
                <string>{209,179}</string>
            </dict>
            <key>xinditu_youzhou_weikaiqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,374},{209,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,179}}</string>
                <key>sourceSize</key>
                <string>{209,179}</string>
            </dict>
            <key>xinditu_youzhou_xuanzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,374},{209,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,179}}</string>
                <key>sourceSize</key>
                <string>{209,179}</string>
            </dict>
            <key>yingying.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,555},{214,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,214}}</string>
                <key>sourceSize</key>
                <string>{214,214}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>worldMap.pvr</string>
            <key>size</key>
            <string>{939,933}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2eac1cd916f94c916471684a7d49e89e$</string>
            <key>textureFileName</key>
            <string>worldMap.pvr</string>
        </dict>
    </dict>
</plist>
