<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_rl_qb_run_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{242,212}}</string>
                <key>offset</key>
                <string>{-78,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{313,353},{242,212}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_rl_qb_run_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,216},{240,210}}</string>
                <key>offset</key>
                <string>{-78,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{314,355},{240,210}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_rl_qb_run_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{238,212}}</string>
                <key>offset</key>
                <string>{-76,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{317,356},{238,212}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_rl_qb_run_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,666},{234,212}}</string>
                <key>offset</key>
                <string>{-73,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{322,357},{234,212}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_rl_qb_run_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,664},{234,214}}</string>
                <key>offset</key>
                <string>{-73,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{322,355},{234,214}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_rl_qb_run_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{234,214}}</string>
                <key>offset</key>
                <string>{-74,-77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{321,354},{234,214}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_rl_qb_run_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,428},{236,212}}</string>
                <key>offset</key>
                <string>{-76,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{318,354},{236,212}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_rl_qb_run_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,428},{236,206}}</string>
                <key>offset</key>
                <string>{-75,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{319,356},{236,206}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_rl_qb_run_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,642},{238,210}}</string>
                <key>offset</key>
                <string>{-75,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{318,357},{238,210}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_rl_qb_run_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{240,210}}</string>
                <key>offset</key>
                <string>{-76,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{316,356},{240,210}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>run_0.pvr</string>
            <key>size</key>
            <string>{664,902}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7cb01c9e310421e45d78c2e33b1365b1:1/1$</string>
            <key>textureFileName</key>
            <string>run_0.pvr</string>
        </dict>
    </dict>
</plist>
