<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc_fire_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,668},{180,316}}</string>
                <key>offset</key>
                <string>{-3,134}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{419,92},{180,316}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>npc_fire_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,330},{180,324}}</string>
                <key>offset</key>
                <string>{-3,138}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{419,84},{180,324}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>npc_fire_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,2},{180,326}}</string>
                <key>offset</key>
                <string>{-3,139}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{419,82},{180,326}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>npc_fire_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,334},{180,332}}</string>
                <key>offset</key>
                <string>{-3,142}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{419,76},{180,332}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>npc_fire_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,348},{180,340}}</string>
                <key>offset</key>
                <string>{-3,146}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{419,68},{180,340}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>npc_fire_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{178,344}}</string>
                <key>offset</key>
                <string>{-3,148}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{420,64},{178,344}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>npc_fire_idle_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{178,350}}</string>
                <key>offset</key>
                <string>{-3,151}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{420,58},{178,350}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>npc_fire_idle_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,702},{178,352}}</string>
                <key>offset</key>
                <string>{-3,152}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{420,56},{178,352}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>npc_fire_idle_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,690},{184,334}}</string>
                <key>offset</key>
                <string>{-2,143}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{418,74},{184,334}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>npc_fire_idle_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{184,344}}</string>
                <key>offset</key>
                <string>{-2,148}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{418,64},{184,344}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>npc_fire_idle_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{184,352}}</string>
                <key>offset</key>
                <string>{-2,152}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{418,56},{184,352}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>npc_fire_idle_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,2},{184,330}}</string>
                <key>offset</key>
                <string>{-2,139}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{418,80},{184,330}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>npc_fire_idle_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,354},{184,334}}</string>
                <key>offset</key>
                <string>{-2,143}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{418,74},{184,334}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>idle_0.pvr</string>
            <key>size</key>
            <string>{1010,882}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b9e277d946bd9d0e49f9ea2161e226d8:1/1$</string>
            <key>textureFileName</key>
            <string>idle_0.pvr</string>
        </dict>
    </dict>
</plist>
