<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_spec_zhaocaimao_hurt_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,2},{156,182}}</string>
                <key>offset</key>
                <string>{-4,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{430,374},{156,182}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_spec_zhaocaimao_hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,2},{156,182}}</string>
                <key>offset</key>
                <string>{-4,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{430,377},{156,182}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_spec_zhaocaimao_hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,2},{154,182}}</string>
                <key>offset</key>
                <string>{-3,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{432,373},{154,182}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_spec_zhaocaimao_hurt_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{156,182}}</string>
                <key>offset</key>
                <string>{-4,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{430,372},{156,182}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_spec_zhaocaimao_hurt_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{158,182}}</string>
                <key>offset</key>
                <string>{-5,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{428,373},{158,182}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_spec_zhaocaimao_hurt_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{158,184}}</string>
                <key>offset</key>
                <string>{-5,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{428,372},{158,184}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hurt_0.pvr</string>
            <key>size</key>
            <string>{952,188}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e9f4f064592c17d2fe23a7eb4111c357:1/1$</string>
            <key>textureFileName</key>
            <string>hurt_0.pvr</string>
        </dict>
    </dict>
</plist>
