<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_spec_zhaocaimao_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,2},{156,182}}</string>
                <key>offset</key>
                <string>{-4,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{430,374},{156,182}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_spec_zhaocaimao_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,2},{156,182}}</string>
                <key>offset</key>
                <string>{-5,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{429,373},{156,182}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_spec_zhaocaimao_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{158,182}}</string>
                <key>offset</key>
                <string>{-6,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{427,373},{158,182}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_spec_zhaocaimao_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,2},{160,178}}</string>
                <key>offset</key>
                <string>{-7,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{425,376},{160,178}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_spec_zhaocaimao_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{158,182}}</string>
                <key>offset</key>
                <string>{-6,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{427,373},{158,182}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_spec_zhaocaimao_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{156,182}}</string>
                <key>offset</key>
                <string>{-5,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{429,373},{156,182}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>idle_0.pvr</string>
            <key>size</key>
            <string>{958,186}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e2e3e663cbdd998d5dbcf97a9cf6f213:1/1$</string>
            <key>textureFileName</key>
            <string>idle_0.pvr</string>
        </dict>
    </dict>
</plist>
