<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_normal_028_fx_hurt_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{52,62}}</string>
                <key>offset</key>
                <string>{19,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,187},{52,62}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_028_fx_hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{52,62}}</string>
                <key>offset</key>
                <string>{18,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,188},{52,62}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_028_fx_hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{56,62}}</string>
                <key>offset</key>
                <string>{16,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,187},{56,62}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_028_fx_hurt_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{52,62}}</string>
                <key>offset</key>
                <string>{19,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,187},{52,62}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_028_fx_hurt_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{54,60}}</string>
                <key>offset</key>
                <string>{26,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,186},{54,60}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_028_fx_hurt_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{52,62}}</string>
                <key>offset</key>
                <string>{24,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,187},{52,62}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_028_fx_hurt_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{52,62}}</string>
                <key>offset</key>
                <string>{19,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,187},{52,62}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hurt_0.pvr</string>
            <key>size</key>
            <string>{60,384}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:04655eef11b70aa0a7244e3250fa4e0b:1/1$</string>
            <key>textureFileName</key>
            <string>hurt_0.pvr</string>
        </dict>
    </dict>
</plist>
