<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_normal_028_fx_run_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{52,62}}</string>
                <key>offset</key>
                <string>{30,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,192},{52,62}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_028_fx_run_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,514},{52,62}}</string>
                <key>offset</key>
                <string>{28,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,192},{52,62}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_028_fx_run_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{52,62}}</string>
                <key>offset</key>
                <string>{25,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,194},{52,62}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_028_fx_run_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{50,62}}</string>
                <key>offset</key>
                <string>{25,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,196},{50,62}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_028_fx_run_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{52,62}}</string>
                <key>offset</key>
                <string>{26,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,196},{52,62}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_028_fx_run_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{52,62}}</string>
                <key>offset</key>
                <string>{28,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,192},{52,62}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_028_fx_run_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{52,62}}</string>
                <key>offset</key>
                <string>{31,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,189},{52,62}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_028_fx_run_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{52,62}}</string>
                <key>offset</key>
                <string>{33,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,186},{52,62}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_028_fx_run_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{52,62}}</string>
                <key>offset</key>
                <string>{34,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,188},{52,62}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_028_fx_run_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,62}}</string>
                <key>offset</key>
                <string>{33,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,191},{52,62}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>run_0.pvr</string>
            <key>size</key>
            <string>{56,642}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1fa7b02f826efe45a78f5a4e110a1cce:1/1$</string>
            <key>textureFileName</key>
            <string>run_0.pvr</string>
        </dict>
    </dict>
</plist>
