<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_normal_029_down_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,476},{206,226}}</string>
                <key>offset</key>
                <string>{-35,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{374,262},{206,226}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_029_down_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,256},{204,218}}</string>
                <key>offset</key>
                <string>{-46,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{364,306},{204,218}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_029_down_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,590},{256,168}}</string>
                <key>offset</key>
                <string>{-60,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{324,343},{256,168}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_029_down_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{262,166}}</string>
                <key>offset</key>
                <string>{-60,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{321,351},{262,166}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_029_down_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{266,214}}</string>
                <key>offset</key>
                <string>{-62,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{317,350},{266,214}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_029_down_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{256,202}}</string>
                <key>offset</key>
                <string>{-57,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{327,351},{256,202}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_029_down_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{252,196}}</string>
                <key>offset</key>
                <string>{-52,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{334,355},{252,196}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>down_0.pvr</string>
            <key>size</key>
            <string>{472,760}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dda500139b2a84a899f67cb140cc3dee:1/1$</string>
            <key>textureFileName</key>
            <string>down_0.pvr</string>
        </dict>
    </dict>
</plist>
