<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_normal_029_run_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,524},{278,214}}</string>
                <key>offset</key>
                <string>{-29,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{344,304},{278,214}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_029_run_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,418},{276,212}}</string>
                <key>offset</key>
                <string>{-26,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{348,300},{276,212}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_029_run_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,418},{268,212}}</string>
                <key>offset</key>
                <string>{-20,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{358,297},{268,212}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_029_run_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{272,214}}</string>
                <key>offset</key>
                <string>{-21,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{355,301},{272,214}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_029_run_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{274,228}}</string>
                <key>offset</key>
                <string>{-24,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{351,303},{274,228}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_029_run_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{262,244}}</string>
                <key>offset</key>
                <string>{-21,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{360,303},{262,244}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_029_run_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,632},{254,232}}</string>
                <key>offset</key>
                <string>{-17,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{368,305},{254,232}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_029_run_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,688},{258,212}}</string>
                <key>offset</key>
                <string>{-18,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{365,303},{258,212}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_029_run_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,210},{280,206}}</string>
                <key>offset</key>
                <string>{-27,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{345,306},{280,206}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_029_run_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{292,206}}</string>
                <key>offset</key>
                <string>{-33,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{333,310},{292,206}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>run_0.pvr</string>
            <key>size</key>
            <string>{724,1020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:24574ffe2605f9dc87f467daa80ca7a3:1/1$</string>
            <key>textureFileName</key>
            <string>run_0.pvr</string>
        </dict>
    </dict>
</plist>
