<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_normal_010_atk1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,686},{152,232}}</string>
                <key>offset</key>
                <string>{-69,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{367,271},{152,232}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_010_atk1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,606},{148,232}}</string>
                <key>offset</key>
                <string>{-81,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{357,294},{148,232}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_010_atk1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,856},{152,226}}</string>
                <key>offset</key>
                <string>{-77,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{359,293},{152,226}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_010_atk1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,756},{98,226}}</string>
                <key>offset</key>
                <string>{-73,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{390,275},{98,226}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_010_atk1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,340},{110,236}}</string>
                <key>offset</key>
                <string>{-79,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{378,242},{110,236}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_010_atk1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,864},{146,244}}</string>
                <key>offset</key>
                <string>{-79,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{360,212},{146,244}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_010_atk1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,176},{162,244}}</string>
                <key>offset</key>
                <string>{-83,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{348,191},{162,244}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_010_atk1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{172,246}}</string>
                <key>offset</key>
                <string>{-80,80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{346,181},{172,246}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_010_atk1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,230},{162,198}}</string>
                <key>offset</key>
                <string>{-84,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{347,291},{162,198}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_010_atk1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{208,210}}</string>
                <key>offset</key>
                <string>{-67,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{341,311},{208,210}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_010_atk1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{212,214}}</string>
                <key>offset</key>
                <string>{-71,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{335,330},{212,214}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_010_atk1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{210,214}}</string>
                <key>offset</key>
                <string>{-80,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{327,333},{210,214}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_010_atk1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,646},{194,216}}</string>
                <key>offset</key>
                <string>{-79,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{336,324},{194,216}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_010_atk1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,2},{172,226}}</string>
                <key>offset</key>
                <string>{-78,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{348,302},{172,226}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_010_atk1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,452},{132,232}}</string>
                <key>offset</key>
                <string>{-83,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{363,283},{132,232}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_010_atk1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,452},{152,232}}</string>
                <key>offset</key>
                <string>{-69,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{367,270},{152,232}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atk1_0.pvr</string>
            <key>size</key>
            <string>{638,1012}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:655b8d6be8df3769ac5dcaf821bac880:1/1$</string>
            <key>textureFileName</key>
            <string>atk1_0.pvr</string>
        </dict>
    </dict>
</plist>
