<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_normal_010_down_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{170,216}}</string>
                <key>offset</key>
                <string>{-60,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{367,367},{170,216}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_010_down_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,140}}</string>
                <key>offset</key>
                <string>{-99,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{309,408},{208,140}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_010_down_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,362},{236,100}}</string>
                <key>offset</key>
                <string>{-110,-135}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{284,469},{236,100}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_010_down_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,610},{240,104}}</string>
                <key>offset</key>
                <string>{-115,-138}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{277,470},{240,104}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_010_down_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,610},{240,102}}</string>
                <key>offset</key>
                <string>{-112,-138}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{280,471},{240,102}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_010_down_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{246,108}}</string>
                <key>offset</key>
                <string>{-114,-141}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{275,471},{246,108}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>down_0.pvr</string>
            <key>size</key>
            <string>{214,852}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f10149c9460b5ed30bae5cb6666dff5b:1/1$</string>
            <key>textureFileName</key>
            <string>down_0.pvr</string>
        </dict>
    </dict>
</plist>
