<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_normal_010_hurt_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{162,226}}</string>
                <key>offset</key>
                <string>{-74,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{357,270},{162,226}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_010_hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,166},{164,184}}</string>
                <key>offset</key>
                <string>{-75,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{355,325},{164,184}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_010_hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{162,214}}</string>
                <key>offset</key>
                <string>{-107,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{324,281},{162,214}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_010_hurt_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,164},{168,186}}</string>
                <key>offset</key>
                <string>{-119,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{309,304},{168,186}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_010_hurt_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,334},{154,184}}</string>
                <key>offset</key>
                <string>{-112,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{323,313},{154,184}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_010_hurt_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{160,192}}</string>
                <key>offset</key>
                <string>{-101,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{331,301},{160,192}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_010_hurt_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,334},{156,204}}</string>
                <key>offset</key>
                <string>{-86,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{348,279},{156,204}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_010_hurt_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{162,226}}</string>
                <key>offset</key>
                <string>{-74,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{357,270},{162,226}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hurt_0.pvr</string>
            <key>size</key>
            <string>{576,492}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:762cefc56551940457247bc8ead8efb1:1/1$</string>
            <key>textureFileName</key>
            <string>hurt_0.pvr</string>
        </dict>
    </dict>
</plist>
