<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_normal_004_atk1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,734},{180,160}}</string>
                <key>offset</key>
                <string>{-64,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{358,384},{180,160}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_004_atk1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,380},{228,158}}</string>
                <key>offset</key>
                <string>{-63,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{335,386},{228,158}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_004_atk1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,648},{84,162}}</string>
                <key>offset</key>
                <string>{-33,-81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{437,384},{84,162}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_004_atk1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,178},{246,166}}</string>
                <key>offset</key>
                <string>{-14,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{375,380},{246,166}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_004_atk1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{252,174}}</string>
                <key>offset</key>
                <string>{-33,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{353,372},{252,174}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_004_atk1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,926},{84,182}}</string>
                <key>offset</key>
                <string>{-21,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{449,364},{84,182}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_004_atk1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,346},{290,186}}</string>
                <key>offset</key>
                <string>{-12,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{355,361},{290,186}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_004_atk1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{210,186}}</string>
                <key>offset</key>
                <string>{-34,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{373,361},{210,186}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_004_atk1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,734},{168,184}}</string>
                <key>offset</key>
                <string>{-4,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{424,363},{168,184}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_004_atk1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{314,186}}</string>
                <key>offset</key>
                <string>{-20,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{335,360},{314,186}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_004_atk1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,734},{122,190}}</string>
                <key>offset</key>
                <string>{-26,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{425,356},{122,190}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_004_atk1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,534},{210,192}}</string>
                <key>offset</key>
                <string>{0,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{407,354},{210,192}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_004_atk1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{310,188}}</string>
                <key>offset</key>
                <string>{-16,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{341,358},{310,188}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_004_atk1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,920},{86,180}}</string>
                <key>offset</key>
                <string>{-18,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{451,366},{86,180}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_004_atk1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,734},{108,174}}</string>
                <key>offset</key>
                <string>{-5,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{453,373},{108,174}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_004_atk1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,916},{94,168}}</string>
                <key>offset</key>
                <string>{-23,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{442,378},{94,168}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_004_atk1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,534},{112,162}}</string>
                <key>offset</key>
                <string>{-30,-81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{426,384},{112,162}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atk1_0.pvr</string>
            <key>size</key>
            <string>{608,1012}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9437b2db108c527288b3c1d4805f1572:1/1$</string>
            <key>textureFileName</key>
            <string>atk1_0.pvr</string>
        </dict>
    </dict>
</plist>
