<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_normal_004_away_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{114,162}}</string>
                <key>offset</key>
                <string>{-31,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{424,379},{114,162}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_004_away_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,158}}</string>
                <key>offset</key>
                <string>{-41,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{409,369},{124,158}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>away_0.pvr</string>
            <key>size</key>
            <string>{128,326}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aaddb33a0e3f7163575b57b076e86817:1/1$</string>
            <key>textureFileName</key>
            <string>away_0.pvr</string>
        </dict>
    </dict>
</plist>
