<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_normal_004_down_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{128,146}}</string>
                <key>offset</key>
                <string>{-67,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{381,379},{128,146}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_004_down_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,84}}</string>
                <key>offset</key>
                <string>{-96,-113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{341,455},{150,84}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_004_down_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,218},{178,70}}</string>
                <key>offset</key>
                <string>{-103,-128}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{320,477},{178,70}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_004_down_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{182,80}}</string>
                <key>offset</key>
                <string>{-103,-141}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{318,485},{182,80}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>down_0.pvr</string>
            <key>size</key>
            <string>{156,402}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:427f450dc487eaa77db82f7d26c68a24:1/1$</string>
            <key>textureFileName</key>
            <string>down_0.pvr</string>
        </dict>
    </dict>
</plist>
