<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_normal_004_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{114,160}}</string>
                <key>offset</key>
                <string>{-31,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{424,385},{114,160}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_004_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{114,160}}</string>
                <key>offset</key>
                <string>{-32,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{423,385},{114,160}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_004_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{110,158}}</string>
                <key>offset</key>
                <string>{-33,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{424,387},{110,158}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>idle_0.pvr</string>
            <key>size</key>
            <string>{118,486}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:644882658a55350667de9fac9b7fa5e6:1/1$</string>
            <key>textureFileName</key>
            <string>idle_0.pvr</string>
        </dict>
    </dict>
</plist>
