<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_xingtian_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{328,258}}</string>
                <key>offset</key>
                <string>{8,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{356,217},{328,258}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_xingtian_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,512},{304,258}}</string>
                <key>offset</key>
                <string>{24,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{384,220},{304,258}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_xingtian_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{334,256}}</string>
                <key>offset</key>
                <string>{38,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{383,224},{334,256}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_xingtian_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{332,254}}</string>
                <key>offset</key>
                <string>{37,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{383,228},{332,254}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_xingtian_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,512},{302,254}}</string>
                <key>offset</key>
                <string>{32,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{393,230},{302,254}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_xingtian_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,258},{318,252}}</string>
                <key>offset</key>
                <string>{9,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{362,232},{318,252}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_xingtian_idle_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,258},{298,252}}</string>
                <key>offset</key>
                <string>{12,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{375,232},{298,252}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_xingtian_idle_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,2},{282,252}}</string>
                <key>offset</key>
                <string>{13,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{384,230},{282,252}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>idle_0.pvr</string>
            <key>size</key>
            <string>{958,772}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:659e16b487584a549c550d702b985a08:1/1$</string>
            <key>textureFileName</key>
            <string>idle_0.pvr</string>
        </dict>
    </dict>
</plist>
