<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_xingtian_idle_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{288,254}}</string>
                <key>offset</key>
                <string>{28,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{396,226},{288,254}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_xingtian_idle_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{290,256}}</string>
                <key>offset</key>
                <string>{25,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{392,222},{290,256}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>idle_1.pvr</string>
            <key>size</key>
            <string>{294,516}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e00a61076e8ab4754d94817b29ef8b3:1/1$</string>
            <key>textureFileName</key>
            <string>idle_1.pvr</string>
        </dict>
    </dict>
</plist>
