<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_xingtian_skill1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{438,296}}</string>
                <key>offset</key>
                <string>{81,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{374,181},{438,296}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_xingtian_skill1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{378,326}}</string>
                <key>offset</key>
                <string>{47,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{370,154},{378,326}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_xingtian_skill1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{384,284}}</string>
                <key>offset</key>
                <string>{58,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{378,200},{384,284}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_xingtian_skill1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{406,264}}</string>
                <key>offset</key>
                <string>{58,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{367,222},{406,264}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_xingtian_skill1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,738},{446,268}}</string>
                <key>offset</key>
                <string>{71,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{360,216},{446,268}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_xingtian_skill1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,330},{406,330}}</string>
                <key>offset</key>
                <string>{43,69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{352,150},{406,330}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill1_1.pvr</string>
            <key>size</key>
            <string>{790,1008}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b4a490f7ceb312e27f0ed6ae7a12a455:1/1$</string>
            <key>textureFileName</key>
            <string>skill1_1.pvr</string>
        </dict>
    </dict>
</plist>
