<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_xingtian_skill2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{942,462}}</string>
                <key>offset</key>
                <string>{-29,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,48},{942,462}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_xingtian_skill2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{934,354}}</string>
                <key>offset</key>
                <string>{-25,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,170},{934,354}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill2_3.pvr</string>
            <key>size</key>
            <string>{946,822}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:51910b0638fdb2b79cbd7e59751a1041:1/1$</string>
            <key>textureFileName</key>
            <string>skill2_3.pvr</string>
        </dict>
    </dict>
</plist>
