<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_xingtian_skill1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,256},{368,234}}</string>
                <key>offset</key>
                <string>{36,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{364,215},{368,234}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_xingtian_skill1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,736},{374,226}}</string>
                <key>offset</key>
                <string>{54,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{379,217},{374,226}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_xingtian_skill1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,732},{380,236}}</string>
                <key>offset</key>
                <string>{66,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{388,219},{380,236}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_xingtian_skill1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,492},{384,242}}</string>
                <key>offset</key>
                <string>{73,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{393,218},{384,242}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_xingtian_skill1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,488},{396,242}}</string>
                <key>offset</key>
                <string>{73,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{387,218},{396,242}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_xingtian_skill1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{410,238}}</string>
                <key>offset</key>
                <string>{66,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{373,216},{410,238}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_xingtian_skill1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{410,244}}</string>
                <key>offset</key>
                <string>{50,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{357,215},{410,244}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_xingtian_skill1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{370,252}}</string>
                <key>offset</key>
                <string>{34,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{361,214},{370,252}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill1_3.pvr</string>
            <key>size</key>
            <string>{786,970}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d5f0c2d24ae53a49c444cc58228d6e71:1/1$</string>
            <key>textureFileName</key>
            <string>skill1_3.pvr</string>
        </dict>
    </dict>
</plist>
