<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_xingtian_skill1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{350,278}}</string>
                <key>offset</key>
                <string>{37,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{374,204},{350,278}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_xingtian_skill1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,296},{372,296}}</string>
                <key>offset</key>
                <string>{65,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{391,182},{372,296}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_xingtian_skill1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,632},{356,302}}</string>
                <key>offset</key>
                <string>{79,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{413,176},{356,302}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_xingtian_skill1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,594},{348,298}}</string>
                <key>offset</key>
                <string>{82,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{420,177},{348,298}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_xingtian_skill1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,296},{334,300}}</string>
                <key>offset</key>
                <string>{84,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{429,172},{334,300}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_xingtian_skill1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,594},{354,298}}</string>
                <key>offset</key>
                <string>{87,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{422,170},{354,298}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_xingtian_skill1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,2},{328,292}}</string>
                <key>offset</key>
                <string>{69,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{417,172},{328,292}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_xingtian_skill1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{340,292}}</string>
                <key>offset</key>
                <string>{52,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{394,176},{340,292}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_xingtian_skill1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{330,290}}</string>
                <key>offset</key>
                <string>{44,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{391,183},{330,290}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill1_0.pvr</string>
            <key>size</key>
            <string>{1020,990}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a967e773665b77bedbc713f5b76d848f:1/1$</string>
            <key>textureFileName</key>
            <string>skill1_0.pvr</string>
        </dict>
    </dict>
</plist>
