<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_xingtian_skill2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{932,370}}</string>
                <key>offset</key>
                <string>{-23,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,96},{932,370}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_xingtian_skill2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{942,412}}</string>
                <key>offset</key>
                <string>{-28,132}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,46},{942,412}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill2_5.pvr</string>
            <key>size</key>
            <string>{946,788}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b2d47aee5f54b400844378a1f053f1b:1/1$</string>
            <key>textureFileName</key>
            <string>skill2_5.pvr</string>
        </dict>
    </dict>
</plist>
