<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_xingtian_skill1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{370,324}}</string>
                <key>offset</key>
                <string>{8,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{335,158},{370,324}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_xingtian_skill1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,672},{332,330}}</string>
                <key>offset</key>
                <string>{-14,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{332,155},{332,330}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_xingtian_skill1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{318,348}}</string>
                <key>offset</key>
                <string>{-15,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{338,135},{318,348}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_xingtian_skill1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,352},{328,352}}</string>
                <key>offset</key>
                <string>{-19,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{329,123},{328,352}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_xingtian_skill1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{342,342}}</string>
                <key>offset</key>
                <string>{-24,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{317,123},{342,342}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_xingtian_skill1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,706},{358,248}}</string>
                <key>offset</key>
                <string>{12,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{345,207},{358,248}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill1_2.pvr</string>
            <key>size</key>
            <string>{696,1004}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:403b402b24b8942d216c503097660d75:1/1$</string>
            <key>textureFileName</key>
            <string>skill1_2.pvr</string>
        </dict>
    </dict>
</plist>
