<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_pet13_run_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{50,82}}</string>
                <key>offset</key>
                <string>{7,-98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{382,357},{50,82}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet13_run_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{46,82}}</string>
                <key>offset</key>
                <string>{5,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{382,361},{46,82}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet13_run_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{46,82}}</string>
                <key>offset</key>
                <string>{6,-106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{383,365},{46,82}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet13_run_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,82}}</string>
                <key>offset</key>
                <string>{5,-97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{379,356},{52,82}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet13_run_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{44,82}}</string>
                <key>offset</key>
                <string>{5,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{383,361},{44,82}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet13_run_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{50,82}}</string>
                <key>offset</key>
                <string>{3,-103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{378,362},{50,82}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet13_run_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{50,82}}</string>
                <key>offset</key>
                <string>{7,-98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{382,357},{50,82}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>run_0.pvr</string>
            <key>size</key>
            <string>{56,590}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f977f2acb18f13f000b916502d814f7:1/1$</string>
            <key>textureFileName</key>
            <string>run_0.pvr</string>
        </dict>
    </dict>
</plist>
