<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_spec_coffin_down_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,158},{306,162}}</string>
                <key>offset</key>
                <string>{-71,-113}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{288,416},{306,162}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_spec_coffin_down_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{300,180}}</string>
                <key>offset</key>
                <string>{-71,-107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{291,401},{300,180}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_spec_coffin_down_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{278,210}}</string>
                <key>offset</key>
                <string>{-72,-124}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{301,403},{278,210}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_spec_coffin_down_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{280,154}}</string>
                <key>offset</key>
                <string>{-74,-144}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{298,451},{280,154}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>down_0.pvr</string>
            <key>size</key>
            <string>{496,466}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e8c87a25d6f6e17165b2a8e9971ff1e:1/1$</string>
            <key>textureFileName</key>
            <string>down_0.pvr</string>
        </dict>
    </dict>
</plist>
