<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_zhurong_hurt_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,486},{238,204}}</string>
                <key>offset</key>
                <string>{-66,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{327,295},{238,204}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zhurong_hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{260,204}}</string>
                <key>offset</key>
                <string>{-108,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{274,288},{260,204}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zhurong_hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{242,210}}</string>
                <key>offset</key>
                <string>{-106,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{285,275},{242,210}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zhurong_hurt_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,508},{236,210}}</string>
                <key>offset</key>
                <string>{-64,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{330,272},{236,210}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zhurong_hurt_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{242,212}}</string>
                <key>offset</key>
                <string>{-62,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{329,294},{242,212}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zhurong_hurt_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,746},{240,208}}</string>
                <key>offset</key>
                <string>{-68,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{324,299},{240,208}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zhurong_hurt_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,246},{238,204}}</string>
                <key>offset</key>
                <string>{-66,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{327,295},{238,204}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hurt_0.pvr</string>
            <key>size</key>
            <string>{424,956}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d7fbdb5717de9c36329024de77faf7c:1/1$</string>
            <key>textureFileName</key>
            <string>hurt_0.pvr</string>
        </dict>
    </dict>
</plist>
