<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_zhurong_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{238,206}}</string>
                <key>offset</key>
                <string>{-66,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{327,295},{238,206}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zhurong_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,242},{238,204}}</string>
                <key>offset</key>
                <string>{-66,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{327,295},{238,204}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zhurong_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{238,204}}</string>
                <key>offset</key>
                <string>{-67,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{326,293},{238,204}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zhurong_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,208},{236,204}}</string>
                <key>offset</key>
                <string>{-66,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{328,290},{236,204}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zhurong_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,414},{236,202}}</string>
                <key>offset</key>
                <string>{-65,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{329,288},{236,202}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zhurong_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,414},{236,202}}</string>
                <key>offset</key>
                <string>{-64,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{330,287},{236,202}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zhurong_idle_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,210},{236,202}}</string>
                <key>offset</key>
                <string>{-64,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{330,288},{236,202}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zhurong_idle_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,2},{236,204}}</string>
                <key>offset</key>
                <string>{-64,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{330,289},{236,204}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zhurong_idle_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{236,206}}</string>
                <key>offset</key>
                <string>{-64,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{330,290},{236,206}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zhurong_idle_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{238,206}}</string>
                <key>offset</key>
                <string>{-66,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{327,293},{238,206}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>idle_0.pvr</string>
            <key>size</key>
            <string>{892,618}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:192a86021b306600cff8829949b351f4:1/1$</string>
            <key>textureFileName</key>
            <string>idle_0.pvr</string>
        </dict>
    </dict>
</plist>
