<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fnpc012_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,196},{198,224}}</string>
                <key>offset</key>
                <string>{-8,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{405,324},{198,224}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc012_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,2},{196,226}}</string>
                <key>offset</key>
                <string>{-8,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{406,324},{196,226}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc012_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{192,226}}</string>
                <key>offset</key>
                <string>{-8,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{408,325},{192,226}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc012_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,2},{192,230}}</string>
                <key>offset</key>
                <string>{-9,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{407,324},{192,230}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc012_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{192,230}}</string>
                <key>offset</key>
                <string>{-8,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{408,326},{192,230}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc012_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{196,230}}</string>
                <key>offset</key>
                <string>{-8,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{406,327},{196,230}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc012_idle_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,196},{202,228}}</string>
                <key>offset</key>
                <string>{-8,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{403,330},{202,228}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc012_idle_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,396},{208,224}}</string>
                <key>offset</key>
                <string>{-8,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{400,332},{208,224}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc012_idle_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,400},{208,222}}</string>
                <key>offset</key>
                <string>{-8,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{400,332},{208,222}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc012_idle_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,404},{208,220}}</string>
                <key>offset</key>
                <string>{-8,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{400,333},{208,220}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc012_idle_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{206,222}}</string>
                <key>offset</key>
                <string>{-8,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{401,330},{206,222}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc012_idle_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,200},{202,222}}</string>
                <key>offset</key>
                <string>{-8,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{403,328},{202,222}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>idle_0.pvr</string>
            <key>size</key>
            <string>{922,614}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b381a59072fb4359baeb62090988699b:1/1$</string>
            <key>textureFileName</key>
            <string>idle_0.pvr</string>
        </dict>
    </dict>
</plist>
