<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_normal_022_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,200}}</string>
                <key>offset</key>
                <string>{-32,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{424,271},{112,200}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_022_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{108,208}}</string>
                <key>offset</key>
                <string>{-30,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{428,270},{108,208}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_022_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{100,212}}</string>
                <key>offset</key>
                <string>{-27,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{435,266},{100,212}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>idle_0.pvr</string>
            <key>size</key>
            <string>{116,628}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9942ad20d9c08551c4dfcd46bcbb2450:1/1$</string>
            <key>textureFileName</key>
            <string>idle_0.pvr</string>
        </dict>
    </dict>
</plist>
