<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_normal_022_run_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,262},{110,198}}</string>
                <key>offset</key>
                <string>{-31,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{426,276},{110,198}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_022_run_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,112},{108,210}}</string>
                <key>offset</key>
                <string>{-32,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{426,272},{108,210}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_022_run_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{108,212}}</string>
                <key>offset</key>
                <string>{-34,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{424,271},{108,212}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_022_run_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{116,212}}</string>
                <key>offset</key>
                <string>{-40,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{414,277},{116,212}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_022_run_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,222},{130,190}}</string>
                <key>offset</key>
                <string>{-45,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{402,288},{130,190}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_022_run_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{138,192}}</string>
                <key>offset</key>
                <string>{-49,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{394,293},{138,192}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_022_run_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{136,184}}</string>
                <key>offset</key>
                <string>{-46,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{398,294},{136,184}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_022_run_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,354},{128,180}}</string>
                <key>offset</key>
                <string>{-41,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{407,291},{128,180}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_022_run_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,140},{120,190}}</string>
                <key>offset</key>
                <string>{-36,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{416,288},{120,190}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_022_run_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,374},{114,196}}</string>
                <key>offset</key>
                <string>{-33,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{422,280},{114,196}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>run_0.pvr</string>
            <key>size</key>
            <string>{546,491}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d62f10c6c62de0f2deb77e988853c493:1/1$</string>
            <key>textureFileName</key>
            <string>run_0.pvr</string>
        </dict>
    </dict>
</plist>
