<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jiguan_gunmu_atk1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{104,106}}</string>
                <key>offset</key>
                <string>{-48,-153}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{412,484},{104,106}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>jiguan_gunmu_atk1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{102,102}}</string>
                <key>offset</key>
                <string>{-49,-153}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{412,486},{102,102}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>jiguan_gunmu_atk1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,108}}</string>
                <key>offset</key>
                <string>{-49,-153}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{411,483},{104,108}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>jiguan_gunmu_atk1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{104,104}}</string>
                <key>offset</key>
                <string>{-48,-152}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{412,484},{104,104}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>jiguan_gunmu_atk1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{102,104}}</string>
                <key>offset</key>
                <string>{-49,-153}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{412,485},{102,104}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atk1_0.pvr</string>
            <key>size</key>
            <string>{540,108}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f4750f1a97d86c65b2341fd11b8e7a6f:1/1$</string>
            <key>textureFileName</key>
            <string>atk1_0.pvr</string>
        </dict>
    </dict>
</plist>
