<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_fs_weapon_4_fx_jump_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,2},{198,198}}</string>
                <key>offset</key>
                <string>{35,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{448,373},{198,198}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_4_fx_jump_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{164,182}}</string>
                <key>offset</key>
                <string>{-38,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{392,350},{164,182}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_4_fx_jump_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{190,174}}</string>
                <key>offset</key>
                <string>{-58,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{359,350},{190,174}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_4_fx_jump_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{224,138}}</string>
                <key>offset</key>
                <string>{-70,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{330,333},{224,138}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_4_fx_jump_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{214,216}}</string>
                <key>offset</key>
                <string>{-78,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{327,261},{214,216}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jump_0.pvr</string>
            <key>size</key>
            <string>{1022,218}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:59e42e33fcbeea8780d67598200b4570:1/1$</string>
            <key>textureFileName</key>
            <string>jump_0.pvr</string>
        </dict>
    </dict>
</plist>
