<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_fs_weapon_4_fx_sprint_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{128,126}}</string>
                <key>offset</key>
                <string>{1,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{449,354},{128,126}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_4_fx_sprint_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{126,126}}</string>
                <key>offset</key>
                <string>{6,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{455,356},{126,126}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_4_fx_sprint_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{124,132}}</string>
                <key>offset</key>
                <string>{8,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{458,351},{124,132}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_4_fx_sprint_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{120,142}}</string>
                <key>offset</key>
                <string>{9,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{461,342},{120,142}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_4_fx_sprint_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,142}}</string>
                <key>offset</key>
                <string>{8,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{460,340},{120,142}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_4_fx_sprint_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,124},{126,128}}</string>
                <key>offset</key>
                <string>{5,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{454,353},{126,128}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_4_fx_sprint_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,124},{128,136}}</string>
                <key>offset</key>
                <string>{2,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{450,343},{128,136}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_4_fx_sprint_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,130},{134,134}}</string>
                <key>offset</key>
                <string>{3,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{448,340},{134,134}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_4_fx_sprint_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,128},{146,128}}</string>
                <key>offset</key>
                <string>{10,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{449,341},{146,128}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_4_fx_sprint_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,128},{148,130}}</string>
                <key>offset</key>
                <string>{10,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{448,336},{148,130}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_4_fx_sprint_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,2},{140,124}}</string>
                <key>offset</key>
                <string>{7,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{449,342},{140,124}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_4_fx_sprint_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{130,120}}</string>
                <key>offset</key>
                <string>{2,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{449,352},{130,120}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprint_0.pvr</string>
            <key>size</key>
            <string>{832,266}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:465298b95717a6016956b5eb2b9d02c6:1/1$</string>
            <key>textureFileName</key>
            <string>sprint_0.pvr</string>
        </dict>
    </dict>
</plist>
