<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_normal_001a_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{116,222}}</string>
                <key>offset</key>
                <string>{-19,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{435,317},{116,222}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_001a_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{118,224}}</string>
                <key>offset</key>
                <string>{-17,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{436,317},{118,224}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_001a_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,224}}</string>
                <key>offset</key>
                <string>{-14,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{439,317},{118,224}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>idle_0.pvr</string>
            <key>size</key>
            <string>{122,678}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4fb31b5c4da07e5135b769cce3dd177:1/1$</string>
            <key>textureFileName</key>
            <string>idle_0.pvr</string>
        </dict>
    </dict>
</plist>
