<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_mhzb_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{368,272}}</string>
                <key>offset</key>
                <string>{-74,-148}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{254,396},{368,272}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_mhzb_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{372,270}}</string>
                <key>offset</key>
                <string>{-75,-149}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{251,398},{372,270}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_mhzb_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{372,262}}</string>
                <key>offset</key>
                <string>{-74,-153}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,406},{372,262}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_mhzb_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,372},{372,268}}</string>
                <key>offset</key>
                <string>{-74,-150}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,400},{372,268}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_mhzb_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,2},{370,268}}</string>
                <key>offset</key>
                <string>{-73,-150}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,400},{370,268}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_mhzb_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,272},{368,268}}</string>
                <key>offset</key>
                <string>{-73,-150}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,400},{368,268}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>idle_0.pvr</string>
            <key>size</key>
            <string>{1024,645}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:868d4e374a5b865214783c8ae7988b9c:1/1$</string>
            <key>textureFileName</key>
            <string>idle_0.pvr</string>
        </dict>
    </dict>
</plist>
