<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_mhzb_run_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,756},{394,230}}</string>
                <key>offset</key>
                <string>{-158,-135}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,404},{394,230}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_mhzb_run_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,508},{394,246}}</string>
                <key>offset</key>
                <string>{-161,-128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,389},{394,246}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_mhzb_run_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{394,250}}</string>
                <key>offset</key>
                <string>{-163,-126}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,385},{394,250}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_mhzb_run_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{394,252}}</string>
                <key>offset</key>
                <string>{-165,-125}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,383},{394,252}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_mhzb_run_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,398},{394,214}}</string>
                <key>offset</key>
                <string>{-164,-145}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,422},{394,214}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_mhzb_run_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{394,216}}</string>
                <key>offset</key>
                <string>{-162,-144}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,420},{394,216}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>run_0.pvr</string>
            <key>size</key>
            <string>{616,988}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e3f6bc70d6b52b33721e1f10815bfc8b:1/1$</string>
            <key>textureFileName</key>
            <string>run_0.pvr</string>
        </dict>
    </dict>
</plist>
