<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_mhzb_run_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{390,220}}</string>
                <key>offset</key>
                <string>{-159,-137}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,411},{390,220}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_mhzb_run_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,674},{388,218}}</string>
                <key>offset</key>
                <string>{-155,-133}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,408},{388,218}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_mhzb_run_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{390,222}}</string>
                <key>offset</key>
                <string>{-155,-132}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,405},{390,222}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_mhzb_run_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{392,224}}</string>
                <key>offset</key>
                <string>{-156,-131}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,403},{392,224}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>run_1.pvr</string>
            <key>size</key>
            <string>{396,894}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8efeea8aa972f06bf0141c85f89767c3:1/1$</string>
            <key>textureFileName</key>
            <string>run_1.pvr</string>
        </dict>
    </dict>
</plist>
