<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_mhzb_skill1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,2},{240,286}}</string>
                <key>offset</key>
                <string>{-100,-145}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{292,386},{240,286}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_mhzb_skill1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{338,294}}</string>
                <key>offset</key>
                <string>{-69,-159}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{274,396},{338,294}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_mhzb_skill1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,298},{232,336}}</string>
                <key>offset</key>
                <string>{-129,-93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{267,309},{232,336}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_mhzb_skill1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,290},{218,250}}</string>
                <key>offset</key>
                <string>{-70,-136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{333,395},{218,250}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_mhzb_skill1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{352,270}}</string>
                <key>offset</key>
                <string>{-125,-140}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,389},{352,270}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_mhzb_skill1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{384,266}}</string>
                <key>offset</key>
                <string>{-141,-142}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,393},{384,266}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill1_0.pvr</string>
            <key>size</key>
            <string>{970,542}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0356d5085658fca5f56877efd5acdb0f:1/1$</string>
            <key>textureFileName</key>
            <string>skill1_0.pvr</string>
        </dict>
    </dict>
</plist>
