<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_mhzb_skill1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{394,270}}</string>
                <key>offset</key>
                <string>{-146,-140}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,389},{394,270}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_mhzb_skill1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{380,270}}</string>
                <key>offset</key>
                <string>{-139,-140}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,389},{380,270}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_mhzb_skill1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,546},{326,274}}</string>
                <key>offset</key>
                <string>{-112,-138}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,385},{326,274}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_mhzb_skill1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,546},{252,274}}</string>
                <key>offset</key>
                <string>{-75,-138}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{311,385},{252,274}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill1_1.pvr</string>
            <key>size</key>
            <string>{532,874}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:889ed24ee4a7e2471c5cff5c15679edd:1/1$</string>
            <key>textureFileName</key>
            <string>skill1_1.pvr</string>
        </dict>
    </dict>
</plist>
