<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_shuijing_down_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,652},{216,264}}</string>
                <key>offset</key>
                <string>{-24,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{380,245},{216,264}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_shuijing_down_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{344,170}}</string>
                <key>offset</key>
                <string>{-74,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,353},{344,170}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_shuijing_down_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,652},{358,150}}</string>
                <key>offset</key>
                <string>{-69,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{264,388},{358,150}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_shuijing_down_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{374,166}}</string>
                <key>offset</key>
                <string>{-74,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,365},{374,166}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_shuijing_down_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{370,156}}</string>
                <key>offset</key>
                <string>{-76,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,383},{370,156}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_shuijing_down_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{370,150}}</string>
                <key>offset</key>
                <string>{-76,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,384},{370,150}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>down_0.pvr</string>
            <key>size</key>
            <string>{378,1012}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:916f06085dd0cf3d8a4ee9bfd5bb3af6:1/1$</string>
            <key>textureFileName</key>
            <string>down_0.pvr</string>
        </dict>
    </dict>
</plist>
