<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_normal_024_atk1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{124,158}}</string>
                <key>offset</key>
                <string>{37,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{487,353},{124,158}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_024_atk1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,156},{116,162}}</string>
                <key>offset</key>
                <string>{33,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{487,348},{116,162}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_024_atk1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,320},{108,170}}</string>
                <key>offset</key>
                <string>{23,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{481,340},{108,170}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_024_atk1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,166},{110,164}}</string>
                <key>offset</key>
                <string>{32,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{489,346},{110,164}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_024_atk1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{170,146}}</string>
                <key>offset</key>
                <string>{61,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{488,365},{170,146}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_024_atk1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{234,152}}</string>
                <key>offset</key>
                <string>{94,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{489,359},{234,152}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_024_atk1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{162,158}}</string>
                <key>offset</key>
                <string>{57,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{488,353},{162,158}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_024_atk1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,332},{112,160}}</string>
                <key>offset</key>
                <string>{30,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{486,351},{112,160}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_024_atk1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,320},{106,162}}</string>
                <key>offset</key>
                <string>{30,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{489,349},{106,162}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_024_atk1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{104,162}}</string>
                <key>offset</key>
                <string>{30,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{490,349},{104,162}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_024_atk1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,150},{118,162}}</string>
                <key>offset</key>
                <string>{42,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{495,348},{118,162}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atk1_0.pvr</string>
            <key>size</key>
            <string>{516,492}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3fe21df740dae7d9d4e7efb2a1843cc1:1/1$</string>
            <key>textureFileName</key>
            <string>atk1_0.pvr</string>
        </dict>
    </dict>
</plist>
