<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_normal_024_hurt_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,114},{126,158}}</string>
                <key>offset</key>
                <string>{41,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{490,351},{126,158}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_024_hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,2},{150,146}}</string>
                <key>offset</key>
                <string>{42,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{479,363},{150,146}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_024_hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{110,158}}</string>
                <key>offset</key>
                <string>{24,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{481,351},{110,158}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_024_hurt_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,160}}</string>
                <key>offset</key>
                <string>{25,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{486,349},{102,160}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_024_hurt_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{110,164}}</string>
                <key>offset</key>
                <string>{30,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{487,345},{110,164}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_024_hurt_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,114},{134,164}}</string>
                <key>offset</key>
                <string>{40,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{485,345},{134,164}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_024_hurt_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{126,158}}</string>
                <key>offset</key>
                <string>{40,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{489,351},{126,158}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hurt_0.pvr</string>
            <key>size</key>
            <string>{638,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c7cf25eb503b3a36f8ed5e6d4c37e97a:1/1$</string>
            <key>textureFileName</key>
            <string>hurt_0.pvr</string>
        </dict>
    </dict>
</plist>
