<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_fs_body_1_atk1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,148}}</string>
                <key>offset</key>
                <string>{10,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{463,358},{118,148}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_body_1_atk1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{88,138}}</string>
                <key>offset</key>
                <string>{25,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{493,369},{88,138}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_body_1_atk1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,592},{86,142}}</string>
                <key>offset</key>
                <string>{26,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{495,365},{86,142}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_body_1_atk1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{94,144}}</string>
                <key>offset</key>
                <string>{29,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{494,363},{94,144}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_body_1_atk1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{90,152}}</string>
                <key>offset</key>
                <string>{24,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{491,354},{90,152}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atk1_0.pvr</string>
            <key>size</key>
            <string>{122,736}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:579d4b62e455af27dc1cb73c811bd1a3:1/1$</string>
            <key>textureFileName</key>
            <string>atk1_0.pvr</string>
        </dict>
    </dict>
</plist>
