<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_fs_body_1_atk2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,714},{90,150}}</string>
                <key>offset</key>
                <string>{24,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{491,356},{90,150}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_body_1_atk2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{96,146}}</string>
                <key>offset</key>
                <string>{21,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{485,361},{96,146}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_body_1_atk2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{114,140}}</string>
                <key>offset</key>
                <string>{19,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{474,367},{114,140}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_body_1_atk2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{100,148}}</string>
                <key>offset</key>
                <string>{19,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{481,359},{100,148}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_body_1_atk2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{98,140}}</string>
                <key>offset</key>
                <string>{24,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{487,367},{98,140}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_body_1_atk2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{112,128}}</string>
                <key>offset</key>
                <string>{13,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{469,379},{112,128}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atk2_0.pvr</string>
            <key>size</key>
            <string>{118,866}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f2947aa26892cf71107c9c9d388bdab2:1/1$</string>
            <key>textureFileName</key>
            <string>atk2_0.pvr</string>
        </dict>
    </dict>
</plist>
