<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_fs_body_1_atk3_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{96,136}}</string>
                <key>offset</key>
                <string>{2,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{466,370},{96,136}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_body_1_atk3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{82,148}}</string>
                <key>offset</key>
                <string>{-3,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{468,358},{82,148}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_body_1_atk3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{78,154}}</string>
                <key>offset</key>
                <string>{-3,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{470,351},{78,154}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_body_1_atk3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,154},{94,146}}</string>
                <key>offset</key>
                <string>{-19,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{446,359},{94,146}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_body_1_atk3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,2},{110,134}}</string>
                <key>offset</key>
                <string>{-37,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{420,371},{110,134}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_body_1_atk3_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,138},{116,128}}</string>
                <key>offset</key>
                <string>{-41,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{413,377},{116,128}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_body_1_atk3_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,138},{114,130}}</string>
                <key>offset</key>
                <string>{-46,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{409,375},{114,130}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_body_1_atk3_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{122,134}}</string>
                <key>offset</key>
                <string>{-54,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{397,371},{122,134}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_body_1_atk3_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,2},{130,126}}</string>
                <key>offset</key>
                <string>{-59,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{388,379},{130,126}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_body_1_atk3_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,134},{126,120}}</string>
                <key>offset</key>
                <string>{-59,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{390,385},{126,120}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_body_1_atk3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,2},{112,132}}</string>
                <key>offset</key>
                <string>{-52,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{404,374},{112,132}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_body_1_atk3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{106,136}}</string>
                <key>offset</key>
                <string>{-50,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{409,370},{106,136}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_body_1_atk3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,152},{102,146}}</string>
                <key>offset</key>
                <string>{-39,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{422,360},{102,146}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_body_1_atk3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{124,150}}</string>
                <key>offset</key>
                <string>{7,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{457,356},{124,150}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atk3_0.pvr</string>
            <key>size</key>
            <string>{878,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:601fb3e2bf1e26d3b59d04fb5b17316b:1/1$</string>
            <key>textureFileName</key>
            <string>atk3_0.pvr</string>
        </dict>
    </dict>
</plist>
