<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_fs_body_1_down_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,140}}</string>
                <key>offset</key>
                <string>{-35,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{419,349},{116,140}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_body_1_down_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{144,80}}</string>
                <key>offset</key>
                <string>{-22,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{418,429},{144,80}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_body_1_down_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{150,80}}</string>
                <key>offset</key>
                <string>{-21,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{416,445},{150,80}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_body_1_down_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,60},{152,56}}</string>
                <key>offset</key>
                <string>{-15,-107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{421,463},{152,56}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_body_1_down_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,60},{150,52}}</string>
                <key>offset</key>
                <string>{-22,-111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{415,469},{150,52}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_body_1_down_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,2},{152,56}}</string>
                <key>offset</key>
                <string>{-16,-119}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{420,475},{152,56}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_body_1_down_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{152,56}}</string>
                <key>offset</key>
                <string>{-16,-118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{420,474},{152,56}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>down_0.pvr</string>
            <key>size</key>
            <string>{750,120}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:867c89ee1663ba5c7720361f84551c79:1/1$</string>
            <key>textureFileName</key>
            <string>down_0.pvr</string>
        </dict>
    </dict>
</plist>
