<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_fs_body_1_jumpatk_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,616},{84,138}}</string>
                <key>offset</key>
                <string>{6,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{476,326},{84,138}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_body_1_jumpatk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{104,148}}</string>
                <key>offset</key>
                <string>{8,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{468,335},{104,148}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_body_1_jumpatk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{98,126}}</string>
                <key>offset</key>
                <string>{9,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{472,342},{98,126}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_body_1_jumpatk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{98,120}}</string>
                <key>offset</key>
                <string>{-5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{458,320},{98,120}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_body_1_jumpatk_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,110}}</string>
                <key>offset</key>
                <string>{-20,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{437,326},{110,110}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_body_1_jumpatk_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{108,100}}</string>
                <key>offset</key>
                <string>{-26,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{432,329},{108,100}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jumpatk_0.pvr</string>
            <key>size</key>
            <string>{114,756}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ed9b7d8550139919ff63efc2a9463182:1/1$</string>
            <key>textureFileName</key>
            <string>jumpatk_0.pvr</string>
        </dict>
    </dict>
</plist>
