<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_fs_body_1_jump_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{102,178}}</string>
                <key>offset</key>
                <string>{26,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{487,328},{102,178}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_body_1_jump_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,616},{86,158}}</string>
                <key>offset</key>
                <string>{19,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{488,347},{86,158}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_body_1_jump_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{88,158}}</string>
                <key>offset</key>
                <string>{25,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{493,335},{88,158}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_body_1_jump_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{100,150}}</string>
                <key>offset</key>
                <string>{21,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{483,333},{100,150}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_body_1_jump_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,120}}</string>
                <key>offset</key>
                <string>{19,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{479,340},{104,120}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jump_0.pvr</string>
            <key>size</key>
            <string>{108,776}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d1e738e79e6859046b5118ae4904ab69:1/1$</string>
            <key>textureFileName</key>
            <string>jump_0.pvr</string>
        </dict>
    </dict>
</plist>
