<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_fs_body_1_skill6_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{80,144}}</string>
                <key>offset</key>
                <string>{29,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{501,362},{80,144}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_body_1_skill6_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{80,120}}</string>
                <key>offset</key>
                <string>{36,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{508,385},{80,120}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_body_1_skill6_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,122},{84,106}}</string>
                <key>offset</key>
                <string>{44,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{514,399},{84,106}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_body_1_skill6_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,96},{90,92}}</string>
                <key>offset</key>
                <string>{47,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{514,413},{90,92}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_body_1_skill6_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,2},{92,92}}</string>
                <key>offset</key>
                <string>{49,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{515,413},{92,92}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_body_1_skill6_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,146},{92,96}}</string>
                <key>offset</key>
                <string>{40,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{506,408},{92,96}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_body_1_skill6_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,152}}</string>
                <key>offset</key>
                <string>{31,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{501,351},{84,152}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_body_1_skill6_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,124},{114,116}}</string>
                <key>offset</key>
                <string>{12,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{467,386},{114,116}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_body_1_skill6_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,136},{116,102}}</string>
                <key>offset</key>
                <string>{11,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{465,400},{116,102}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_body_1_skill6_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,122},{114,98}}</string>
                <key>offset</key>
                <string>{12,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{467,404},{114,98}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_body_1_skill6_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,122},{116,94}}</string>
                <key>offset</key>
                <string>{13,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{467,408},{116,94}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_body_1_skill6_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,2},{118,96}}</string>
                <key>offset</key>
                <string>{14,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{467,406},{118,96}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_body_1_skill6_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{120,98}}</string>
                <key>offset</key>
                <string>{15,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{467,404},{120,98}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_body_1_skill6_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,2},{118,100}}</string>
                <key>offset</key>
                <string>{15,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{468,402},{118,100}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_body_1_skill6_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,2},{118,112}}</string>
                <key>offset</key>
                <string>{13,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{466,390},{118,112}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_body_1_skill6_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{106,132}}</string>
                <key>offset</key>
                <string>{16,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{475,372},{106,132}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_body_1_skill6_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{100,142}}</string>
                <key>offset</key>
                <string>{19,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{481,363},{100,142}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill6_0.pvr</string>
            <key>size</key>
            <string>{896,240}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:002d6d3e82efcfd6c41c9d8332bc5551:1/1$</string>
            <key>textureFileName</key>
            <string>skill6_0.pvr</string>
        </dict>
    </dict>
</plist>
