<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc_yz2_fx_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{22,34}}</string>
                <key>offset</key>
                <string>{-7,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,194},{22,34}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>npc_yz2_fx_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{22,36}}</string>
                <key>offset</key>
                <string>{-6,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,192},{22,36}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>npc_yz2_fx_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,38},{22,36}}</string>
                <key>offset</key>
                <string>{-5,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,191},{22,36}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>npc_yz2_fx_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{22,40}}</string>
                <key>offset</key>
                <string>{-4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,187},{22,40}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>npc_yz2_fx_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{24,40}}</string>
                <key>offset</key>
                <string>{-4,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,186},{24,40}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>npc_yz2_fx_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{24,40}}</string>
                <key>offset</key>
                <string>{-3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,185},{24,40}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>npc_yz2_fx_idle_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{26,42}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,183},{26,42}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>npc_yz2_fx_idle_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{26,44}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,180},{26,44}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>npc_yz2_fx_idle_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{26,44}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,179},{26,44}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>npc_yz2_fx_idle_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{26,46}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,176},{26,46}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>npc_yz2_fx_idle_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{28,46}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,175},{28,46}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>idle_0.pvr</string>
            <key>size</key>
            <string>{32,472}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2162bb388bc20928789e9844ad758345:1/1$</string>
            <key>textureFileName</key>
            <string>idle_0.pvr</string>
        </dict>
    </dict>
</plist>
