<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_spec_statue_down_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,552},{128,310}}</string>
                <key>offset</key>
                <string>{-69,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{379,271},{128,310}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_spec_statue_down_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{240,272}}</string>
                <key>offset</key>
                <string>{-73,-87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{319,335},{240,272}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_spec_statue_down_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{306,204}}</string>
                <key>offset</key>
                <string>{-52,-134}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{307,416},{306,204}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_spec_statue_down_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,552},{344,164}}</string>
                <key>offset</key>
                <string>{-53,-154}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{287,456},{344,164}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>down_0.pvr</string>
            <key>size</key>
            <string>{298,898}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a243da48c6ab32a2f5c73374ee2bed0:1/1$</string>
            <key>textureFileName</key>
            <string>down_0.pvr</string>
        </dict>
    </dict>
</plist>
