<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_normal_036_hurt_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,346},{140,216}}</string>
                <key>offset</key>
                <string>{33,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{475,263},{140,216}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_036_hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{140,226}}</string>
                <key>offset</key>
                <string>{40,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{482,256},{140,226}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_036_hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{138,198}}</string>
                <key>offset</key>
                <string>{27,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{470,287},{138,198}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_036_hurt_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{152,200}}</string>
                <key>offset</key>
                <string>{31,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{467,288},{152,200}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_036_hurt_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{156,210}}</string>
                <key>offset</key>
                <string>{37,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{471,275},{156,210}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_036_hurt_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,214},{146,216}}</string>
                <key>offset</key>
                <string>{37,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{476,266},{146,216}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_036_hurt_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,204},{140,216}}</string>
                <key>offset</key>
                <string>{33,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{475,263},{140,216}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hurt_0.pvr</string>
            <key>size</key>
            <string>{510,488}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e89cb3057582b0a95b49b4f6e23b131:1/1$</string>
            <key>textureFileName</key>
            <string>hurt_0.pvr</string>
        </dict>
    </dict>
</plist>
