<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_normal_036_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{140,216}}</string>
                <key>offset</key>
                <string>{33,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{475,263},{140,216}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_036_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,216}}</string>
                <key>offset</key>
                <string>{33,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{474,263},{142,216}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_036_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{144,214}}</string>
                <key>offset</key>
                <string>{34,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{474,265},{144,214}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>idle_0.pvr</string>
            <key>size</key>
            <string>{434,220}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:35ca1b77af5d04332c6e2f81f131c708:1/1$</string>
            <key>textureFileName</key>
            <string>idle_0.pvr</string>
        </dict>
    </dict>
</plist>
