<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_normal_036_run_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,2},{152,198}}</string>
                <key>offset</key>
                <string>{42,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{478,281},{152,198}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_036_run_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,194}}</string>
                <key>offset</key>
                <string>{44,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{481,285},{150,194}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_036_run_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{150,190}}</string>
                <key>offset</key>
                <string>{45,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{482,289},{150,190}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_036_run_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,2},{150,186}}</string>
                <key>offset</key>
                <string>{47,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{484,293},{150,186}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_036_run_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,2},{150,182}}</string>
                <key>offset</key>
                <string>{50,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{487,297},{150,182}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_036_run_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{154,180}}</string>
                <key>offset</key>
                <string>{51,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{486,299},{154,180}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_036_run_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,154},{156,180}}</string>
                <key>offset</key>
                <string>{52,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{486,299},{156,180}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_036_run_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,156},{158,184}}</string>
                <key>offset</key>
                <string>{51,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{484,295},{158,184}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_036_run_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,154},{156,188}}</string>
                <key>offset</key>
                <string>{48,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{482,291},{156,188}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_036_run_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,154},{154,194}}</string>
                <key>offset</key>
                <string>{45,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{480,285},{154,194}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>run_0.pvr</string>
            <key>size</key>
            <string>{962,316}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bcb8d13435970cd2de47ac9d651e9830:1/1$</string>
            <key>textureFileName</key>
            <string>run_0.pvr</string>
        </dict>
    </dict>
</plist>
