<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_normal_020_run_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,176},{224,172}}</string>
                <key>offset</key>
                <string>{-11,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{389,311},{224,172}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_020_run_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{204,172}}</string>
                <key>offset</key>
                <string>{3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{413,312},{204,172}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_020_run_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,514},{182,168}}</string>
                <key>offset</key>
                <string>{17,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{438,316},{182,168}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_020_run_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,674},{160,166}}</string>
                <key>offset</key>
                <string>{31,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{463,317},{160,166}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_020_run_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,674},{176,164}}</string>
                <key>offset</key>
                <string>{25,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{449,319},{176,164}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_020_run_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,510},{190,162}}</string>
                <key>offset</key>
                <string>{19,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{436,321},{190,162}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_020_run_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,350},{224,162}}</string>
                <key>offset</key>
                <string>{2,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{402,320},{224,162}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_020_run_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{278,166}}</string>
                <key>offset</key>
                <string>{-28,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{345,316},{278,166}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_020_run_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{292,166}}</string>
                <key>offset</key>
                <string>{-38,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{328,316},{292,166}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_020_run_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{262,170}}</string>
                <key>offset</key>
                <string>{-26,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{355,313},{262,170}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>run_0.pvr</string>
            <key>size</key>
            <string>{512,842}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cb19739d2b77c35d50773611c5316c2e:1/1$</string>
            <key>textureFileName</key>
            <string>run_0.pvr</string>
        </dict>
    </dict>
</plist>
