<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_zs_weapon_2_fx_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,546},{182,338}}</string>
                <key>offset</key>
                <string>{-106,-74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{315,289},{182,338}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_2_fx_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,182},{180,336}}</string>
                <key>offset</key>
                <string>{-105,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{317,289},{180,336}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_2_fx_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{178,336}}</string>
                <key>offset</key>
                <string>{-105,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{318,287},{178,336}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_2_fx_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{178,336}}</string>
                <key>offset</key>
                <string>{-105,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{318,286},{178,336}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_2_fx_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{180,336}}</string>
                <key>offset</key>
                <string>{-105,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{317,287},{180,336}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_2_fx_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{180,338}}</string>
                <key>offset</key>
                <string>{-104,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{318,287},{180,338}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_2_fx_idle_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,364},{182,338}}</string>
                <key>offset</key>
                <string>{-104,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{317,286},{182,338}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_2_fx_idle_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,734},{186,372}}</string>
                <key>offset</key>
                <string>{-104,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{315,253},{186,372}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_2_fx_idle_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,734},{186,386}}</string>
                <key>offset</key>
                <string>{-104,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{315,239},{186,386}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_2_fx_idle_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,548},{184,338}}</string>
                <key>offset</key>
                <string>{-105,-74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{315,289},{184,338}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>idle_0.pvr</string>
            <key>size</key>
            <string>{764,922}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bbc0ddec71ade70c1b9f4631a52c65bb:1/1$</string>
            <key>textureFileName</key>
            <string>idle_0.pvr</string>
        </dict>
    </dict>
</plist>
