<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_zs_weapon_2_fx_jump_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,350}}</string>
                <key>offset</key>
                <string>{-98,-138}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{338,347},{152,350}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_2_fx_jump_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{154,426}}</string>
                <key>offset</key>
                <string>{-105,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{330,180},{154,426}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_2_fx_jump_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,158},{280,276}}</string>
                <key>offset</key>
                <string>{-121,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,252},{280,276}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_2_fx_jump_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{294,266}}</string>
                <key>offset</key>
                <string>{-121,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,258},{294,266}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jump_0.pvr</string>
            <key>size</key>
            <string>{782,436}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:43a4cf5b86c218aa5d496cafb386e597:1/1$</string>
            <key>textureFileName</key>
            <string>jump_0.pvr</string>
        </dict>
    </dict>
</plist>
