<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_zs_weapon_2_fx_sprint_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{292,262}}</string>
                <key>offset</key>
                <string>{-80,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{286,316},{292,262}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_2_fx_sprint_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{288,262}}</string>
                <key>offset</key>
                <string>{-76,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{292,309},{288,262}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_2_fx_sprint_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,2},{284,262}}</string>
                <key>offset</key>
                <string>{-75,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{295,303},{284,262}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_2_fx_sprint_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,266},{280,266}}</string>
                <key>offset</key>
                <string>{-78,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{294,302},{280,266}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_2_fx_sprint_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,288},{278,268}}</string>
                <key>offset</key>
                <string>{-81,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{292,312},{278,268}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_2_fx_sprint_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,534},{278,270}}</string>
                <key>offset</key>
                <string>{-78,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{295,301},{278,270}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_2_fx_sprint_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{280,268}}</string>
                <key>offset</key>
                <string>{-72,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{300,294},{280,268}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_2_fx_sprint_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{288,264}}</string>
                <key>offset</key>
                <string>{-73,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{295,299},{288,264}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprint_0.pvr</string>
            <key>size</key>
            <string>{850,806}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bbfe6235d68ffa1bbd0c98cdec36d026:1/1$</string>
            <key>textureFileName</key>
            <string>sprint_0.pvr</string>
        </dict>
    </dict>
</plist>
