<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_mulu_away_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{246,358}}</string>
                <key>offset</key>
                <string>{8,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{397,123},{246,358}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_mulu_away_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{256,348}}</string>
                <key>offset</key>
                <string>{-13,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{371,133},{256,348}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>away_0.pvr</string>
            <key>size</key>
            <string>{508,362}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c473be317503dbf5767e8ee08f4e724:1/1$</string>
            <key>textureFileName</key>
            <string>away_0.pvr</string>
        </dict>
    </dict>
</plist>
