<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_mulu_down_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{260,352}}</string>
                <key>offset</key>
                <string>{-30,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{352,129},{260,352}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_mulu_down_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{220,338}}</string>
                <key>offset</key>
                <string>{-98,67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{304,148},{220,338}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_mulu_down_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,394},{406,166}}</string>
                <key>offset</key>
                <string>{-209,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{100,337},{406,166}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_mulu_down_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{388,160}}</string>
                <key>offset</key>
                <string>{-200,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,352},{388,160}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_mulu_down_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,486},{394,156}}</string>
                <key>offset</key>
                <string>{-204,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,354},{394,156}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_mulu_down_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{390,130}}</string>
                <key>offset</key>
                <string>{-202,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{115,384},{390,130}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>down_0.pvr</string>
            <key>size</key>
            <string>{510,882}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9d5a9236a6aa338e24cf96dbcaca7fd7:1/1$</string>
            <key>textureFileName</key>
            <string>down_0.pvr</string>
        </dict>
    </dict>
</plist>
