<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_ck_weapon_2_fx_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,558},{192,196}}</string>
                <key>offset</key>
                <string>{-54,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{362,333},{192,196}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_2_fx_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,564},{192,208}}</string>
                <key>offset</key>
                <string>{-53,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{363,320},{192,208}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_2_fx_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,758},{192,210}}</string>
                <key>offset</key>
                <string>{-52,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{364,318},{192,210}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_2_fx_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,758},{192,210}}</string>
                <key>offset</key>
                <string>{-52,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{364,318},{192,210}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_2_fx_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,374},{188,202}}</string>
                <key>offset</key>
                <string>{-52,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{366,327},{188,202}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_2_fx_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,186},{186,212}}</string>
                <key>offset</key>
                <string>{-53,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{366,319},{186,212}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_2_fx_idle_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{182,212}}</string>
                <key>offset</key>
                <string>{-54,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{367,321},{182,212}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_2_fx_idle_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,204}}</string>
                <key>offset</key>
                <string>{-54,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{368,330},{180,204}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_2_fx_idle_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{182,206}}</string>
                <key>offset</key>
                <string>{-54,-46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{367,327},{182,206}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_2_fx_idle_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{186,200}}</string>
                <key>offset</key>
                <string>{-54,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{365,331},{186,200}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>idle_0.pvr</string>
            <key>size</key>
            <string>{426,952}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a2e044e8f5014733e6b133c65057200:1/1$</string>
            <key>textureFileName</key>
            <string>idle_0.pvr</string>
        </dict>
    </dict>
</plist>
