<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_ck_weapon_2_fx_jump_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{174,136}}</string>
                <key>offset</key>
                <string>{-44,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{381,386},{174,136}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_2_fx_jump_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{182,156}}</string>
                <key>offset</key>
                <string>{-46,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{375,317},{182,156}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_2_fx_jump_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{192,156}}</string>
                <key>offset</key>
                <string>{-47,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{369,307},{192,156}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_2_fx_jump_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{216,152}}</string>
                <key>offset</key>
                <string>{-53,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{351,297},{216,152}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_2_fx_jump_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,610},{230,156}}</string>
                <key>offset</key>
                <string>{-58,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{339,291},{230,156}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_2_fx_jump_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,768},{242,158}}</string>
                <key>offset</key>
                <string>{-63,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{328,284},{242,158}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jump_0.pvr</string>
            <key>size</key>
            <string>{246,928}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:13a316b8412e63b69216f720abfa4043:1/1$</string>
            <key>textureFileName</key>
            <string>jump_0.pvr</string>
        </dict>
    </dict>
</plist>
