<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_pet06_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{50,74}}</string>
                <key>offset</key>
                <string>{-6,-107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{369,370},{50,74}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet06_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{50,74}}</string>
                <key>offset</key>
                <string>{-5,-107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{370,370},{50,74}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet06_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{50,74}}</string>
                <key>offset</key>
                <string>{-6,-106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{369,369},{50,74}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet06_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,74}}</string>
                <key>offset</key>
                <string>{-7,-107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{368,370},{50,74}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>idle_0.pvr</string>
            <key>size</key>
            <string>{54,306}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a0bce6b5c58d056a6b9f06a5636e7992:1/1$</string>
            <key>textureFileName</key>
            <string>idle_0.pvr</string>
        </dict>
    </dict>
</plist>
