<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_pet06_run_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{48,72}}</string>
                <key>offset</key>
                <string>{0,-104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{376,368},{48,72}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet06_run_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{48,72}}</string>
                <key>offset</key>
                <string>{2,-108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{378,372},{48,72}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet06_run_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{54,72}}</string>
                <key>offset</key>
                <string>{-1,-107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{372,371},{54,72}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet06_run_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,74}}</string>
                <key>offset</key>
                <string>{-4,-104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{368,367},{56,74}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet06_run_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{50,72}}</string>
                <key>offset</key>
                <string>{1,-108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{376,372},{50,72}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet06_run_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{48,72}}</string>
                <key>offset</key>
                <string>{2,-108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{378,372},{48,72}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>run_0.pvr</string>
            <key>size</key>
            <string>{60,448}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1cbe67e2b03fea1cde969b79930328e6:1/1$</string>
            <key>textureFileName</key>
            <string>run_0.pvr</string>
        </dict>
    </dict>
</plist>
