<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_normal_025_down_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{204,130}}</string>
                <key>offset</key>
                <string>{26,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{436,359},{204,130}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_025_down_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,664},{212,82}}</string>
                <key>offset</key>
                <string>{15,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{421,430},{212,82}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_025_down_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,428},{216,118}}</string>
                <key>offset</key>
                <string>{11,-106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{415,431},{216,118}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_025_down_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{220,114}}</string>
                <key>offset</key>
                <string>{9,-103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{411,430},{220,114}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_025_down_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,208},{218,100}}</string>
                <key>offset</key>
                <string>{9,-97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{412,431},{218,100}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_025_down_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{218,118}}</string>
                <key>offset</key>
                <string>{10,-109}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{413,434},{218,118}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_025_down_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{218,118}}</string>
                <key>offset</key>
                <string>{10,-109}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{413,434},{218,118}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>down_0.pvr</string>
            <key>size</key>
            <string>{255,748}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:31244fa6aba47f151a7b4baf27084351:1/1$</string>
            <key>textureFileName</key>
            <string>down_0.pvr</string>
        </dict>
    </dict>
</plist>
