<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_normal_025_hurt_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{182,144}}</string>
                <key>offset</key>
                <string>{48,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{469,382},{182,144}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_025_hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{182,132}}</string>
                <key>offset</key>
                <string>{48,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{469,394},{182,132}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_025_hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{180,144}}</string>
                <key>offset</key>
                <string>{47,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{469,383},{180,144}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_025_hurt_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,872},{170,148}}</string>
                <key>offset</key>
                <string>{42,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{469,378},{170,148}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_025_hurt_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,722},{170,148}}</string>
                <key>offset</key>
                <string>{42,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{469,378},{170,148}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_025_hurt_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,574},{174,146}}</string>
                <key>offset</key>
                <string>{44,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{469,380},{174,146}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_025_hurt_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{182,144}}</string>
                <key>offset</key>
                <string>{48,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{469,382},{182,144}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hurt_0.pvr</string>
            <key>size</key>
            <string>{186,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d974bcd241b5b8adef01290f86ccc963:1/1$</string>
            <key>textureFileName</key>
            <string>hurt_0.pvr</string>
        </dict>
    </dict>
</plist>
