<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_ck_weapon_2_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,132}}</string>
                <key>offset</key>
                <string>{-52,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{397,365},{126,132}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_2_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{126,130}}</string>
                <key>offset</key>
                <string>{-51,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{398,366},{126,130}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_2_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{126,130}}</string>
                <key>offset</key>
                <string>{-51,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{398,365},{126,130}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_2_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{126,130}}</string>
                <key>offset</key>
                <string>{-50,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{399,365},{126,130}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_2_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{124,132}}</string>
                <key>offset</key>
                <string>{-51,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{399,365},{124,132}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_2_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{120,134}}</string>
                <key>offset</key>
                <string>{-51,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{401,366},{120,134}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_2_idle_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,272},{116,136}}</string>
                <key>offset</key>
                <string>{-52,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{402,366},{116,136}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_2_idle_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,410},{116,134}}</string>
                <key>offset</key>
                <string>{-53,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{401,369},{116,134}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_2_idle_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,546},{118,134}}</string>
                <key>offset</key>
                <string>{-53,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{400,368},{118,134}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_2_idle_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,136},{120,134}}</string>
                <key>offset</key>
                <string>{-52,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{400,365},{120,134}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>idle_0.pvr</string>
            <key>size</key>
            <string>{256,682}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d0467ea0c03aa05e69cf1677c5080579:1/1$</string>
            <key>textureFileName</key>
            <string>idle_0.pvr</string>
        </dict>
    </dict>
</plist>
