<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_ck_weapon_2_jump_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{118,84}}</string>
                <key>offset</key>
                <string>{-45,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{408,414},{118,84}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_2_jump_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{118,92}}</string>
                <key>offset</key>
                <string>{-46,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{407,348},{118,92}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_2_jump_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,94}}</string>
                <key>offset</key>
                <string>{-45,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{404,338},{126,94}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_2_jump_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{150,90}}</string>
                <key>offset</key>
                <string>{-50,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{387,327},{150,90}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_2_jump_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{164,80}}</string>
                <key>offset</key>
                <string>{-54,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{376,322},{164,80}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_2_jump_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,2},{176,56}}</string>
                <key>offset</key>
                <string>{-62,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{362,317},{176,56}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jump_0.pvr</string>
            <key>size</key>
            <string>{866,98}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b8356947468d170fa52be94f4f70ce1e:1/1$</string>
            <key>textureFileName</key>
            <string>jump_0.pvr</string>
        </dict>
    </dict>
</plist>
