<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_ck_weapon_2_run_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{140,78}}</string>
                <key>offset</key>
                <string>{-29,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{413,378},{140,78}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_2_run_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{134,76}}</string>
                <key>offset</key>
                <string>{-29,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{416,374},{134,76}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_2_run_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,412},{126,84}}</string>
                <key>offset</key>
                <string>{-30,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{419,369},{126,84}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_2_run_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{124,86}}</string>
                <key>offset</key>
                <string>{-32,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{418,365},{124,86}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_2_run_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,540},{126,82}}</string>
                <key>offset</key>
                <string>{-32,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{417,364},{126,82}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_2_run_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,138},{126,76}}</string>
                <key>offset</key>
                <string>{-28,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{421,371},{126,76}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_2_run_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{138,80}}</string>
                <key>offset</key>
                <string>{-29,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{414,376},{138,80}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_2_run_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{144,82}}</string>
                <key>offset</key>
                <string>{-26,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{414,374},{144,82}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_2_run_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{148,84}}</string>
                <key>offset</key>
                <string>{-24,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{414,368},{148,84}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_2_run_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,84}}</string>
                <key>offset</key>
                <string>{-23,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{415,364},{148,84}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_2_run_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{148,82}}</string>
                <key>offset</key>
                <string>{-25,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{413,365},{148,82}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_2_run_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,266},{144,80}}</string>
                <key>offset</key>
                <string>{-26,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{414,372},{144,80}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>run_0.pvr</string>
            <key>size</key>
            <string>{230,630}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c3ff9605df4468b84e7127024082d615:1/1$</string>
            <key>textureFileName</key>
            <string>run_0.pvr</string>
        </dict>
    </dict>
</plist>
