<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_ck_weapon_2_skill5_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,910},{80,104}}</string>
                <key>offset</key>
                <string>{-119,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{353,411},{80,104}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_2_skill5_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{238,120}}</string>
                <key>offset</key>
                <string>{-58,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{335,394},{238,120}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_2_skill5_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,376},{102,68}}</string>
                <key>offset</key>
                <string>{-131,-85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{330,435},{102,68}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_2_skill5_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,696},{124,32}}</string>
                <key>offset</key>
                <string>{-110,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{340,443},{124,32}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_2_skill5_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,520},{214,70}}</string>
                <key>offset</key>
                <string>{-85,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{320,424},{214,70}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_2_skill5_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{216,52}}</string>
                <key>offset</key>
                <string>{-90,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{314,442},{216,52}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_2_skill5_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{232,132}}</string>
                <key>offset</key>
                <string>{-63,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{333,383},{232,132}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_2_skill5_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,144},{168,104}}</string>
                <key>offset</key>
                <string>{-95,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{333,349},{168,104}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_2_skill5_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,602},{170,84}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{434,346},{170,84}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_2_skill5_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,418},{156,182}}</string>
                <key>offset</key>
                <string>{-65,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{369,354},{156,182}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_2_skill5_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,236},{142,180}}</string>
                <key>offset</key>
                <string>{-75,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{366,348},{142,180}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_2_skill5_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{236,140}}</string>
                <key>offset</key>
                <string>{-38,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{356,325},{236,140}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_2_skill5_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,808},{126,84}}</string>
                <key>offset</key>
                <string>{-74,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{375,353},{126,84}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_2_skill5_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,584},{148,114}}</string>
                <key>offset</key>
                <string>{-87,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{351,336},{148,114}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_2_skill5_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,866},{140,122}}</string>
                <key>offset</key>
                <string>{-83,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{359,329},{140,122}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_2_skill5_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,480},{74,214}}</string>
                <key>offset</key>
                <string>{-48,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{427,316},{74,214}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_2_skill5_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,736},{70,206}}</string>
                <key>offset</key>
                <string>{-24,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{453,304},{70,206}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_2_skill5_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{120,198}}</string>
                <key>offset</key>
                <string>{-47,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{405,283},{120,198}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_2_skill5_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,314},{84,204}}</string>
                <key>offset</key>
                <string>{-51,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{419,330},{84,204}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_2_skill5_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,220},{62,154}}</string>
                <key>offset</key>
                <string>{-56,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{425,372},{62,154}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_2_skill5_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,696},{96,126}}</string>
                <key>offset</key>
                <string>{-45,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{419,381},{96,126}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_2_skill5_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,902},{90,94}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{466,344},{90,94}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_2_skill5_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,824},{84,100}}</string>
                <key>offset</key>
                <string>{-55,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{415,316},{84,100}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_2_skill5_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,808},{92,64}}</string>
                <key>offset</key>
                <string>{-119,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{347,392},{92,64}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_2_skill5_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,894},{90,116}}</string>
                <key>offset</key>
                <string>{-147,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{320,387},{90,116}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_2_skill5_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,734},{114,130}}</string>
                <key>offset</key>
                <string>{-63,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{392,373},{114,130}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill5_0.pvr</string>
            <key>size</key>
            <string>{444,1008}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9284ea90fd89847c3549cb0e36e9dd03:1/1$</string>
            <key>textureFileName</key>
            <string>skill5_0.pvr</string>
        </dict>
    </dict>
</plist>
