<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_ck_weapon_2_skill4_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,72},{126,136}}</string>
                <key>offset</key>
                <string>{-52,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{397,368},{126,136}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_2_skill4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,320},{152,88}}</string>
                <key>offset</key>
                <string>{-80,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{356,374},{152,88}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_2_skill4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,710},{194,70}}</string>
                <key>offset</key>
                <string>{-62,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{353,381},{194,70}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_2_skill4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,950},{106,32}}</string>
                <key>offset</key>
                <string>{-43,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{416,398},{106,32}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_2_skill4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,538},{172,34}}</string>
                <key>offset</key>
                <string>{-36,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{390,418},{172,34}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_2_skill4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,906},{102,96}}</string>
                <key>offset</key>
                <string>{-104,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{357,391},{102,96}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_2_skill4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,300},{148,100}}</string>
                <key>offset</key>
                <string>{-100,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{338,396},{148,100}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_2_skill4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{164,92}}</string>
                <key>offset</key>
                <string>{-69,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{361,399},{164,92}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_2_skill4_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,538},{100,170}}</string>
                <key>offset</key>
                <string>{-47,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{415,335},{100,170}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_2_skill4_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{102,188}}</string>
                <key>offset</key>
                <string>{-61,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{400,322},{102,188}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_2_skill4_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{164,152}}</string>
                <key>offset</key>
                <string>{-16,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{414,349},{164,152}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_2_skill4_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,590},{98,140}}</string>
                <key>offset</key>
                <string>{-79,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{384,306},{98,140}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_2_skill4_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,712},{150,68}}</string>
                <key>offset</key>
                <string>{-47,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{390,390},{150,68}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_2_skill4_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,542},{86,108}}</string>
                <key>offset</key>
                <string>{-79,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{390,374},{86,108}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_2_skill4_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{198,120}}</string>
                <key>offset</key>
                <string>{-57,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{356,382},{198,120}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_2_skill4_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,168},{92,130}}</string>
                <key>offset</key>
                <string>{-33,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{433,353},{92,130}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_2_skill4_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,410},{144,96}}</string>
                <key>offset</key>
                <string>{-21,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{419,341},{144,96}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_2_skill4_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,690},{96,142}}</string>
                <key>offset</key>
                <string>{-7,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{457,231},{96,142}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_2_skill4_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{296,68}}</string>
                <key>offset</key>
                <string>{-65,181}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{299,169},{296,68}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_2_skill4_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,818},{92,102}}</string>
                <key>offset</key>
                <string>{-56,206}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{410,127},{92,102}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_2_skill4_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,756},{92,84}}</string>
                <key>offset</key>
                <string>{27,139}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{493,203},{92,84}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_2_skill4_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,922},{98,74}}</string>
                <key>offset</key>
                <string>{-29,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{434,269},{98,74}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_2_skill4_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,508},{80,150}}</string>
                <key>offset</key>
                <string>{-113,103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{359,206},{80,150}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_2_skill4_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,450},{118,90}}</string>
                <key>offset</key>
                <string>{94,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{547,378},{118,90}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_2_skill4_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,850},{76,98}}</string>
                <key>offset</key>
                <string>{112,-187}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{586,522},{76,98}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_2_skill4_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,904},{98,90}}</string>
                <key>offset</key>
                <string>{101,-182}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{564,521},{98,90}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_2_skill4_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,652},{102,84}}</string>
                <key>offset</key>
                <string>{99,-180}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{560,522},{102,84}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_2_skill4_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,834},{68,96}}</string>
                <key>offset</key>
                <string>{63,-96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{541,432},{68,96}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_2_skill4_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,690},{126,92}}</string>
                <key>offset</key>
                <string>{12,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{461,359},{126,92}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_2_skill4_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,210},{152,108}}</string>
                <key>offset</key>
                <string>{2,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{438,362},{152,108}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_2_skill4_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,348},{188,44}}</string>
                <key>offset</key>
                <string>{-46,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{372,441},{188,44}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill4_0.pvr</string>
            <key>size</key>
            <string>{424,1005}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b778ef352ca57e44f1bf6bc040f5106a:1/1$</string>
            <key>textureFileName</key>
            <string>skill4_0.pvr</string>
        </dict>
    </dict>
</plist>
