<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_ck_weapon_4_fx_sprint_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{290,150}}</string>
                <key>offset</key>
                <string>{-124,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,367},{290,150}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_4_fx_sprint_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,2},{314,152}}</string>
                <key>offset</key>
                <string>{-134,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,364},{314,152}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_4_fx_sprint_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{348,152}}</string>
                <key>offset</key>
                <string>{-149,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,359},{348,152}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_4_fx_sprint_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,156},{382,152}}</string>
                <key>offset</key>
                <string>{-166,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,354},{382,152}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_4_fx_sprint_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,310},{368,154}}</string>
                <key>offset</key>
                <string>{-162,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,351},{368,154}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_4_fx_sprint_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{338,154}}</string>
                <key>offset</key>
                <string>{-150,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,358},{338,154}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_4_fx_sprint_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{296,148}}</string>
                <key>offset</key>
                <string>{-131,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,362},{296,148}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_4_fx_sprint_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{330,160}}</string>
                <key>offset</key>
                <string>{-147,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,358},{330,160}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_4_fx_sprint_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,466},{306,162}}</string>
                <key>offset</key>
                <string>{-131,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,352},{306,162}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_4_fx_sprint_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,478},{318,164}}</string>
                <key>offset</key>
                <string>{-136,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,348},{318,164}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_4_fx_sprint_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,156},{266,160}}</string>
                <key>offset</key>
                <string>{-111,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{268,350},{266,160}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_4_fx_sprint_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,318},{300,158}}</string>
                <key>offset</key>
                <string>{-129,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,357},{300,158}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprint_0.pvr</string>
            <key>size</key>
            <string>{1014,644}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c34974189c8aef9d18398e71d59bfcd2:1/1$</string>
            <key>textureFileName</key>
            <string>sprint_0.pvr</string>
        </dict>
    </dict>
</plist>
