<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_liru_down_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,2},{276,396}}</string>
                <key>offset</key>
                <string>{21,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{395,130},{276,396}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_liru_down_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,618},{336,324}}</string>
                <key>offset</key>
                <string>{-88,78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,144},{336,324}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_liru_down_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,618},{442,356}}</string>
                <key>offset</key>
                <string>{-221,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,203},{442,356}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_liru_down_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{498,194}}</string>
                <key>offset</key>
                <string>{-255,-111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,398},{498,194}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_liru_down_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{506,226}}</string>
                <key>offset</key>
                <string>{-254,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,358},{506,226}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_liru_down_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{508,190}}</string>
                <key>offset</key>
                <string>{-254,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,388},{508,190}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>down_0.pvr</string>
            <key>size</key>
            <string>{790,976}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e53848189678ac8706b449cd8c13c7d:1/1$</string>
            <key>textureFileName</key>
            <string>down_0.pvr</string>
        </dict>
    </dict>
</plist>
