<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_liru_hurt_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,690},{306,394}}</string>
                <key>offset</key>
                <string>{-18,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{341,140},{306,394}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_liru_hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,588},{316,388}}</string>
                <key>offset</key>
                <string>{-12,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{342,146},{316,388}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_liru_hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{300,378}}</string>
                <key>offset</key>
                <string>{-20,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{342,163},{300,378}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_liru_hurt_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,304},{284,384}}</string>
                <key>offset</key>
                <string>{-28,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{342,156},{284,384}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_liru_hurt_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{280,372}}</string>
                <key>offset</key>
                <string>{-30,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{342,167},{280,372}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_liru_hurt_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{282,380}}</string>
                <key>offset</key>
                <string>{-30,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{341,159},{282,380}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hurt_0.pvr</string>
            <key>size</key>
            <string>{756,998}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:361804c26448cc308b94ae3e984e2760:1/1$</string>
            <key>textureFileName</key>
            <string>hurt_0.pvr</string>
        </dict>
    </dict>
</plist>
