<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_liru_hurt_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{294,382}}</string>
                <key>offset</key>
                <string>{-24,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{341,154},{294,382}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_liru_hurt_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{306,394}}</string>
                <key>offset</key>
                <string>{-18,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{341,140},{306,394}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hurt_1.pvr</string>
            <key>size</key>
            <string>{606,398}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4859bca0a843cf7eb7e459e267a38df:1/1$</string>
            <key>textureFileName</key>
            <string>hurt_1.pvr</string>
        </dict>
    </dict>
</plist>
