<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_liru_run_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,406},{294,380}}</string>
                <key>offset</key>
                <string>{-24,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{341,150},{294,380}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_liru_run_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,450},{310,406}}</string>
                <key>offset</key>
                <string>{-32,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{325,118},{310,406}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_liru_run_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{304,446}}</string>
                <key>offset</key>
                <string>{-63,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{297,89},{304,446}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_liru_run_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{330,454}}</string>
                <key>offset</key>
                <string>{-81,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,55},{330,454}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_liru_run_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{374,394}}</string>
                <key>offset</key>
                <string>{-110,153}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,34},{374,394}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_liru_run_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,2},{402,350}}</string>
                <key>offset</key>
                <string>{-97,164}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,45},{402,350}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>run_0.pvr</string>
            <key>size</key>
            <string>{992,858}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bc6473d5e98d07d7094c22dca95cb640:1/1$</string>
            <key>textureFileName</key>
            <string>run_0.pvr</string>
        </dict>
    </dict>
</plist>
