<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_liru_skill2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{306,352}}</string>
                <key>offset</key>
                <string>{-19,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{340,182},{306,352}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_liru_skill2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,356},{320,348}}</string>
                <key>offset</key>
                <string>{-12,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{340,186},{320,348}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_liru_skill2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{328,350}}</string>
                <key>offset</key>
                <string>{-8,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{340,184},{328,350}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_liru_skill2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{316,354}}</string>
                <key>offset</key>
                <string>{-13,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{341,180},{316,354}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_liru_skill2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,710},{288,362}}</string>
                <key>offset</key>
                <string>{-27,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{341,172},{288,362}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill2_2.pvr</string>
            <key>size</key>
            <string>{643,1000}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7bde485e2893d889798da901ac199264:1/1$</string>
            <key>textureFileName</key>
            <string>skill2_2.pvr</string>
        </dict>
    </dict>
</plist>
