<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_liru_skill2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,288},{276,362}}</string>
                <key>offset</key>
                <string>{-33,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{341,172},{276,362}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_liru_skill2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{300,358}}</string>
                <key>offset</key>
                <string>{-21,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{341,176},{300,358}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_liru_skill2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,2},{284,362}}</string>
                <key>offset</key>
                <string>{-28,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{342,172},{284,362}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_liru_skill2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{318,370}}</string>
                <key>offset</key>
                <string>{-13,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{340,164},{318,370}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_liru_skill2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{294,370}}</string>
                <key>offset</key>
                <string>{-24,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{341,164},{294,370}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_liru_skill2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,362},{296,360}}</string>
                <key>offset</key>
                <string>{-23,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{341,174},{296,360}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill2_1.pvr</string>
            <key>size</key>
            <string>{1014,670}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f2f95ffa2446bf6fdb00dcddca6f905d:1/1$</string>
            <key>textureFileName</key>
            <string>skill2_1.pvr</string>
        </dict>
    </dict>
</plist>
