<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_liru_skill1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,406},{272,398}}</string>
                <key>offset</key>
                <string>{-35,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{341,136},{272,398}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_liru_skill1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,2},{274,402}}</string>
                <key>offset</key>
                <string>{-33,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{342,132},{274,402}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_liru_skill1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,408},{280,404}}</string>
                <key>offset</key>
                <string>{-30,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{342,130},{280,404}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_liru_skill1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{286,404}}</string>
                <key>offset</key>
                <string>{-28,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{341,130},{286,404}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_liru_skill1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{288,404}}</string>
                <key>offset</key>
                <string>{-27,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{341,130},{288,404}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_liru_skill1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{290,412}}</string>
                <key>offset</key>
                <string>{-26,56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{341,122},{290,412}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill1_1.pvr</string>
            <key>size</key>
            <string>{982,806}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:63f99d3ce36aafecce536028c3a2be8c:1/1$</string>
            <key>textureFileName</key>
            <string>skill1_1.pvr</string>
        </dict>
    </dict>
</plist>
