<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_pet07_skill1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{86,64}}</string>
                <key>offset</key>
                <string>{-10,-117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{347,385},{86,64}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet07_skill1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,74},{86,62}}</string>
                <key>offset</key>
                <string>{-11,-118}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{346,387},{86,62}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet07_skill1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{76,60}}</string>
                <key>offset</key>
                <string>{-7,-118}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{355,388},{76,60}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet07_skill1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,144},{82,62}}</string>
                <key>offset</key>
                <string>{-4,-114}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{355,383},{82,62}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet07_skill1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,80},{84,62}}</string>
                <key>offset</key>
                <string>{-4,-116}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{354,385},{84,62}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet07_skill1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{86,66}}</string>
                <key>offset</key>
                <string>{-4,-117}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{353,384},{86,66}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet07_skill1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,70}}</string>
                <key>offset</key>
                <string>{-11,-115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{347,380},{84,70}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet07_skill1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{82,66}}</string>
                <key>offset</key>
                <string>{-10,-117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{349,384},{82,66}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet07_skill1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,162},{74,66}}</string>
                <key>offset</key>
                <string>{-5,-117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{358,384},{74,66}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill1_0.pvr</string>
            <key>size</key>
            <string>{238,230}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c317bf8291d68be55c9b8afed2aad20e:1/1$</string>
            <key>textureFileName</key>
            <string>skill1_0.pvr</string>
        </dict>
    </dict>
</plist>
