<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_fs_weapon_3_skill2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,694},{120,112}}</string>
                <key>offset</key>
                <string>{48,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{500,404},{120,112}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_3_skill2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,866},{94,142}}</string>
                <key>offset</key>
                <string>{26,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{491,394},{94,142}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_3_skill2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,646},{68,144}}</string>
                <key>offset</key>
                <string>{22,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{500,401},{68,144}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_3_skill2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,866},{96,142}}</string>
                <key>offset</key>
                <string>{20,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{484,375},{96,142}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_3_skill2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,694},{76,142}}</string>
                <key>offset</key>
                <string>{42,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{516,313},{76,142}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_3_skill2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,576},{68,144}}</string>
                <key>offset</key>
                <string>{50,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{528,253},{68,144}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_3_skill2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,838},{98,180}}</string>
                <key>offset</key>
                <string>{61,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{524,211},{98,180}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_3_skill2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,2},{104,182}}</string>
                <key>offset</key>
                <string>{68,113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{528,180},{104,182}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_3_skill2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,838},{108,184}}</string>
                <key>offset</key>
                <string>{69,131}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{527,161},{108,184}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_3_skill2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,818},{108,186}}</string>
                <key>offset</key>
                <string>{50,137}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{508,154},{108,186}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_3_skill2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,694},{108,186}}</string>
                <key>offset</key>
                <string>{25,138}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{483,153},{108,186}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_3_skill2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,818},{108,186}}</string>
                <key>offset</key>
                <string>{-2,136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{456,155},{108,186}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_3_skill2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,818},{108,186}}</string>
                <key>offset</key>
                <string>{-25,133}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{433,158},{108,186}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_3_skill2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,654},{108,188}}</string>
                <key>offset</key>
                <string>{-41,132}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{417,158},{108,188}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_3_skill2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,582},{110,192}}</string>
                <key>offset</key>
                <string>{-45,136}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{412,152},{110,192}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_3_skill2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,186},{112,192}}</string>
                <key>offset</key>
                <string>{-39,141}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{417,147},{112,192}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_3_skill2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,380},{116,194}}</string>
                <key>offset</key>
                <string>{-21,149}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{433,138},{116,194}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_3_skill2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,416},{120,194}}</string>
                <key>offset</key>
                <string>{5,158}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{457,129},{120,194}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_3_skill2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,416},{122,196}}</string>
                <key>offset</key>
                <string>{33,167}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{484,119},{122,196}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_3_skill2_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,288},{126,198}}</string>
                <key>offset</key>
                <string>{59,175}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{508,110},{126,198}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_3_skill2_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{128,200}}</string>
                <key>offset</key>
                <string>{76,182}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{524,102},{128,200}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_3_skill2_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,282},{132,200}}</string>
                <key>offset</key>
                <string>{77,185}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{523,99},{132,200}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_3_skill2_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,146},{134,204}}</string>
                <key>offset</key>
                <string>{67,197}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{512,85},{134,204}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_3_skill2_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{138,206}}</string>
                <key>offset</key>
                <string>{36,210}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{479,71},{138,206}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_3_skill2_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,146},{140,208}}</string>
                <key>offset</key>
                <string>{-4,218}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{438,62},{140,208}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_3_skill2_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{142,210}}</string>
                <key>offset</key>
                <string>{-46,218}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{395,61},{142,210}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_3_skill2_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{144,212}}</string>
                <key>offset</key>
                <string>{-77,209}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{363,69},{144,212}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_3_skill2_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{142,210}}</string>
                <key>offset</key>
                <string>{-84,189}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{357,90},{142,210}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_3_skill2_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,540},{192,152}}</string>
                <key>offset</key>
                <string>{6,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{422,215},{192,152}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_3_skill2_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{194,162}}</string>
                <key>offset</key>
                <string>{54,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{469,289},{194,162}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_3_skill2_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,538},{194,114}}</string>
                <key>offset</key>
                <string>{102,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{517,402},{194,114}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_3_skill2_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,764},{148,100}}</string>
                <key>offset</key>
                <string>{92,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{530,407},{148,100}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_fs_weapon_3_skill2_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,716},{150,100}}</string>
                <key>offset</key>
                <string>{78,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{515,398},{150,100}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill2_0.pvr</string>
            <key>size</key>
            <string>{746,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be6419ac3619771488f689120e197aeb:1/1$</string>
            <key>textureFileName</key>
            <string>skill2_0.pvr</string>
        </dict>
    </dict>
</plist>
