<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_zs_weapon_2_atk2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{264,62}}</string>
                <key>offset</key>
                <string>{-21,-94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{359,447},{264,62}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_2_atk2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{192,106}}</string>
                <key>offset</key>
                <string>{-36,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{380,330},{192,106}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_2_atk2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{200,142}}</string>
                <key>offset</key>
                <string>{-67,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{345,305},{200,142}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_2_atk2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{66,192}}</string>
                <key>offset</key>
                <string>{-58,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{421,304},{66,192}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_2_atk2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,622},{140,106}}</string>
                <key>offset</key>
                <string>{-29,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{413,363},{140,106}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_2_atk2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,278},{136,54}}</string>
                <key>offset</key>
                <string>{-90,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{354,388},{136,54}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_2_atk2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,134},{44,54}}</string>
                <key>offset</key>
                <string>{-45,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{445,425},{44,54}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_2_atk2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,454},{174,166}}</string>
                <key>offset</key>
                <string>{-105,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{320,366},{174,166}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_2_atk2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,230}}</string>
                <key>offset</key>
                <string>{-106,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{341,340},{130,230}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atk2_0.pvr</string>
            <key>size</key>
            <string>{252,730}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7028ecb2c3bad1cc2e95656be45b580a:1/1$</string>
            <key>textureFileName</key>
            <string>atk2_0.pvr</string>
        </dict>
    </dict>
</plist>
