<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_zs_weapon_2_skill2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,184},{98,232}}</string>
                <key>offset</key>
                <string>{-123,-97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{340,365},{98,232}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_2_skill2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,412},{146,152}}</string>
                <key>offset</key>
                <string>{-143,-105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{296,413},{146,152}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_2_skill2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,2},{254,78}}</string>
                <key>offset</key>
                <string>{-55,-98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{330,443},{254,78}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_2_skill2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,2},{258,94}}</string>
                <key>offset</key>
                <string>{17,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{400,367},{258,94}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_2_skill2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,418},{126,160}}</string>
                <key>offset</key>
                <string>{23,87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{472,217},{126,160}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_2_skill2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,166},{230,116}}</string>
                <key>offset</key>
                <string>{-29,120}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{368,206},{230,116}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_2_skill2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,372},{260,30}}</string>
                <key>offset</key>
                <string>{-63,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{319,263},{260,30}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_2_skill2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,434},{178,126}}</string>
                <key>offset</key>
                <string>{-71,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{352,252},{178,126}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_2_skill2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,126},{56,242}}</string>
                <key>offset</key>
                <string>{-51,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{433,220},{56,242}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_2_skill2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,422},{220,52}}</string>
                <key>offset</key>
                <string>{20,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{422,288},{220,52}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_2_skill2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{242,138}}</string>
                <key>offset</key>
                <string>{-38,173}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{353,142},{242,138}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_2_skill2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,404},{236,16}}</string>
                <key>offset</key>
                <string>{-59,166}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{335,210},{236,16}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_2_skill2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,258},{174,92}}</string>
                <key>offset</key>
                <string>{-73,153}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{352,185},{174,92}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_2_skill2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,422},{54,204}}</string>
                <key>offset</key>
                <string>{-65,119}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{420,163},{54,204}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_2_skill2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,190},{210,98}}</string>
                <key>offset</key>
                <string>{12,135}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{419,200},{210,98}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_2_skill2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{218,170}}</string>
                <key>offset</key>
                <string>{-57,266}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{346,33},{218,170}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_2_skill2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,2},{242,122}}</string>
                <key>offset</key>
                <string>{-102,274}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{289,49},{242,122}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_2_skill2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,290},{202,80}}</string>
                <key>offset</key>
                <string>{-106,271}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{305,73},{202,80}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_2_skill2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,476},{204,58}}</string>
                <key>offset</key>
                <string>{-101,251}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{309,104},{204,58}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_2_skill2_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,166},{266,56}}</string>
                <key>offset</key>
                <string>{-56,148}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{323,208},{266,56}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_2_skill2_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,190},{22,56}}</string>
                <key>offset</key>
                <string>{12,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{513,344},{22,56}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_2_skill2_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,478},{180,60}}</string>
                <key>offset</key>
                <string>{-52,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{370,432},{180,60}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_2_skill2_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{162,216}}</string>
                <key>offset</key>
                <string>{-122,-99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{309,375},{162,216}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_2_skill2_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,184},{130,200}}</string>
                <key>offset</key>
                <string>{-110,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{337,370},{130,200}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_2_skill2_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,174},{116,236}}</string>
                <key>offset</key>
                <string>{-110,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{344,349},{116,236}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_2_skill2_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,98},{90,258}}</string>
                <key>offset</key>
                <string>{-104,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{363,325},{90,258}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill2_0.pvr</string>
            <key>size</key>
            <string>{1024,563}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd56f1822e186aa7cb0a7dd367c84293:1/1$</string>
            <key>textureFileName</key>
            <string>skill2_0.pvr</string>
        </dict>
    </dict>
</plist>
