<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_zs_weapon_2_skill3_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{272,46}}</string>
                <key>offset</key>
                <string>{-142,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,387},{272,46}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_2_skill3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{194,70}}</string>
                <key>offset</key>
                <string>{-127,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{288,382},{194,70}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_2_skill3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,42},{20,52}}</string>
                <key>offset</key>
                <string>{-79,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{423,409},{20,52}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_2_skill3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,2},{172,72}}</string>
                <key>offset</key>
                <string>{-19,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{407,383},{172,72}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_2_skill3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{268,50}}</string>
                <key>offset</key>
                <string>{7,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{385,387},{268,50}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_2_skill3_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,54},{250,42}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{385,376},{250,42}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_2_skill3_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,42},{144,48}}</string>
                <key>offset</key>
                <string>{-28,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{412,366},{144,48}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_2_skill3_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,54},{10,18}}</string>
                <key>offset</key>
                <string>{-59,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{448,397},{10,18}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_2_skill3_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,76},{154,44}}</string>
                <key>offset</key>
                <string>{-97,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{338,367},{154,44}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_2_skill3_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,2},{254,38}}</string>
                <key>offset</key>
                <string>{-129,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,380},{254,38}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill3_0.pvr</string>
            <key>size</key>
            <string>{898,122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b17e21eca2c25322ab009157f5cf8d3d:1/1$</string>
            <key>textureFileName</key>
            <string>skill3_0.pvr</string>
        </dict>
    </dict>
</plist>
