<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_zs_weapon_2_skill6_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{182,184}}</string>
                <key>offset</key>
                <string>{-106,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{315,372},{182,184}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_2_skill6_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{238,24}}</string>
                <key>offset</key>
                <string>{-102,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{291,462},{238,24}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_2_skill6_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,188},{1,1}}</string>
                <key>offset</key>
                <string>{-511.5,383.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_2_skill6_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,188},{1,1}}</string>
                <key>offset</key>
                <string>{-511.5,383.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_2_skill6_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,188},{1,1}}</string>
                <key>offset</key>
                <string>{-511.5,383.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_2_skill6_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,188},{1,1}}</string>
                <key>offset</key>
                <string>{-511.5,383.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_2_skill6_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,188},{1,1}}</string>
                <key>offset</key>
                <string>{-511.5,383.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_2_skill6_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,188},{1,1}}</string>
                <key>offset</key>
                <string>{-511.5,383.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_2_skill6_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,188},{1,1}}</string>
                <key>offset</key>
                <string>{-511.5,383.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_2_skill6_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,188},{1,1}}</string>
                <key>offset</key>
                <string>{-511.5,383.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_2_skill6_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,2},{50,236}}</string>
                <key>offset</key>
                <string>{-104,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{383,378},{50,236}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill6_0.pvr</string>
            <key>size</key>
            <string>{264,242}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:85314c42755925572da9b1ad5ef56da1:1/1$</string>
            <key>textureFileName</key>
            <string>skill6_0.pvr</string>
        </dict>
    </dict>
</plist>
