<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_normal_035_atk1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,630},{164,184}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{438,288},{164,184}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_035_atk1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,460},{190,228}}</string>
                <key>offset</key>
                <string>{6,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{423,244},{190,228}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_035_atk1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{220,228}}</string>
                <key>offset</key>
                <string>{10,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{412,245},{220,228}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_035_atk1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{230,226}}</string>
                <key>offset</key>
                <string>{17,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{414,247},{230,226}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_035_atk1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,2},{222,222}}</string>
                <key>offset</key>
                <string>{27,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{428,252},{222,222}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_035_atk1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,690},{196,222}}</string>
                <key>offset</key>
                <string>{44,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{458,251},{196,222}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_035_atk1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,230},{200,206}}</string>
                <key>offset</key>
                <string>{23,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{435,266},{200,206}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_035_atk1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,676},{212,188}}</string>
                <key>offset</key>
                <string>{16,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{422,284},{212,188}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_035_atk1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,460},{214,164}}</string>
                <key>offset</key>
                <string>{13,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{418,308},{214,164}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_035_atk1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,226},{202,158}}</string>
                <key>offset</key>
                <string>{16,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{427,315},{202,158}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_035_atk1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,438},{190,170}}</string>
                <key>offset</key>
                <string>{22,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{439,312},{190,170}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_035_atk1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,816},{170,172}}</string>
                <key>offset</key>
                <string>{25,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{452,300},{170,172}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atk1_0.pvr</string>
            <key>size</key>
            <string>{586,988}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5bb4cf8fc3569fa72ac8be9577b01f06:1/1$</string>
            <key>textureFileName</key>
            <string>atk1_0.pvr</string>
        </dict>
    </dict>
</plist>
