<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_normal_035_down_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{162,186}}</string>
                <key>offset</key>
                <string>{-22,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{409,334},{162,186}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_035_down_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{198,158}}</string>
                <key>offset</key>
                <string>{-15,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{398,383},{198,158}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_035_down_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{202,182}}</string>
                <key>offset</key>
                <string>{-17,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{394,358},{202,182}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_035_down_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,162},{196,154}}</string>
                <key>offset</key>
                <string>{-5,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{409,382},{196,154}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_035_down_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{186,146}}</string>
                <key>offset</key>
                <string>{-8,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{411,391},{186,146}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_035_down_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,318},{190,152}}</string>
                <key>offset</key>
                <string>{-3,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{414,373},{190,152}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_035_down_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,318},{190,108}}</string>
                <key>offset</key>
                <string>{-3,-88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{414,418},{190,108}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>down_0.pvr</string>
            <key>size</key>
            <string>{454,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4189e9a3a67c323f80bce0b0a7227d10:1/1$</string>
            <key>textureFileName</key>
            <string>down_0.pvr</string>
        </dict>
    </dict>
</plist>
