<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_jiuying_down_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{436,162}}</string>
                <key>offset</key>
                <string>{-96,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,392},{436,162}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_jiuying_down_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,2},{432,158}}</string>
                <key>offset</key>
                <string>{-101,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,396},{432,158}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>down_1.pvr</string>
            <key>size</key>
            <string>{874,166}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b6e6b298ecb2af301ef057501a08999:1/1$</string>
            <key>textureFileName</key>
            <string>down_1.pvr</string>
        </dict>
    </dict>
</plist>
