<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_jiuying_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,372},{388,386}}</string>
                <key>offset</key>
                <string>{-77,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,163},{388,386}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_jiuying_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{386,376}}</string>
                <key>offset</key>
                <string>{-72,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,173},{386,376}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_jiuying_idle_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{402,366}}</string>
                <key>offset</key>
                <string>{-73,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,183},{402,366}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_jiuying_idle_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{412,368}}</string>
                <key>offset</key>
                <string>{-72,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,181},{412,368}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>idle_1.pvr</string>
            <key>size</key>
            <string>{820,760}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:47f44bffc0e4b76a46432c8333ed3ce4:1/1$</string>
            <key>textureFileName</key>
            <string>idle_1.pvr</string>
        </dict>
    </dict>
</plist>
