<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_jiuying_run_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{348,368}}</string>
                <key>offset</key>
                <string>{-107,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,187},{348,368}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_jiuying_run_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{352,362}}</string>
                <key>offset</key>
                <string>{-109,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,181},{352,362}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>run_2.pvr</string>
            <key>size</key>
            <string>{736,356}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d4a35b69fd2111234792f594cd28c9f9:1/1$</string>
            <key>textureFileName</key>
            <string>run_2.pvr</string>
        </dict>
    </dict>
</plist>
