<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_jiuying_skill1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{334,426}}</string>
                <key>offset</key>
                <string>{-23,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{322,122},{334,426}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_jiuying_skill1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,454},{352,436}}</string>
                <key>offset</key>
                <string>{-27,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{309,112},{352,436}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_jiuying_skill1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{364,448}}</string>
                <key>offset</key>
                <string>{-27,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{303,100},{364,448}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_jiuying_skill1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{378,450}}</string>
                <key>offset</key>
                <string>{-25,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{298,98},{378,450}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill1_0.pvr</string>
            <key>size</key>
            <string>{722,904}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9dc1f57d31faf20f42cf6eef01b38786:1/1$</string>
            <key>textureFileName</key>
            <string>skill1_0.pvr</string>
        </dict>
    </dict>
</plist>
