<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_jiuying_skill2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{408,398}}</string>
                <key>offset</key>
                <string>{-55,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,150},{408,398}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_jiuying_skill2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{424,360}}</string>
                <key>offset</key>
                <string>{-52,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,188},{424,360}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_jiuying_skill2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,364},{382,344}}</string>
                <key>offset</key>
                <string>{-77,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,204},{382,344}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_jiuying_skill2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{358,342}}</string>
                <key>offset</key>
                <string>{-88,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,206},{358,342}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill2_0.pvr</string>
            <key>size</key>
            <string>{838,746}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:22145b9a5ca1ba4259ed66fb69c0559c:1/1$</string>
            <key>textureFileName</key>
            <string>skill2_0.pvr</string>
        </dict>
    </dict>
</plist>
