<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_jiuying_skill2_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,432},{524,280}}</string>
                <key>offset</key>
                <string>{9,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{259,269},{524,280}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_jiuying_skill2_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,432},{520,286}}</string>
                <key>offset</key>
                <string>{10,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{262,263},{520,286}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_jiuying_skill2_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{514,328}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{262,221},{514,328}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_jiuying_skill2_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{482,388}}</string>
                <key>offset</key>
                <string>{-9,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,160},{482,388}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_jiuying_skill2_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{420,428}}</string>
                <key>offset</key>
                <string>{-39,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,120},{420,428}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill2_5.pvr</string>
            <key>size</key>
            <string>{908,958}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:03f868945adde58e199458b3367421c4:1/1$</string>
            <key>textureFileName</key>
            <string>skill2_5.pvr</string>
        </dict>
    </dict>
</plist>
