<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jiguan_zhalan_down_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{430,242}}</string>
                <key>offset</key>
                <string>{-50,-157}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,420},{430,242}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>jiguan_zhalan_down_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{440,240}}</string>
                <key>offset</key>
                <string>{-40,-158}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,422},{440,240}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>down_1.pvr</string>
            <key>size</key>
            <string>{876,246}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2dcc9fa4bb17866445a9e19fc1589e8c:1/1$</string>
            <key>textureFileName</key>
            <string>down_1.pvr</string>
        </dict>
    </dict>
</plist>
