<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_mh_mhhjzs_1_down_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{160,112}}</string>
                <key>offset</key>
                <string>{-31,-104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{401,432},{160,112}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_mh_mhhjzs_1_down_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{220,94}}</string>
                <key>offset</key>
                <string>{-65,-141}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{337,478},{220,94}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_mh_mhhjzs_1_down_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{224,84}}</string>
                <key>offset</key>
                <string>{-65,-137}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{335,479},{224,84}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_mh_mhhjzs_1_down_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{224,76}}</string>
                <key>offset</key>
                <string>{-65,-145}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{335,491},{224,76}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_mh_mhhjzs_1_down_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{224,74}}</string>
                <key>offset</key>
                <string>{-65,-150}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{335,497},{224,74}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>down_0.pvr</string>
            <key>size</key>
            <string>{228,452}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e62a20aaf9290ec0ea444293a158354a:1/1$</string>
            <key>textureFileName</key>
            <string>down_0.pvr</string>
        </dict>
    </dict>
</plist>
