<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_mh_mhhjzs_1_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{162,162}}</string>
                <key>offset</key>
                <string>{-22,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{409,390},{162,162}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_mh_mhhjzs_1_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{162,160}}</string>
                <key>offset</key>
                <string>{-22,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{409,392},{162,160}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_mh_mhhjzs_1_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{160,160}}</string>
                <key>offset</key>
                <string>{-21,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{411,392},{160,160}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>idle_0.pvr</string>
            <key>size</key>
            <string>{166,490}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8099cd1b80f68f7011fbfeaac39bab34:1/1$</string>
            <key>textureFileName</key>
            <string>idle_0.pvr</string>
        </dict>
    </dict>
</plist>
