<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_normal_005_atk1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{160,150}}</string>
                <key>offset</key>
                <string>{-37,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{395,398},{160,150}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_005_atk1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{158,148}}</string>
                <key>offset</key>
                <string>{-30,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{403,400},{158,148}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_005_atk1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{152,150}}</string>
                <key>offset</key>
                <string>{-12,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{424,398},{152,150}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_005_atk1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{156,174}}</string>
                <key>offset</key>
                <string>{-11,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{423,374},{156,174}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_005_atk1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,284},{148,142}}</string>
                <key>offset</key>
                <string>{-15,-94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{423,407},{148,142}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_005_atk1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{148,146}}</string>
                <key>offset</key>
                <string>{-15,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{423,403},{148,146}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_005_atk1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,152},{152,130}}</string>
                <key>offset</key>
                <string>{-15,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{421,419},{152,130}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_005_atk1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,428},{150,120}}</string>
                <key>offset</key>
                <string>{-14,-105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{423,429},{150,120}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_005_atk1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,420},{148,122}}</string>
                <key>offset</key>
                <string>{-15,-104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{423,427},{148,122}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_005_atk1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,286},{132,144}}</string>
                <key>offset</key>
                <string>{-35,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{411,404},{132,144}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_005_atk1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,152},{132,152}}</string>
                <key>offset</key>
                <string>{-63,-88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{383,396},{132,152}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atk1_0.pvr</string>
            <key>size</key>
            <string>{468,550}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d6d3017a562a7e46420e218b4a6b3292:1/1$</string>
            <key>textureFileName</key>
            <string>atk1_0.pvr</string>
        </dict>
    </dict>
</plist>
