<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_normal_005_down_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{190,164}}</string>
                <key>offset</key>
                <string>{-73,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{344,344},{190,164}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_005_down_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{188,124}}</string>
                <key>offset</key>
                <string>{-76,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{342,392},{188,124}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_005_down_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{198,116}}</string>
                <key>offset</key>
                <string>{-70,-105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{343,431},{198,116}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_005_down_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,194},{192,98}}</string>
                <key>offset</key>
                <string>{-61,-124}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{355,459},{192,98}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_005_down_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{202,76}}</string>
                <key>offset</key>
                <string>{-65,-133}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{346,479},{202,76}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_005_down_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{196,76}}</string>
                <key>offset</key>
                <string>{-61,-142}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{353,488},{196,76}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>down_0.pvr</string>
            <key>size</key>
            <string>{246,610}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b15340a5e53571538a01419cade1a865:1/1$</string>
            <key>textureFileName</key>
            <string>down_0.pvr</string>
        </dict>
    </dict>
</plist>
