<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lrjnfx_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{226,96}}</string>
                <key>offset</key>
                <string>{-44,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,171},{226,96}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>lrjnfx_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{204,96}}</string>
                <key>offset</key>
                <string>{-33,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,173},{204,96}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>lrjnfx_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{210,96}}</string>
                <key>offset</key>
                <string>{-36,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,173},{210,96}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>lrjnfx_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{218,96}}</string>
                <key>offset</key>
                <string>{-40,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,174},{218,96}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>lrjnfx_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,100},{224,96}}</string>
                <key>offset</key>
                <string>{-43,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,173},{224,96}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>lrjnfx_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,100},{228,96}}</string>
                <key>offset</key>
                <string>{-45,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,172},{228,96}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>lrjnfx_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,2},{202,96}}</string>
                <key>offset</key>
                <string>{-32,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,171},{202,96}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lrjnfx_0.pvr</string>
            <key>size</key>
            <string>{776,206}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ce6c3b5d046a94d615e7f846ec4eaa4:1/1$</string>
            <key>textureFileName</key>
            <string>lrjnfx_0.pvr</string>
        </dict>
    </dict>
</plist>
