<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mynatk1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{122,82}}</string>
                <key>offset</key>
                <string>{-9,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{442,372},{122,82}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mynatk1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,2},{122,84}}</string>
                <key>offset</key>
                <string>{-9,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{442,371},{122,84}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mynatk1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,2},{128,82}}</string>
                <key>offset</key>
                <string>{-12,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{436,373},{128,82}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mynatk1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,2},{132,82}}</string>
                <key>offset</key>
                <string>{-14,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{432,372},{132,82}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mynatk1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{136,80}}</string>
                <key>offset</key>
                <string>{-16,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{428,374},{136,80}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mynatk1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{138,80}}</string>
                <key>offset</key>
                <string>{-17,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{426,374},{138,80}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mynatk1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{122,80}}</string>
                <key>offset</key>
                <string>{-9,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{442,373},{122,80}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mynatk1_0.pvr</string>
            <key>size</key>
            <string>{916,88}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fcc0ab6fcef12b45d5ae79410c6dbf51:1/1$</string>
            <key>textureFileName</key>
            <string>mynatk1_0.pvr</string>
        </dict>
    </dict>
</plist>
