<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fnpc020_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{292,138}}</string>
                <key>offset</key>
                <string>{37,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{403,394},{292,138}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc020_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{292,140}}</string>
                <key>offset</key>
                <string>{37,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{403,394},{292,140}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc020_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{292,140}}</string>
                <key>offset</key>
                <string>{36,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{402,394},{292,140}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc020_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{290,140}}</string>
                <key>offset</key>
                <string>{35,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{402,394},{290,140}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc020_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{286,138}}</string>
                <key>offset</key>
                <string>{33,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{402,395},{286,138}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc020_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,286},{280,138}}</string>
                <key>offset</key>
                <string>{30,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{402,394},{280,138}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc020_idle_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{278,136}}</string>
                <key>offset</key>
                <string>{28,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{401,395},{278,136}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc020_idle_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,2},{280,136}}</string>
                <key>offset</key>
                <string>{29,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{401,394},{280,136}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc020_idle_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,2},{282,136}}</string>
                <key>offset</key>
                <string>{32,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{403,394},{282,136}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc020_idle_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,294},{290,138}}</string>
                <key>offset</key>
                <string>{34,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{401,393},{290,138}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>idle_0.pvr</string>
            <key>size</key>
            <string>{980,438}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8189f171007d622069a5cef89e6d502a:1/1$</string>
            <key>textureFileName</key>
            <string>idle_0.pvr</string>
        </dict>
    </dict>
</plist>
