<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background_huawen1.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,18},{37,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{37,38}}</string>
                <key>sourceSize</key>
                <string>{41,40}</string>
            </dict>
            <key>bag_suo.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,58},{39,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,49}}</string>
                <key>sourceSize</key>
                <string>{39,49}</string>
            </dict>
            <key>beijing_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,753},{109,245}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{109,245}}</string>
                <key>sourceSize</key>
                <string>{125,257}</string>
            </dict>
            <key>cbjmz-over.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,18},{98,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,32}}</string>
                <key>sourceSize</key>
                <string>{98,32}</string>
            </dict>
            <key>cbjmz.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,2},{98,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,32}}</string>
                <key>sourceSize</key>
                <string>{98,32}</string>
            </dict>
            <key>cell_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,751},{124,124}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{124,124}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>cell_background_tuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,393},{100,100}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{100,100}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>cell_cheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,720},{109,111}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{109,111}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>cell_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,640},{109,109}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{109,109}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>cell_jin.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,720},{109,111}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{109,111}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>cell_lan.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,529},{109,109}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{109,109}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>cell_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,640},{109,111}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{109,111}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>cell_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,529},{109,109}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{109,109}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>chenghaozuo-over.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,18},{95,34}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{95,34}}</string>
                <key>sourceSize</key>
                <string>{95,40}</string>
            </dict>
            <key>chenghaozuo.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,30},{95,36}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{95,36}}</string>
                <key>sourceSize</key>
                <string>{95,40}</string>
            </dict>
            <key>drop_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>drop_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,2},{18,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,17}}</string>
                <key>sourceSize</key>
                <string>{18,17}</string>
            </dict>
            <key>dzbsty.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,623},{260,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{260,95}}</string>
                <key>sourceSize</key>
                <string>{260,97}</string>
            </dict>
            <key>fengexianshu_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{260,14}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,14}}</string>
                <key>sourceSize</key>
                <string>{264,14}</string>
            </dict>
            <key>hongseteshuanniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{161,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,73}}</string>
                <key>sourceSize</key>
                <string>{161,73}</string>
            </dict>
            <key>hongseteshuanniu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,290},{161,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,73}}</string>
                <key>sourceSize</key>
                <string>{161,73}</string>
            </dict>
            <key>jiaosz-over.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,39},{88,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,37}}</string>
                <key>sourceSize</key>
                <string>{88,37}</string>
            </dict>
            <key>jiaosz.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,36},{88,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,37}}</string>
                <key>sourceSize</key>
                <string>{88,37}</string>
            </dict>
            <key>luseteshuanniu-over.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,290},{161,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,73}}</string>
                <key>sourceSize</key>
                <string>{161,73}</string>
            </dict>
            <key>luseteshuanniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{161,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,73}}</string>
                <key>sourceSize</key>
                <string>{161,73}</string>
            </dict>
            <key>lv_btn_hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{104,50}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{104,50}}</string>
                <key>sourceSize</key>
                <string>{120,50}</string>
            </dict>
            <key>lv_btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,78},{104,50}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{104,50}}</string>
                <key>sourceSize</key>
                <string>{120,50}</string>
            </dict>
            <key>lv_btn_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,75},{104,50}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{104,50}}</string>
                <key>sourceSize</key>
                <string>{120,50}</string>
            </dict>
            <key>nature_button_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,245},{161,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{161,71}}</string>
                <key>sourceSize</key>
                <string>{161,73}</string>
            </dict>
            <key>nature_button_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,202},{161,71}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,71}}</string>
                <key>sourceSize</key>
                <string>{161,73}</string>
            </dict>
            <key>nature_button_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,172},{161,71}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,71}}</string>
                <key>sourceSize</key>
                <string>{161,73}</string>
            </dict>
            <key>nature_button_yinying.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,365},{171,81}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,81}}</string>
                <key>sourceSize</key>
                <string>{173,81}</string>
            </dict>
            <key>nature_loading_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{17,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,27}}</string>
                <key>sourceSize</key>
                <string>{17,27}</string>
            </dict>
            <key>nature_loading_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,2},{13,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{13,23}}</string>
                <key>sourceSize</key>
                <string>{17,27}</string>
            </dict>
            <key>scrollbar_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{9,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,16}}</string>
                <key>sourceSize</key>
                <string>{9,16}</string>
            </dict>
            <key>shouzhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,68},{54,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,27},{54,48}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>slider_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,2},{7,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{7,35}}</string>
                <key>sourceSize</key>
                <string>{9,35}</string>
            </dict>
            <key>szjmz-over.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,54},{95,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,40}}</string>
                <key>sourceSize</key>
                <string>{95,40}</string>
            </dict>
            <key>szjmz.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{95,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,40}}</string>
                <key>sourceSize</key>
                <string>{95,40}</string>
            </dict>
            <key>tab_arrow_btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,275},{162,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{162,72}}</string>
                <key>sourceSize</key>
                <string>{162,74}</string>
            </dict>
            <key>tab_arrow_btn_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,365},{170,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,78}}</string>
                <key>sourceSize</key>
                <string>{170,78}</string>
            </dict>
            <key>toukuiicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{74,80}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,11},{74,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>tstyt.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>wupinanniu-over.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,127},{89,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,64}}</string>
                <key>sourceSize</key>
                <string>{89,64}</string>
            </dict>
            <key>wupinanniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,118},{87,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,52}}</string>
                <key>sourceSize</key>
                <string>{87,52}</string>
            </dict>
            <key>wuqiicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,130},{90,70}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,15},{90,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>xiangliangicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,96},{60,64}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,16},{60,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>xieziicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,130},{64,72}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{64,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>xuanz-over.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,526},{260,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{260,95}}</string>
                <key>sourceSize</key>
                <string>{260,97}</string>
            </dict>
            <key>yifuicon.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,204},{68,84}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{68,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>zhucedengluanniu-over.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,448},{202,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,79}}</string>
                <key>sourceSize</key>
                <string>{202,79}</string>
            </dict>
            <key>zhucedengluanniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,445},{202,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,79}}</string>
                <key>sourceSize</key>
                <string>{202,79}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>controls_1_bag.pvr</string>
            <key>size</key>
            <string>{515,1000}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:735d34a1a780f66637b1ba27a1c8cb97:1/1$</string>
            <key>textureFileName</key>
            <string>controls_1_bag.pvr</string>
        </dict>
    </dict>
</plist>
