<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cw-hfsm.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,227},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>cw-lqsj.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,202},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>cw-sjyd.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,202},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>cw-zzdryd.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,186},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>jinengbiankuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,302},{121,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,163}}</string>
                <key>sourceSize</key>
                <string>{121,163}</string>
            </dict>
            <key>jinengzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{80,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{80,23}}</string>
                <key>sourceSize</key>
                <string>{82,25}</string>
            </dict>
            <key>jt-sji.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,177},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>jt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,145},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>jt_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,127},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>jt_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,102},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>jt_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,102},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>jt_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,86},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>jt_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,77},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>jt_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,45},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>jt_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,27},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>jt_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,2},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>qianghuajiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{104,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,73}}</string>
                <key>sourceSize</key>
                <string>{104,73}</string>
            </dict>
            <key>shiyongzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{52,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,69}}</string>
                <key>sourceSize</key>
                <string>{52,69}</string>
            </dict>
            <key>skill_background1_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,277},{106,108}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,14},{106,108}}</string>
                <key>sourceSize</key>
                <string>{138,136}</string>
            </dict>
            <key>skill_background1_over.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,302},{138,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,136}}</string>
                <key>sourceSize</key>
                <string>{138,136}</string>
            </dict>
            <key>skill_background1_unlock.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{96,82}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,28},{96,82}}</string>
                <key>sourceSize</key>
                <string>{138,136}</string>
            </dict>
            <key>skill_background1_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,286},{118,118}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{118,118}}</string>
                <key>sourceSize</key>
                <string>{138,136}</string>
            </dict>
            <key>skill_te.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{50,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,41}}</string>
                <key>sourceSize</key>
                <string>{50,41}</string>
            </dict>
            <key>skill_xian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{68,6}}</string>
                <key>sourceSize</key>
                <string>{90,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>controls_2_skill.pvr</string>
            <key>size</key>
            <string>{602,467}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:93cc129affbd8eaf9bb5d709e1df26a9:1/1$</string>
            <key>textureFileName</key>
            <string>controls_2_skill.pvr</string>
        </dict>
    </dict>
</plist>
