<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>add_Hp_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{17,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{17,24}}</string>
                <key>sourceSize</key>
                <string>{23,30}</string>
            </dict>
            <key>add_Hp_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,2},{17,28}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{17,28}}</string>
                <key>sourceSize</key>
                <string>{23,30}</string>
            </dict>
            <key>add_Hp_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{19,26}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{19,26}}</string>
                <key>sourceSize</key>
                <string>{23,30}</string>
            </dict>
            <key>add_Hp_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,2},{17,28}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{17,28}}</string>
                <key>sourceSize</key>
                <string>{23,30}</string>
            </dict>
            <key>add_Hp_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,2},{19,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{19,30}}</string>
                <key>sourceSize</key>
                <string>{23,30}</string>
            </dict>
            <key>add_Hp_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,2},{17,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{17,28}}</string>
                <key>sourceSize</key>
                <string>{23,30}</string>
            </dict>
            <key>add_Hp_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,2},{17,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{17,26}}</string>
                <key>sourceSize</key>
                <string>{23,30}</string>
            </dict>
            <key>add_Hp_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{531,2},{17,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{17,30}}</string>
                <key>sourceSize</key>
                <string>{23,30}</string>
            </dict>
            <key>add_Hp_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,2},{19,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{19,24}}</string>
                <key>sourceSize</key>
                <string>{23,30}</string>
            </dict>
            <key>add_Hp_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,2},{19,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{19,30}}</string>
                <key>sourceSize</key>
                <string>{23,30}</string>
            </dict>
            <key>go_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,114},{147,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,82}}</string>
                <key>sourceSize</key>
                <string>{147,84}</string>
            </dict>
            <key>go_jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{236,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,101}}</string>
                <key>sourceSize</key>
                <string>{236,101}</string>
            </dict>
            <key>hurt_away.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,126},{144,84}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{144,84}}</string>
                <key>sourceSize</key>
                <string>{146,86}</string>
            </dict>
            <key>hurt_critical.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,309},{203,149}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{203,149}}</string>
                <key>sourceSize</key>
                <string>{203,151}</string>
            </dict>
            <key>jishazi.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,34},{74,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{74,37}}</string>
                <key>sourceSize</key>
                <string>{76,39}</string>
            </dict>
            <key>laixi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,309},{432,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{432,95}}</string>
                <key>sourceSize</key>
                <string>{432,95}</string>
            </dict>
            <key>laixi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,212},{432,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{432,95}}</string>
                <key>sourceSize</key>
                <string>{432,95}</string>
            </dict>
            <key>num_baoji_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,31},{23,35}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{23,35}}</string>
                <key>sourceSize</key>
                <string>{29,41}</string>
            </dict>
            <key>num_baoji_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,30},{23,35}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{23,35}}</string>
                <key>sourceSize</key>
                <string>{29,41}</string>
            </dict>
            <key>num_baoji_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,2},{23,33}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{23,33}}</string>
                <key>sourceSize</key>
                <string>{29,41}</string>
            </dict>
            <key>num_baoji_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,2},{21,31}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{21,31}}</string>
                <key>sourceSize</key>
                <string>{29,41}</string>
            </dict>
            <key>num_baoji_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,30},{25,35}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{25,35}}</string>
                <key>sourceSize</key>
                <string>{29,41}</string>
            </dict>
            <key>num_baoji_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,30},{23,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{23,35}}</string>
                <key>sourceSize</key>
                <string>{29,41}</string>
            </dict>
            <key>num_baoji_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,2},{23,33}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{23,33}}</string>
                <key>sourceSize</key>
                <string>{29,41}</string>
            </dict>
            <key>num_baoji_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,32},{23,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{23,37}}</string>
                <key>sourceSize</key>
                <string>{29,41}</string>
            </dict>
            <key>num_baoji_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{29,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{29,27}}</string>
                <key>sourceSize</key>
                <string>{29,41}</string>
            </dict>
            <key>num_baoji_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,25},{21,35}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{21,35}}</string>
                <key>sourceSize</key>
                <string>{29,41}</string>
            </dict>
            <key>num_fushang_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{18,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,26}}</string>
                <key>sourceSize</key>
                <string>{18,26}</string>
            </dict>
            <key>num_fushang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{16,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{16,26}}</string>
                <key>sourceSize</key>
                <string>{18,26}</string>
            </dict>
            <key>num_fushang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{18,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,26}}</string>
                <key>sourceSize</key>
                <string>{18,26}</string>
            </dict>
            <key>num_fushang_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{14,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{14,24}}</string>
                <key>sourceSize</key>
                <string>{18,26}</string>
            </dict>
            <key>num_fushang_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{14,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{14,24}}</string>
                <key>sourceSize</key>
                <string>{18,26}</string>
            </dict>
            <key>num_fushang_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{14,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{14,24}}</string>
                <key>sourceSize</key>
                <string>{18,26}</string>
            </dict>
            <key>num_fushang_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{16,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{16,24}}</string>
                <key>sourceSize</key>
                <string>{18,26}</string>
            </dict>
            <key>num_fushang_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{14,26}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{14,26}}</string>
                <key>sourceSize</key>
                <string>{18,26}</string>
            </dict>
            <key>num_fushang_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{18,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{18,24}}</string>
                <key>sourceSize</key>
                <string>{18,26}</string>
            </dict>
            <key>num_fushang_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,2},{14,26}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{14,26}}</string>
                <key>sourceSize</key>
                <string>{18,26}</string>
            </dict>
            <key>num_hurt_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,32},{25,37}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{25,37}}</string>
                <key>sourceSize</key>
                <string>{29,41}</string>
            </dict>
            <key>num_hurt_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,37},{25,39}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{25,39}}</string>
                <key>sourceSize</key>
                <string>{29,41}</string>
            </dict>
            <key>num_hurt_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,62},{27,39}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,39}}</string>
                <key>sourceSize</key>
                <string>{29,41}</string>
            </dict>
            <key>num_hurt_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,36},{23,39}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{23,39}}</string>
                <key>sourceSize</key>
                <string>{29,41}</string>
            </dict>
            <key>num_hurt_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,65},{23,41}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{23,41}}</string>
                <key>sourceSize</key>
                <string>{29,41}</string>
            </dict>
            <key>num_hurt_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,67},{25,41}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{25,41}}</string>
                <key>sourceSize</key>
                <string>{29,41}</string>
            </dict>
            <key>num_hurt_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,35},{25,39}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{25,39}}</string>
                <key>sourceSize</key>
                <string>{29,41}</string>
            </dict>
            <key>num_hurt_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,67},{21,41}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{21,41}}</string>
                <key>sourceSize</key>
                <string>{29,41}</string>
            </dict>
            <key>num_hurt_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,28},{29,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{29,35}}</string>
                <key>sourceSize</key>
                <string>{29,41}</string>
            </dict>
            <key>num_hurt_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{21,39}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{21,39}}</string>
                <key>sourceSize</key>
                <string>{29,41}</string>
            </dict>
            <key>shengyushi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,103},{149,39}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{149,39}}</string>
                <key>sourceSize</key>
                <string>{151,41}</string>
            </dict>
            <key>xianshifuben.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,73},{149,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{149,39}}</string>
                <key>sourceSize</key>
                <string>{151,41}</string>
            </dict>
            <key>zl_g.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,106},{93,50}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,15},{93,50}}</string>
                <key>sourceSize</key>
                <string>{109,72}</string>
            </dict>
            <key>zl_g_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,67},{29,39}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,11},{29,39}}</string>
                <key>sourceSize</key>
                <string>{47,59}</string>
            </dict>
            <key>zl_g_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,54},{17,39}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{17,39}}</string>
                <key>sourceSize</key>
                <string>{47,59}</string>
            </dict>
            <key>zl_g_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,59},{27,39}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,11},{27,39}}</string>
                <key>sourceSize</key>
                <string>{47,59}</string>
            </dict>
            <key>zl_g_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,65},{29,39}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{29,39}}</string>
                <key>sourceSize</key>
                <string>{47,59}</string>
            </dict>
            <key>zl_g_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,65},{29,39}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{29,39}}</string>
                <key>sourceSize</key>
                <string>{47,59}</string>
            </dict>
            <key>zl_g_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,67},{27,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{27,41}}</string>
                <key>sourceSize</key>
                <string>{47,59}</string>
            </dict>
            <key>zl_g_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,65},{29,39}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{29,39}}</string>
                <key>sourceSize</key>
                <string>{47,59}</string>
            </dict>
            <key>zl_g_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,37},{27,39}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{27,39}}</string>
                <key>sourceSize</key>
                <string>{47,59}</string>
            </dict>
            <key>zl_g_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,59},{29,39}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{29,39}}</string>
                <key>sourceSize</key>
                <string>{47,59}</string>
            </dict>
            <key>zl_g_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,54},{29,39}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{29,39}}</string>
                <key>sourceSize</key>
                <string>{47,59}</string>
            </dict>
            <key>zl_g_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,28},{35,35}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{35,35}}</string>
                <key>sourceSize</key>
                <string>{47,59}</string>
            </dict>
            <key>zl_r.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,78},{89,46}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,15},{89,46}}</string>
                <key>sourceSize</key>
                <string>{109,72}</string>
            </dict>
            <key>zl_r_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,30},{23,35}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,13},{23,35}}</string>
                <key>sourceSize</key>
                <string>{47,59}</string>
            </dict>
            <key>zl_r_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,22},{13,35}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{13,35}}</string>
                <key>sourceSize</key>
                <string>{47,59}</string>
            </dict>
            <key>zl_r_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,22},{21,35}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{21,35}}</string>
                <key>sourceSize</key>
                <string>{47,59}</string>
            </dict>
            <key>zl_r_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,30},{23,35}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,13},{23,35}}</string>
                <key>sourceSize</key>
                <string>{47,59}</string>
            </dict>
            <key>zl_r_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,28},{23,35}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,12},{23,35}}</string>
                <key>sourceSize</key>
                <string>{47,59}</string>
            </dict>
            <key>zl_r_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,28},{23,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{23,35}}</string>
                <key>sourceSize</key>
                <string>{47,59}</string>
            </dict>
            <key>zl_r_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,22},{23,35}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,13},{23,35}}</string>
                <key>sourceSize</key>
                <string>{47,59}</string>
            </dict>
            <key>zl_r_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,17},{23,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{23,35}}</string>
                <key>sourceSize</key>
                <string>{47,59}</string>
            </dict>
            <key>zl_r_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,17},{25,35}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,13},{25,35}}</string>
                <key>sourceSize</key>
                <string>{47,59}</string>
            </dict>
            <key>zl_r_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,13},{23,35}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,13},{23,35}}</string>
                <key>sourceSize</key>
                <string>{47,59}</string>
            </dict>
            <key>zl_r_reduce.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{37,9}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,23},{37,9}}</string>
                <key>sourceSize</key>
                <string>{47,59}</string>
            </dict>
            <key>zudui-bosstub.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,108},{57,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,51}}</string>
                <key>sourceSize</key>
                <string>{57,51}</string>
            </dict>
            <key>zudui-jiazaidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,2},{52,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,18}}</string>
                <key>sourceSize</key>
                <string>{52,18}</string>
            </dict>
            <key>zudui-jiazaijiazai.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,2},{46,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,13}}</string>
                <key>sourceSize</key>
                <string>{46,13}</string>
            </dict>
            <key>zudui-jiedian.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,2},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>zudui-jindu.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,2},{20,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,32}}</string>
                <key>sourceSize</key>
                <string>{20,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>num_hurt.pvr</string>
            <key>size</key>
            <string>{674,460}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f6695781098360cf217bbdd1b539bd88:1/1$</string>
            <key>textureFileName</key>
            <string>num_hurt.pvr</string>
        </dict>
    </dict>
</plist>
