<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc_ly2_fx_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{34,106}}</string>
                <key>offset</key>
                <string>{-33,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,140},{34,106}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>npc_ly2_fx_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,38},{36,106}}</string>
                <key>offset</key>
                <string>{-33,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,140},{36,106}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>npc_ly2_fx_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{34,106}}</string>
                <key>offset</key>
                <string>{-35,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,140},{34,106}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>npc_ly2_fx_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,78},{40,106}}</string>
                <key>offset</key>
                <string>{-38,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,140},{40,106}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>npc_ly2_fx_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{40,106}}</string>
                <key>offset</key>
                <string>{-38,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,139},{40,106}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>npc_ly2_fx_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,38},{38,106}}</string>
                <key>offset</key>
                <string>{-36,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,140},{38,106}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>idle_0.pvr</string>
            <key>size</key>
            <string>{218,120}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4462831bd67542fc4e8ec900be3f77bf:1/1$</string>
            <key>textureFileName</key>
            <string>idle_0.pvr</string>
        </dict>
    </dict>
</plist>
