<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_normal_bear_down_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,538},{236,122}}</string>
                <key>offset</key>
                <string>{-7,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{387,407},{236,122}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_bear_down_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,662},{228,102}}</string>
                <key>offset</key>
                <string>{4,-132}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{402,465},{228,102}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_bear_down_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{252,128}}</string>
                <key>offset</key>
                <string>{0,-149}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{386,469},{252,128}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_bear_down_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{248,132}}</string>
                <key>offset</key>
                <string>{2,-143}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{390,461},{248,132}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_bear_down_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{250,134}}</string>
                <key>offset</key>
                <string>{1,-159}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{388,476},{250,134}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_bear_down_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{250,134}}</string>
                <key>offset</key>
                <string>{1,-160}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{388,477},{250,134}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>down_0.pvr</string>
            <key>size</key>
            <string>{256,766}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8daf7e71ccb78b92800e3582771a5683:1/1$</string>
            <key>textureFileName</key>
            <string>down_0.pvr</string>
        </dict>
    </dict>
</plist>
