<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_normal_bear_hurt_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{160,158}}</string>
                <key>offset</key>
                <string>{-26,-94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{406,399},{160,158}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_bear_hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{182,148}}</string>
                <key>offset</key>
                <string>{-16,-97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{405,407},{182,148}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_bear_hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{166,152}}</string>
                <key>offset</key>
                <string>{-26,-95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{403,403},{166,152}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_bear_hurt_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,310},{140,148}}</string>
                <key>offset</key>
                <string>{-36,-97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{406,407},{140,148}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_bear_hurt_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,164},{152,152}}</string>
                <key>offset</key>
                <string>{-37,-95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{399,403},{152,152}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_bear_hurt_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,156},{152,160}}</string>
                <key>offset</key>
                <string>{-30,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{406,395},{152,160}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_bear_hurt_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{150,170}}</string>
                <key>offset</key>
                <string>{-25,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{412,386},{150,170}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hurt_0.pvr</string>
            <key>size</key>
            <string>{480,452}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c110ca84dddd4b72346d3f71a83029c:1/1$</string>
            <key>textureFileName</key>
            <string>hurt_0.pvr</string>
        </dict>
    </dict>
</plist>
