<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_normal_bear_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,178}}</string>
                <key>offset</key>
                <string>{-22,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{416,378},{148,178}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_bear_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{146,176}}</string>
                <key>offset</key>
                <string>{-22,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{417,380},{146,176}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_bear_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{144,176}}</string>
                <key>offset</key>
                <string>{-23,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{417,380},{144,176}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_bear_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{144,178}}</string>
                <key>offset</key>
                <string>{-23,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{417,378},{144,178}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>idle_0.pvr</string>
            <key>size</key>
            <string>{592,182}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:30500b5cba36dc9804c2003fe2a99157:1/1$</string>
            <key>textureFileName</key>
            <string>idle_0.pvr</string>
        </dict>
    </dict>
</plist>
