<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_rl_bb_away_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{132,154}}</string>
                <key>offset</key>
                <string>{-15,-103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{431,410},{132,154}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_rl_bb_away_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,160}}</string>
                <key>offset</key>
                <string>{-17,-96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{424,400},{142,160}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>away_0.pvr</string>
            <key>size</key>
            <string>{280,164}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3602a4d129c75b24588fbb6bd7837244:1/1$</string>
            <key>textureFileName</key>
            <string>away_0.pvr</string>
        </dict>
    </dict>
</plist>
