<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_rl_bb_hurt_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{140,170}}</string>
                <key>offset</key>
                <string>{-9,-97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{433,396},{140,170}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_rl_bb_hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{142,166}}</string>
                <key>offset</key>
                <string>{-11,-99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{430,400},{142,166}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_rl_bb_hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{140,168}}</string>
                <key>offset</key>
                <string>{-6,-98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{436,398},{140,168}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_rl_bb_hurt_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{140,170}}</string>
                <key>offset</key>
                <string>{-3,-97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{439,396},{140,170}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_rl_bb_hurt_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{144,174}}</string>
                <key>offset</key>
                <string>{-4,-95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{436,392},{144,174}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hurt_0.pvr</string>
            <key>size</key>
            <string>{860,148}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a030c6bcd21bbfdde4834de0ab7a7c3c:1/1$</string>
            <key>textureFileName</key>
            <string>hurt_0.pvr</string>
        </dict>
    </dict>
</plist>
