<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_normal_016_fx_atk1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{70,54}}</string>
                <key>offset</key>
                <string>{26,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,163},{70,54}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_016_fx_atk1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{74,58}}</string>
                <key>offset</key>
                <string>{31,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,163},{74,58}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_016_fx_atk1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{56,50}}</string>
                <key>offset</key>
                <string>{43,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{271,165},{56,50}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_016_fx_atk1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,2},{56,36}}</string>
                <key>offset</key>
                <string>{45,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{273,167},{56,36}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_016_fx_atk1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{56,40}}</string>
                <key>offset</key>
                <string>{48,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,164},{56,40}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_016_fx_atk1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{54,44}}</string>
                <key>offset</key>
                <string>{52,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{281,159},{54,44}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_016_fx_atk1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,28}}</string>
                <key>offset</key>
                <string>{56,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{287,174},{50,28}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atk1_0.pvr</string>
            <key>size</key>
            <string>{432,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:92679569d6e4df7b22854d89b376bb20:1/1$</string>
            <key>textureFileName</key>
            <string>atk1_0.pvr</string>
        </dict>
    </dict>
</plist>
