<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_normal_009_hurt_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,376},{186,184}}</string>
                <key>offset</key>
                <string>{-13,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{406,404},{186,184}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_009_hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,538},{186,172}}</string>
                <key>offset</key>
                <string>{-11,-113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{408,411},{186,172}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_009_hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{162,196}}</string>
                <key>offset</key>
                <string>{-54,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{377,377},{162,196}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_009_hurt_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,2},{194,186}}</string>
                <key>offset</key>
                <string>{-67,-96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{348,387},{194,186}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_009_hurt_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{230,192}}</string>
                <key>offset</key>
                <string>{-88,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{309,381},{230,192}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_009_hurt_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{176,196}}</string>
                <key>offset</key>
                <string>{-36,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{388,377},{176,196}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_009_hurt_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,190},{186,184}}</string>
                <key>offset</key>
                <string>{-13,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{406,404},{186,184}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hurt_0.pvr</string>
            <key>size</key>
            <string>{430,712}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:67c192ccd098fcf079a947ea89ad7f9d:1/1$</string>
            <key>textureFileName</key>
            <string>hurt_0.pvr</string>
        </dict>
    </dict>
</plist>
