<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_normal_009_run_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{200,164}}</string>
                <key>offset</key>
                <string>{-18,-109}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{394,411},{200,164}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_009_run_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,212},{200,174}}</string>
                <key>offset</key>
                <string>{-21,-104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{391,401},{200,174}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_009_run_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,422},{196,190}}</string>
                <key>offset</key>
                <string>{-25,-96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{389,385},{196,190}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_009_run_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,628},{202,188}}</string>
                <key>offset</key>
                <string>{-20,-97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{391,387},{202,188}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_009_run_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,174}}</string>
                <key>offset</key>
                <string>{-9,-105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{399,402},{208,174}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_009_run_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{208,168}}</string>
                <key>offset</key>
                <string>{-8,-105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{400,405},{208,168}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_009_run_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{204,162}}</string>
                <key>offset</key>
                <string>{-10,-106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{400,409},{204,162}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_009_run_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,832},{200,160}}</string>
                <key>offset</key>
                <string>{-13,-106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{399,410},{200,160}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_009_run_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,820},{198,160}}</string>
                <key>offset</key>
                <string>{-15,-107}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{398,411},{198,160}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_009_run_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,620},{198,160}}</string>
                <key>offset</key>
                <string>{-17,-108}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{396,412},{198,160}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>run_0.pvr</string>
            <key>size</key>
            <string>{366,1020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:45c57018725f5e84e2e4e4e223e05d00:1/1$</string>
            <key>textureFileName</key>
            <string>run_0.pvr</string>
        </dict>
    </dict>
</plist>
