<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_normal_017_atk1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,136},{72,120}}</string>
                <key>offset</key>
                <string>{-7,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,160},{72,120}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_017_atk1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{90,120}}</string>
                <key>offset</key>
                <string>{-2,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,160},{90,120}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_017_atk1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,2},{120,122}}</string>
                <key>offset</key>
                <string>{-4,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,158},{120,122}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_017_atk1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,470},{148,120}}</string>
                <key>offset</key>
                <string>{-7,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,160},{148,120}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_017_atk1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,470},{148,114}}</string>
                <key>offset</key>
                <string>{-7,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,158},{148,114}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_017_atk1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,136},{154,132}}</string>
                <key>offset</key>
                <string>{-3,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,156},{154,132}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_017_atk1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,292},{148,132}}</string>
                <key>offset</key>
                <string>{29,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,157},{148,132}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_017_atk1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,2},{176,132}}</string>
                <key>offset</key>
                <string>{44,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,158},{176,132}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_017_atk1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,446},{218,144}}</string>
                <key>offset</key>
                <string>{64,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,158},{218,144}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_017_atk1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,242},{226,160}}</string>
                <key>offset</key>
                <string>{80,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,154},{226,160}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_017_atk1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,242},{234,202}}</string>
                <key>offset</key>
                <string>{85,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,116},{234,202}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_017_atk1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,240},{238,232}}</string>
                <key>offset</key>
                <string>{87,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,87},{238,232}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_017_atk1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{238,236}}</string>
                <key>offset</key>
                <string>{87,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,83},{238,236}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_017_atk1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{238,234}}</string>
                <key>offset</key>
                <string>{87,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,86},{238,234}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_017_atk1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{238,238}}</string>
                <key>offset</key>
                <string>{86,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,82},{238,238}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_017_atk1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{232,234}}</string>
                <key>offset</key>
                <string>{85,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,86},{232,234}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atk1_0.pvr</string>
            <key>size</key>
            <string>{1018,592}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:103b22789ef8beec0cb77747c4b208fe:1/1$</string>
            <key>textureFileName</key>
            <string>atk1_0.pvr</string>
        </dict>
    </dict>
</plist>
