<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_normal_017_hurt_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{60,110}}</string>
                <key>offset</key>
                <string>{-1,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,160},{60,110}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_017_hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{72,100}}</string>
                <key>offset</key>
                <string>{-39,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,160},{72,100}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_017_hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{72,98}}</string>
                <key>offset</key>
                <string>{-42,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,160},{72,98}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_017_hurt_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{76,98}}</string>
                <key>offset</key>
                <string>{-47,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,158},{76,98}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_017_hurt_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{78,96}}</string>
                <key>offset</key>
                <string>{-43,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,157},{78,96}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_017_hurt_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,114}}</string>
                <key>offset</key>
                <string>{-22,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,153},{66,114}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_017_hurt_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{62,114}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,156},{62,114}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hurt_0.pvr</string>
            <key>size</key>
            <string>{502,118}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e73f95fa7797df9eca5f6eebf1f8af13:1/1$</string>
            <key>textureFileName</key>
            <string>hurt_0.pvr</string>
        </dict>
    </dict>
</plist>
