<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_normal_017_run_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,72},{68,104}}</string>
                <key>offset</key>
                <string>{-5,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,163},{68,104}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_017_run_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,72},{70,104}}</string>
                <key>offset</key>
                <string>{-6,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,164},{70,104}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_017_run_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,106}}</string>
                <key>offset</key>
                <string>{-7,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,162},{72,106}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_017_run_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{72,104}}</string>
                <key>offset</key>
                <string>{-7,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,164},{72,104}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_017_run_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{70,106}}</string>
                <key>offset</key>
                <string>{-7,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,162},{70,106}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_017_run_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,2},{66,106}}</string>
                <key>offset</key>
                <string>{-6,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,161},{66,106}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_017_run_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,72},{68,106}}</string>
                <key>offset</key>
                <string>{-6,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,161},{68,106}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_017_run_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,74},{68,108}}</string>
                <key>offset</key>
                <string>{-6,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,161},{68,108}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_017_run_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,2},{68,106}}</string>
                <key>offset</key>
                <string>{-5,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,162},{68,106}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_017_run_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{70,108}}</string>
                <key>offset</key>
                <string>{-6,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,160},{70,108}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_017_run_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,2},{68,106}}</string>
                <key>offset</key>
                <string>{-5,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,161},{68,106}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_017_run_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,72},{70,104}}</string>
                <key>offset</key>
                <string>{-6,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,163},{70,104}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_017_run_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{70,104}}</string>
                <key>offset</key>
                <string>{-6,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,163},{70,104}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_017_run_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,2},{68,104}}</string>
                <key>offset</key>
                <string>{-6,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,163},{68,104}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_017_run_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,2},{68,106}}</string>
                <key>offset</key>
                <string>{-6,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,161},{68,106}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_017_run_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,74},{68,106}}</string>
                <key>offset</key>
                <string>{-5,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,160},{68,106}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>run_0.pvr</string>
            <key>size</key>
            <string>{938,144}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:915117fde41f736a53e9b61a72161d0f:1/1$</string>
            <key>textureFileName</key>
            <string>run_0.pvr</string>
        </dict>
    </dict>
</plist>
