<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_normal_014_atk1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{220,210}}</string>
                <key>offset</key>
                <string>{-34,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{368,293},{220,210}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_014_atk1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{218,210}}</string>
                <key>offset</key>
                <string>{-40,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{363,291},{218,210}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_014_atk1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,636},{212,200}}</string>
                <key>offset</key>
                <string>{-46,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{360,291},{212,200}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_014_atk1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,204},{222,182}}</string>
                <key>offset</key>
                <string>{-43,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{358,293},{222,182}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_014_atk1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,748},{210,166}}</string>
                <key>offset</key>
                <string>{-50,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{357,292},{210,166}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_014_atk1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,388},{226,172}}</string>
                <key>offset</key>
                <string>{-46,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{353,297},{226,172}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_014_atk1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,562},{226,184}}</string>
                <key>offset</key>
                <string>{-46,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{353,298},{226,184}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_014_atk1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{224,200}}</string>
                <key>offset</key>
                <string>{-39,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{361,298},{224,200}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_014_atk1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{226,208}}</string>
                <key>offset</key>
                <string>{-33,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{366,296},{226,208}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atk1_0.pvr</string>
            <key>size</key>
            <string>{456,916}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8bb4ffe67cd04e3689025bf6acfedf15:1/1$</string>
            <key>textureFileName</key>
            <string>atk1_0.pvr</string>
        </dict>
    </dict>
</plist>
