<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_normal_014_down_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{250,166}}</string>
                <key>offset</key>
                <string>{-27,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{360,332},{250,166}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_014_down_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{250,98}}</string>
                <key>offset</key>
                <string>{-11,-87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{376,422},{250,98}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_014_down_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,182},{262,58}}</string>
                <key>offset</key>
                <string>{-16,-105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{365,460},{262,58}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_014_down_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{266,60}}</string>
                <key>offset</key>
                <string>{-19,-106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{360,460},{266,60}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_014_down_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,124},{266,56}}</string>
                <key>offset</key>
                <string>{-18,-107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{361,463},{266,56}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_014_down_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,64},{266,58}}</string>
                <key>offset</key>
                <string>{-18,-107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{361,462},{266,58}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>down_0.pvr</string>
            <key>size</key>
            <string>{538,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:04065efca5e6c383f4d1a15412a7c240:1/1$</string>
            <key>textureFileName</key>
            <string>down_0.pvr</string>
        </dict>
    </dict>
</plist>
