<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_normal_014_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{198,196}}</string>
                <key>offset</key>
                <string>{-18,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{395,297},{198,196}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_014_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{198,194}}</string>
                <key>offset</key>
                <string>{-20,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{393,297},{198,194}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_014_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{194,194}}</string>
                <key>offset</key>
                <string>{-21,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{394,299},{194,194}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>idle_0.pvr</string>
            <key>size</key>
            <string>{202,592}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:66e0ecfb0be1d32579b47ef0afaeb85f:1/1$</string>
            <key>textureFileName</key>
            <string>idle_0.pvr</string>
        </dict>
    </dict>
</plist>
