<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_lvbu_fx_skill1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,124}}</string>
                <key>offset</key>
                <string>{-11,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,127},{154,124}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_lvbu_fx_skill1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,2},{156,142}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,123},{156,142}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_lvbu_fx_skill1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{134,148}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,117},{134,148}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_lvbu_fx_skill1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,138},{146,158}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,110},{146,158}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_lvbu_fx_skill1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,2},{142,156}}</string>
                <key>offset</key>
                <string>{5,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,107},{142,156}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_lvbu_fx_skill1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,146},{192,150}}</string>
                <key>offset</key>
                <string>{43,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,113},{192,150}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_lvbu_fx_skill1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{144,130}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,111},{144,130}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_lvbu_fx_skill1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{152,138}}</string>
                <key>offset</key>
                <string>{-12,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,103},{152,138}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_lvbu_fx_skill1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,142},{204,146}}</string>
                <key>offset</key>
                <string>{34,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,106},{204,146}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_lvbu_fx_skill1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,146},{170,146}}</string>
                <key>offset</key>
                <string>{10,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,111},{170,146}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_lvbu_fx_skill1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{144,156}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,101},{144,156}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_lvbu_fx_skill1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,294},{162,174}}</string>
                <key>offset</key>
                <string>{4,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,84},{162,174}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_lvbu_fx_skill1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{214,152}}</string>
                <key>offset</key>
                <string>{36,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,108},{214,152}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_lvbu_fx_skill1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{300,160}}</string>
                <key>offset</key>
                <string>{74,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,106},{300,160}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_lvbu_fx_skill1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,462},{304,160}}</string>
                <key>offset</key>
                <string>{69,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,106},{304,160}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_lvbu_fx_skill1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,298},{292,162}}</string>
                <key>offset</key>
                <string>{75,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,106},{292,162}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_lvbu_fx_skill1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,612},{298,164}}</string>
                <key>offset</key>
                <string>{75,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,103},{298,164}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_lvbu_fx_skill1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,784},{304,164}}</string>
                <key>offset</key>
                <string>{71,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,103},{304,164}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_lvbu_fx_skill1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,458},{304,160}}</string>
                <key>offset</key>
                <string>{71,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,104},{304,160}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_lvbu_fx_skill1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,788},{306,164}}</string>
                <key>offset</key>
                <string>{71,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,104},{306,164}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_lvbu_fx_skill1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,624},{302,162}}</string>
                <key>offset</key>
                <string>{70,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,104},{302,162}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_lvbu_fx_skill1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,290},{288,158}}</string>
                <key>offset</key>
                <string>{77,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,106},{288,158}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_lvbu_fx_skill1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,620},{302,162}}</string>
                <key>offset</key>
                <string>{73,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,106},{302,162}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill1_0.pvr</string>
            <key>size</key>
            <string>{978,954}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:88049b74714bcf0fe29ba549c1241840:1/1$</string>
            <key>textureFileName</key>
            <string>skill1_0.pvr</string>
        </dict>
    </dict>
</plist>
