<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_lvbu_fx_skill1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,150},{302,160}}</string>
                <key>offset</key>
                <string>{70,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,107},{302,160}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_lvbu_fx_skill1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{294,164}}</string>
                <key>offset</key>
                <string>{74,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,104},{294,164}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_lvbu_fx_skill1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,312},{304,160}}</string>
                <key>offset</key>
                <string>{73,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,102},{304,160}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_lvbu_fx_skill1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{298,150}}</string>
                <key>offset</key>
                <string>{72,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,110},{298,150}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_lvbu_fx_skill1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{306,146}}</string>
                <key>offset</key>
                <string>{65,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,114},{306,146}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_lvbu_fx_skill1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{274,136}}</string>
                <key>offset</key>
                <string>{61,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,116},{274,136}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill1_1.pvr</string>
            <key>size</key>
            <string>{606,474}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c03bdbd1321d8edbe7d044b8875f8525:1/1$</string>
            <key>textureFileName</key>
            <string>skill1_1.pvr</string>
        </dict>
    </dict>
</plist>
