<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fnpc019_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{104,154}}</string>
                <key>offset</key>
                <string>{14,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{474,369},{104,154}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc019_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,154}}</string>
                <key>offset</key>
                <string>{12,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{472,369},{104,154}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc019_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{102,156}}</string>
                <key>offset</key>
                <string>{10,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{471,368},{102,156}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc019_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,104},{100,156}}</string>
                <key>offset</key>
                <string>{9,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{471,368},{100,156}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc019_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{96,156}}</string>
                <key>offset</key>
                <string>{9,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{473,369},{96,156}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc019_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,158},{96,154}}</string>
                <key>offset</key>
                <string>{7,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{471,371},{96,154}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc019_idle_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,2},{98,156}}</string>
                <key>offset</key>
                <string>{7,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{470,369},{98,156}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc019_idle_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,2},{100,156}}</string>
                <key>offset</key>
                <string>{8,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{470,368},{100,156}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc019_idle_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,106},{102,154}}</string>
                <key>offset</key>
                <string>{10,-62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{471,369},{102,154}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc019_idle_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{102,154}}</string>
                <key>offset</key>
                <string>{13,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{474,369},{102,154}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>idle_0.pvr</string>
            <key>size</key>
            <string>{734,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:adfbcd2c7f20e2fc957f69b9eb83a59a:1/1$</string>
            <key>textureFileName</key>
            <string>idle_0.pvr</string>
        </dict>
    </dict>
</plist>
