<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fnpc019_idle1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{102,154}}</string>
                <key>offset</key>
                <string>{10,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{471,369},{102,154}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc019_idle1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{140,144}}</string>
                <key>offset</key>
                <string>{2,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{444,368},{140,144}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc019_idle1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{124,142}}</string>
                <key>offset</key>
                <string>{4,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{454,369},{124,142}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc019_idle1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,744},{90,144}}</string>
                <key>offset</key>
                <string>{10,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{477,369},{90,144}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc019_idle1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,742},{82,146}}</string>
                <key>offset</key>
                <string>{7,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{478,369},{82,146}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc019_idle1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,288},{80,146}}</string>
                <key>offset</key>
                <string>{5,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{477,369},{80,146}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc019_idle1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,890},{76,146}}</string>
                <key>offset</key>
                <string>{2,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{476,369},{76,146}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc019_idle1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,890},{74,146}}</string>
                <key>offset</key>
                <string>{1,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{476,369},{74,146}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc019_idle1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,244},{72,144}}</string>
                <key>offset</key>
                <string>{1,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{477,371},{72,144}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc019_idle1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,436},{72,146}}</string>
                <key>offset</key>
                <string>{1,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{477,369},{72,146}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc019_idle1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,442},{74,148}}</string>
                <key>offset</key>
                <string>{3,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{478,368},{74,148}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc019_idle1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,592},{78,148}}</string>
                <key>offset</key>
                <string>{5,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{478,368},{78,148}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc019_idle1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,442},{80,148}}</string>
                <key>offset</key>
                <string>{7,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{479,368},{80,148}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc019_idle1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,592},{84,148}}</string>
                <key>offset</key>
                <string>{8,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{478,368},{84,148}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc019_idle1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,584},{90,146}}</string>
                <key>offset</key>
                <string>{10,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{477,370},{90,146}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc019_idle1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,732},{98,144}}</string>
                <key>offset</key>
                <string>{13,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{476,372},{98,144}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc019_idle1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,598},{104,144}}</string>
                <key>offset</key>
                <string>{14,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{474,372},{104,144}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc019_idle1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{104,144}}</string>
                <key>offset</key>
                <string>{14,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{474,371},{104,144}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc019_idle1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,744},{98,144}}</string>
                <key>offset</key>
                <string>{12,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{475,371},{98,144}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc019_idle1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,148},{94,144}}</string>
                <key>offset</key>
                <string>{9,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{474,371},{94,144}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc019_idle1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,298},{90,142}}</string>
                <key>offset</key>
                <string>{6,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{473,373},{90,142}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc019_idle1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,436},{86,136}}</string>
                <key>offset</key>
                <string>{6,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{475,379},{86,136}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc019_idle1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,438},{84,126}}</string>
                <key>offset</key>
                <string>{6,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{476,389},{84,126}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc019_idle1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,158},{82,118}}</string>
                <key>offset</key>
                <string>{6,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{477,397},{82,118}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc019_idle1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,318},{82,118}}</string>
                <key>offset</key>
                <string>{6,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{477,397},{82,118}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc019_idle1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,566},{84,120}}</string>
                <key>offset</key>
                <string>{7,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{477,395},{84,120}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc019_idle1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,878},{86,120}}</string>
                <key>offset</key>
                <string>{9,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{478,395},{86,120}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc019_idle1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,806},{86,118}}</string>
                <key>offset</key>
                <string>{9,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{478,398},{86,118}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc019_idle1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,688},{96,116}}</string>
                <key>offset</key>
                <string>{5,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{469,399},{96,116}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc019_idle1_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,318},{114,116}}</string>
                <key>offset</key>
                <string>{-1,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{454,399},{114,116}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc019_idle1_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,158},{128,124}}</string>
                <key>offset</key>
                <string>{-1,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{447,391},{128,124}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc019_idle1_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{142,134}}</string>
                <key>offset</key>
                <string>{-3,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{438,382},{142,134}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc019_idle1_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,148}}</string>
                <key>offset</key>
                <string>{-2,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{440,375},{140,148}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc019_idle1_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{126,154}}</string>
                <key>offset</key>
                <string>{5,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{454,370},{126,154}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>idle1_0.pvr</string>
            <key>size</key>
            <string>{512,968}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0adb50f98e06f4f308ebd31fb46fb30c:1/1$</string>
            <key>textureFileName</key>
            <string>idle1_0.pvr</string>
        </dict>
    </dict>
</plist>
