<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_ck_weapon_3_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,302},{140,148}}</string>
                <key>offset</key>
                <string>{-53,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{389,353},{140,148}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,152},{140,148}}</string>
                <key>offset</key>
                <string>{-52,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{390,352},{140,148}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,154},{142,148}}</string>
                <key>offset</key>
                <string>{-51,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{390,351},{142,148}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{140,148}}</string>
                <key>offset</key>
                <string>{-51,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{391,351},{140,148}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{138,150}}</string>
                <key>offset</key>
                <string>{-51,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{392,351},{138,150}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,314},{134,152}}</string>
                <key>offset</key>
                <string>{-52,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{393,352},{134,152}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_idle_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{126,154}}</string>
                <key>offset</key>
                <string>{-52,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{397,352},{126,154}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_idle_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,158},{122,154}}</string>
                <key>offset</key>
                <string>{-51,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{400,354},{122,154}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_idle_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,154}}</string>
                <key>offset</key>
                <string>{-54,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{393,353},{130,154}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_idle_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{136,150}}</string>
                <key>offset</key>
                <string>{-53,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{391,354},{136,150}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>idle_0.pvr</string>
            <key>size</key>
            <string>{542,452}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce272b4ef58ed1124d4cc9fbcb693008:1/1$</string>
            <key>textureFileName</key>
            <string>idle_0.pvr</string>
        </dict>
    </dict>
</plist>
