<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_ck_weapon_3_runatk_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{112,92}}</string>
                <key>offset</key>
                <string>{-123,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{333,380},{112,92}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_runatk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{112,94}}</string>
                <key>offset</key>
                <string>{-39,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{417,400},{112,94}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_runatk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{74,94}}</string>
                <key>offset</key>
                <string>{-31,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{444,420},{74,94}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_runatk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{166,98}}</string>
                <key>offset</key>
                <string>{-90,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{339,418},{166,98}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>runatk_0.pvr</string>
            <key>size</key>
            <string>{474,102}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2cedca165d005231f6d2674dda294f2a:1/1$</string>
            <key>textureFileName</key>
            <string>runatk_0.pvr</string>
        </dict>
    </dict>
</plist>
