<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_ck_weapon_3_skill5_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,254},{80,114}}</string>
                <key>offset</key>
                <string>{-123,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{349,405},{80,114}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_skill5_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{250,126}}</string>
                <key>offset</key>
                <string>{-61,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{326,391},{250,126}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_skill5_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,886},{114,76}}</string>
                <key>offset</key>
                <string>{-141,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{314,429},{114,76}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_skill5_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,590},{146,34}}</string>
                <key>offset</key>
                <string>{-111,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{328,442},{146,34}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_skill5_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{224,74}}</string>
                <key>offset</key>
                <string>{-84,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{316,421},{224,74}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_skill5_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{238,54}}</string>
                <key>offset</key>
                <string>{-94,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{299,441},{238,54}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_skill5_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{252,132}}</string>
                <key>offset</key>
                <string>{-63,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{323,386},{252,132}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_skill5_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{190,112}}</string>
                <key>offset</key>
                <string>{-96,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{321,347},{190,112}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_skill5_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,886},{166,96}}</string>
                <key>offset</key>
                <string>{14,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{443,340},{166,96}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_skill5_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,594},{176,192}}</string>
                <key>offset</key>
                <string>{-64,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{360,347},{176,192}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_skill5_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,626},{170,184}}</string>
                <key>offset</key>
                <string>{-76,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{351,346},{170,184}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_skill5_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{252,154}}</string>
                <key>offset</key>
                <string>{-38,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{348,318},{252,154}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_skill5_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,336},{136,92}}</string>
                <key>offset</key>
                <string>{-81,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{363,355},{136,92}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_skill5_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,798},{164,130}}</string>
                <key>offset</key>
                <string>{-95,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{335,326},{164,130}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_skill5_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,430},{158,134}}</string>
                <key>offset</key>
                <string>{-90,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{343,324},{158,134}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_skill5_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{84,234}}</string>
                <key>offset</key>
                <string>{-50,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{420,305},{84,234}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_skill5_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{82,226}}</string>
                <key>offset</key>
                <string>{-28,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{443,291},{82,226}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill5_0.pvr</string>
            <key>size</key>
            <string>{384,1002}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:355a62e4a7d4377b370eed4fc3e79038:1/1$</string>
            <key>textureFileName</key>
            <string>skill5_0.pvr</string>
        </dict>
    </dict>
</plist>
