<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_ck_weapon_3_skill6_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{138,158}}</string>
                <key>offset</key>
                <string>{-54,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{389,352},{138,158}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_skill6_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,142},{80,104}}</string>
                <key>offset</key>
                <string>{-78,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{394,373},{80,104}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_skill6_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,156},{120,84}}</string>
                <key>offset</key>
                <string>{-83,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{369,358},{120,84}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_skill6_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,162},{90,74}}</string>
                <key>offset</key>
                <string>{-11,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{456,385},{90,74}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_skill6_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,2},{116,66}}</string>
                <key>offset</key>
                <string>{115,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{569,393},{116,66}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_skill6_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,2},{138,74}}</string>
                <key>offset</key>
                <string>{300,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{743,373},{138,74}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_skill6_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,166},{144,84}}</string>
                <key>offset</key>
                <string>{366,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{806,356},{144,84}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_skill6_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{152,88}}</string>
                <key>offset</key>
                <string>{386,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{822,358},{152,88}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_skill6_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{104,144}}</string>
                <key>offset</key>
                <string>{397,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{857,362},{104,144}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_skill6_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{198,48}}</string>
                <key>offset</key>
                <string>{392,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{805,403},{198,48}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_skill6_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,148},{118,104}}</string>
                <key>offset</key>
                <string>{372,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{825,379},{118,104}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_skill6_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{162,72}}</string>
                <key>offset</key>
                <string>{383,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{814,439},{162,72}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_skill6_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{1,1}}</string>
                <key>offset</key>
                <string>{-511.5,383.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill6_0.pvr</string>
            <key>size</key>
            <string>{612,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f2ff4d50d0e40dca19f761c13dbc34d1:1/1$</string>
            <key>textureFileName</key>
            <string>skill6_0.pvr</string>
        </dict>
    </dict>
</plist>
