<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_ck_weapon_3_skill3_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,914},{74,108}}</string>
                <key>offset</key>
                <string>{-166,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{309,300},{74,108}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_skill3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,914},{104,82}}</string>
                <key>offset</key>
                <string>{-126,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{334,324},{104,82}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_skill3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{84,118}}</string>
                <key>offset</key>
                <string>{-45,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{425,376},{84,118}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_skill3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,250},{112,86}}</string>
                <key>offset</key>
                <string>{-111,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{345,359},{112,86}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_skill3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,590},{26,104}}</string>
                <key>offset</key>
                <string>{-135,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{364,281},{26,104}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_skill3_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,484},{26,104}}</string>
                <key>offset</key>
                <string>{-134,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{365,282},{26,104}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_skill3_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,694},{86,170}}</string>
                <key>offset</key>
                <string>{-110,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{359,281},{86,170}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_skill3_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{142,236}}</string>
                <key>offset</key>
                <string>{-77,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{364,282},{142,236}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_skill3_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,482},{210,188}}</string>
                <key>offset</key>
                <string>{-43,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{364,281},{210,188}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_skill3_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,914},{94,92}}</string>
                <key>offset</key>
                <string>{33,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{498,285},{94,92}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_skill3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,844},{94,92}}</string>
                <key>offset</key>
                <string>{33,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{498,285},{94,92}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_skill3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{232,272}}</string>
                <key>offset</key>
                <string>{-36,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{360,284},{232,272}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_skill3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,938},{82,94}}</string>
                <key>offset</key>
                <string>{-155,-103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{316,440},{82,94}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_skill3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{106,38}}</string>
                <key>offset</key>
                <string>{-209,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{250,390},{106,38}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_skill3_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,696},{106,38}}</string>
                <key>offset</key>
                <string>{-209,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{250,390},{106,38}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_skill3_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{348,108}}</string>
                <key>offset</key>
                <string>{-88,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,320},{348,108}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_skill3_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,914},{80,98}}</string>
                <key>offset</key>
                <string>{17,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{489,237},{80,98}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_skill3_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,762},{80,98}}</string>
                <key>offset</key>
                <string>{17,98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{489,237},{80,98}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_skill3_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{294,136}}</string>
                <key>offset</key>
                <string>{-90,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{275,237},{294,136}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_skill3_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,782},{206,130}}</string>
                <key>offset</key>
                <string>{-46,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{363,237},{206,130}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_skill3_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,88},{160,112}}</string>
                <key>offset</key>
                <string>{-17,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{415,295},{160,112}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_skill3_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,762},{76,146}}</string>
                <key>offset</key>
                <string>{-33,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{441,296},{76,146}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_skill3_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,112},{52,146}}</string>
                <key>offset</key>
                <string>{-65,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{421,293},{52,146}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_skill3_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,338},{194,142}}</string>
                <key>offset</key>
                <string>{-110,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{305,278},{194,142}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_skill3_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,628},{216,132}}</string>
                <key>offset</key>
                <string>{-120,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{284,273},{216,132}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill3_0.pvr</string>
            <key>size</key>
            <string>{472,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:76af15cad333d46da2a9e22892fc8c69:1/1$</string>
            <key>textureFileName</key>
            <string>skill3_0.pvr</string>
        </dict>
    </dict>
</plist>
