<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_ck_weapon_3_sprint_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{94,100}}</string>
                <key>offset</key>
                <string>{-48,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{417,394},{94,100}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_sprint_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,108},{96,100}}</string>
                <key>offset</key>
                <string>{-48,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{416,389},{96,100}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_sprint_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,112},{94,98}}</string>
                <key>offset</key>
                <string>{-47,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{418,386},{94,98}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_sprint_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,104},{96,100}}</string>
                <key>offset</key>
                <string>{-47,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{417,380},{96,100}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_sprint_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,2},{96,100}}</string>
                <key>offset</key>
                <string>{-49,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{415,378},{96,100}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_sprint_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,112},{94,102}}</string>
                <key>offset</key>
                <string>{-51,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{414,384},{94,102}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_sprint_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,112},{88,96}}</string>
                <key>offset</key>
                <string>{-49,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{419,388},{88,96}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_sprint_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{92,108}}</string>
                <key>offset</key>
                <string>{-49,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{417,384},{92,108}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_sprint_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{92,108}}</string>
                <key>offset</key>
                <string>{-46,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{420,379},{92,108}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_sprint_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,110}}</string>
                <key>offset</key>
                <string>{-45,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{420,375},{94,110}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_sprint_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{94,108}}</string>
                <key>offset</key>
                <string>{-45,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{420,376},{94,108}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_sprint_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{96,104}}</string>
                <key>offset</key>
                <string>{-47,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{417,384},{96,104}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sprint_0.pvr</string>
            <key>size</key>
            <string>{578,217}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:af2ae7f5e9021e8f9769c3f316965fb6:1/1$</string>
            <key>textureFileName</key>
            <string>sprint_0.pvr</string>
        </dict>
    </dict>
</plist>
