<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_ck_weapon_3_up_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,158},{116,82}}</string>
                <key>offset</key>
                <string>{-180,-144}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{274,487},{116,82}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_up_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,124},{108,56}}</string>
                <key>offset</key>
                <string>{-177,-157}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{281,513},{108,56}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_up_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{120,68}}</string>
                <key>offset</key>
                <string>{-165,-146}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{287,496},{120,68}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_up_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,138},{132,102}}</string>
                <key>offset</key>
                <string>{-141,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{305,432},{132,102}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_up_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{134,128}}</string>
                <key>offset</key>
                <string>{-98,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{347,391},{134,128}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_up_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{70,154}}</string>
                <key>offset</key>
                <string>{-70,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{407,368},{70,154}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_up_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,154}}</string>
                <key>offset</key>
                <string>{-61,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{385,366},{132,154}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_ck_weapon_3_up_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{124,154}}</string>
                <key>offset</key>
                <string>{-68,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{382,360},{124,154}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>up_0.pvr</string>
            <key>size</key>
            <string>{468,242}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c004d083b93af2c6d787be4fcb3a9e60:1/1$</string>
            <key>textureFileName</key>
            <string>up_0.pvr</string>
        </dict>
    </dict>
</plist>
