<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_zgl_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,816},{104,162}}</string>
                <key>offset</key>
                <string>{11,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{471,343},{104,162}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zgl_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,652},{106,162}}</string>
                <key>offset</key>
                <string>{11,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{470,343},{106,162}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zgl_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{110,160}}</string>
                <key>offset</key>
                <string>{11,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{468,345},{110,160}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zgl_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{110,160}}</string>
                <key>offset</key>
                <string>{11,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{468,345},{110,160}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zgl_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,160}}</string>
                <key>offset</key>
                <string>{10,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{467,345},{110,160}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zgl_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,488},{106,162}}</string>
                <key>offset</key>
                <string>{11,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{470,343},{106,162}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>idle_0.pvr</string>
            <key>size</key>
            <string>{114,980}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:91b59de68fb87e3941881e621966a67f:1/1$</string>
            <key>textureFileName</key>
            <string>idle_0.pvr</string>
        </dict>
    </dict>
</plist>
