<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_zgl_skill2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,486},{122,158}}</string>
                <key>offset</key>
                <string>{19,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{470,347},{122,158}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zgl_skill2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,494},{128,152}}</string>
                <key>offset</key>
                <string>{23,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{471,353},{128,152}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zgl_skill2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,2},{126,152}}</string>
                <key>offset</key>
                <string>{22,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{471,353},{126,152}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zgl_skill2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,490},{132,154}}</string>
                <key>offset</key>
                <string>{24,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{470,352},{132,154}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zgl_skill2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,130},{146,166}}</string>
                <key>offset</key>
                <string>{26,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{465,339},{146,166}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zgl_skill2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{112,244}}</string>
                <key>offset</key>
                <string>{23,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{479,261},{112,244}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zgl_skill2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,250},{132,242}}</string>
                <key>offset</key>
                <string>{26,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{472,263},{132,242}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zgl_skill2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,244},{132,240}}</string>
                <key>offset</key>
                <string>{25,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{471,265},{132,240}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zgl_skill2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,246},{118,242}}</string>
                <key>offset</key>
                <string>{24,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{477,263},{118,242}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zgl_skill2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{118,242}}</string>
                <key>offset</key>
                <string>{20,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{473,263},{118,242}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zgl_skill2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{136,240}}</string>
                <key>offset</key>
                <string>{29,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{473,265},{136,240}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zgl_skill2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{132,234}}</string>
                <key>offset</key>
                <string>{20,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{466,271},{132,234}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zgl_skill2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,2},{132,228}}</string>
                <key>offset</key>
                <string>{14,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{460,276},{132,228}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zgl_skill2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,232},{132,226}}</string>
                <key>offset</key>
                <string>{10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{456,277},{132,226}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zgl_skill2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,238},{142,232}}</string>
                <key>offset</key>
                <string>{16,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{457,271},{142,232}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zgl_skill2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,246}}</string>
                <key>offset</key>
                <string>{16,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{458,259},{140,246}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zgl_skill2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,496},{146,172}}</string>
                <key>offset</key>
                <string>{31,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{470,338},{146,172}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zgl_skill2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,2},{144,164}}</string>
                <key>offset</key>
                <string>{31,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{471,346},{144,164}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zgl_skill2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,472},{128,168}}</string>
                <key>offset</key>
                <string>{25,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{473,345},{128,168}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zgl_skill2_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,298},{130,172}}</string>
                <key>offset</key>
                <string>{25,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{472,346},{130,172}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zgl_skill2_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,460},{132,172}}</string>
                <key>offset</key>
                <string>{25,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{471,348},{132,172}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zgl_skill2_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,472},{136,172}}</string>
                <key>offset</key>
                <string>{26,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{470,349},{136,172}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill2_0.pvr</string>
            <key>size</key>
            <string>{990,648}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:188bd77b1035233c01a5c2b6de845065:1/1$</string>
            <key>textureFileName</key>
            <string>skill2_0.pvr</string>
        </dict>
    </dict>
</plist>
