<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_normal_027_hurt_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,2},{122,184}}</string>
                <key>offset</key>
                <string>{22,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{473,281},{122,184}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_027_hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,2},{120,182}}</string>
                <key>offset</key>
                <string>{32,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{484,285},{120,182}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_027_hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{128,188}}</string>
                <key>offset</key>
                <string>{16,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{464,276},{128,188}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_027_hurt_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,2},{138,192}}</string>
                <key>offset</key>
                <string>{-2,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{441,269},{138,192}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_027_hurt_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{138,188}}</string>
                <key>offset</key>
                <string>{2,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{445,273},{138,188}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_027_hurt_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{132,186}}</string>
                <key>offset</key>
                <string>{12,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{458,277},{132,186}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_027_hurt_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{124,184}}</string>
                <key>offset</key>
                <string>{23,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{473,281},{124,184}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hurt_0.pvr</string>
            <key>size</key>
            <string>{972,192}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f3a3fbddd9c0ef537d925161af626dd:1/1$</string>
            <key>textureFileName</key>
            <string>hurt_0.pvr</string>
        </dict>
    </dict>
</plist>
