<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_normal_015_away_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{224,152}}</string>
                <key>offset</key>
                <string>{-74,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{326,383},{224,152}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_015_away_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{268,162}}</string>
                <key>offset</key>
                <string>{-79,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{299,368},{268,162}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>away_0.pvr</string>
            <key>size</key>
            <string>{498,166}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6247a72a75e7d07a81b2dd08881d4070:1/1$</string>
            <key>textureFileName</key>
            <string>away_0.pvr</string>
        </dict>
    </dict>
</plist>
