<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baojibuff_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{88,58}}</string>
                <key>offset</key>
                <string>{-1,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,171},{88,58}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>baojibuff_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{86,58}}</string>
                <key>offset</key>
                <string>{1,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,172},{86,58}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>baojibuff_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,62},{84,62}}</string>
                <key>offset</key>
                <string>{2,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,167},{84,62}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>baojibuff_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,62},{88,60}}</string>
                <key>offset</key>
                <string>{1,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,170},{88,60}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>baojibuff_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{88,58}}</string>
                <key>offset</key>
                <string>{-1,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,171},{88,58}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>baojibuff_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{88,58}}</string>
                <key>offset</key>
                <string>{-1,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,171},{88,58}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>baojibuff_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{86,58}}</string>
                <key>offset</key>
                <string>{1,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,172},{86,58}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>baojibuff_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,62},{86,62}}</string>
                <key>offset</key>
                <string>{1,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,168},{86,62}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>baojibuff_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,62},{88,60}}</string>
                <key>offset</key>
                <string>{0,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,170},{88,60}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>baojibuff_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,58}}</string>
                <key>offset</key>
                <string>{-1,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,171},{88,58}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>baojibuff_0.pvr</string>
            <key>size</key>
            <string>{448,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:91a040a45754fb38969e0ade2b293b6d:1/1$</string>
            <key>textureFileName</key>
            <string>baojibuff_0.pvr</string>
        </dict>
    </dict>
</plist>
