<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fushangbuff_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,2},{88,68}}</string>
                <key>offset</key>
                <string>{-1,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,161},{88,68}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>fushangbuff_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{86,68}}</string>
                <key>offset</key>
                <string>{1,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,162},{86,68}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>fushangbuff_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,66}}</string>
                <key>offset</key>
                <string>{2,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,163},{84,66}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>fushangbuff_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{88,68}}</string>
                <key>offset</key>
                <string>{1,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,162},{88,68}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>fushangbuff_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{88,68}}</string>
                <key>offset</key>
                <string>{-1,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,161},{88,68}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>fushangbuff_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{88,66}}</string>
                <key>offset</key>
                <string>{-1,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,163},{88,66}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>fushangbuff_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{86,68}}</string>
                <key>offset</key>
                <string>{1,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,162},{86,68}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>fushangbuff_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,2},{86,70}}</string>
                <key>offset</key>
                <string>{1,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,160},{86,70}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>fushangbuff_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,2},{88,70}}</string>
                <key>offset</key>
                <string>{0,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,160},{88,70}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>fushangbuff_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{88,66}}</string>
                <key>offset</key>
                <string>{-1,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,163},{88,66}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fushangbuff_0.pvr</string>
            <key>size</key>
            <string>{892,74}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:94dd95c4f286075c86e00a8bf47f5eca:1/1$</string>
            <key>textureFileName</key>
            <string>fushangbuff_0.pvr</string>
        </dict>
    </dict>
</plist>
