<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gongjibuff_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{88,70}}</string>
                <key>offset</key>
                <string>{-1,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,159},{88,70}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>gongjibuff_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{86,70}}</string>
                <key>offset</key>
                <string>{1,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,160},{86,70}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>gongjibuff_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{84,68}}</string>
                <key>offset</key>
                <string>{2,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,161},{84,68}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>gongjibuff_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{88,68}}</string>
                <key>offset</key>
                <string>{1,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,162},{88,68}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>gongjibuff_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{88,68}}</string>
                <key>offset</key>
                <string>{-1,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,163},{88,68}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>gongjibuff_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{88,70}}</string>
                <key>offset</key>
                <string>{-1,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,163},{88,70}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>gongjibuff_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,2},{86,70}}</string>
                <key>offset</key>
                <string>{1,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,162},{86,70}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>gongjibuff_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,2},{86,70}}</string>
                <key>offset</key>
                <string>{1,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,162},{86,70}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>gongjibuff_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{88,66}}</string>
                <key>offset</key>
                <string>{0,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,164},{88,66}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>gongjibuff_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,66}}</string>
                <key>offset</key>
                <string>{-1,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,163},{88,66}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gongjibuff_0.pvr</string>
            <key>size</key>
            <string>{892,74}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7d0fd09e7b7955ebf9419c62006e7c57:1/1$</string>
            <key>textureFileName</key>
            <string>gongjibuff_0.pvr</string>
        </dict>
    </dict>
</plist>
