<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mianshangbuff_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{88,82}}</string>
                <key>offset</key>
                <string>{-1,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,147},{88,82}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>mianshangbuff_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{86,82}}</string>
                <key>offset</key>
                <string>{1,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,148},{86,82}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>mianshangbuff_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{84,82}}</string>
                <key>offset</key>
                <string>{2,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,147},{84,82}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>mianshangbuff_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{88,82}}</string>
                <key>offset</key>
                <string>{1,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,148},{88,82}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>mianshangbuff_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,78}}</string>
                <key>offset</key>
                <string>{-1,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,151},{88,78}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>mianshangbuff_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{88,80}}</string>
                <key>offset</key>
                <string>{-1,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,149},{88,80}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>mianshangbuff_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,2},{86,84}}</string>
                <key>offset</key>
                <string>{1,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,146},{86,84}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>mianshangbuff_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,2},{86,86}}</string>
                <key>offset</key>
                <string>{1,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,144},{86,86}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>mianshangbuff_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,2},{88,86}}</string>
                <key>offset</key>
                <string>{0,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,144},{88,86}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>mianshangbuff_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,2},{88,84}}</string>
                <key>offset</key>
                <string>{-1,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,145},{88,84}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mianshangbuff_0.pvr</string>
            <key>size</key>
            <string>{892,90}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca00d09906a902a76c8e16c6729268f9:1/1$</string>
            <key>textureFileName</key>
            <string>mianshangbuff_0.pvr</string>
        </dict>
    </dict>
</plist>
