<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shanbibuff_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,2},{88,72}}</string>
                <key>offset</key>
                <string>{-1,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,162},{88,72}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>shanbibuff_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{86,70}}</string>
                <key>offset</key>
                <string>{1,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,163},{86,70}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>shanbibuff_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{84,66}}</string>
                <key>offset</key>
                <string>{2,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,165},{84,66}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>shanbibuff_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{88,66}}</string>
                <key>offset</key>
                <string>{1,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,164},{88,66}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>shanbibuff_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,2},{88,70}}</string>
                <key>offset</key>
                <string>{-1,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,163},{88,70}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>shanbibuff_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,2},{88,72}}</string>
                <key>offset</key>
                <string>{-1,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,162},{88,72}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>shanbibuff_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{86,72}}</string>
                <key>offset</key>
                <string>{1,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,162},{86,72}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>shanbibuff_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{86,68}}</string>
                <key>offset</key>
                <string>{1,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,163},{86,68}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>shanbibuff_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,64}}</string>
                <key>offset</key>
                <string>{0,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,166},{88,64}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>shanbibuff_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,2},{88,70}}</string>
                <key>offset</key>
                <string>{-1,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,163},{88,70}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shanbibuff_0.pvr</string>
            <key>size</key>
            <string>{892,76}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4365720ca59701cfbaf72fd306c35fc9:1/1$</string>
            <key>textureFileName</key>
            <string>shanbibuff_0.pvr</string>
        </dict>
    </dict>
</plist>
