<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sudubuff_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,2},{102,72}}</string>
                <key>offset</key>
                <string>{-8,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,161},{102,72}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>sudubuff_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,2},{112,74}}</string>
                <key>offset</key>
                <string>{-12,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,160},{112,74}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>sudubuff_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,2},{84,76}}</string>
                <key>offset</key>
                <string>{2,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,160},{84,76}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>sudubuff_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,2},{92,74}}</string>
                <key>offset</key>
                <string>{-1,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,162},{92,74}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>sudubuff_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,2},{92,74}}</string>
                <key>offset</key>
                <string>{-3,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,162},{92,74}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>sudubuff_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{100,72}}</string>
                <key>offset</key>
                <string>{-7,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,164},{100,72}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>sudubuff_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{102,72}}</string>
                <key>offset</key>
                <string>{-7,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,164},{102,72}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>sudubuff_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,68}}</string>
                <key>offset</key>
                <string>{-7,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,165},{102,68}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>sudubuff_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{94,70}}</string>
                <key>offset</key>
                <string>{-1,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,163},{94,70}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>sudubuff_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{100,70}}</string>
                <key>offset</key>
                <string>{-5,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,163},{100,70}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sudubuff_0.pvr</string>
            <key>size</key>
            <string>{1002,80}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd50f0e2142fd375f9b53cc3b56496a4:1/1$</string>
            <key>textureFileName</key>
            <string>sudubuff_0.pvr</string>
        </dict>
    </dict>
</plist>
