<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_furen_down_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{306,262}}</string>
                <key>offset</key>
                <string>{-34,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{325,239},{306,262}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_furen_down_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{290,252}}</string>
                <key>offset</key>
                <string>{-57,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{310,311},{290,252}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_furen_down_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,2},{308,234}}</string>
                <key>offset</key>
                <string>{-72,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{286,354},{308,234}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_furen_down_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,294},{314,172}}</string>
                <key>offset</key>
                <string>{-70,-98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{285,396},{314,172}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_furen_down_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{318,166}}</string>
                <key>offset</key>
                <string>{-71,-120}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{282,421},{318,166}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_furen_down_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,2},{320,122}}</string>
                <key>offset</key>
                <string>{-75,-121}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{277,444},{320,122}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_furen_down_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,324},{318,118}}</string>
                <key>offset</key>
                <string>{-76,-123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{277,448},{318,118}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>down_0.pvr</string>
            <key>size</key>
            <string>{958,478}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8b554f3d4d7c42db8ae869bfe7462236:1/1$</string>
            <key>textureFileName</key>
            <string>down_0.pvr</string>
        </dict>
    </dict>
</plist>
