<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_furen_idle_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{270,296}}</string>
                <key>offset</key>
                <string>{23,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{400,209},{270,296}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_furen_idle_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{272,294}}</string>
                <key>offset</key>
                <string>{25,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{401,211},{272,294}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>idle_1.pvr</string>
            <key>size</key>
            <string>{548,300}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9afe63cc1a65c6c23318299a415a9f5c:1/1$</string>
            <key>textureFileName</key>
            <string>idle_1.pvr</string>
        </dict>
    </dict>
</plist>
