<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_furen_run_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{166,306}}</string>
                <key>offset</key>
                <string>{9,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{438,201},{166,306}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_furen_run_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,310},{156,304}}</string>
                <key>offset</key>
                <string>{8,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{442,201},{156,304}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_furen_run_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,2},{142,300}}</string>
                <key>offset</key>
                <string>{7,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{448,202},{142,300}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_furen_run_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{140,306}}</string>
                <key>offset</key>
                <string>{2,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{444,203},{140,306}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_furen_run_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,310},{156,300}}</string>
                <key>offset</key>
                <string>{14,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{448,203},{156,300}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_furen_run_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,2},{134,306}}</string>
                <key>offset</key>
                <string>{4,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{449,201},{134,306}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_furen_run_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,2},{130,306}}</string>
                <key>offset</key>
                <string>{1,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{448,198},{130,306}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_furen_run_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{140,306}}</string>
                <key>offset</key>
                <string>{0,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{442,195},{140,306}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_furen_run_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{146,316}}</string>
                <key>offset</key>
                <string>{0,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{439,195},{146,316}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_furen_run_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{156,306}}</string>
                <key>offset</key>
                <string>{4,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{438,197},{156,306}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>run_0.pvr</string>
            <key>size</key>
            <string>{1014,478}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6dd3940fd1e8d1975b1b4db69a8b0352:1/1$</string>
            <key>textureFileName</key>
            <string>run_0.pvr</string>
        </dict>
    </dict>
</plist>
