<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_furen_skill1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{326,292}}</string>
                <key>offset</key>
                <string>{105,202}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{454,36},{326,292}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_furen_skill1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,2},{326,284}}</string>
                <key>offset</key>
                <string>{82,214}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{431,28},{326,284}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_furen_skill1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,288},{290,268}}</string>
                <key>offset</key>
                <string>{47,233}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{414,17},{290,268}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_furen_skill1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{372,246}}</string>
                <key>offset</key>
                <string>{67,235}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{393,26},{372,246}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_furen_skill1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,296},{364,238}}</string>
                <key>offset</key>
                <string>{51,242}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{381,23},{364,238}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_furen_skill1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,536},{274,254}}</string>
                <key>offset</key>
                <string>{8,257}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{383,0},{274,254}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_furen_skill1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,558},{266,196}}</string>
                <key>offset</key>
                <string>{30,213}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{409,73},{266,196}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_furen_skill1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,558},{230,240}}</string>
                <key>offset</key>
                <string>{20,209}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{417,55},{230,240}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_furen_skill1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{272,366}}</string>
                <key>offset</key>
                <string>{43,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{419,133},{272,366}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill1_1.pvr</string>
            <key>size</key>
            <string>{956,826}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a455d41016b32bcdca490078d8e1f96a:1/1$</string>
            <key>textureFileName</key>
            <string>skill1_1.pvr</string>
        </dict>
    </dict>
</plist>
