<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_furen_skill1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{288,286}}</string>
                <key>offset</key>
                <string>{66,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{434,214},{288,286}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_furen_skill1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,530},{292,286}}</string>
                <key>offset</key>
                <string>{55,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{421,227},{292,286}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_furen_skill1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{356,278}}</string>
                <key>offset</key>
                <string>{107,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{441,276},{356,278}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_furen_skill1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{334,246}}</string>
                <key>offset</key>
                <string>{142,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{487,295},{334,246}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_furen_skill1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,548},{316,232}}</string>
                <key>offset</key>
                <string>{132,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{486,302},{316,232}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_furen_skill1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,2},{288,230}}</string>
                <key>offset</key>
                <string>{117,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{485,303},{288,230}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_furen_skill1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,550},{268,252}}</string>
                <key>offset</key>
                <string>{89,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{467,308},{268,252}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_furen_skill1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,292},{256,250}}</string>
                <key>offset</key>
                <string>{76,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{460,307},{256,250}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_furen_skill1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,290},{290,256}}</string>
                <key>offset</key>
                <string>{95,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{462,288},{290,256}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill1_2.pvr</string>
            <key>size</key>
            <string>{882,821}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c2ce0e3fcc6fde26dfd2d27eee949089:1/1$</string>
            <key>textureFileName</key>
            <string>skill1_2.pvr</string>
        </dict>
    </dict>
</plist>
