<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_furen_skill2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,194},{358,204}}</string>
                <key>offset</key>
                <string>{194,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{527,288},{358,204}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_furen_skill2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,400},{334,206}}</string>
                <key>offset</key>
                <string>{181,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{526,290},{334,206}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_furen_skill2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,400},{304,214}}</string>
                <key>offset</key>
                <string>{166,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{526,282},{304,214}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_furen_skill2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,616},{308,242}}</string>
                <key>offset</key>
                <string>{169,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{527,256},{308,242}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_furen_skill2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{198,300}}</string>
                <key>offset</key>
                <string>{115,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{528,248},{198,300}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_furen_skill2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,608},{234,324}}</string>
                <key>offset</key>
                <string>{69,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{464,206},{234,324}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_furen_skill2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{262,166}}</string>
                <key>offset</key>
                <string>{47,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{428,280},{262,166}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_furen_skill2_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{360,178}}</string>
                <key>offset</key>
                <string>{68,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{400,277},{360,178}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_furen_skill2_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{364,204}}</string>
                <key>offset</key>
                <string>{83,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{413,263},{364,204}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_furen_skill2_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{268,232}}</string>
                <key>offset</key>
                <string>{0,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{378,237},{268,232}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_furen_skill2_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,182},{242,212}}</string>
                <key>offset</key>
                <string>{69,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{460,254},{242,212}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_furen_skill2_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,2},{190,310}}</string>
                <key>offset</key>
                <string>{11,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{428,179},{190,310}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill2_1.pvr</string>
            <key>size</key>
            <string>{1010,860}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e9ae07433c802e1e3436dd72b026321:1/1$</string>
            <key>textureFileName</key>
            <string>skill2_1.pvr</string>
        </dict>
    </dict>
</plist>
