<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_normal_023_down_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,130}}</string>
                <key>offset</key>
                <string>{-12,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{445,307},{110,130}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_023_down_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{144,56}}</string>
                <key>offset</key>
                <string>{-34,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{406,387},{144,56}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_023_down_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,82},{160,38}}</string>
                <key>offset</key>
                <string>{-42,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{390,409},{160,38}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_023_down_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,60},{158,40}}</string>
                <key>offset</key>
                <string>{-41,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{392,406},{158,40}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_023_down_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,42},{160,38}}</string>
                <key>offset</key>
                <string>{-42,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{390,409},{160,38}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_normal_023_down_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{162,38}}</string>
                <key>offset</key>
                <string>{-43,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{388,410},{162,38}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>down_0.pvr</string>
            <key>size</key>
            <string>{456,122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dc3e7a272f76297b2e67497a637be6da:1/1$</string>
            <key>textureFileName</key>
            <string>down_0.pvr</string>
        </dict>
    </dict>
</plist>
