<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc_cb2_fx_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,456},{300,114}}</string>
                <key>offset</key>
                <string>{-7,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,157},{300,114}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>npc_cb2_fx_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{298,114}}</string>
                <key>offset</key>
                <string>{-7,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,157},{298,114}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>npc_cb2_fx_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,226},{298,112}}</string>
                <key>offset</key>
                <string>{-7,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,157},{298,112}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>npc_cb2_fx_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,114},{298,112}}</string>
                <key>offset</key>
                <string>{-7,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,157},{298,112}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>npc_cb2_fx_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,340},{298,114}}</string>
                <key>offset</key>
                <string>{-6,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,156},{298,114}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>npc_cb2_fx_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,340},{300,114}}</string>
                <key>offset</key>
                <string>{-7,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,156},{300,114}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>npc_cb2_fx_idle_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,110}}</string>
                <key>offset</key>
                <string>{-7,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,158},{300,110}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>npc_cb2_fx_idle_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{302,110}}</string>
                <key>offset</key>
                <string>{-6,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,158},{302,110}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>npc_cb2_fx_idle_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,114},{302,110}}</string>
                <key>offset</key>
                <string>{-6,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,158},{302,110}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>npc_cb2_fx_idle_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{302,110}}</string>
                <key>offset</key>
                <string>{-6,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,158},{302,110}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>npc_cb2_fx_idle_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,2},{302,110}}</string>
                <key>offset</key>
                <string>{-6,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,158},{302,110}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>npc_cb2_fx_idle_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,456},{302,114}}</string>
                <key>offset</key>
                <string>{-6,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,158},{302,114}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>npc_cb2_fx_idle_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{302,110}}</string>
                <key>offset</key>
                <string>{-6,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,159},{302,110}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>npc_cb2_fx_idle_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,228},{304,110}}</string>
                <key>offset</key>
                <string>{-7,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,159},{304,110}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>npc_cb2_fx_idle_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{300,112}}</string>
                <key>offset</key>
                <string>{-7,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,158},{300,112}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>idle_0.pvr</string>
            <key>size</key>
            <string>{912,572}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4af1495c23d4c2644cb493bbfab6314f:1/1$</string>
            <key>textureFileName</key>
            <string>idle_0.pvr</string>
        </dict>
    </dict>
</plist>
