<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_caocao_fx_skill2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{274,290}}</string>
                <key>offset</key>
                <string>{119,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,24},{274,290}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_caocao_fx_skill2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,492},{278,280}}</string>
                <key>offset</key>
                <string>{117,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,34},{278,280}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_caocao_fx_skill2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,498},{292,294}}</string>
                <key>offset</key>
                <string>{110,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,20},{292,294}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_caocao_fx_skill2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,240},{256,258}}</string>
                <key>offset</key>
                <string>{128,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{256,56},{256,258}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_caocao_fx_skill2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,240},{250,264}}</string>
                <key>offset</key>
                <string>{131,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{262,49},{250,264}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_caocao_fx_skill2_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{236,258}}</string>
                <key>offset</key>
                <string>{138,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{276,49},{236,258}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_caocao_fx_skill2_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{204,238}}</string>
                <key>offset</key>
                <string>{125,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{279,9},{204,238}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_caocao_fx_skill2_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{234,300}}</string>
                <key>offset</key>
                <string>{102,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,9},{234,300}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_caocao_fx_skill2_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{360,246}}</string>
                <key>offset</key>
                <string>{15,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,64},{360,246}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill2_1.pvr</string>
            <key>size</key>
            <string>{890,792}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:685f92adbfa4ff7effa7a15766a23316:1/1$</string>
            <key>textureFileName</key>
            <string>skill2_1.pvr</string>
        </dict>
    </dict>
</plist>
