<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_zs_weapon_3_atk3_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{190,104}}</string>
                <key>offset</key>
                <string>{-70,-97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{347,429},{190,104}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_3_atk3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,82},{260,36}}</string>
                <key>offset</key>
                <string>{141,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{523,438},{260,36}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_3_atk3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{270,78}}</string>
                <key>offset</key>
                <string>{57,-116}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{434,461},{270,78}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_3_atk3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{122,218}}</string>
                <key>offset</key>
                <string>{-78,-118}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{373,393},{122,218}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atk3_0.pvr</string>
            <key>size</key>
            <string>{686,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae0942997b2857a7de724dee12fe6458:1/1$</string>
            <key>textureFileName</key>
            <string>atk3_0.pvr</string>
        </dict>
    </dict>
</plist>
