<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_zs_weapon_3_down_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{282,38}}</string>
                <key>offset</key>
                <string>{-72,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{299,453},{282,38}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_3_down_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,78},{280,32}}</string>
                <key>offset</key>
                <string>{-80,-185}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{292,553},{280,32}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_3_down_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,42},{280,34}}</string>
                <key>offset</key>
                <string>{-80,-197}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{292,564},{280,34}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_3_down_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{278,42}}</string>
                <key>offset</key>
                <string>{-79,-196}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{294,559},{278,42}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_3_down_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{278,54}}</string>
                <key>offset</key>
                <string>{-76,-197}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{297,554},{278,54}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>down_0.pvr</string>
            <key>size</key>
            <string>{566,112}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bba23ba14068b5162206f44b0028e6c4:1/1$</string>
            <key>textureFileName</key>
            <string>down_0.pvr</string>
        </dict>
    </dict>
</plist>
