<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_zs_weapon_3_run_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{182,200}}</string>
                <key>offset</key>
                <string>{-95,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{326,346},{182,200}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_3_run_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{176,208}}</string>
                <key>offset</key>
                <string>{-94,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{330,336},{176,208}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_3_run_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{170,214}}</string>
                <key>offset</key>
                <string>{-94,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{333,331},{170,214}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_3_run_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{168,214}}</string>
                <key>offset</key>
                <string>{-95,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{333,334},{168,214}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_3_run_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,218},{170,210}}</string>
                <key>offset</key>
                <string>{-96,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{331,340},{170,210}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_3_run_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,212},{176,202}}</string>
                <key>offset</key>
                <string>{-95,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{329,334},{176,202}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_3_run_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,2},{180,196}}</string>
                <key>offset</key>
                <string>{-94,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{328,332},{180,196}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_3_run_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,204},{182,198}}</string>
                <key>offset</key>
                <string>{-95,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{326,336},{182,198}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>run_0.pvr</string>
            <key>size</key>
            <string>{732,434}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ce4e3edf964d3a9c3d0c26e747b051a7:1/1$</string>
            <key>textureFileName</key>
            <string>run_0.pvr</string>
        </dict>
    </dict>
</plist>
