<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_zs_weapon_3_skill1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,52},{80,118}}</string>
                <key>offset</key>
                <string>{-145,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{327,402},{80,118}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_3_skill1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,172},{274,38}}</string>
                <key>offset</key>
                <string>{60,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{435,439},{274,38}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_3_skill1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{204,164}}</string>
                <key>offset</key>
                <string>{-127,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{283,340},{204,164}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_3_skill1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,52},{104,118}}</string>
                <key>offset</key>
                <string>{-97,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{363,275},{104,118}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_3_skill1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{206,62}}</string>
                <key>offset</key>
                <string>{11,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{420,335},{206,62}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_3_skill1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{210,134}}</string>
                <key>offset</key>
                <string>{-2,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{405,360},{210,134}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_3_skill1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,102},{58,208}}</string>
                <key>offset</key>
                <string>{-83,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{400,336},{58,208}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_3_skill1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{212,94}}</string>
                <key>offset</key>
                <string>{-103,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{303,333},{212,94}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_3_skill1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,2},{258,48}}</string>
                <key>offset</key>
                <string>{78,-167}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{461,527},{258,48}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_3_skill1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,52},{256,48}}</string>
                <key>offset</key>
                <string>{79,-167}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{463,527},{256,48}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_3_skill1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,2},{256,48}}</string>
                <key>offset</key>
                <string>{79,-167}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{463,527},{256,48}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_3_skill1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,172},{246,44}}</string>
                <key>offset</key>
                <string>{72,-167}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{461,529},{246,44}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill1_0.pvr</string>
            <key>size</key>
            <string>{988,218}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:745c2949ad7b0e8b98c472999a0528d4:1/1$</string>
            <key>textureFileName</key>
            <string>skill1_0.pvr</string>
        </dict>
    </dict>
</plist>
