<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_zs_weapon_3_skill3_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{272,52}}</string>
                <key>offset</key>
                <string>{-141,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,386},{272,52}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_3_skill3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{192,78}}</string>
                <key>offset</key>
                <string>{-126,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{290,381},{192,78}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_3_skill3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,2},{22,68}}</string>
                <key>offset</key>
                <string>{-79,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{422,402},{22,68}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_3_skill3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,82},{172,80}}</string>
                <key>offset</key>
                <string>{-19,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{407,382},{172,80}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_3_skill3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{268,58}}</string>
                <key>offset</key>
                <string>{7,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{385,385},{268,58}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_3_skill3_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{250,50}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{385,372},{250,50}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_3_skill3_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,82},{144,56}}</string>
                <key>offset</key>
                <string>{-29,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{411,360},{144,56}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_3_skill3_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,164},{18,58}}</string>
                <key>offset</key>
                <string>{-63,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{440,358},{18,58}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_3_skill3_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,164},{156,50}}</string>
                <key>offset</key>
                <string>{-97,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{337,363},{156,50}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_3_skill3_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{256,46}}</string>
                <key>offset</key>
                <string>{-129,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,376},{256,46}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill3_0.pvr</string>
            <key>size</key>
            <string>{508,228}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a3abbafa8700968edc97f05ebceaf6b:1/1$</string>
            <key>textureFileName</key>
            <string>skill3_0.pvr</string>
        </dict>
    </dict>
</plist>
