<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_zs_weapon_3_skill5_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{100,258}}</string>
                <key>offset</key>
                <string>{-107,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{355,330},{100,258}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_3_skill5_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{246,130}}</string>
                <key>offset</key>
                <string>{-146,-121}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,440},{246,130}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_3_skill5_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,676},{212,194}}</string>
                <key>offset</key>
                <string>{-90,-140}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{316,427},{212,194}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_3_skill5_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,592},{82,218}}</string>
                <key>offset</key>
                <string>{13,-98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{484,373},{82,218}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_3_skill5_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{252,46}}</string>
                <key>offset</key>
                <string>{31,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{417,355},{252,46}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_3_skill5_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{114,220}}</string>
                <key>offset</key>
                <string>{-97,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{358,254},{114,220}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_3_skill5_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{242,100}}</string>
                <key>offset</key>
                <string>{-124,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{267,421},{242,100}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_3_skill5_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,616},{138,216}}</string>
                <key>offset</key>
                <string>{-53,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{390,328},{138,216}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_3_skill5_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{248,92}}</string>
                <key>offset</key>
                <string>{-1,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{387,422},{248,92}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_3_skill5_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,260},{238,134}}</string>
                <key>offset</key>
                <string>{27,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{420,345},{238,134}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_3_skill5_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,396},{246,124}}</string>
                <key>offset</key>
                <string>{30,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{419,352},{246,124}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_3_skill5_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,118},{230,140}}</string>
                <key>offset</key>
                <string>{-23,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{374,403},{230,140}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_3_skill5_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{262,52}}</string>
                <key>offset</key>
                <string>{38,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{419,419},{262,52}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_3_skill5_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,522},{236,92}}</string>
                <key>offset</key>
                <string>{-32,-98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{362,436},{236,92}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_3_skill5_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{266,56}}</string>
                <key>offset</key>
                <string>{30,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{409,446},{266,56}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_3_skill5_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,756},{84,78}}</string>
                <key>offset</key>
                <string>{-18,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{452,431},{84,78}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_weapon_3_skill5_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,676},{164,54}}</string>
                <key>offset</key>
                <string>{-62,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{368,448},{164,54}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill5_0.pvr</string>
            <key>size</key>
            <string>{498,872}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2417f05aeeb79438661cb6199dc8f626:1/1$</string>
            <key>textureFileName</key>
            <string>skill5_0.pvr</string>
        </dict>
    </dict>
</plist>
