<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc_shibo_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,640},{316,140}}</string>
                <key>offset</key>
                <string>{-18,-117}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{336,431},{316,140}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>npc_shibo_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,320},{316,138}}</string>
                <key>offset</key>
                <string>{-18,-117}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{336,432},{316,138}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>npc_shibo_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{316,138}}</string>
                <key>offset</key>
                <string>{-18,-117}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{336,432},{316,138}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>npc_shibo_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{318,142}}</string>
                <key>offset</key>
                <string>{-18,-119}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{335,432},{318,142}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>npc_shibo_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{316,142}}</string>
                <key>offset</key>
                <string>{-18,-120}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{336,433},{316,142}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>npc_shibo_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,640},{316,140}}</string>
                <key>offset</key>
                <string>{-18,-118}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{336,432},{316,140}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>idle_0.pvr</string>
            <key>size</key>
            <string>{286,958}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c7df3508e21b2f0c75d9f73c0f894556:1/1$</string>
            <key>textureFileName</key>
            <string>idle_0.pvr</string>
        </dict>
    </dict>
</plist>
