<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc_cb1_idle_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,386},{364,310}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{325,230},{364,310}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>npc_cb1_idle_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,710},{308,306}}</string>
                <key>offset</key>
                <string>{23,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{381,232},{308,306}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>npc_cb1_idle_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,2},{342,310}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{347,230},{342,310}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>npc_cb1_idle_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{338,316}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{351,222},{338,316}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>npc_cb1_idle_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{370,314}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{319,224},{370,314}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>npc_cb1_idle_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,692},{314,310}}</string>
                <key>offset</key>
                <string>{20,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{375,224},{314,310}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>npc_cb1_idle_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{382,314}}</string>
                <key>offset</key>
                <string>{-14,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{307,221},{382,314}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>npc_cb1_idle_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,346},{362,300}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{327,232},{362,300}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>npc_cb1_idle_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,698},{320,298}}</string>
                <key>offset</key>
                <string>{17,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{369,233},{320,298}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>idle_1.pvr</string>
            <key>size</key>
            <string>{1018,1018}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d5b19a7cc9f0503f85ff7a65e107180:1/1$</string>
            <key>textureFileName</key>
            <string>idle_1.pvr</string>
        </dict>
    </dict>
</plist>
