<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc_cb1_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,622},{252,308}}</string>
                <key>offset</key>
                <string>{51,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{437,232},{252,308}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>npc_cb1_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,312},{270,308}}</string>
                <key>offset</key>
                <string>{42,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{419,232},{270,308}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>npc_cb1_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,622},{272,308}}</string>
                <key>offset</key>
                <string>{41,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{417,232},{272,308}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>npc_cb1_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,654},{294,308}}</string>
                <key>offset</key>
                <string>{30,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{395,232},{294,308}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>npc_cb1_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,2},{268,308}}</string>
                <key>offset</key>
                <string>{43,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{421,232},{268,308}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>npc_cb1_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{286,308}}</string>
                <key>offset</key>
                <string>{34,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{403,232},{286,308}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>npc_cb1_idle_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,312},{274,308}}</string>
                <key>offset</key>
                <string>{40,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{415,232},{274,308}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>npc_cb1_idle_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{296,308}}</string>
                <key>offset</key>
                <string>{29,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{393,232},{296,308}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>npc_cb1_idle_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{352,308}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{337,232},{352,308}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>idle_0.pvr</string>
            <key>size</key>
            <string>{876,950}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8299e11253820ddd8aa05c02c1b24920:1/1$</string>
            <key>textureFileName</key>
            <string>idle_0.pvr</string>
        </dict>
    </dict>
</plist>
