<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_zs_fx_atk2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{122,202}}</string>
                <key>offset</key>
                <string>{63,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{258,122},{122,202}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_zs_fx_atk2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,776},{250,230}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,74},{250,230}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_zs_fx_atk2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,596},{224,178}}</string>
                <key>offset</key>
                <string>{13,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,75},{224,178}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_zs_fx_atk2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{204,120}}</string>
                <key>offset</key>
                <string>{14,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,76},{204,120}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_zs_fx_atk2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{128,204}}</string>
                <key>offset</key>
                <string>{-19,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,123},{128,204}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_zs_fx_atk2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{112,186}}</string>
                <key>offset</key>
                <string>{-12,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,124},{112,186}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_zs_fx_atk2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,170}}</string>
                <key>offset</key>
                <string>{-8,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,129},{102,170}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atk2_0.pvr</string>
            <key>size</key>
            <string>{254,1008}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:82bd3888e6136dacdf1b9efc289496b4:1/1$</string>
            <key>textureFileName</key>
            <string>atk2_0.pvr</string>
        </dict>
    </dict>
</plist>
