<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_zs_fx_atk3_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,34},{200,62}}</string>
                <key>offset</key>
                <string>{-27,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,200},{200,62}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_zs_fx_atk3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,34},{334,52}}</string>
                <key>offset</key>
                <string>{49,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,200},{334,52}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_zs_fx_atk3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,52},{346,58}}</string>
                <key>offset</key>
                <string>{62,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,198},{346,58}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_zs_fx_atk3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,2},{314,48}}</string>
                <key>offset</key>
                <string>{85,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,204},{314,48}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_zs_fx_atk3_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{288,28}}</string>
                <key>offset</key>
                <string>{95,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,215},{288,28}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_zs_fx_atk3_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{300,30}}</string>
                <key>offset</key>
                <string>{99,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,214},{300,30}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atk3_0.pvr</string>
            <key>size</key>
            <string>{910,112}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d7249e7d4fff22758fe43abb19902e93:1/1$</string>
            <key>textureFileName</key>
            <string>atk3_0.pvr</string>
        </dict>
    </dict>
</plist>
