<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_zs_fx_runatk_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{176,76}}</string>
                <key>offset</key>
                <string>{-39,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,201},{176,76}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_zs_fx_runatk_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{290,72}}</string>
                <key>offset</key>
                <string>{39,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,195},{290,72}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_zs_fx_runatk_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{296,80}}</string>
                <key>offset</key>
                <string>{72,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,193},{296,80}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_zs_fx_runatk_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,162},{336,90}}</string>
                <key>offset</key>
                <string>{64,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,187},{336,90}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_zs_fx_runatk_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{358,88}}</string>
                <key>offset</key>
                <string>{53,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,188},{358,88}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_zs_fx_runatk_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,80},{366,80}}</string>
                <key>offset</key>
                <string>{34,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,191},{366,80}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>runatk_0.pvr</string>
            <key>size</key>
            <string>{700,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e20f70440c30a17f5777b29dc7ca7c61:1/1$</string>
            <key>textureFileName</key>
            <string>runatk_0.pvr</string>
        </dict>
    </dict>
</plist>
