<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_zs_fx_skill5_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,80}}</string>
                <key>offset</key>
                <string>{-58,-122}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,274},{128,80}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_zs_fx_skill5_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{140,98}}</string>
                <key>offset</key>
                <string>{-28,-109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,252},{140,98}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_zs_fx_skill5_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,252},{160,216}}</string>
                <key>offset</key>
                <string>{36,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,116},{160,216}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_zs_fx_skill5_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,548},{190,180}}</string>
                <key>offset</key>
                <string>{18,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,73},{190,180}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_zs_fx_skill5_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,102},{206,142}}</string>
                <key>offset</key>
                <string>{11,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,75},{206,142}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_zs_fx_skill5_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{202,96}}</string>
                <key>offset</key>
                <string>{22,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,72},{202,96}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_zs_fx_skill5_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{202,172}}</string>
                <key>offset</key>
                <string>{30,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,91},{202,172}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_zs_fx_skill5_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{258,118}}</string>
                <key>offset</key>
                <string>{43,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,151},{258,118}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_zs_fx_skill5_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,120},{238,130}}</string>
                <key>offset</key>
                <string>{31,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,135},{238,130}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_zs_fx_skill5_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,434},{278,164}}</string>
                <key>offset</key>
                <string>{35,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,141},{278,164}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_zs_fx_skill5_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,400},{246,172}}</string>
                <key>offset</key>
                <string>{31,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,127},{246,172}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_zs_fx_skill5_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,574},{254,198}}</string>
                <key>offset</key>
                <string>{33,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,102},{254,198}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_zs_fx_skill5_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,414},{226,172}}</string>
                <key>offset</key>
                <string>{30,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,127},{226,172}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_zs_fx_skill5_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,600},{286,194}}</string>
                <key>offset</key>
                <string>{36,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,101},{286,194}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_zs_fx_skill5_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{250,152}}</string>
                <key>offset</key>
                <string>{6,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,137},{250,152}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_zs_fx_skill5_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,264},{254,168}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,110},{254,168}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_zs_fx_skill5_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,2},{232,128}}</string>
                <key>offset</key>
                <string>{46,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,134},{232,128}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_zs_fx_skill5_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,132},{232,130}}</string>
                <key>offset</key>
                <string>{38,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,116},{232,130}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_zs_fx_skill5_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,2},{236,116}}</string>
                <key>offset</key>
                <string>{47,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,141},{236,116}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_zs_fx_skill5_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,246},{210,152}}</string>
                <key>offset</key>
                <string>{32,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,107},{210,152}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill5_0.pvr</string>
            <key>size</key>
            <string>{962,806}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:51f6e8cdbcd21ab73fd4f273c2e5b532:1/1$</string>
            <key>textureFileName</key>
            <string>skill5_0.pvr</string>
        </dict>
    </dict>
</plist>
