<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_zs_fx_skill2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{266,308}}</string>
                <key>offset</key>
                <string>{-3,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{120,21},{266,308}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_zs_fx_skill2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,2},{292,262}}</string>
                <key>offset</key>
                <string>{-6,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,44},{292,262}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_zs_fx_skill2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{296,252}}</string>
                <key>offset</key>
                <string>{-8,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,43},{296,252}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_zs_fx_skill2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{242,272}}</string>
                <key>offset</key>
                <string>{-26,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,51},{242,272}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_zs_fx_skill2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,296},{344,360}}</string>
                <key>offset</key>
                <string>{40,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{124,0},{344,360}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_zs_fx_skill2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,642},{362,356}}</string>
                <key>offset</key>
                <string>{43,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,0},{362,356}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_zs_fx_skill2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,642},{376,370}}</string>
                <key>offset</key>
                <string>{39,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,0},{376,370}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill2_1.pvr</string>
            <key>size</key>
            <string>{838,1014}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f4eca2b548a6641a4f7e43abcbd5041f:1/1$</string>
            <key>textureFileName</key>
            <string>skill2_1.pvr</string>
        </dict>
    </dict>
</plist>
