<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_zs_fx_skill6_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,332},{394,348}}</string>
                <key>offset</key>
                <string>{-40,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,7},{394,348}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_zs_fx_skill6_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{394,332}}</string>
                <key>offset</key>
                <string>{-41,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,24},{394,332}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_zs_fx_skill6_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,2},{396,328}}</string>
                <key>offset</key>
                <string>{-39,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,27},{396,328}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_zs_fx_skill6_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{394,312}}</string>
                <key>offset</key>
                <string>{-41,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,43},{394,312}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill6_3.pvr</string>
            <key>size</key>
            <string>{796,682}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6fecd7581c131b03f2a79e849d560e6d:1/1$</string>
            <key>textureFileName</key>
            <string>skill6_3.pvr</string>
        </dict>
    </dict>
</plist>
