<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_zs_fx_skill4_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{384,200}}</string>
                <key>offset</key>
                <string>{39,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,155},{384,200}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_zs_fx_skill4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{412,208}}</string>
                <key>offset</key>
                <string>{33,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,142},{412,208}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_zs_fx_skill4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{406,218}}</string>
                <key>offset</key>
                <string>{33,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,133},{406,218}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_zs_fx_skill4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,212},{386,254}}</string>
                <key>offset</key>
                <string>{36,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,102},{386,254}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_zs_fx_skill4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,468},{414,254}}</string>
                <key>offset</key>
                <string>{36,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,99},{414,254}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_zs_fx_skill4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{404,256}}</string>
                <key>offset</key>
                <string>{34,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,97},{404,256}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_zs_fx_skill4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,690},{386,256}}</string>
                <key>offset</key>
                <string>{30,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,100},{386,256}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_zs_fx_skill4_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,724},{412,256}}</string>
                <key>offset</key>
                <string>{37,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,100},{412,256}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill4_0.pvr</string>
            <key>size</key>
            <string>{824,982}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:53e10595a141b51a8d10bbfd22946341:1/1$</string>
            <key>textureFileName</key>
            <string>skill4_0.pvr</string>
        </dict>
    </dict>
</plist>
