<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_zs_fx_skill1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,174}}</string>
                <key>offset</key>
                <string>{-106,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,144},{300,174}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_zs_fx_skill1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{398,250}}</string>
                <key>offset</key>
                <string>{-20,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,107},{398,250}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_zs_fx_skill1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{428,256}}</string>
                <key>offset</key>
                <string>{-20,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,105},{428,256}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_zs_fx_skill1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,254},{424,264}}</string>
                <key>offset</key>
                <string>{-4,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,101},{424,264}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_zs_fx_skill1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,2},{414,270}}</string>
                <key>offset</key>
                <string>{16,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,99},{414,270}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_zs_fx_skill1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,418},{436,278}}</string>
                <key>offset</key>
                <string>{20,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,95},{436,278}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_zs_fx_skill1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{422,278}}</string>
                <key>offset</key>
                <string>{35,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,95},{422,278}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill1_0.pvr</string>
            <key>size</key>
            <string>{978,856}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b192e52603bc1f595b8a0349044a457e:1/1$</string>
            <key>textureFileName</key>
            <string>skill1_0.pvr</string>
        </dict>
    </dict>
</plist>
