<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_zs_fx_skill2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,326},{374,384}}</string>
                <key>offset</key>
                <string>{41,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{110,0},{374,384}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_zs_fx_skill2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{348,364}}</string>
                <key>offset</key>
                <string>{9,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,0},{348,364}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_zs_fx_skill2_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{322,330}}</string>
                <key>offset</key>
                <string>{21,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,0},{322,330}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_zs_fx_skill2_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{188,242}}</string>
                <key>offset</key>
                <string>{87,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,85},{188,242}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_zs_fx_skill2_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,78}}</string>
                <key>offset</key>
                <string>{-19,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,204},{116,78}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>role_zs_fx_skill2_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{110,140}}</string>
                <key>offset</key>
                <string>{-53,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,193},{110,140}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill2_2.pvr</string>
            <key>size</key>
            <string>{838,702}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:194c5e13bd9f1c4f2b03c4449e144ecb:1/1$</string>
            <key>textureFileName</key>
            <string>skill2_2.pvr</string>
        </dict>
    </dict>
</plist>
