<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_pet12_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,98}}</string>
                <key>offset</key>
                <string>{-1,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{376,336},{46,98}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet12_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{44,96}}</string>
                <key>offset</key>
                <string>{-2,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{376,337},{44,96}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet12_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{46,94}}</string>
                <key>offset</key>
                <string>{-4,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{373,339},{46,94}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet12_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{44,94}}</string>
                <key>offset</key>
                <string>{-3,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{375,341},{44,94}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet12_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{44,96}}</string>
                <key>offset</key>
                <string>{-3,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{375,341},{44,96}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet12_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,686},{42,96}}</string>
                <key>offset</key>
                <string>{-1,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{378,342},{42,96}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet12_idle_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,588},{42,96}}</string>
                <key>offset</key>
                <string>{-1,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{378,340},{42,96}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet12_idle_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{42,96}}</string>
                <key>offset</key>
                <string>{0,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{379,338},{42,96}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>idle_0.pvr</string>
            <key>size</key>
            <string>{50,784}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c7b232eddf5e7cd69d2e9935c6e3d0fa:1/1$</string>
            <key>textureFileName</key>
            <string>idle_0.pvr</string>
        </dict>
    </dict>
</plist>
