<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_pet12_skill1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{46,98}}</string>
                <key>offset</key>
                <string>{-1,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{376,336},{46,98}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet12_skill1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{44,92}}</string>
                <key>offset</key>
                <string>{2,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{380,343},{44,92}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet12_skill1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,528},{44,76}}</string>
                <key>offset</key>
                <string>{-7,-92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{371,354},{44,76}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet12_skill1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{46,84}}</string>
                <key>offset</key>
                <string>{-10,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{367,343},{46,84}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet12_skill1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{48,74}}</string>
                <key>offset</key>
                <string>{-6,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{370,349},{48,74}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet12_skill1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,74}}</string>
                <key>offset</key>
                <string>{-12,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{364,348},{48,74}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet12_skill1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{46,92}}</string>
                <key>offset</key>
                <string>{-2,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{375,340},{46,92}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill1_0.pvr</string>
            <key>size</key>
            <string>{52,606}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:36ea99aec6d3d69b3c7a745f3623d8d2:1/1$</string>
            <key>textureFileName</key>
            <string>skill1_0.pvr</string>
        </dict>
    </dict>
</plist>
