<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_heishui_away_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{150,212}}</string>
                <key>offset</key>
                <string>{-1,-85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{436,363},{150,212}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_heishui_away_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{162,238}}</string>
                <key>offset</key>
                <string>{-6,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{425,333},{162,238}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>away_0.pvr</string>
            <key>size</key>
            <string>{456,166}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:881c0fd71233e42e71e053ad70d766ea:1/1$</string>
            <key>textureFileName</key>
            <string>away_0.pvr</string>
        </dict>
    </dict>
</plist>
