<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_heishui_skill2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,222},{168,212}}</string>
                <key>offset</key>
                <string>{-3,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{425,367},{168,212}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_heishui_skill2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,618},{146,230}}</string>
                <key>offset</key>
                <string>{-6,-79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{433,348},{146,230}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_heishui_skill2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,406},{134,240}}</string>
                <key>offset</key>
                <string>{-10,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{435,337},{134,240}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_heishui_skill2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,452},{134,246}}</string>
                <key>offset</key>
                <string>{-10,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{435,330},{134,246}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_heishui_skill2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,700},{138,250}}</string>
                <key>offset</key>
                <string>{-7,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{436,326},{138,250}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_heishui_skill2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,440},{160,248}}</string>
                <key>offset</key>
                <string>{-10,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{422,328},{160,248}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_heishui_skill2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{178,246}}</string>
                <key>offset</key>
                <string>{-13,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{410,331},{178,246}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_heishui_skill2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,700},{136,230}}</string>
                <key>offset</key>
                <string>{-10,-81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{434,350},{136,230}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_heishui_skill2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,2},{218,218}}</string>
                <key>offset</key>
                <string>{16,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{419,363},{218,218}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_heishui_skill2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{232,206}}</string>
                <key>offset</key>
                <string>{10,-95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{406,376},{232,206}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_heishui_skill2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{254,198}}</string>
                <key>offset</key>
                <string>{16,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{401,385},{254,198}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_heishui_skill2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,210},{222,194}}</string>
                <key>offset</key>
                <string>{-3,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{398,389},{222,194}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_heishui_skill2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,600},{174,196}}</string>
                <key>offset</key>
                <string>{-24,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{401,387},{174,196}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_heishui_skill2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,436},{180,200}}</string>
                <key>offset</key>
                <string>{-16,-98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{406,382},{180,200}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_heishui_skill2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,388},{186,210}}</string>
                <key>offset</key>
                <string>{-16,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{403,370},{186,210}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_heishui_skill2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{200,242}}</string>
                <key>offset</key>
                <string>{-25,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{387,334},{200,242}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_heishui_skill2_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{198,248}}</string>
                <key>offset</key>
                <string>{-26,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{387,327},{198,248}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_heishui_skill2_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,204},{186,234}}</string>
                <key>offset</key>
                <string>{-19,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{400,342},{186,234}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_heishui_skill2_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,222},{164,218}}</string>
                <key>offset</key>
                <string>{-1,-85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{429,360},{164,218}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill2_0.pvr</string>
            <key>size</key>
            <string>{1024,840}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d929d1a6f53041e15756d299025f5f09:1/1$</string>
            <key>textureFileName</key>
            <string>skill2_0.pvr</string>
        </dict>
    </dict>
</plist>
