<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_pet08_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{60,70}}</string>
                <key>offset</key>
                <string>{-1,-109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{369,374},{60,70}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet08_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{62,70}}</string>
                <key>offset</key>
                <string>{-2,-109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{367,374},{62,70}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet08_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{62,70}}</string>
                <key>offset</key>
                <string>{-3,-109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{366,374},{62,70}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet08_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{62,70}}</string>
                <key>offset</key>
                <string>{-4,-109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{365,374},{62,70}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet08_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{62,70}}</string>
                <key>offset</key>
                <string>{-4,-109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{365,374},{62,70}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet08_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{62,70}}</string>
                <key>offset</key>
                <string>{-3,-109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{366,374},{62,70}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet08_idle_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,70}}</string>
                <key>offset</key>
                <string>{-2,-109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{367,374},{62,70}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet08_idle_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{60,70}}</string>
                <key>offset</key>
                <string>{-1,-109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{369,374},{60,70}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>idle_0.pvr</string>
            <key>size</key>
            <string>{510,74}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b09e4c260ff4d6913d6eef12c1fbbc12:1/1$</string>
            <key>textureFileName</key>
            <string>idle_0.pvr</string>
        </dict>
    </dict>
</plist>
