<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_pet08_run_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,576},{46,68}}</string>
                <key>offset</key>
                <string>{7,-104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{384,370},{46,68}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet08_run_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{46,70}}</string>
                <key>offset</key>
                <string>{7,-110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{384,375},{46,70}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet08_run_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{48,68}}</string>
                <key>offset</key>
                <string>{8,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{384,378},{48,68}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet08_run_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{48,70}}</string>
                <key>offset</key>
                <string>{9,-110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{385,375},{48,70}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet08_run_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{48,70}}</string>
                <key>offset</key>
                <string>{9,-107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{385,372},{48,70}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet08_run_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{46,70}}</string>
                <key>offset</key>
                <string>{7,-104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{384,369},{46,70}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet08_run_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{46,70}}</string>
                <key>offset</key>
                <string>{8,-109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{385,374},{46,70}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet08_run_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{48,70}}</string>
                <key>offset</key>
                <string>{9,-110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{385,375},{48,70}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet08_run_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,70}}</string>
                <key>offset</key>
                <string>{10,-108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{386,373},{48,70}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>run_0.pvr</string>
            <key>size</key>
            <string>{52,646}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c8f073170a56b12b8c8684f1b892ab2e:1/1$</string>
            <key>textureFileName</key>
            <string>run_0.pvr</string>
        </dict>
    </dict>
</plist>
