<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>paoljf5522.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{486,420}}</string>
                <key>offset</key>
                <string>{16,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,30},{486,420}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>paoljf5523.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{486,420}}</string>
                <key>offset</key>
                <string>{16,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,30},{486,420}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>paoljf5524.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{486,420}}</string>
                <key>offset</key>
                <string>{16,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,30},{486,420}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>paoljf5525.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{488,442}}</string>
                <key>offset</key>
                <string>{18,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,8},{488,442}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>paoljf5526.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{488,442}}</string>
                <key>offset</key>
                <string>{18,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,8},{488,442}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>paoljf5527.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{488,442}}</string>
                <key>offset</key>
                <string>{18,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,8},{488,442}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_paolijf_c.png</string>
            <key>size</key>
            <string>{492,868}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:30514b49f79b59eec4aa2018b9bd2804:1/1$</string>
            <key>textureFileName</key>
            <string>Role_paolijf_c.png</string>
        </dict>
    </dict>
</plist>
