<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>paoljf5521.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{416,364}}</string>
                <key>offset</key>
                <string>{38,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,79},{416,364}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>paoljf5522.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{416,364}}</string>
                <key>offset</key>
                <string>{38,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,79},{416,364}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>paoljf5523.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{416,364}}</string>
                <key>offset</key>
                <string>{38,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,79},{416,364}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>paoljf5524.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{416,364}}</string>
                <key>offset</key>
                <string>{38,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,79},{416,364}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>paoljf5525.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{416,364}}</string>
                <key>offset</key>
                <string>{38,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,79},{416,364}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>paoljf5526.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{410,382}}</string>
                <key>offset</key>
                <string>{43,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,61},{410,382}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>paoljf5527.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{410,382}}</string>
                <key>offset</key>
                <string>{43,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,61},{410,382}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>paoljf5528.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{410,382}}</string>
                <key>offset</key>
                <string>{43,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,61},{410,382}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>paoljf5529.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{410,382}}</string>
                <key>offset</key>
                <string>{43,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,61},{410,382}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
            <key>paoljf5530.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{410,382}}</string>
                <key>offset</key>
                <string>{43,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,61},{410,382}}</string>
                <key>sourceSize</key>
                <string>{600,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role_paolijf_b.png</string>
            <key>size</key>
            <string>{420,752}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d85f8de9f9dd1f91d6c65d0737280cb9:1/1$</string>
            <key>textureFileName</key>
            <string>Role_paolijf_b.png</string>
        </dict>
    </dict>
</plist>
