<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_pet02_skill1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{70,50}}</string>
                <key>offset</key>
                <string>{7,-105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{372,380},{70,50}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet02_skill1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,50},{68,46}}</string>
                <key>offset</key>
                <string>{9,-107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{375,384},{68,46}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet02_skill1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,64}}</string>
                <key>offset</key>
                <string>{8,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{373,347},{70,64}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet02_skill1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,54},{36,44}}</string>
                <key>offset</key>
                <string>{3,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{385,344},{36,44}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet02_skill1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,46},{28,40}}</string>
                <key>offset</key>
                <string>{0,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{386,334},{28,40}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet02_skill1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,54},{38,42}}</string>
                <key>offset</key>
                <string>{5,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{386,330},{38,42}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet02_skill1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{32,42}}</string>
                <key>offset</key>
                <string>{5,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{389,336},{32,42}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet02_skill1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{40,30}}</string>
                <key>offset</key>
                <string>{-1,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{379,387},{40,30}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet02_skill1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{68,46}}</string>
                <key>offset</key>
                <string>{8,-107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{374,384},{68,46}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill1_0.pvr</string>
            <key>size</key>
            <string>{252,100}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:61e4ab9747ee7f00ee26dd621ca2643f:1/1$</string>
            <key>textureFileName</key>
            <string>skill1_0.pvr</string>
        </dict>
    </dict>
</plist>
