<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fnpc021_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,242},{170,238}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{437,265},{170,238}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc021_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{170,238}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{436,265},{170,238}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc021_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,242},{170,238}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{435,265},{170,238}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc021_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{170,238}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{434,265},{170,238}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc021_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{170,236}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{434,267},{170,236}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc021_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,240},{172,236}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{433,267},{172,236}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc021_idle_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,240},{174,236}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{433,267},{174,236}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc021_idle_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{174,236}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{434,267},{174,236}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc021_idle_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,2},{172,236}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{436,267},{172,236}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc021_idle_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{172,238}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{436,265},{172,238}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>idle_0.pvr</string>
            <key>size</key>
            <string>{870,482}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f7c762d1a6d8da368f35091f180c407:1/1$</string>
            <key>textureFileName</key>
            <string>idle_0.pvr</string>
        </dict>
    </dict>
</plist>
