<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fnpc014_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,236},{254,234}}</string>
                <key>offset</key>
                <string>{55,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{440,275},{254,234}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc014_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,240},{254,234}}</string>
                <key>offset</key>
                <string>{56,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{441,275},{254,234}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc014_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,472},{254,232}}</string>
                <key>offset</key>
                <string>{57,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{442,277},{254,232}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc014_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,258},{252,230}}</string>
                <key>offset</key>
                <string>{58,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{444,279},{252,230}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc014_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,2},{254,230}}</string>
                <key>offset</key>
                <string>{55,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{440,279},{254,230}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc014_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{256,230}}</string>
                <key>offset</key>
                <string>{52,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{436,279},{256,230}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc014_idle_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,2},{258,232}}</string>
                <key>offset</key>
                <string>{50,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{433,277},{258,232}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc014_idle_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{258,234}}</string>
                <key>offset</key>
                <string>{49,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{432,275},{258,234}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc014_idle_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{258,234}}</string>
                <key>offset</key>
                <string>{51,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{434,275},{258,234}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Fnpc014_idle_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{256,236}}</string>
                <key>offset</key>
                <string>{53,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{437,273},{256,236}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>idle_0.pvr</string>
            <key>size</key>
            <string>{1012,706}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e16b47cfcd3aabf69c7fa2c0ecfe82ac:1/1$</string>
            <key>textureFileName</key>
            <string>idle_0.pvr</string>
        </dict>
    </dict>
</plist>
