<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_normal_019_atk1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,124},{72,120}}</string>
                <key>offset</key>
                <string>{-7,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,160},{72,120}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_019_atk1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{88,120}}</string>
                <key>offset</key>
                <string>{-2,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,160},{88,120}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_019_atk1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,852},{122,120}}</string>
                <key>offset</key>
                <string>{-5,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,160},{122,120}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_019_atk1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,474},{148,118}}</string>
                <key>offset</key>
                <string>{-7,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,162},{148,118}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_019_atk1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,624},{148,112}}</string>
                <key>offset</key>
                <string>{-7,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,160},{148,112}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_019_atk1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,842},{156,130}}</string>
                <key>offset</key>
                <string>{-4,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,158},{156,130}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_019_atk1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,852},{148,130}}</string>
                <key>offset</key>
                <string>{29,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,159},{148,130}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_019_atk1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,774},{176,130}}</string>
                <key>offset</key>
                <string>{44,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,160},{176,130}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_019_atk1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,708},{218,142}}</string>
                <key>offset</key>
                <string>{64,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,160},{218,142}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_019_atk1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,680},{226,160}}</string>
                <key>offset</key>
                <string>{80,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,154},{226,160}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_019_atk1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{236,202}}</string>
                <key>offset</key>
                <string>{85,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,116},{236,202}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_019_atk1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{238,232}}</string>
                <key>offset</key>
                <string>{87,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,87},{238,232}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_019_atk1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,238},{238,234}}</string>
                <key>offset</key>
                <string>{87,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,85},{238,234}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_019_atk1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{240,234}}</string>
                <key>offset</key>
                <string>{86,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,86},{240,234}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_019_atk1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{240,238}}</string>
                <key>offset</key>
                <string>{85,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,82},{240,238}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_019_atk1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,474},{232,232}}</string>
                <key>offset</key>
                <string>{85,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,88},{232,232}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atk1_0.pvr</string>
            <key>size</key>
            <string>{596,984}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f9e06c8fd6bb596acd920aeec7d1d9cb:1/1$</string>
            <key>textureFileName</key>
            <string>atk1_0.pvr</string>
        </dict>
    </dict>
</plist>
