<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_normal_019_hurt_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{60,108}}</string>
                <key>offset</key>
                <string>{-1,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,161},{60,108}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_019_hurt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{68,100}}</string>
                <key>offset</key>
                <string>{-40,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,160},{68,100}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_019_hurt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{70,98}}</string>
                <key>offset</key>
                <string>{-43,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,160},{70,98}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_019_hurt_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{74,98}}</string>
                <key>offset</key>
                <string>{-48,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,158},{74,98}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_019_hurt_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{76,96}}</string>
                <key>offset</key>
                <string>{-45,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,158},{76,96}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_019_hurt_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,112}}</string>
                <key>offset</key>
                <string>{-25,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,155},{64,112}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_normal_019_hurt_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{62,110}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,159},{62,110}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hurt_0.pvr</string>
            <key>size</key>
            <string>{490,116}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b57ae41d428140df175b25225b6834e3:1/1$</string>
            <key>textureFileName</key>
            <string>hurt_0.pvr</string>
        </dict>
    </dict>
</plist>
