<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_menghuo_fx_skill2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,64}}</string>
                <key>offset</key>
                <string>{-59,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,77},{112,64}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_menghuo_fx_skill2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{210,166}}</string>
                <key>offset</key>
                <string>{-11,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,79},{210,166}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_menghuo_fx_skill2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{130,150}}</string>
                <key>offset</key>
                <string>{36,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,121},{130,150}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_menghuo_fx_skill2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,2},{172,138}}</string>
                <key>offset</key>
                <string>{-33,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,120},{172,138}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_menghuo_fx_skill2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{196,142}}</string>
                <key>offset</key>
                <string>{20,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,167},{196,142}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_menghuo_fx_skill2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{268,196}}</string>
                <key>offset</key>
                <string>{19,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,126},{268,196}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_menghuo_fx_skill2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,334},{324,218}}</string>
                <key>offset</key>
                <string>{16,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,107},{324,218}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_menghuo_fx_skill2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,334},{346,228}}</string>
                <key>offset</key>
                <string>{14,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,143},{346,228}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_menghuo_fx_skill2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,134},{346,174}}</string>
                <key>offset</key>
                <string>{14,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,152},{346,174}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_menghuo_fx_skill2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,146},{324,186}}</string>
                <key>offset</key>
                <string>{11,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,137},{324,186}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_menghuo_fx_skill2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{310,130}}</string>
                <key>offset</key>
                <string>{1,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,192},{310,130}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill2_0.pvr</string>
            <key>size</key>
            <string>{952,564}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:455e60df514c55defe0eb6338ba51db4:1/1$</string>
            <key>textureFileName</key>
            <string>skill2_0.pvr</string>
        </dict>
    </dict>
</plist>
