<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_menghuo_fx_skill1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{194,174}}</string>
                <key>offset</key>
                <string>{-85,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,117},{194,174}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_menghuo_fx_skill1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{212,178}}</string>
                <key>offset</key>
                <string>{-93,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,113},{212,178}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_menghuo_fx_skill1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{204,202}}</string>
                <key>offset</key>
                <string>{-95,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,90},{204,202}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_menghuo_fx_skill1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{204,210}}</string>
                <key>offset</key>
                <string>{-94,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,80},{204,210}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_menghuo_fx_skill1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,206},{204,218}}</string>
                <key>offset</key>
                <string>{-95,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,71},{204,218}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_menghuo_fx_skill1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,206},{204,226}}</string>
                <key>offset</key>
                <string>{-97,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,63},{204,226}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_menghuo_fx_skill1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,2},{202,212}}</string>
                <key>offset</key>
                <string>{-97,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,76},{202,212}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_menghuo_fx_skill1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,206},{218,214}}</string>
                <key>offset</key>
                <string>{-105,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,74},{218,214}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_menghuo_fx_skill1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{264,220}}</string>
                <key>offset</key>
                <string>{-95,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,66},{264,220}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_menghuo_fx_skill1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,412},{282,234}}</string>
                <key>offset</key>
                <string>{-25,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,51},{282,234}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_menghuo_fx_skill1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,660},{350,240}}</string>
                <key>offset</key>
                <string>{2,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,50},{350,240}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_menghuo_fx_skill1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,422},{356,236}}</string>
                <key>offset</key>
                <string>{2,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,53},{356,236}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_menghuo_fx_skill1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,648},{366,236}}</string>
                <key>offset</key>
                <string>{-4,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,55},{366,236}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_menghuo_fx_skill1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,660},{362,238}}</string>
                <key>offset</key>
                <string>{3,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,56},{362,238}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill1_0.pvr</string>
            <key>size</key>
            <string>{976,1012}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee3db60d42d2fd2e37eddade1a386dfa:1/1$</string>
            <key>textureFileName</key>
            <string>skill1_0.pvr</string>
        </dict>
    </dict>
</plist>
