<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_menghuo_fx_skill1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{446,270}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,50},{446,270}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_menghuo_fx_skill1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{390,268}}</string>
                <key>offset</key>
                <string>{25,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,49},{390,268}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill1_2.pvr</string>
            <key>size</key>
            <string>{842,274}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:96e8730021d32cd340704880656ffd8f:1/1$</string>
            <key>textureFileName</key>
            <string>skill1_2.pvr</string>
        </dict>
    </dict>
</plist>
