<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_zj_run_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,620},{348,318}}</string>
                <key>offset</key>
                <string>{2,47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{340,178},{348,318}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zj_run_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,306},{330,320}}</string>
                <key>offset</key>
                <string>{17,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{364,176},{330,320}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zj_run_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{316,322}}</string>
                <key>offset</key>
                <string>{29,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{383,174},{316,322}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zj_run_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,2},{302,330}}</string>
                <key>offset</key>
                <string>{33,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{394,168},{302,330}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zj_run_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{296,334}}</string>
                <key>offset</key>
                <string>{31,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{395,165},{296,334}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zj_run_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{300,338}}</string>
                <key>offset</key>
                <string>{24,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{386,161},{300,338}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zj_run_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,306},{312,354}}</string>
                <key>offset</key>
                <string>{15,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{371,144},{312,354}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zj_run_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,628},{342,392}}</string>
                <key>offset</key>
                <string>{13,84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{354,104},{342,392}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>run_1.pvr</string>
            <key>size</key>
            <string>{1014,972}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a2d5b1648194817e5b6a12310b2a0390:1/1$</string>
            <key>textureFileName</key>
            <string>run_1.pvr</string>
        </dict>
    </dict>
</plist>
