<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_zj_skill2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,274},{284,304}}</string>
                <key>offset</key>
                <string>{6,75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{376,157},{284,304}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zj_skill2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,2},{270,334}}</string>
                <key>offset</key>
                <string>{-14,100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{363,117},{270,334}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zj_skill2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,434},{288,350}}</string>
                <key>offset</key>
                <string>{-19,117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{349,92},{288,350}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zj_skill2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{260,376}}</string>
                <key>offset</key>
                <string>{-36,142}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{346,54},{260,376}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zj_skill2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{236,364}}</string>
                <key>offset</key>
                <string>{-39,140}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{355,62},{236,364}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zj_skill2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,560},{240,292}}</string>
                <key>offset</key>
                <string>{-33,114}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{359,124},{240,292}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zj_skill2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{430,336}}</string>
                <key>offset</key>
                <string>{22,137}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{319,79},{430,336}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill2_0.pvr</string>
            <key>size</key>
            <string>{962,803}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:653208b733979aaf1fb451abca329dc5:1/1$</string>
            <key>textureFileName</key>
            <string>skill2_0.pvr</string>
        </dict>
    </dict>
</plist>
