<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_zj_skill1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{346,284}}</string>
                <key>offset</key>
                <string>{-84,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,169},{346,284}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zj_skill1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{352,286}}</string>
                <key>offset</key>
                <string>{-96,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,170},{352,286}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zj_skill1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,576},{296,288}}</string>
                <key>offset</key>
                <string>{-66,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{298,164},{296,288}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zj_skill1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,2},{280,302}}</string>
                <key>offset</key>
                <string>{-56,86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{316,147},{280,302}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zj_skill1_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,282},{298,318}}</string>
                <key>offset</key>
                <string>{-54,89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{309,136},{298,318}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zj_skill1_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,306},{294,316}}</string>
                <key>offset</key>
                <string>{-42,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{323,143},{294,316}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zj_skill1_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{278,352}}</string>
                <key>offset</key>
                <string>{-27,102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{346,106},{278,352}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_zj_skill1_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,582},{260,358}}</string>
                <key>offset</key>
                <string>{-19,105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{363,100},{260,358}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill1_2.pvr</string>
            <key>size</key>
            <string>{992,866}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:37a66318c3f383b4fd8cba92c299b701:1/1$</string>
            <key>textureFileName</key>
            <string>skill1_2.pvr</string>
        </dict>
    </dict>
</plist>
