<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_zs_body_1_atk2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{172,166}}</string>
                <key>offset</key>
                <string>{-68,-106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{358,407},{172,166}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_body_1_atk2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,2},{124,210}}</string>
                <key>offset</key>
                <string>{-65,-87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{385,366},{124,210}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_body_1_atk2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,2},{114,214}}</string>
                <key>offset</key>
                <string>{-69,-87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{386,364},{114,214}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_body_1_atk2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,138},{120,220}}</string>
                <key>offset</key>
                <string>{-71,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{381,358},{120,220}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_body_1_atk2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,128},{122,212}}</string>
                <key>offset</key>
                <string>{-69,-88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{382,366},{122,212}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_body_1_atk2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{134,206}}</string>
                <key>offset</key>
                <string>{-71,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{374,373},{134,206}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_body_1_atk2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,118},{136,166}}</string>
                <key>offset</key>
                <string>{-72,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{372,413},{136,166}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_body_1_atk2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,200}}</string>
                <key>offset</key>
                <string>{-74,-95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{364,379},{148,200}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_body_1_atk2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,176},{112,216}}</string>
                <key>offset</key>
                <string>{-70,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{386,362},{112,216}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atk2_0.pvr</string>
            <key>size</key>
            <string>{956,290}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f7ad35c7cbf771298b7bb1c527d8cee:1/1$</string>
            <key>textureFileName</key>
            <string>atk2_0.pvr</string>
        </dict>
    </dict>
</plist>
