<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_zs_body_1_atk3_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{204,196}}</string>
                <key>offset</key>
                <string>{-67,-97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{343,383},{204,196}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_body_1_atk3_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,2},{182,184}}</string>
                <key>offset</key>
                <string>{-29,-103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{392,395},{182,184}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_body_1_atk3_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{158,190}}</string>
                <key>offset</key>
                <string>{-47,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{386,389},{158,190}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_body_1_atk3_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,212}}</string>
                <key>offset</key>
                <string>{-64,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{389,367},{118,212}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>atk3_0.pvr</string>
            <key>size</key>
            <string>{664,216}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0168bde11e46dad530be21edbf920034:1/1$</string>
            <key>textureFileName</key>
            <string>atk3_0.pvr</string>
        </dict>
    </dict>
</plist>
