<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_zs_body_1_down_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,280},{180,158}}</string>
                <key>offset</key>
                <string>{-29,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{393,385},{180,158}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_body_1_down_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{208,106}}</string>
                <key>offset</key>
                <string>{-46,-143}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{362,474},{208,106}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_body_1_down_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{216,90}}</string>
                <key>offset</key>
                <string>{-45,-164}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{359,503},{216,90}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_body_1_down_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{208,80}}</string>
                <key>offset</key>
                <string>{-45,-171}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{363,515},{208,80}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_body_1_down_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{212,76}}</string>
                <key>offset</key>
                <string>{-41,-177}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{365,523},{212,76}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>down_0.pvr</string>
            <key>size</key>
            <string>{244,490}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:265c79892f033042b836ef9bf3825909:1/1$</string>
            <key>textureFileName</key>
            <string>down_0.pvr</string>
        </dict>
    </dict>
</plist>
