<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_zs_body_1_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,114},{110,214}}</string>
                <key>offset</key>
                <string>{-69,-81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{388,358},{110,214}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_body_1_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{110,214}}</string>
                <key>offset</key>
                <string>{-69,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{388,358},{110,214}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_body_1_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,216}}</string>
                <key>offset</key>
                <string>{-68,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{390,356},{108,216}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_body_1_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{110,216}}</string>
                <key>offset</key>
                <string>{-69,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{388,356},{110,216}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_body_1_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{110,216}}</string>
                <key>offset</key>
                <string>{-69,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{388,356},{110,216}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_body_1_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,340},{112,216}}</string>
                <key>offset</key>
                <string>{-70,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{386,356},{112,216}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_body_1_idle_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{112,216}}</string>
                <key>offset</key>
                <string>{-70,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{386,356},{112,216}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_body_1_idle_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,218},{112,216}}</string>
                <key>offset</key>
                <string>{-70,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{386,356},{112,216}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_body_1_idle_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,226},{112,216}}</string>
                <key>offset</key>
                <string>{-70,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{386,356},{112,216}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_body_1_idle_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{110,214}}</string>
                <key>offset</key>
                <string>{-69,-81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{388,358},{110,214}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>idle_0.pvr</string>
            <key>size</key>
            <string>{552,454}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a903d133193e6af0067efaf6ea998ef:1/1$</string>
            <key>textureFileName</key>
            <string>idle_0.pvr</string>
        </dict>
    </dict>
</plist>
