<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_zs_body_1_jump_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{132,214}}</string>
                <key>offset</key>
                <string>{-66,-108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{380,385},{132,214}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_body_1_jump_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,222}}</string>
                <key>offset</key>
                <string>{-57,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{392,343},{126,222}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_body_1_jump_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{156,202}}</string>
                <key>offset</key>
                <string>{-58,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{376,311},{156,202}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_body_1_jump_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{154,200}}</string>
                <key>offset</key>
                <string>{-59,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{376,314},{154,200}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jump_0.pvr</string>
            <key>size</key>
            <string>{578,226}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb2e96eda0bb1e690e39933a010748ff:1/1$</string>
            <key>textureFileName</key>
            <string>jump_0.pvr</string>
        </dict>
    </dict>
</plist>
