<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_zs_body_1_run_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{128,196}}</string>
                <key>offset</key>
                <string>{-65,-85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{383,371},{128,196}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_body_1_run_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,384},{118,194}}</string>
                <key>offset</key>
                <string>{-77,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{376,363},{118,194}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_body_1_run_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,190},{158,190}}</string>
                <key>offset</key>
                <string>{-78,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{355,360},{158,190}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_body_1_run_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{182,186}}</string>
                <key>offset</key>
                <string>{-69,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{352,363},{182,186}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_body_1_run_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{136,190}}</string>
                <key>offset</key>
                <string>{-73,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{371,371},{136,190}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_body_1_run_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,194},{150,188}}</string>
                <key>offset</key>
                <string>{-65,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{372,363},{150,188}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_body_1_run_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{170,186}}</string>
                <key>offset</key>
                <string>{-72,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{355,360},{170,186}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_body_1_run_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{182,190}}</string>
                <key>offset</key>
                <string>{-67,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{354,364},{182,190}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>run_0.pvr</string>
            <key>size</key>
            <string>{499,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:995b0a65ef433554de2c0d879933eb69:1/1$</string>
            <key>textureFileName</key>
            <string>run_0.pvr</string>
        </dict>
    </dict>
</plist>
