<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>role_zs_body_1_skill6_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{132,194}}</string>
                <key>offset</key>
                <string>{-77,-92}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{369,379},{132,194}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_body_1_skill6_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,188},{170,200}}</string>
                <key>offset</key>
                <string>{-93,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{334,374},{170,200}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_body_1_skill6_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,358},{1,1}}</string>
                <key>offset</key>
                <string>{-511.5,383.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_body_1_skill6_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,202},{162,220}}</string>
                <key>offset</key>
                <string>{-65,238}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{366,36},{162,220}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_body_1_skill6_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,232},{124,204}}</string>
                <key>offset</key>
                <string>{-52,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{398,366},{124,204}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_body_1_skill6_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{198,234}}</string>
                <key>offset</key>
                <string>{-77,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{336,357},{198,234}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_body_1_skill6_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{206,228}}</string>
                <key>offset</key>
                <string>{-81,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{328,363},{206,228}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_body_1_skill6_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,2},{184,208}}</string>
                <key>offset</key>
                <string>{-70,-108}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{350,388},{184,208}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_body_1_skill6_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,2},{180,202}}</string>
                <key>offset</key>
                <string>{-68,-117}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{354,400},{180,202}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_body_1_skill6_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,184},{166,190}}</string>
                <key>offset</key>
                <string>{-69,-116}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{360,405},{166,190}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>role_zs_body_1_skill6_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,2},{146,174}}</string>
                <key>offset</key>
                <string>{-72,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{367,399},{146,174}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill6_0.pvr</string>
            <key>size</key>
            <string>{1020,366}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:34d2381a15369ecec7872b1758dc2cb7:1/1$</string>
            <key>textureFileName</key>
            <string>skill6_0.pvr</string>
        </dict>
    </dict>
</plist>
