<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_mh_mhhjzs_away_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,250}}</string>
                <key>offset</key>
                <string>{-45,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{411,280},{112,250}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_mh_mhhjzs_away_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{142,238}}</string>
                <key>offset</key>
                <string>{-40,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{401,266},{142,238}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>away_0.pvr</string>
            <key>size</key>
            <string>{260,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc590fd5c96c41eec1867ed96e452e81:1/1$</string>
            <key>textureFileName</key>
            <string>away_0.pvr</string>
        </dict>
    </dict>
</plist>
