<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_mh_mhhjzs_run_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,2},{130,242}}</string>
                <key>offset</key>
                <string>{-55,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{392,300},{130,242}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_mh_mhhjzs_run_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{134,244}}</string>
                <key>offset</key>
                <string>{-53,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{392,297},{134,244}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_mh_mhhjzs_run_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{138,246}}</string>
                <key>offset</key>
                <string>{-51,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{392,295},{138,246}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_mh_mhhjzs_run_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{140,246}}</string>
                <key>offset</key>
                <string>{-50,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{392,294},{140,246}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_mh_mhhjzs_run_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{144,244}}</string>
                <key>offset</key>
                <string>{-51,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{389,296},{144,244}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_mh_mhhjzs_run_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{144,244}}</string>
                <key>offset</key>
                <string>{-53,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{387,299},{144,244}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_mh_mhhjzs_run_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,250},{140,240}}</string>
                <key>offset</key>
                <string>{-54,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{388,301},{140,240}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_mh_mhhjzs_run_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,250},{134,240}}</string>
                <key>offset</key>
                <string>{-55,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{390,299},{134,240}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_mh_mhhjzs_run_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{126,244}}</string>
                <key>offset</key>
                <string>{-56,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{393,298},{126,244}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_mh_mhhjzs_run_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,130},{120,246}}</string>
                <key>offset</key>
                <string>{-60,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{392,296},{120,246}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_mh_mhhjzs_run_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,250},{114,240}}</string>
                <key>offset</key>
                <string>{-62,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{393,295},{114,240}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_mh_mhhjzs_run_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,372},{114,238}}</string>
                <key>offset</key>
                <string>{-62,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{393,297},{114,238}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_mh_mhhjzs_run_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,252},{112,240}}</string>
                <key>offset</key>
                <string>{-64,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{392,300},{112,240}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_mh_mhhjzs_run_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,252},{118,240}}</string>
                <key>offset</key>
                <string>{-62,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{391,302},{118,240}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_mh_mhhjzs_run_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,248},{124,242}}</string>
                <key>offset</key>
                <string>{-58,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{392,300},{124,242}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>run_0.pvr</string>
            <key>size</key>
            <string>{1024,497}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9785eb4d332c4442edfb33bce068932f:1/1$</string>
            <key>textureFileName</key>
            <string>run_0.pvr</string>
        </dict>
    </dict>
</plist>
