<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ch_dafuweng_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{168,88}}</string>
                <key>offset</key>
                <string>{7,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,163},{168,88}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>ch_dafuweng_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,722},{176,84}}</string>
                <key>offset</key>
                <string>{3,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,166},{176,84}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>ch_dafuweng_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,722},{178,84}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,165},{178,84}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>ch_dafuweng_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,546},{174,78}}</string>
                <key>offset</key>
                <string>{3,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,168},{174,78}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>ch_dafuweng_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,546},{174,80}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,167},{174,80}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>ch_dafuweng_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{172,82}}</string>
                <key>offset</key>
                <string>{-1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,168},{172,82}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>ch_dafuweng_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{164,84}}</string>
                <key>offset</key>
                <string>{-4,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,167},{164,84}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>ch_dafuweng_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{170,88}}</string>
                <key>offset</key>
                <string>{-2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,164},{170,88}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>ch_dafuweng_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{172,96}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,156},{172,96}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>ch_dafuweng_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{172,94}}</string>
                <key>offset</key>
                <string>{4,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,158},{172,94}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ch_dafuweng_0.pvr</string>
            <key>size</key>
            <string>{176,902}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c1663e71cfb4f9f738140f39f31acf4:1/1$</string>
            <key>textureFileName</key>
            <string>ch_dafuweng_0.pvr</string>
        </dict>
    </dict>
</plist>
