<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ch_xiaofuweng_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,80},{182,86}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,159},{182,86}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>ch_xiaofuweng_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,78},{178,84}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,160},{178,84}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>ch_xiaofuweng_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,78},{170,78}}</string>
                <key>offset</key>
                <string>{9,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,165},{170,78}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>ch_xiaofuweng_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{180,76}}</string>
                <key>offset</key>
                <string>{4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,164},{180,76}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>ch_xiaofuweng_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{186,74}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,163},{186,74}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>ch_xiaofuweng_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{188,72}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,162},{188,72}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>ch_xiaofuweng_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{188,74}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,163},{188,74}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>ch_xiaofuweng_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,78},{184,76}}</string>
                <key>offset</key>
                <string>{-6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,164},{184,76}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>ch_xiaofuweng_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,2},{176,76}}</string>
                <key>offset</key>
                <string>{-9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,167},{176,76}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>ch_xiaofuweng_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,2},{178,74}}</string>
                <key>offset</key>
                <string>{-7,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,170},{178,74}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ch_xiaofuweng_0.pvr</string>
            <key>size</key>
            <string>{928,168}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8d2c8cf1562faa0df9fd683749b037d5:1/1$</string>
            <key>textureFileName</key>
            <string>ch_xiaofuweng_0.pvr</string>
        </dict>
    </dict>
</plist>
