<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chenghaotexiao_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,2},{260,118}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,130},{260,118}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>chenghaotexiao_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{268,122}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,127},{268,122}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>chenghaotexiao_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,376},{278,128}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,123},{278,128}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>chenghaotexiao_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,508},{288,130}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,121},{288,130}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>chenghaotexiao_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{260,118}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,130},{260,118}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>chenghaotexiao_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,122},{268,122}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,127},{268,122}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>chenghaotexiao_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{278,128}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,123},{278,128}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>chenghaotexiao_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,508},{288,130}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,121},{288,130}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>chenghaotexiao_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{260,118}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,130},{260,118}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>chenghaotexiao_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,122},{268,122}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,127},{268,122}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>chenghaotexiao_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,246},{278,128}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,123},{278,128}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>chenghaotexiao_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{288,130}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,121},{288,130}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>chenghaotexiao_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{268,122}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,127},{268,122}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>chenghaotexiao_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,246},{278,128}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,123},{278,128}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>chenghaotexiao_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,376},{288,130}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,121},{288,130}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chenghaotexiao_0.pvr</string>
            <key>size</key>
            <string>{872,666}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b1d7c2fade1ca3fbdf18dbdb38f769a5:1/1$</string>
            <key>textureFileName</key>
            <string>chenghaotexiao_0.pvr</string>
        </dict>
    </dict>
</plist>
