<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tongyongchenghaolizi_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,68},{182,76}}</string>
                <key>offset</key>
                <string>{2,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,171},{182,76}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>tongyongchenghaolizi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,68},{162,70}}</string>
                <key>offset</key>
                <string>{-6,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,170},{162,70}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>tongyongchenghaolizi_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,66},{160,66}}</string>
                <key>offset</key>
                <string>{-4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,170},{160,66}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>tongyongchenghaolizi_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{176,64}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,171},{176,64}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>tongyongchenghaolizi_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{178,62}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,172},{178,62}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>tongyongchenghaolizi_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,2},{160,64}}</string>
                <key>offset</key>
                <string>{-8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,169},{160,64}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>tongyongchenghaolizi_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{168,64}}</string>
                <key>offset</key>
                <string>{-10,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,167},{168,64}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>tongyongchenghaolizi_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{170,60}}</string>
                <key>offset</key>
                <string>{-8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,171},{170,60}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>tongyongchenghaolizi_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,2},{168,64}}</string>
                <key>offset</key>
                <string>{-8,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,172},{168,64}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>tongyongchenghaolizi_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,68},{182,68}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,172},{182,68}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tongyongchenghaolizi_0.pvr</string>
            <key>size</key>
            <string>{866,146}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:102c68a8b1fcd4c7151947e6a28b97e9:1/1$</string>
            <key>textureFileName</key>
            <string>tongyongchenghaolizi_0.pvr</string>
        </dict>
    </dict>
</plist>
