<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>biaoqing17_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{54,48}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{54,48}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>biaoqing17_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{54,48}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{54,48}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>biaoqing17_0.pvr</string>
            <key>size</key>
            <string>{114,52}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5d58d706c617138061efe4f9060b8229:1/1$</string>
            <key>textureFileName</key>
            <string>biaoqing17_0.pvr</string>
        </dict>
    </dict>
</plist>
