<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_pet09_skill1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{80,88}}</string>
                <key>offset</key>
                <string>{-17,-104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{343,360},{80,88}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet09_skill1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{82,94}}</string>
                <key>offset</key>
                <string>{-17,-105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{342,358},{82,94}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet09_skill1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{84,90}}</string>
                <key>offset</key>
                <string>{-12,-108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{346,363},{84,90}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet09_skill1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,138},{70,84}}</string>
                <key>offset</key>
                <string>{-5,-110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{360,368},{70,84}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet09_skill1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,76},{60,78}}</string>
                <key>offset</key>
                <string>{-4,-111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{366,372},{60,78}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet09_skill1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,92},{58,76}}</string>
                <key>offset</key>
                <string>{-5,-112}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{366,374},{58,76}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet09_skill1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,152},{56,74}}</string>
                <key>offset</key>
                <string>{-9,-113}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{363,376},{56,74}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet09_skill1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{82,72}}</string>
                <key>offset</key>
                <string>{-19,-111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{340,375},{82,72}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill1_0.pvr</string>
            <key>size</key>
            <string>{252,212}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0aac8f216624db696ff9da5ea6924773:1/1$</string>
            <key>textureFileName</key>
            <string>skill1_0.pvr</string>
        </dict>
    </dict>
</plist>
