<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chenghao-zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,28},{69,25}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{69,25}}</string>
                <key>sourceSize</key>
                <string>{71,27}</string>
            </dict>
            <key>cikechanshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,535},{63,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,163}}</string>
                <key>sourceSize</key>
                <string>{63,163}</string>
            </dict>
            <key>createrole_chuangjian_over.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,142},{168,89}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{168,89}}</string>
                <key>sourceSize</key>
                <string>{174,97}</string>
            </dict>
            <key>createrole_chuangjian_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,135},{168,89}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{168,89}}</string>
                <key>sourceSize</key>
                <string>{174,97}</string>
            </dict>
            <key>createrole_fanhui_over.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,115},{101,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,50}}</string>
                <key>sourceSize</key>
                <string>{101,50}</string>
            </dict>
            <key>createrole_fanhui_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,90},{101,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,50}}</string>
                <key>sourceSize</key>
                <string>{101,50}</string>
            </dict>
            <key>createrole_qiangzhan.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,569},{114,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,231}}</string>
                <key>sourceSize</key>
                <string>{114,231}</string>
            </dict>
            <key>createrole_wuren.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,569},{108,231}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{108,231}}</string>
                <key>sourceSize</key>
                <string>{114,231}</string>
            </dict>
            <key>createrole_yushu.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,535},{114,229}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{114,229}}</string>
                <key>sourceSize</key>
                <string>{114,231}</string>
            </dict>
            <key>cwchz.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,29},{100,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{100,25}}</string>
                <key>sourceSize</key>
                <string>{100,27}</string>
            </dict>
            <key>daquzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,120},{133,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{133,62}}</string>
                <key>sourceSize</key>
                <string>{135,64}</string>
            </dict>
            <key>dl-hongdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,89},{253,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,44}}</string>
                <key>sourceSize</key>
                <string>{253,44}</string>
            </dict>
            <key>dzshangd.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,55},{135,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,26}}</string>
                <key>sourceSize</key>
                <string>{135,26}</string>
            </dict>
            <key>fuben_hucheng_over.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,120},{84,72}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{84,72}}</string>
                <key>sourceSize</key>
                <string>{104,86}</string>
            </dict>
            <key>fuben_hucheng_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,120},{84,68}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{84,68}}</string>
                <key>sourceSize</key>
                <string>{104,86}</string>
            </dict>
            <key>gh_baxia.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,83},{65,35}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{65,35}}</string>
                <key>sourceSize</key>
                <string>{79,43}</string>
            </dict>
            <key>gh_pixiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,83},{69,35}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{69,35}}</string>
                <key>sourceSize</key>
                <string>{79,43}</string>
            </dict>
            <key>gh_suanni.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,83},{67,35}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{67,35}}</string>
                <key>sourceSize</key>
                <string>{79,43}</string>
            </dict>
            <key>gh_taotie.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,83},{67,39}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{67,39}}</string>
                <key>sourceSize</key>
                <string>{79,43}</string>
            </dict>
            <key>gh_zhulong.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,83},{67,35}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{67,35}}</string>
                <key>sourceSize</key>
                <string>{79,43}</string>
            </dict>
            <key>gonggao.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,23},{69,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{69,25}}</string>
                <key>sourceSize</key>
                <string>{71,27}</string>
            </dict>
            <key>guajiwancheng.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,335},{356,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,109}}</string>
                <key>sourceSize</key>
                <string>{356,109}</string>
            </dict>
            <key>haoyou-zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,2},{69,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{69,25}}</string>
                <key>sourceSize</key>
                <string>{71,27}</string>
            </dict>
            <key>haoyouqiecuo-zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{133,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{133,24}}</string>
                <key>sourceSize</key>
                <string>{135,26}</string>
            </dict>
            <key>hdzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,20},{60,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{60,25}}</string>
                <key>sourceSize</key>
                <string>{64,27}</string>
            </dict>
            <key>hzch.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{46,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{46,23}}</string>
                <key>sourceSize</key>
                <string>{48,25}</string>
            </dict>
            <key>jijiangkaiqi-icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,56},{103,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,27}}</string>
                <key>sourceSize</key>
                <string>{103,27}</string>
            </dict>
            <key>jijingkaiqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{98,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,19}}</string>
                <key>sourceSize</key>
                <string>{98,19}</string>
            </dict>
            <key>jinruanniu.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,226},{269,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,107}}</string>
                <key>sourceSize</key>
                <string>{269,107}</string>
            </dict>
            <key>kaishishaokao.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,57},{110,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{110,29}}</string>
                <key>sourceSize</key>
                <string>{112,31}</string>
            </dict>
            <key>laot-zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,27},{67,25}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{67,25}}</string>
                <key>sourceSize</key>
                <string>{71,27}</string>
            </dict>
            <key>lingchong-zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,2},{67,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{67,24}}</string>
                <key>sourceSize</key>
                <string>{69,26}</string>
            </dict>
            <key>lingqu.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,57},{69,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,31}}</string>
                <key>sourceSize</key>
                <string>{69,31}</string>
            </dict>
            <key>ptch.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,28},{99,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{99,25}}</string>
                <key>sourceSize</key>
                <string>{101,27}</string>
            </dict>
            <key>qianghua-zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,2},{69,25}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{69,25}}</string>
                <key>sourceSize</key>
                <string>{71,27}</string>
            </dict>
            <key>qiangjie.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,47},{56,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{56,29}}</string>
                <key>sourceSize</key>
                <string>{58,31}</string>
            </dict>
            <key>qiangzhan-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,127},{18,86}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{18,86}}</string>
                <key>sourceSize</key>
                <string>{22,112}</string>
            </dict>
            <key>qiangzhan-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,524},{22,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,190}}</string>
                <key>sourceSize</key>
                <string>{22,190}</string>
            </dict>
            <key>qiangzhan-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,423},{22,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,190}}</string>
                <key>sourceSize</key>
                <string>{22,190}</string>
            </dict>
            <key>qiangzhan-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,334},{22,188}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,188}}</string>
                <key>sourceSize</key>
                <string>{22,190}</string>
            </dict>
            <key>qiangzhan-zhang.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,83},{18,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,42}}</string>
                <key>sourceSize</key>
                <string>{18,42}</string>
            </dict>
            <key>qianw.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,83},{73,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,32}}</string>
                <key>sourceSize</key>
                <string>{73,32}</string>
            </dict>
            <key>qianz.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{46,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{46,24}}</string>
                <key>sourceSize</key>
                <string>{48,26}</string>
            </dict>
            <key>rc-tzfbzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,54},{136,26}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{136,26}}</string>
                <key>sourceSize</key>
                <string>{144,28}</string>
            </dict>
            <key>renwu-cike-hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,289},{269,121}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,121}}</string>
                <key>sourceSize</key>
                <string>{271,121}</string>
            </dict>
            <key>renwu-cike.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,233},{269,121}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,121}}</string>
                <key>sourceSize</key>
                <string>{271,121}</string>
            </dict>
            <key>renwu-fashi-hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{263,121}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,121}}</string>
                <key>sourceSize</key>
                <string>{271,121}</string>
            </dict>
            <key>renwu-fashi.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,356},{263,121}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,121}}</string>
                <key>sourceSize</key>
                <string>{271,121}</string>
            </dict>
            <key>renwu-hui.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,479},{271,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,121}}</string>
                <key>sourceSize</key>
                <string>{271,121}</string>
            </dict>
            <key>renwu-zhanshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,446},{271,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,121}}</string>
                <key>sourceSize</key>
                <string>{271,121}</string>
            </dict>
            <key>rshuxingzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,2},{135,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{135,24}}</string>
                <key>sourceSize</key>
                <string>{135,26}</string>
            </dict>
            <key>rwz-zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,29},{68,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,26}}</string>
                <key>sourceSize</key>
                <string>{68,26}</string>
            </dict>
            <key>selectrole_jinrui_over.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,194},{170,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{170,93}}</string>
                <key>sourceSize</key>
                <string>{174,97}</string>
            </dict>
            <key>selectrole_jinrui_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{170,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{170,93}}</string>
                <key>sourceSize</key>
                <string>{174,97}</string>
            </dict>
            <key>shanchu.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,57},{69,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,30}}</string>
                <key>sourceSize</key>
                <string>{69,30}</string>
            </dict>
            <key>shijiebosszi.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,55},{133,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{133,26}}</string>
                <key>sourceSize</key>
                <string>{135,26}</string>
            </dict>
            <key>shilianfuben_zi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,16}}</string>
                <key>sourceSize</key>
                <string>{60,16}</string>
            </dict>
            <key>te_image.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,46},{36,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,35}}</string>
                <key>sourceSize</key>
                <string>{36,35}</string>
            </dict>
            <key>tuoguan_over.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,124},{100,72}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{100,72}}</string>
                <key>sourceSize</key>
                <string>{104,86}</string>
            </dict>
            <key>tuoguan_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,124},{82,72}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{82,72}}</string>
                <key>sourceSize</key>
                <string>{104,86}</string>
            </dict>
            <key>wuren-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,194},{22,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,112}}</string>
                <key>sourceSize</key>
                <string>{22,112}</string>
            </dict>
            <key>wuren-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,219},{22,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{22,186}}</string>
                <key>sourceSize</key>
                <string>{22,190}</string>
            </dict>
            <key>wuren-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,409},{22,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,190}}</string>
                <key>sourceSize</key>
                <string>{22,190}</string>
            </dict>
            <key>wuren-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,407},{22,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,190}}</string>
                <key>sourceSize</key>
                <string>{22,190}</string>
            </dict>
            <key>wuren-zhang.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,83},{18,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,42}}</string>
                <key>sourceSize</key>
                <string>{18,42}</string>
            </dict>
            <key>xsch.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,28},{98,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{98,25}}</string>
                <key>sourceSize</key>
                <string>{100,27}</string>
            </dict>
            <key>xuanjue-mozi.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,602},{182,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,334}}</string>
                <key>sourceSize</key>
                <string>{182,334}</string>
            </dict>
            <key>yaoqinghaoyoushouhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,2},{127,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,24}}</string>
                <key>sourceSize</key>
                <string>{127,24}</string>
            </dict>
            <key>yaoqinghaoyoushouhuliebiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,28},{184,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{184,25}}</string>
                <key>sourceSize</key>
                <string>{186,27}</string>
            </dict>
            <key>yizbs.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,83},{56,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,39}}</string>
                <key>sourceSize</key>
                <string>{56,39}</string>
            </dict>
            <key>yushu-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,127},{22,90}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,90}}</string>
                <key>sourceSize</key>
                <string>{22,112}</string>
            </dict>
            <key>yushu-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,233},{22,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{22,188}}</string>
                <key>sourceSize</key>
                <string>{22,190}</string>
            </dict>
            <key>yushu-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,219},{22,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{22,188}}</string>
                <key>sourceSize</key>
                <string>{22,190}</string>
            </dict>
            <key>yushu-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,142},{20,190}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,190}}</string>
                <key>sourceSize</key>
                <string>{22,190}</string>
            </dict>
            <key>yushu-zhang.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,2},{18,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,42}}</string>
                <key>sourceSize</key>
                <string>{18,42}</string>
            </dict>
            <key>yushuchanshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,535},{63,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,163}}</string>
                <key>sourceSize</key>
                <string>{63,163}</string>
            </dict>
            <key>zaixianjianglizi.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,55},{135,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,26}}</string>
                <key>sourceSize</key>
                <string>{135,26}</string>
            </dict>
            <key>zbshangdian.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,29},{135,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,26}}</string>
                <key>sourceSize</key>
                <string>{135,26}</string>
            </dict>
            <key>zhanshichanshu.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,479},{63,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,163}}</string>
                <key>sourceSize</key>
                <string>{63,163}</string>
            </dict>
            <key>zhchs.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,2},{100,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{100,25}}</string>
                <key>sourceSize</key>
                <string>{102,27}</string>
            </dict>
            <key>zuijindenglu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{120,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{120,31}}</string>
                <key>sourceSize</key>
                <string>{134,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>txt.pvr</string>
            <key>size</key>
            <string>{1009,938}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d410250540905998a96278a53f4a3049$</string>
            <key>textureFileName</key>
            <string>txt.pvr</string>
        </dict>
    </dict>
</plist>
