<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_xingtian_fx_skill2_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{504,272}}</string>
                <key>offset</key>
                <string>{-4,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{504,272}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_xingtian_fx_skill2_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{498,232}}</string>
                <key>offset</key>
                <string>{-7,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,63},{498,232}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_xingtian_fx_skill2_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{496,338}}</string>
                <key>offset</key>
                <string>{-8,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{496,338}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_xingtian_fx_skill2_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,276},{506,316}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{506,316}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_xingtian_fx_skill2_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,594},{512,330}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{512,330}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_xingtian_fx_skill2_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,594},{502,346}}</string>
                <key>offset</key>
                <string>{-5,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{502,346}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill2_3.pvr</string>
            <key>size</key>
            <string>{1020,942}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a63593f542d1997b20bf57d19569a0ed:1/1$</string>
            <key>textureFileName</key>
            <string>skill2_3.pvr</string>
        </dict>
    </dict>
</plist>
