<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_xingtian_fx_skill1_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,204},{436,210}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,88},{436,210}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_xingtian_fx_skill1_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{450,216}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,86},{450,216}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_xingtian_fx_skill1_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{428,202}}</string>
                <key>offset</key>
                <string>{-8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,85},{428,202}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_xingtian_fx_skill1_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{418,200}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,87},{418,200}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_xingtian_fx_skill1_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{250,200}}</string>
                <key>offset</key>
                <string>{-86,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,86},{250,200}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill1_3.pvr</string>
            <key>size</key>
            <string>{870,634}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b3a16d5f29e593dbf7d8205edbf826f3:1/1$</string>
            <key>textureFileName</key>
            <string>skill1_3.pvr</string>
        </dict>
    </dict>
</plist>
