<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_xingtian_fx_skill2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{244,218}}</string>
                <key>offset</key>
                <string>{11,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,75},{244,218}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_xingtian_fx_skill2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{236,228}}</string>
                <key>offset</key>
                <string>{9,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,64},{236,228}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_xingtian_fx_skill2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{240,234}}</string>
                <key>offset</key>
                <string>{12,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,58},{240,234}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_xingtian_fx_skill2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,2},{240,240}}</string>
                <key>offset</key>
                <string>{13,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,54},{240,240}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_xingtian_fx_skill2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,238},{244,264}}</string>
                <key>offset</key>
                <string>{16,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,26},{244,264}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_xingtian_fx_skill2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{358,240}}</string>
                <key>offset</key>
                <string>{56,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,50},{358,240}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_xingtian_fx_skill2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{490,248}}</string>
                <key>offset</key>
                <string>{-11,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,43},{490,248}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_xingtian_fx_skill2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,244},{492,264}}</string>
                <key>offset</key>
                <string>{-10,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,36},{492,264}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_xingtian_fx_skill2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,734},{492,274}}</string>
                <key>offset</key>
                <string>{-10,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,27},{492,274}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill2_0.pvr</string>
            <key>size</key>
            <string>{970,1010}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b700f341dec478014c68d22c410bd3b:1/1$</string>
            <key>textureFileName</key>
            <string>skill2_0.pvr</string>
        </dict>
    </dict>
</plist>
