<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_xingtian_fx_skill2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,550},{498,292}}</string>
                <key>offset</key>
                <string>{-7,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{498,292}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_xingtian_fx_skill2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{494,284}}</string>
                <key>offset</key>
                <string>{-9,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{494,284}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_xingtian_fx_skill2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{494,222}}</string>
                <key>offset</key>
                <string>{-9,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,73},{494,222}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_xingtian_fx_skill2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,2},{494,254}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,62},{494,254}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_xingtian_fx_skill2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{490,312}}</string>
                <key>offset</key>
                <string>{-11,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{490,312}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_xingtian_fx_skill2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,258},{490,290}}</string>
                <key>offset</key>
                <string>{-11,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{490,290}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill2_1.pvr</string>
            <key>size</key>
            <string>{994,844}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:57bd034be537e6e72185c583f3219720:1/1$</string>
            <key>textureFileName</key>
            <string>skill2_1.pvr</string>
        </dict>
    </dict>
</plist>
