<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_duosi_fx_skill1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{144,70}}</string>
                <key>offset</key>
                <string>{-55,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,176},{144,70}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_duosi_fx_skill1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{226,94}}</string>
                <key>offset</key>
                <string>{21,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,146},{226,94}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_duosi_fx_skill1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,98},{272,142}}</string>
                <key>offset</key>
                <string>{43,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,94},{272,142}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_duosi_fx_skill1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{210,52}}</string>
                <key>offset</key>
                <string>{1,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,123},{210,52}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_duosi_fx_skill1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{270,124}}</string>
                <key>offset</key>
                <string>{15,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,119},{270,124}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill1_0.pvr</string>
            <key>size</key>
            <string>{588,242}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:61c5e0df7b39f1a68894eb92970610b3:1/1$</string>
            <key>textureFileName</key>
            <string>skill1_0.pvr</string>
        </dict>
    </dict>
</plist>
