<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_duosi_fx_skill2_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{84,98}}</string>
                <key>offset</key>
                <string>{-176,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,199},{84,98}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_duosi_fx_skill2_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{116,128}}</string>
                <key>offset</key>
                <string>{-189,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,109},{116,128}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_duosi_fx_skill2_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{142,88}}</string>
                <key>offset</key>
                <string>{-145,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,198},{142,88}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_duosi_fx_skill2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{298,194}}</string>
                <key>offset</key>
                <string>{-45,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,100},{298,194}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_duosi_fx_skill2_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,2},{154,180}}</string>
                <key>offset</key>
                <string>{50,78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,24},{154,180}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_duosi_fx_skill2_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,2},{164,88}}</string>
                <key>offset</key>
                <string>{-89,116}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,32},{164,88}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_duosi_fx_skill2_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{306,266}}</string>
                <key>offset</key>
                <string>{37,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,20},{306,266}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_duosi_fx_skill2_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,602},{330,270}}</string>
                <key>offset</key>
                <string>{49,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,22},{330,270}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_duosi_fx_skill2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{344,262}}</string>
                <key>offset</key>
                <string>{57,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,33},{344,262}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_duosi_fx_skill2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,158},{358,204}}</string>
                <key>offset</key>
                <string>{61,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,91},{358,204}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_duosi_fx_skill2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,158},{374,206}}</string>
                <key>offset</key>
                <string>{61,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,89},{374,206}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>monster_boss_duosi_fx_skill2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,364},{384,236}}</string>
                <key>offset</key>
                <string>{64,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,59},{384,236}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill2_0.pvr</string>
            <key>size</key>
            <string>{870,874}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aef1a3fdf6a805df4da958a7dab21cfa:1/1$</string>
            <key>textureFileName</key>
            <string>skill2_0.pvr</string>
        </dict>
    </dict>
</plist>
