<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>npc_ly1_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,2},{150,262}}</string>
                <key>offset</key>
                <string>{-28,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{409,154},{150,262}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>npc_ly1_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,268},{156,262}}</string>
                <key>offset</key>
                <string>{-26,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{408,151},{156,262}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>npc_ly1_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,2},{160,264}}</string>
                <key>offset</key>
                <string>{-27,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{405,149},{160,264}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>npc_ly1_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,574},{170,260}}</string>
                <key>offset</key>
                <string>{-27,109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{400,145},{170,260}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>npc_ly1_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,304},{174,278}}</string>
                <key>offset</key>
                <string>{-24,106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{401,139},{174,278}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>npc_ly1_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,662},{180,290}}</string>
                <key>offset</key>
                <string>{-26,110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{396,129},{180,290}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>npc_ly1_idle_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{186,300}}</string>
                <key>offset</key>
                <string>{-28,116}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{391,118},{186,300}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>npc_ly1_idle_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,340},{192,306}}</string>
                <key>offset</key>
                <string>{-25,123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{391,108},{192,306}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>npc_ly1_idle_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{196,320}}</string>
                <key>offset</key>
                <string>{-22,127}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{392,97},{196,320}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>npc_ly1_idle_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{248,336}}</string>
                <key>offset</key>
                <string>{-45,135}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{343,81},{248,336}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>npc_ly1_idle_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,648},{198,296}}</string>
                <key>offset</key>
                <string>{-28,122}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{385,114},{198,296}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>npc_ly1_idle_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,574},{232,252}}</string>
                <key>offset</key>
                <string>{-25,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{371,164},{232,252}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>npc_ly1_idle_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{180,246}}</string>
                <key>offset</key>
                <string>{-7,98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{415,163},{180,246}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>npc_ly1_idle_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,184},{196,244}}</string>
                <key>offset</key>
                <string>{2,94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{416,168},{196,244}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>npc_ly1_idle_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,382},{190,260}}</string>
                <key>offset</key>
                <string>{1,98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{418,156},{190,260}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>idle_0.pvr</string>
            <key>size</key>
            <string>{1002,848}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c575f4cbbfab1a9f8def279e1cc1f3d:1/1$</string>
            <key>textureFileName</key>
            <string>idle_0.pvr</string>
        </dict>
    </dict>
</plist>
