<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_huaxiong_away_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{220,274}}</string>
                <key>offset</key>
                <string>{-26,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{376,223},{220,274}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_huaxiong_away_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{206,272}}</string>
                <key>offset</key>
                <string>{-35,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{374,233},{206,272}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>away_0.pvr</string>
            <key>size</key>
            <string>{224,552}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d7634be4fab6e5771c35524c913af7c7:1/1$</string>
            <key>textureFileName</key>
            <string>away_0.pvr</string>
        </dict>
    </dict>
</plist>
