<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_huaxiong_skill1_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,2},{244,202}}</string>
                <key>offset</key>
                <string>{57,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{447,305},{244,202}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_huaxiong_skill1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,752},{290,206}}</string>
                <key>offset</key>
                <string>{85,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{452,300},{290,206}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_huaxiong_skill1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,206},{304,234}}</string>
                <key>offset</key>
                <string>{-22,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{338,272},{304,234}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_huaxiong_skill1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,752},{200,218}}</string>
                <key>offset</key>
                <string>{29,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{441,290},{200,218}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_huaxiong_skill1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,574},{296,216}}</string>
                <key>offset</key>
                <string>{74,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{438,295},{296,216}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_huaxiong_skill1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{310,202}}</string>
                <key>offset</key>
                <string>{5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{362,295},{310,202}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_huaxiong_skill1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{334,238}}</string>
                <key>offset</key>
                <string>{-52,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{293,304},{334,238}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_huaxiong_skill1_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,512},{300,238}}</string>
                <key>offset</key>
                <string>{-42,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{320,266},{300,238}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_huaxiong_skill1_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{326,234}}</string>
                <key>offset</key>
                <string>{87,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{436,270},{326,234}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_huaxiong_skill1_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,488},{174,234}}</string>
                <key>offset</key>
                <string>{14,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{439,277},{174,234}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_huaxiong_skill1_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,206},{280,222}}</string>
                <key>offset</key>
                <string>{-51,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{321,289},{280,222}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill1_1.pvr</string>
            <key>size</key>
            <string>{816,960}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c81c88b3f125d65fd0c16026588989d3:1/1$</string>
            <key>textureFileName</key>
            <string>skill1_1.pvr</string>
        </dict>
    </dict>
</plist>
