<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_huaxiong_skill1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,706},{156,282}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{431,247},{156,282}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_huaxiong_skill1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{292,236}}</string>
                <key>offset</key>
                <string>{-44,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{322,272},{292,236}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_huaxiong_skill1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,740},{192,272}}</string>
                <key>offset</key>
                <string>{23,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{439,236},{192,272}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_huaxiong_skill1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,740},{278,198}}</string>
                <key>offset</key>
                <string>{-56,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{317,314},{278,198}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_huaxiong_skill1_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{328,244}}</string>
                <key>offset</key>
                <string>{-11,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{337,287},{328,244}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_huaxiong_skill1_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{360,246}}</string>
                <key>offset</key>
                <string>{73,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{405,263},{360,246}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_huaxiong_skill1_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,504},{200,318}}</string>
                <key>offset</key>
                <string>{-16,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{396,193},{200,318}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_huaxiong_skill1_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,496},{306,242}}</string>
                <key>offset</key>
                <string>{-62,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{297,265},{306,242}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_huaxiong_skill1_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,296},{294,206}}</string>
                <key>offset</key>
                <string>{-26,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{339,303},{294,206}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill1_0.pvr</string>
            <key>size</key>
            <string>{630,1020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa3abb58e9fa49eab3317ed02302f402:1/1$</string>
            <key>textureFileName</key>
            <string>skill1_0.pvr</string>
        </dict>
    </dict>
</plist>
