<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_boss_huaxiong_skill2_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{258,216}}</string>
                <key>offset</key>
                <string>{63,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{446,295},{258,216}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_huaxiong_skill2_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{302,184}}</string>
                <key>offset</key>
                <string>{-53,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{308,335},{302,184}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_huaxiong_skill2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{360,202}}</string>
                <key>offset</key>
                <string>{-80,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{252,308},{360,202}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_huaxiong_skill2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{356,238}}</string>
                <key>offset</key>
                <string>{-67,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{267,271},{356,238}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>monster_boss_huaxiong_skill2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,364},{244,272}}</string>
                <key>offset</key>
                <string>{-29,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{361,252},{244,272}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill2_1.pvr</string>
            <key>size</key>
            <string>{510,764}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f76d94fc768148e586f86fa1c7651b35:1/1$</string>
            <key>textureFileName</key>
            <string>skill2_1.pvr</string>
        </dict>
    </dict>
</plist>
