<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>monster_pet04_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,56},{52,62}}</string>
                <key>offset</key>
                <string>{0,-114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{374,383},{52,62}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet04_idle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,70},{50,62}}</string>
                <key>offset</key>
                <string>{1,-114}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{376,383},{50,62}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet04_idle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,68},{52,62}}</string>
                <key>offset</key>
                <string>{0,-114}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{374,383},{52,62}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet04_idle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{54,64}}</string>
                <key>offset</key>
                <string>{-1,-113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{372,381},{54,64}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet04_idle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{54,66}}</string>
                <key>offset</key>
                <string>{-2,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{371,379},{54,66}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet04_idle_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{54,68}}</string>
                <key>offset</key>
                <string>{-3,-111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{370,377},{54,68}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet04_idle_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{52,66}}</string>
                <key>offset</key>
                <string>{-2,-112}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{372,379},{52,66}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>monster_pet04_idle_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{48,64}}</string>
                <key>offset</key>
                <string>{0,-113}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{376,381},{48,64}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>idle_0.pvr</string>
            <key>size</key>
            <string>{250,123}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:278f4c500e216b331455af5f54583bbd:1/1$</string>
            <key>textureFileName</key>
            <string>idle_0.pvr</string>
        </dict>
    </dict>
</plist>
